﻿@model IEnumerable<Jobportal_design.Models.Job_cat>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

}
<link rel="stylesheet" type="text/css" href="~/admin/assets/extra-libs/multicheck/multicheck.css">
<link href="~/admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
<a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>
<section class="section-box box-content p-0 mt-5">
    <div class="breacrumb-cover01 bg-img-about01">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 card card-body p-4 text-center">
                    <h3 class="mb-10 color-brand-2 py-0" style="font-weight: 700;">Job Category</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="w-100 mb-2" style="float: left;">
    <div class="btn btn-apply" data-bs-toggle="modal" style="float:right;" data-bs-target="#ModalApplyJobForm1"><i class="fa fa-plus" aria-hidden="true"></i> ADD</div>
</div>
    
    <div class="row">
        <div class="col-12">



            <div class="card">

                <div class="card-body">
                    @*<input type="button" class="btn btn-primary" style="float: right;" value="Add Category" onclick="location.href='@Url.Action("Add_job_cat", "Job_cat")'" />*@

                    <br />
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-striped table-bordered">
                            <thead>
                                <tr>

                                    <th>Category Name</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    bool str = item.is_active;
                                    string str1 = "";
                                    if (str == true)
                                    {
                                        str1 = "Active";

                                    }
                                    else
                                    {
                                        str1 = "InActive";

                                    }

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.job_category_name)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => str1)
                                        </td>


                                        <td>
                                            <a href="@Url.Action("Edit_job_cat", "Job_cat",new { id = @item.id })" class="edit" title="Edit" data-toggle="tooltip"><i class="fi-rr-edit" style="font-size: 24px;color:lightblue"></i></a>
                                            @*<form asp-action="Delete_org_cat" asp-route-id="@item.id" method="post" style="display: inline;">
                                                    <button type="submit" class="fa fa-trash-o" style="font-size: 24px; color: red; border: none; outline: none;" onclick="return functionConfirm(this)">
                                                    </button>
                                                </form>*@


                                        </td>


                                    </tr>
                                }


                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("Create", "Job_cat", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="modal fade" id="ModalApplyJobForm1" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content apply-job-form">
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body pl-30 pr-30 pt-50">
                        <div class="text-center pb-15">
                            <p class="font-sm text-brand-2">Add Job category </p>
                            @*<h2 class="mt-10 mb-5 text-brand-1 text-capitalize">Add Organization category</h2>*@
                        </div>
                        <form class="login-register text-start mt-20 pb-30" action="#">
                            <div class="form-group">
                                <label class="form-label" for="input-1">Job category: *</label>
                                <input class="form-control" id="job_category_name" name="job_category_name" type="text" required="" placeholder="Category name..">
                            </div>
                            <div class="form-group row">
                                <label class="form-label" for="input-1">Status: *</label>
                                <div class="col-sm-9 radio-type-div01">


                                    <div class="custom-control custom-radio">

                                        <input id="isactive" name="isactive" style="height: 25px;" value="Active" type="radio" required>
                                        <label class="form-label" for="input-1">Active</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input id="isactive" name="isactive" style="height: 25px;" value="InActive" type="radio" required>

                                        <label class="form-label" for="input-1">InActive</label>
                                    </div>



                                </div>
                            </div>
                            

                            <div class="form-group pt-30">
                                <button class="btn btn-default hover-up w-100" type="submit" name="login">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
    @section scripts {
        <script type="text/javascript">
            $("#btnBack").click(function () {
                window.history.back();
            });
        </script>
    }
    <script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/admin/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/admin/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/admin/dist/js/custom.min.js"></script>
    <!-- this page js -->
    <script src="~/admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="~/admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="~/admin/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script type="text/javascript">
        function functionConfirm(event) {
            swal({
                title: 'Are you sure?',
                text: "You will not be able to recover this item",
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: 'No',
                cancelButtonClass: 'btn btn-danger',
                showConfirmButton: true,
                confirmButtonText: 'Yes',
                confirmButtonClass: 'btn btn-success'
            }, function (isConfirm) {
                if (isConfirm) {
                    $('form').submit();
                    return true;
                } else {
                    return false;
                }
            });
            return false;
        }
    </script>

    <style>
        .radio-type-div01 {
            display: flex;
        }

        .custom-control.custom-radio {
            display: flex;
            align-items: center;
        }

            .custom-control.custom-radio:first-child {
                margin-right: 25px;
            }

            .custom-control.custom-radio label {
                margin-bottom: 0px;
            }

            .custom-control.custom-radio [type=radio] {
                height: 18px;
                width: 18px;
                margin-right: 5px;
            }
    </style>

