﻿@*@model IEnumerable<Jobportal_design.Models.Employer>*@
@model Jobportal_design.Models.Employer

@{
    ViewData["Title"] = "Employee Edit Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
@using (Html.BeginForm("Update", "Employer", FormMethod.Post, new { @id = "CNenrollment" }))
{
    <div class="modal-header" style="background: #708090; ">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Employee Profile</h5>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-row">
                <div class="col-md-6 mb-6">
                    @Html.HiddenFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })
                    <label for="validationDefault01">Employer Name</label>

                    @Html.EditorFor(model => model.e_name, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <div class="col-md-6 mb-6">
                    <label for="validationDefault02">Email</label>
                    @Html.EditorFor(model => model.email_id, new { htmlAttributes = new { @class = "form-control" } })

                </div>

            </div>

            <div class="form-row">
                <div class="col-md-6 mb-6">
                    <label for="validationDefault01">Password</label>
                    @Html.EditorFor(model => model.e_password, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <div class="col-md-6 mb-6">
                    <label for="validationDefault02">Company / Organization :</label>
                    <br />
                    @*@Html.DropDownList("org_name", new SelectList(ViewBag.org_name, "org_name", "org_name"), "Select a Organization", new { id = "dd_child", @class = "form-control" })*@
                    <select asp-for="org_name" asp-items="@(new SelectList(ViewBag.org_name, "org_name", "org_name"))"></select>


                </div>

            </div>


            <div class="form-row">
                <div class="col-md-6 mb-6">
                    <label for="validationDefault01">Contact Number :</label>
                    @Html.EditorFor(model => model.contact1, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <div class="col-md-6 mb-6">
                    <label for="validationDefault02">Registration Date</label>
                    @Html.EditorFor(model => model.registration_date, new { htmlAttributes = new { @class = "form-control" } })

                    @*<input type="datetime-local" id="registration_date" name="registration_date" class="form-control" placeholder="Registration Date" required />*@
                </div>

            </div>

            <div class="form-row">
                <div class="col-md-6 mb-6">
                    <label for="validationDefault02">Contact No:</label>
                    @Html.EditorFor(model => model.contact2, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <div class="col-md-6 mb-6">
                    <label for="validationDefault01">Start Date</label>
                    @Html.EditorFor(model => model.start_date, new { htmlAttributes = new { @class = "form-control" } })

                </div>

            </div>

            <div class="form-row">
                <div class="col-md-6 mb-6">
                    <label for="validationDefault02">End Date</label>
                    @Html.EditorFor(model => model.end_date, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <div class="col-md-6 mb-6">
                    <label for="validationDefault01">Status</label>
                    <br />
                    <select id="isactive" name="isactive">
                        <option value="1">Active</option>
                        <option value="0">InActive</option>

                    </select>
                </div>

            </div>


            <br />
            @*<div class="modal-header">*@
            <button type="button" class="btn btn-save" style="background-color: #708090">Close</button>
            @*<input type="button" id="btnPost" class="btn btn-primary" value="Save changes" />*@
            <button type="submit" value="Create" class="btn btn-save" style="background-color: #708090">Update changes</button>

            @*</div>*@
        </form>
    </div>
}
