﻿@model IEnumerable<Jobportal_design.Models.Employer>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

}
<link rel="stylesheet" type="text/css" href="~/admin/assets/extra-libs/multicheck/multicheck.css">
<link href="~/admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
<link href="~/css/new-style.css" rel="stylesheet" />
<a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>

<section class="section-box box-content p-0 mt-5">
    <div class="breacrumb-cover01 bg-img-about01">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 card card-body p-4 text-center">
                    <h3 class="mb-10 color-brand-2 py-0" style="font-weight: 700;">Employee Details</h3>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-12">



        <div class="card">

            <div class="card-body">

                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Employee</th>
                                <th>Organization</th>
                                <th>Contact</th>
                                @*<th>Secondary Contact</th>*@
                                <th>Username</th>

                                @*<th>Registration Date</th>*@
                                <th>Role</th>
                                <th>Status</th>
                                <th>Password</th>
                                <th>Jobs</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                string registration_date = item.registration_date.ToString("MM/dd/yyyy");
                                bool str = item.status;
                                string str1 = str.ToString();
                                int role_id = item.role_id;
                                string role;
                                if (role_id == 2)
                                {
                                    role = "Admin";
                                }
                                else
                                {
                                    role = "Employee";
                                }

                                <tr>
                                    <td>
                                        <a href="@Url.Action("Admin_EmployerDetails","Employer", new { id = @item.id })" style="color:blue;">@Html.DisplayFor(modelItem => item.e_name)</a>
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.org_name)
                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.contact1)
                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.contact2)
                                    </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.user_name)
                                    </td>

                                    @*<td>
                                        @Html.DisplayFor(modelItem => registration_date)
                                    </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => role)
                                    </td>
                                    <td>
                                        @if (item.isactive == "Active")
                                        {
                                            <a class="modAct" href="@Url.Action("EditProfile", "Employer", new { id = @item.id })"
                                               data-status="@item.isactive" data-id="@item.id"
                                               data-toggle="modal" data-target="#ModalApplyJobForm1" data-url="@Url.Action("EditProfile", "Employer", new { id = @item.id })" style="color: blue; cursor: pointer;"> @Html.DisplayFor(modelItem => item.isactive)</a>

                                        }
                                        else
                                        {
                                            <a class="modAct" href="@Url.Action("EditProfile", "Employer", new { id = @item.id })"
                                               data-status="@item.isactive" data-id="@item.id"
                                               data-toggle="modal" data-target="#ModalApplyJobForm1" data-url="@Url.Action("EditProfile", "Employer", new { id = @item.id })" style="color: red; cursor: pointer;"> @Html.DisplayFor(modelItem => item.isactive)</a>

                                        }
                                    </td>

                                    <td>
                                        @*@Html.ActionLink("Change Password", "Admin_passwordchange", "Employer", new { id = @item.id }, new { @class = "btn btn-primary" })*@
                                        <p style="text-decoration:underline;"><a href="@Url.Action("Admin_passwordchange", "Employer",new { id = @item.id })">@Html.DisplayFor(modelItem => item.e_password)</a></p>
                                    </td>
                                    <td>
                                        @*<a class="btn btn-apply" href="@Url.Action("PostedJobsList", "Employer",new { id = @item.id })"><i class="fa fa-eye" aria-hidden="true"></i> Jobs</a>*@
                                        @if (item.jobCount == 0)
                                        {
                                            <a style="color: red; font-size: 13px; font-weight: 600;">No Jobs</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-apply" href="@Url.Action("PostedJobsList", "Employer",new { id = @item.id })" style="color: blue; font-size: 12px;">Jobs(@Html.DisplayFor(modelItem => item.jobCount))</a>
                                        }
                                    </td>

        


                                </tr>
                            }


                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Emp_status", "Employer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="ModalApplyJobForm1" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content apply-job-form">
                <button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body pl-30 pr-30 pt-50">
                    <input type="hidden" id="passedId" name="passedId" value="passedId">
                    <input type="hidden" id="activeStat" name="activeStat" value="activeStat" />
                    <div class="text-center">
                        <p class="font-sm text-brand-2">Change Status  </p>

                    </div>
                    <br />
                    <br /><br />
                    <form class="login-register text-start mt-20 pb-30" action="#">
                        <h5>Do you want to change status ?</h5>
                        <br /><br /><br /><br />
                        <div class="form-group" style="float:right">
                            <button class="btn btn-default hover-up" type="submit" name="login" onclick="StatusChangeFunc()">Yes</button>
                            <button class="btn btn-default hover-up" type="button" data-dismiss="modal" aria-label="Close">No</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });
    </script>
}
<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="~/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="~/admin/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/admin/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="~/admin/dist/js/custom.min.js"></script>
<!-- this page js -->
<script src="~/admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="~/admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="~/admin/assets/extra-libs/DataTables/datatables.min.js"></script>
<script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();

                $(document).on("click", ".modAct", function () {
        var passedStatus = $(this).data('status');
        var passedId = $(this).data('id');
        $(".modal-body #passedId").val(passedId);
        $(".modal-body #activeStat").val(passedStatus);
                //if (passedStatus == "Active") {
                //    $(".modal-body #OrgAct").val(passedStatus);
                //    document.getElementById("OrgAct").checked = true;
                //    document.getElementById("OrgInAct").checked = false;
                //    document.getElementById("OrgAct").value = 1;
                //    document.getElementById("OrgInAct").value = 0;
                //}
                //else
                //{
                //    $(".modal-body #OrgInAct").val(passedStatus);
                //    document.getElementById("OrgInAct").checked = true;
                //    document.getElementById("OrgAct").checked = false;
                //    document.getElementById("OrgAct").value = 0;
                //    document.getElementById("OrgInAct").value = 1;
                //}
            });

        function valueChanged() {
            if (document.getElementById("OrgAct").checked == true) {
                document.getElementById("OrgAct").value = 1;
                document.getElementById("OrgInAct").value = 0;
            } else {
                document.getElementById("OrgAct").value = 0;
                document.getElementById("OrgInAct").value = 1;
            }
        }

    function StatusChangeFunc() {
        var activeStat = document.getElementById("activeStat").value;
        // $(".modal-body #activeStat").val(activeStat);
        var passedId = document.getElementById('passedId').value;
            @*var url = "@Url.Action("Index1", "Jobseeker")" + "?year=" + year + "&month=" + month;*@
        var url = "@Url.Action("Org_Emp_status", "Employer")" + "?activeStat=" + activeStat + "&passedId=" + passedId;
        window.location.href = url;

    }
</script>





