﻿@model IEnumerable<Jobportal_design.Models.Employer>

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<section class="login-register">
    <div class="container">
        <div class="row login-register-cover">
            <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                <div class="text-center">
                    <h3 class="mt-10 mb-5 text-brand-1">Reset Your Password</h3>
                    <p class="font-sm text-muted mb-30">
                        Change your Account Password and Login again..
                  
                    </p>
                </div>
                @using (Html.BeginForm("UpdatePassword", "Employer", FormMethod.Post, new { @id = "CNenrollment" }))
                {
            <form class="login-register text-start mt-20" action="#">
                <div class="form-group">
                    <label class="form-label" for="input-1">Old password *</label>
                    <input class="form-control" type="text" required id="e_password" name="e_password" placeholder="********">
                </div>
                <p style="color: red;">@TempData["Oldpassword"]</p>
                <div class="form-group">
                    <label class="form-label" for="input-1">New Password *</label>
                    <input class="form-control" id="new_password" name="new_password" type="text" required="" placeholder="********">
                </div>
                <div class="form-group">
                    <label class="form-label" for="input-1">Re-type Password *</label>
                    <input class="form-control" id="retype_password" name="retype_password" type="text" required="" placeholder="********">
                </div>
                <p style="color: red;">@TempData["Repassword"]</p>
                <div class="form-group">
                    <button class="btn btn-brand-1 hover-up w-100" type="submit" name="continue">Save Password</button>
                </div>
            </form>

                }
            </div>
            <div class="img-1 d-none d-lg-block"><img class="shape-1" src="~/imgs/page/login-register/img-5.svg" alt="JobBox"></div>
            <div class="img-2"><img src="~/imgs/page/login-register/img-3.svg" alt="JobBox"></div>
        </div>
    </div>
</section>