﻿@model Jobportal_design.Models.Employer
@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<script type="text/javascript">
    $(function () {
        $("#txtCustomer").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Employer/AutoComplete/',
                    data: { "prefix": request.term },
                    type: "POST",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#hfCustomer").val(i.item.val);
            },
            minLength: 1
        });
    });
</script>
<a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>
@using (Html.BeginForm("Create", "Employer", FormMethod.Post, new { @id = "CNenrollment" }))
{
    <body onload="GenerateCaptcha();">
        <section class="section-box-2">
            <div class="container">
                <div class="banner-hero banner-company">
                    <div class="block-banner text-center">
                        <h3 class="wow animate__animated animate__fadeInUp">Employee Registration</h3>
                        @*<div class="font-sm color-text-paragraph-2 mt-10 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, <br class="d-none d-xl-block">atque delectus molestias quis?</div>*@
                    </div>
                </div>
            </div>
        </section>
        <section class="section-box mt-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 mb-50">
                        <div class="content-single card card-body p-5">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-my-profile" role="tabpanel" aria-labelledby="tab-my-profile">
                                    @*<h3 class="mt-0 mb-15 color-brand-1">Employee Registartion</h3>*@
                                    @*<a class="font-md color-text-paragraph-2" href="#">Update your profile</a>*@
                                    @*<div class="mt-35 mb-40 box-info-profie">
                                            <div class="image-profile">
                                                <img src="~/imgs/page/candidates/candidate-profile.png" alt="jobbox">
                                            </div>
                                            <a class="btn btn-apply">Upload Avatar</a>
                                            <a class="btn btn-link">Delete</a>
                                        </div>*@
                                    <div class="row form-contact">
                                        <div class="col-lg-6 col-md-12">
                                            <div class="form-group">
                                                <label class="font-sm color-text-mutted mb-10">First Name <span style="color:red">*</span></label>
                                                @*<input type="text" id="e_name" name="e_name" class="form-control" placeholder="Enter First Name" required />*@
                                                @Html.TextBoxFor(model => model.e_name, new { placeholder = "ex: John", @class = "form-control", @required = "required" })
                                            </div>
                                            <div class="form-group">
                                                <label class="font-sm color-text-mutted mb-10">Email <span style="color:red">*</span></label>
                                                @*<input type="email" id="email_id" name="email_id" class="form-control" placeholder="stevenjob@gmail.com" required />*@
                                                @Html.TextBoxFor(model => model.email_id, new { placeholder = "ex: stevenjob@gmail.com", @class = "form-control" })
                                                <div id="lblMailError" style="color:red"></div>
                                            </div>
                                            @*<div class="form-group">
            <label class="font-sm color-text-mutted mb-10">Password *</label>
            <input type="password" id="e_password" name="e_password" class="form-control" placeholder="Password" required  />
        </div>*@

                                            <div class="form-group">
                                                <label class="font-sm color-text-mutted mb-10">Status</label>
                                                <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                    <select asp-for="isactive" id="isactive" name="isactive" class="form-select mr-10 select-active input-industry">
                                                        <option value="Active">Active</option>
                                                        <option value="InActive">InActive</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="font-sm color-text-mutted mb-10">Username <span style="color:red">*</span></label>
                                                <input class="form-control" type="text" id="user_name" name="user_name" placeholder="Enter Username" required>
                                            </div>                                            
                                        </div>

                                        <div class="col-lg-6 col-md-12">
                                            <div class="form-group">
                                                <label class="font-sm color-text-mutted mb-10">Last Name</label>
                                                @Html.TextBoxFor(model => model.last_name, new { placeholder = "ex: mathew", @class = "form-control", @id = "email_id" })
                                                @*<input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name">*@
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label class="font-sm color-text-mutted mb-10">Phone Type <span style="color:red">*</span></label>
                                                        <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                            <select asp-for="primary_phone_type" id="primary_phone_type" name="primary_phone_type" class="form-input mr-10 select-active input-industry" required>
                                                                @*<option value="0">Select</option>*@
                                                                <option value="Cell" class="fi-rr-arrow-down">Cell</option>
                                                                <option value="Home">Home</option>
                                                                <option value="Work">Work</option>
                                                                <option value="Other">Other</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="font-sm color-text-mutted mb-10">Primary Contact Number <span style="color:red">*</span></label>
                                                        @*<input type="text" name="contact1" id="contact1" placeholder="Primary Contact Number"
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Primary Contact Number'"
        class="single-input" onKeyup='addDashes(this)' required />*@
                                                        @Html.TextBoxFor(model => model.contact1, new { placeholder = "ex: 567-864-3578", @class = "form-control", @id = "contact1", @onKeyup = "addDashes(this)" })

                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label class="font-sm color-text-mutted mb-10">Ext </label>
                                                        @*<input type="text" id="primary_extension" name="primary_extension" size="4" maxlength="5" class="form-control validate[required,min[5]]">*@
                                                        @Html.TextBoxFor(model => model.primary_extension, new { placeholder = "ex: 1234", @class = "form-control", @maxlength = "4" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label class="font-sm color-text-mutted mb-10">Phone Type </label>
                                                        <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                            <select asp-for="secondary_phone_type" id="secondary_phone_type" name="secondary_phone_type" class="form-input mr-10 select-active input-industry">
                                                                
                                                                <option value="Cell" class="fi-rr-arrow-down">Cell</option>
                                                                <option value="Home">Home</option>
                                                                <option value="Work">Work</option>
                                                                <option value="Other">Other</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="font-sm color-text-mutted mb-10">Secondary Contact Number</label>
                                                        @Html.TextBoxFor(model => model.contact2, new { placeholder = "ex: 567-864-3578", @class = "form-control", @id = "contact2", @onKeyup = "addDashes(this)" })

                                                        @*<input type="text" name="contact2" id="contact2" placeholder="Secondary Contact Number"
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Secondary Contact Number'"
        class="single-input" onKeyup='addDashes(this)'>*@
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label class="font-sm color-text-mutted mb-10">Ext </label>
                                                        @*<input type="text" id="secondary_extension" name="secondary_extension" size="4" maxlength="5" class="form-control validate[required,min[5]]">*@
                                                        @Html.TextBoxFor(model => model.secondary_extension, new { placeholder = "ex: 1234", @class = "form-control", @maxlength = "4" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="border-bottom pt-10 pb-10 mb-30"></div>
                                            <h6 class="color-orange mb-20">Enter Capcha</h6>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="font-sm color-text-mutted mb-10">Capcha</label>
                                                        <input class="form-control" type="text" id="txtCaptcha" style="text-align: center; font-size:18px; color: #80287d;" required>
                                                        <i class="fi-rr-refresh" id="btnrefresh" value="Refresh" onclick="GenerateCaptcha();" style="top: 69%; left: 198px; "></i>
                                                        @*<input class="form-control" type="button" id="btnrefresh" value="Refresh" onclick="GenerateCaptcha();" />*@

                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="font-sm color-text-mutted mb-10">Enter Capcha</label>
                                                        @*<input class="form-control" type="text" value="ucYv4 4 10">*@
                                                        <input type="text" id="txtCompare" class="form-control" required />


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="border-bottom pt-10 pb-10"></div>
                                        </div>
                                        <div class="box-agree mt-30">
                                            <label class="lbl-agree font-xs color-text-paragraph-2">
                                                <input class="lbl-checkbox" type="checkbox" value="1" required>I Accepted All terms and conditions.<span style="color:red">*</span>
                                            </label>
                                        </div>
                                        <div class="box-button mt-15">
                                            <button class="btn btn-apply-big font-md font-bold" onclick="return validateEmail()">Save All Changes</button>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
}
@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });
    </script>
}
<script type="text/javascript">


    function GenerateCaptcha() {
        var chr1 = Math.ceil(Math.random() * 10) + '';
        var chr2 = Math.ceil(Math.random() * 10) + '';
        var chr3 = Math.ceil(Math.random() * 10) + '';

        var str = new Array(4).join().replace(/(.|$)/g, function () { return ((Math.random() * 36) | 0).toString(36)[Math.random() < .5 ? "toString" : "toUpperCase"](); });
        var captchaCode = str + chr1 + ' ' + chr2 + ' ' + chr3;
        document.getElementById("txtCaptcha").value = captchaCode
    }


    function ValidCaptcha() {
        var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
        var str2 = removeSpaces(document.getElementById('txtCompare').value);

        if (str1 == str2) return true;
        return false;
    }
    function validateEmail() {
        var email = document.getElementById("email_id");
        var lblMailError = document.getElementById("lblMailError");
        lblMailError.innerHTML = "";
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(email.value)) {
            lblMailError.innerHTML = "Please enter a valid E-Mail address";
            document.getElementById("email_id").style.borderColor = "red";
            email.focus();
            return false;
        }
        document.getElementById("email_id").style.borderColor = "#E0E6F6";
        return true;
    }

    function removeSpaces(string) {
        return string.split(' ').join('');
    }
    function addDashes(f) {
        var r = /(\D+)/g,
            npa = '',
            nxx = '',
            last4 = '';
        f.value = f.value.replace(r, '');
        npa = f.value.substr(0, 3);
        nxx = f.value.substr(3, 3);
        last4 = f.value.substr(6, 4);
        f.value = npa + '-' + nxx + '-' + last4;
    }


</script>

<script>
    $(document).ready(function () {
        $("#txtCompare").change(function () {

            var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
            var str2 = removeSpaces(document.getElementById('txtCompare').value);

            if (str1 == str2) {

            }
            else {
                alert("Captcha doesn't matches!..");
                document.getElementById('txtCompare').value = '';
            }
        });
    });
</script>
<style>
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 10px !important;
    }

    .select2-container {
        padding-top: 10px !important;
    }
    .select2-container {        
        width: 100% !important;
    }
</style>