﻿
@model Jobportal_design.Models.Employer

@{
    ViewData["Title"] = "EditEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";


}


<script type="text/javascript">
    $(function () {
        $("#txtCustomer").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Employer/AutoComplete/',
                    data: { "prefix": request.term },
                    type: "POST",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#hfCustomer").val(i.item.val);
            },
            minLength: 1
        });
    });
</script>
<a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>
@using (Html.BeginForm("Update", "Employer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <body onload="GenerateCaptcha();">
        <section class="section-box-2">
            <div class="container">
                <div class="banner-hero banner-company">
                    <div class="block-banner text-center">
                        <h3 class="wow animate__animated animate__fadeInUp">Update Employee Details</h3>
                        @*<div class="font-sm color-text-paragraph-2 mt-10 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, <br class="d-none d-xl-block">atque delectus molestias quis?</div>*@
                    </div>
                </div>
            </div>
        </section>
        <section class="section-box mt-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 mb-50 mx-auto">
                        <div class="content-single card card-body p-4">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-my-profile" role="tabpanel" aria-labelledby="tab-my-profile">
                                    @*<h3 class="mt-0 mb-15 color-brand-1">Employee Registartion</h3>*@
                                    @*<a class="font-md color-text-paragraph-2" href="#">Update your profile</a>*@
                                    <div class="row">
                                        <div class="col-md-9"></div>
                                        <div class="coll-md-3">
                                            <div class="mb-40 box-info-profie">
                                                <div class="image-profile">
                                                    <div class="form-input">
                                                        <div class="preview">
                                                            @if (ViewBag.profilepic == null)
                                                            {
                                                                <img id="file-ip-1-preview" src="~/imgs/page/candidates/candidate_profile1.png" class="preview-img">
                                                            }
                                                            else
                                                            {
                                                                <img id="file-ip-1-preview" src="~/Emp_img_uploads/@(ViewBag.profilepic)" class="preview-img">
                                                                @*<img id="file-ip-1-preview" src="~/Emp_img_uploads/@(ViewBag.profilepic)" class="preview-img">*@
                                                            }

                                                        </div>
                                                        <div class="upload-img-button">
                                                            <label for="file-ip-1">Upload Image</label>
                                                            <input type="file" id="file-ip-1" name="s_pic1" accept="image/*" onchange="showPreview(event);">
                                                            <p id="error"></p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-contact">
                                        <div class="col-lg-6 col-md-12">
                                            <div class="form-group">
                                                <label class="font-sm color-text-mutted mb-10">First Name</label>
                                                @Html.EditorFor(model => model.e_name, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                            <div class="form-group">
                                                <label class="font-sm color-text-mutted mb-10">Last Name </label>
                                                @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                            <div class="form-group">
                                                <label class="font-sm color-text-mutted mb-10">Email</label>
                                                @Html.EditorFor(model => model.email_id, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label class="font-sm color-text-mutted mb-10">Phone Type </label>

                                                        <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                            @*@Html.DropDownListFor(model => model.secondary_phone_type, (IEnumerable<SelectListItem>)ViewBag.PhoneType, new { htmlAttributes = new { @class = "form-input mr-10 select-active input-industry" } })*@
                                                            <select asp-for="secondary_phone_type" asp-items="(IEnumerable<SelectListItem>)ViewBag.PhoneType" class="form-select mr-10 select-active input-industry" placeholder="Select Phone Type"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="font-sm color-text-mutted mb-10">Secondary Contact Number</label>
                                                        <input type="text" asp-for="contact2" class="form-control" onKeyup='addDashes(this)' />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label class="font-sm color-text-mutted mb-10">Ext </label>
                                                        <input type="text" asp-for="secondary_extension" size="4" maxlength="4" class="form-control" />

                                                    </div>
                                                </div>
                                            </div>



                                            @*<div class="border-bottom pt-10 pb-10"></div>*@


                                        </div>
                                        <div class="col-lg-6 col-md-12">
                                            <div class="form-group">
                                                <label class="font-sm color-text-mutted mb-10">Username</label>
                                                @Html.EditorFor(model => model.user_name, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                            <!-- <div class="form-group">
        <label class="font-sm color-text-mutted mb-10">Password </label>
        <input type="password" asp-for="e_password" placeholder="*******" readonly>
    </div>-->
                                            <div class="form-group">
                                                <label class="font-sm color-text-mutted mb-10">Status</label>
                                                <input asp-for="isactive" class="form-control" readonly>

                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3">

                                                    <div class="form-group">
                                                        <label class="font-sm color-text-mutted mb-10">Phone Type *</label>
                                                        <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                            @*@Html.DropDownListFor(model => model.primary_phone_type, (IEnumerable<SelectListItem>)ViewBag.PhoneType, new { htmlAttributes = new { @class = "form-input mr-10 select-active input-industry" } })*@
                                                            <select asp-for="primary_phone_type" asp-items="(IEnumerable<SelectListItem>)ViewBag.PhoneType" class="form-select mr-10 select-active input-industry" placeholder="Select Phone Type"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="font-sm color-text-mutted mb-10">Primary Contact Number </label>
                                                        <input type="text" asp-for="contact1" class="form-control" onKeyup='addDashes(this)' />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label class="font-sm color-text-mutted mb-10">Ext </label>
                                                        <input type="text" asp-for="primary_extension" size="4" maxlength="4" class="form-control" />

                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="box-button mt-15">
                                            <button class="btn btn-apply-big font-md font-bold">Save All Changes</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
}
@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });
    </script>
}
<script>
    function removeSpaces(string) {
        return string.split(' ').join('');
    }
    function addDashes(f) {
        var r = /(\D+)/g,
            npa = '',
            nxx = '',
            last4 = '';
        f.value = f.value.replace(r, '');
        npa = f.value.substr(0, 3);
        nxx = f.value.substr(3, 3);
        last4 = f.value.substr(6, 4);
        f.value = npa + '-' + nxx + '-' + last4;
    }

    function showPreview(event) {
        if (event.target.files.length > 0) {
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("file-ip-1-preview");
            preview.src = src;
            preview.style.display = "block";
        }

        var fileInput =
            document.getElementById('file-ip-1');

        var filePath = fileInput.value;
        //alert(filePath);
        // Allowing file type
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif)$/i;

        if (!allowedExtensions.exec(filePath)) {

            /* alert('Invalid file type');*/
            /*$(".error-messages").text("Some error").fadeIn();*/
            document.getElementById("error").innerHTML = "Invalid file type!!"
            fileInput.value = '';
            return false;
        }
        var image = document.getElementById('file-ip-1');

        if (typeof (image.files) != "undefined") {

            var size = parseFloat(image.files[0].size / (512 * 512)).toFixed(2);

            if (size > 1) {

                /*alert('Please select image size less than 512 Kb');*/
                document.getElementById("error").innerHTML = "Please select image size less than 512 Kb"
                image.value = ''
                return false;

            } else {

                return true;

            }

        } else {

            return true;

        }
    }

</script>
<style>
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 10px !important;
    }

    .select2-container {
        padding-top: 10px !important;
    }
    .form-input {
        width: 210px;
        padding: 0px;
        background: #fff;
        /*   box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
              3px 3px 7px rgba(94, 104, 121, 0.377); */
        /* border-radius: 0.5rem;
        border: 1px solid lightgray;*/
    }

        .form-input .preview {
            text-align: -webkit-center;
            margin-bottom: 1rem;
            height: fit-content;
            border-radius: 16px;
            border: 1px solid lightgray;
        }

            .form-input .preview img.preview-img {
                max-width: 13rem;
                max-height: 13rem;
            }

        .form-input input {
            display: none;
        }

        .form-input label {
            display: block;
            width: 45%;
            height: 30px;
            width: 130px;
            line-height: 32px;
            text-align: center;
            background: #1172c2;
            color: #fff;
            font-size: 13px;
            font-family: "Open Sans", sans-serif;
            text-transform: Uppercase;
            font-weight: 600;
            border-radius: 0.5rem;
            cursor: pointer;
        }

    div.upload-img-button {
        text-align: -webkit-center;
    }

    #error {
        color: red;
        font-weight: 600;
    }
    .box-info-profie {
        text-align: right;
    }
    .image-profile {        
        max-width: 100%!important;        
        margin-right: 0px!important;
    }
</style>