﻿@model IEnumerable<Jobportal_design.Models.Employer>
@{
    ViewData["Title"] = "EmployeeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="Stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <script>
        $(document).ready(function () {
            $('#MyTable').DataTable({
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                //to select and search from grid
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });
        });
    </script>
</head>

<body>
    <div class="header-btn d-none f-right d-lg-block">



        @*<input type="button" class="genric-btn primary circle arrow" value="Add Organization Contact details" onclick="location.href='@Url.Action("AddOrg_cont", "Org_cont")'" />*@

    </div>


    <br />
    <br />
    <br />
    <table id="MyTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Organization</th>
                <th>Cont Number</th>

                <th>Email</th>

                <th>Active</th>
                <th></th>


            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                bool str = item.status;
                string str1 = str.ToString();

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.e_name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.org_name)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.contact1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => str1)
                    </td>


                    <td>
                        @Html.ActionLink("EDIT", "EditProfile", "Employer", new { id = @item.id }, new { @class = "genric-btn info circle small" })
                        @*@Html.ActionLink("DELETE", "Delete_admin_emp", "Employer", new { id = @item.id }, new { @class = "genric-btn danger circle small" })*@
                        <form asp-action="Delete_admin_em" asp-route-id="@item.id" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-danger" onclick="return functionConfirm(this)">
                            </button>
                        </form>
                        @*<input type="button" id="btnEdit" class="btn btn-primary" value="Delete" />*@
                    </td>


                </tr>
            }
        </tbody>
    </table>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script type="text/javascript">
    function functionConfirm(event) {
        swal({
            title: 'Are you sure?',
            text: "You will not be able to recover this item",
            type: 'warning',
            showCancelButton: true,
            cancelButtonText: 'No',
            cancelButtonClass: 'btn btn-danger',
            showConfirmButton: true,
            confirmButtonText: 'Yes',
            confirmButtonClass: 'btn btn-success'
        }, function (isConfirm) {
            if (isConfirm) {
                $('form').submit();
                return true;
            } else {
                return false;
            }
        });
        return false;
    }
</script>
