﻿@model IEnumerable<Jobportal_design.Models.Employer>
@{
    ViewData["Title"] = "View";
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<section class="section-box-2">
    <div class="container">
        <div class="banner-hero banner-company">
            <div class="block-banner text-center">
                <h3 class="wow animate__animated animate__fadeInUp">Employee List</h3>
                @*<div class="font-sm color-text-paragraph-2 mt-10 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, <br class="d-none d-xl-block">atque delectus molestias quis?</div>*@
                @*<div class="box-list-character">
                    <ul>
                        <li><a class="active" href="#">A</a></li>
                        <li><a href="#">B</a></li>
                        <li><a href="#">C</a></li>
                        <li><a href="#">D</a></li>
                        <li><a href="#">E</a></li>
                        <li><a href="#">F</a></li>
                        <li><a href="#">G</a></li>
                        <li><a href="#">H</a></li>
                        <li><a href="#">I</a></li>
                        <li><a href="#">J</a></li>
                        <li><a href="#">K</a></li>
                        <li><a href="#">L</a></li>
                        <li><a href="#">M</a></li>
                        <li><a href="#">N</a></li>
                        <li><a href="#">O</a></li>
                        <li><a href="#">P</a></li>
                        <li><a href="#">Q</a></li>
                        <li><a href="#">R</a></li>
                        <li><a href="#">S</a></li>
                        <li><a href="#">T</a></li>
                        <li><a href="#">U</a></li>
                        <li><a href="#">V</a></li>
                        <li><a href="#">W</a></li>
                        <li><a href="#">X</a></li>
                        <li><a href="#">Y</a></li>
                        <li><a href="#">Z</a></li>
                    </ul>
                </div>*@
                <br />
                <button class="btn btn-default font-heading icon-send-letter" onclick="location.href='@Url.Action("Create", "Employer")'" style="float:right;">Add Employee</button>
            </div>
        </div>
    </div>
</section>
<section class="section-box mt-30">
    <div class="container">
        <div class="content-page">
            <div class="box-filters-job">
                <div class="row">
                    <div class="col-xl-6 col-lg-5"><span class="text-small text-showing"><strong> *Note:</strong> Click the heading and view the details.</span></div>
                    <div class="col-xl-6 col-lg-7 text-lg-end mt-sm-15">
                        
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    string registration_date = item.registration_date.ToString("MM/dd/yyyy");
                    bool str = item.status;
                    string str1 = str.ToString();
                    int role_id = item.role_id;
                    string role;
                    if (role_id == 2)
                    {
                        role = "Admin";
                    }
                    else
                    {
                        role = "Employee";
                    }
                   
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="card-grid-2 hover-up">
                            <div class="card-grid-2-image-left">
                                <div class="card-grid-2-image-rd online">
                                    <a href="candidate-details.php">
                                        @if (item.empimage_path == null)
                                        {
                                            <figure> <img width="100" height="100" src="~/imgs/page/candidates/candidate_profile1.png" alt="loading.."></figure>
                                        }
                                        else
                                        {
                                            <figure> <img width="100" height="100" src="~/Emp_img_uploads/@(item.empimage_path)" alt="loading.."></figure>
                                            @*<img src="~/imgs/page/candidates/candidate_profile1.png" alt="loading.." style="width:47%">*@
                                        }
                                    </a>
                                </div>
                                <div class="card-profile pt-10">
                                    <a href="@Url.Action("ViewEmployer", "Employer", new { id = @item.id })">
                                        <h5 style="font-size: 18px;">@item.e_name &nbsp; @item.last_name</h5>
                                    </a><span class="font-xs color-text-mutted">@item.org_name</span>
                                </div>
                            </div>
                            <div class="card-block-info">
                                <p class="font-xs color-text-paragraph-2">@item.email_id <span class="d-flex align-items-center"></span>@item.contact1</p>
                                <div class="card-2-bottom card-2-bottom-candidate mt-10">
                                    <div class="text-start">
                                        <a class="mb-10 mr-5">Password:</a><a class="btn btn-tags-sm mb-10 mr-5" href="@Url.Action("Org_admin_employee_Changepassword", "Employer",new { id = @item.id })">@item.e_password</a>
                                        @*<p class="font-xs color-text-paragraph-2">Password:</p><a class="btn btn-tags-sm mb-10 mr-5" href="">@item.e_password</a>*@
                                    </div>
                                </div>
                                <div class="employers-info align-items-center justify-content-center mt-15">
                                    <div class="row">
                                        <div class="col-4">
                                            <span class="d-flex align-items-center">
                                                <i class=" mr-4 ml-0">
                                                    @if (item.isactive == "Active")
                                                    {
                                                        <a class="modAct" href="@Url.Action("EditProfile", "Employer", new { id = @item.id })"
                                                           data-status="@item.isactive" data-id="@item.id"
                                                           data-toggle="modal" data-target="#ModalApplyJobForm1" data-url="@Url.Action("EditProfile", "Employer", new { id = @item.id })" style="color: blue; cursor: pointer;"> @Html.DisplayFor(modelItem => item.isactive)</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="modAct" href="@Url.Action("EditProfile", "Employer", new { id = @item.id })"
                                                           data-status="@item.isactive" data-id="@item.id"
                                                           data-toggle="modal" data-target="#ModalApplyJobForm1" data-url="@Url.Action("EditProfile", "Employer", new { id = @item.id })" style="color: red; cursor: pointer;"> @Html.DisplayFor(modelItem => item.isactive)</a>
                                                    }

                                                </i><span class="font-sm color-text-mutted"></span>
                                            </span>

                                        </div>
                                        <div class="col-4">
                                            <span class="d-flex align-items-center">
                                                @if (item.role_id == 2)
                                                {
                                                    <a class="modAct" href="@Url.Action("EditProfile", "Employer", new { id = @item.id })"
                                                       data-status="@item.role_id" data-id="@item.id"
                                                       data-toggle="modal" data-target="#ModalApplyJobForm2" data-url="@Url.Action("EditProfile", "Employer", new { id = @item.id })" style="color: red; cursor: pointer;"> @Html.DisplayFor(modelItem => role)</a>
                                                }
                                                else
                                                {
                                                    <a class="modAct" href="@Url.Action("EditProfile", "Employer", new { id = @item.id })"
                                                       data-status="@item.role_id" data-id="@item.id"
                                                       data-toggle="modal" data-target="#ModalApplyJobForm2" data-url="@Url.Action("EditProfile", "Employer", new { id = @item.id })" style="color: red; cursor: pointer;"> @Html.DisplayFor(modelItem => role)</a>
                                                }
                                                <span class="font-sm color-brand-1"></span>
                                            </span>

                                        </div>
                                        <div class="col-4">

                                            <span class="d-flex justify-content-end align-items-center">

                                                @Html.ActionLink("Jobs", "EmployPostedJobs_Org", "Employer", new { id = @item.id }, new { @class = "btn-sm btn-apply" })
                                                @*<span class="font-sm color-brand-1"></span>*@
                                            </span>
                                        </div>

                                    </div>



                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        
    </div>
</section>

<section class="section-box mt-50 mb-20">
    <div class="container">
        <div class="box-newsletter">
            <div class="row">
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-left.png" alt="joxBox"></div>
                <div class="col-lg-12 col-xl-6 col-12">
                    <h2 class="text-md-newsletter text-center">New Things Will Always<br> Update Regularly</h2>
                    <div class="box-form-newsletter mt-40">
                        <form class="form-newsletter">
                            <input class="input-newsletter" type="text" value="" placeholder="Enter your email here">
                            <button class="btn btn-default font-heading icon-send-letter">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-right.png" alt="joxBox"></div>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("Org_Emp_status", "Employer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="modal fade" id="ModalApplyJobForm1" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content apply-job-form">
                <button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body pl-30 pr-30 pt-50">
                    <input type="hidden" id="passedId" name="passedId" value="passedId">
                    <input type="hidden" id="activeStat" name="activeStat" value="activeStat" />
                    <div class="text-center">
                        <p class="font-sm text-brand-2">Change Status  </p>

                    </div>
                    <br />
                    <br /><br />
                    <form class="login-register text-start mt-20 pb-30" action="#">
                        <h5>Do you want to change status ?</h5>
                        <br /><br /><br /><br />
                        <div class="form-group" style="float:right">
                            <button class="btn btn-default hover-up" type="submit" name="login" onclick="StatusChangeFunc()">Yes</button>
                            <button class="btn btn-default hover-up" type="button" data-dismiss="modal" aria-label="Close">No</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

}
@using (Html.BeginForm("Org_Emp_role", "Employer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="modal fade" id="ModalApplyJobForm2" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content apply-job-form">
                <button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body pl-30 pr-30 pt-50">
                    <input type="hidden" id="passedId" name="passedId" value="passedId">
                    <input type="hidden" id="activeStat" name="activeStat" value="activeStat" />
                    <div class="text-center">
                        <p class="font-sm text-brand-2">Change Role  </p>

                    </div>
                    <br />
                    <br /><br />
                    <form class="login-register text-start mt-20 pb-30" action="#">
                        <h5>Do you want to change role ?</h5>
                        <br /><br /><br /><br />
                        <div class="form-group" style="float:right">
                            <button class="btn btn-default hover-up" type="submit" name="login" onclick="RoleChangeFunc()">Yes</button>
                            <button class="btn btn-default hover-up" type="button" data-dismiss="modal" aria-label="Close">No</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {

    <script>


    $(document).on("click", ".modAct", function () {
        var passedStatus = $(this).data('status');
        var passedId = $(this).data('id');
        var role_id = $(this).data('role_id');
        $(".modal-body #passedId").val(passedId);
        $(".modal-body #activeStat").val(passedStatus);
        $(".modal-body #role_id").val(role_id);
                //if (passedStatus == "Active") {
                //    $(".modal-body #OrgAct").val(passedStatus);
                //    document.getElementById("OrgAct").checked = true;
                //    document.getElementById("OrgInAct").checked = false;
                //    document.getElementById("OrgAct").value = 1;
                //    document.getElementById("OrgInAct").value = 0;
                //}
                //else
                //{
                //    $(".modal-body #OrgInAct").val(passedStatus);
                //    document.getElementById("OrgInAct").checked = true;
                //    document.getElementById("OrgAct").checked = false;
                //    document.getElementById("OrgAct").value = 0;
                //    document.getElementById("OrgInAct").value = 1;
                //}
            });

        function valueChanged() {
            if (document.getElementById("OrgAct").checked == true) {
                document.getElementById("OrgAct").value = 1;
                document.getElementById("OrgInAct").value = 0;
            } else {
                document.getElementById("OrgAct").value = 0;
                document.getElementById("OrgInAct").value = 1;
            }
        }

    function StatusChangeFunc() {
        var activeStat = document.getElementById("activeStat").value;
        // $(".modal-body #activeStat").val(activeStat);
        var passedId = document.getElementById('passedId').value;
            @*var url = "@Url.Action("Index1", "Jobseeker")" + "?year=" + year + "&month=" + month;*@
        var url = "@Url.Action("Org_Emp_status", "Employer")" + "?activeStat=" + activeStat + "&passedId=" + passedId;
        window.location.href = url;

        }
         function RoleChangeFunc() {
        var activeStat = document.getElementById("role_id").value;
        // $(".modal-body #activeStat").val(activeStat);
        var passedId = document.getElementById('passedId').value;
            @*var url = "@Url.Action("Index1", "Jobseeker")" + "?year=" + year + "&month=" + month;*@
        var url = "@Url.Action("Org_Emp_role", "Employer")" + "?activeStat=" + activeStat + "&passedId=" + passedId;
        window.location.href = url;

    }


        /****************************************
     *       Basic Table                   *
     ****************************************/

        $('#zero_config').DataTable();

    </script>
}
<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="~/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="~/admin/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/admin/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="~/admin/dist/js/custom.min.js"></script>
<!-- this page js -->
<script src="~/admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="~/admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="~/admin/assets/extra-libs/DataTables/datatables.min.js"></script>

<style>
    .card-grid-2 .card-grid-2-image-rd.online figure::before {
        bottom: 8px !important;
        right: 0px !important;
    }

    .card-grid-2 .card-grid-2-image-rd {
        min-width: 60px !important;
        max-width: 75px !important;
        height: 60px;
    }

        .card-grid-2 .card-grid-2-image-rd figure img {
            height: 60px !important;
            width: 60px !important;
        }

    .card-grid-2 .card-grid-2-image-left .card-profile h5 {
        margin-top: 0 !important;
        margin-bottom: 0px !important;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    
    .card-grid-2 .card-grid-2-image-left {
        height: 115px;
    }
</style>


