﻿@model IEnumerable<Jobportal_design.Models.job_reg_tbl>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

}
<link rel="stylesheet" type="text/css" href="~/admin/assets/extra-libs/multicheck/multicheck.css">
<link href="~/admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/new-style.css" rel="stylesheet" />
<a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>

<section class="section-box box-content p-0 mt-5">
    <div class="breacrumb-cover01 bg-img-about01">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 card card-body p-4 text-center">
                    <h3 class="mb-10 py-0" style="font-weight: 700;">Jobs</h3>
                </div>

            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-12">



        <div class="card">

            <div class="card-body">
                @*<input type="button" class="btn btn-primary" style="float: right;" value="Add Country" onclick="location.href='@Url.Action("AddCountry", "Country")'" />*@

                <br />
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Job Title</th>
                                @*<th>Job Skills</th>*@
                                <th>Organization</th>
                                <th>Posting Date</th>
                                <th>Job Type</th>
                                @*<th>Job Category</th>*@
                                <th>Salary</th>
                                <th>Experience</th>
                                <th>Closing date </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                //bool str = item.is_active;
                                //string str1 = str.ToString();
                                string p_date = item.posting_date.ToString("MM/dd/yyyy");
                                string e_date = item.end_date.ToString("MM/dd/yyyy");
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.job_title)
                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.job_skills)
                                    </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.org_name)
                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => p_date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.job_type)
                                    </td>

                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.category_name)
                                    </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.salary_package)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.experience)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => e_date)
                                    </td>





                                </tr>
                            }


                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>



<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="~/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="~/admin/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/admin/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="~/admin/dist/js/custom.min.js"></script>
<!-- this page js -->
<script src="~/admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="~/admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="~/admin/assets/extra-libs/DataTables/datatables.min.js"></script>
<script>
    /****************************************
     *       Basic Table                   *
     ****************************************/
    $('#zero_config').DataTable();

</script>
@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });
    </script>
}






