﻿@model Jobportal_design.Models.Currency_tbl
@{
    ViewData["Title"] = "AddCurrency";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/admin/assets/libs/select2/dist/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/admin/assets/libs/jquery-minicolors/jquery.minicolors.css">
<link rel="stylesheet" type="text/css" href="~/admin/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">




@using (Html.BeginForm("Create", "Currency", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                @*<form class="form-horizontal">*@
                    <div class="card-body">
                        <h4 class="card-title">Add Currency</h4>
                        <div class="form-group row">
                            <label for="fname" class="col-sm-3 text-right control-label col-form-label">Currency Name</label>
                            <div class="col-sm-9">
                                <input type="text" id="currency_name" name="currency_name" class="form-control" placeholder="Currency name" required />

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lname" class="col-sm-3 text-right control-label col-form-label">Currency Code</label>
                            <div class="col-sm-9">

                                <input type="text" id="code" name="code" class="form-control" placeholder="code" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lname" class="col-sm-3 text-right control-label col-form-label">Symbol</label>
                         
                            <div class="col-sm-9">
                                <div class="custom-file">

                                    <input type="file" name="s_currency" id="s_currency" placeholder="Choose file"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Choose file'" class="form-control"
                                           onchange="return profileValidation()">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email1" class="col-sm-3 text-right control-label col-form-label">Status</label>
                            <div class="col-sm-9">
                                
                                  
                                    <div class="custom-control custom-radio">
                                       
                                        <input id="isactive" name="isactive" value="Active" type="radio" required>
                                        <label  for="customControlValidation2">Active</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input id="isactive" name="isactive" value="InActive" type="radio" required>
                                     
                                        <label  for="customControlValidation2">InActive</label>
                                    </div>
                               
                              
                               
                            </div>
                        </div>
                       
                     
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="submit" value="Create" class="btn btn-primary">Submit</button>
                            @*<button type="submit" value="Create" class="btn btn-save" style="background-color:darkgray">Save changes</button>*@
                        </div>
                    </div>
                @*</form>*@
            </div>



        </div>

    </div>

}






<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>

<script src="~/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>

<script src="~/admin/dist/js/waves.js"></script>

<script src="~/admin/dist/js/sidebarmenu.js"></script>

<script src="~/admin/dist/js/custom.min.js"></script>

<script src="~/admin/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
<script src="~/admin/dist/js/pages/mask/mask.init.js"></script>
<script src="~/admin/assets/libs/select2/dist/js/select2.full.min.js"></script>
<script src="~/admin/assets/libs/select2/dist/js/select2.min.js"></script>
<script src="~/admin/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
<script src="~/admin/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
<script src="~/admin/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
<script src="~/admin/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
<script src="~/admin/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<script>
    function profileValidation() {

        var fileInput =
            document.getElementById('s_currency');

        var filePath = fileInput.value;
        alert(filePath);
        // Allowing file type
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif)$/i;

        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type');
            fileInput.value = '';
            return false;
        }
    }

</script>





