﻿@model IEnumerable<Jobportal_design.Models.Country_tbl>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

}
<link rel="stylesheet" type="text/css" href="~/admin/assets/extra-libs/multicheck/multicheck.css">
<link href="~/admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
<div class="row">
    <div class="col-12">



        <div class="card">

            <div class="card-body">
                <input type="button" class="btn btn-primary" style="float: right;" value="Add Country" onclick="location.href='@Url.Action("AddCountry", "Country")'" />

                <br />
                <h5 class="card-title">Country Details</h5>
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>

                                <th>Country Name</th>
                                <th>Country Code</th>
                                <th>Currency</th>
                                <th>Nationality</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                bool str = item.is_active;
                                string str1 = str.ToString();

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.country_name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.code)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.currency_name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.nationality)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.isactive)
                                    </td>


                                    <td>

                                        <a href="@Url.Action("EditCountry", "Country",new { id = @item.id })" class="edit" title="Edit" data-toggle="tooltip"><i class="fa fa-pencil" style="font-size: 24px;color:lightblue"></i></a>
                                        @*<a href="@Url.Action("DeleteCountry", "Country",new { id = @item.id })" class="delete" title="Delete" data-toggle="tooltip"><i class="fa fa-trash-o" style="font-size: 24px; color: red;"></i></a>*@
                                        <form asp-action="DeleteCountry" asp-route-id="@item.id" method="post" style="display: inline;">
                                            <button type="submit" class="fa fa-trash-o" style="font-size: 24px; color: red; border: none; outline: none;" onclick="return functionConfirm(this)">
                                            </button>
                                        </form>
                                    </td>


                                </tr>
                            }


                        </tbody>
                        <tfoot>
                            <tr>

                                <th>Country Name</th>
                                <th>Country Code</th>
                                <th>Currency</th>
                                <th>Nationality</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>



<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="~/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="~/admin/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/admin/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="~/admin/dist/js/custom.min.js"></script>
<!-- this page js -->
<script src="~/admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="~/admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="~/admin/assets/extra-libs/DataTables/datatables.min.js"></script>
<script>
    /****************************************
     *       Basic Table                   *
     ****************************************/
    $('#zero_config').DataTable();
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script type="text/javascript">
    function functionConfirm(event) {
        swal({
            title: 'Are you sure?',
            text: "You will not be able to recover this item",
            type: 'warning',
            showCancelButton: true,
            cancelButtonText: 'No',
            cancelButtonClass: 'btn btn-danger',
            showConfirmButton: true,
            confirmButtonText: 'Yes',
            confirmButtonClass: 'btn btn-success'
        }, function (isConfirm) {
            if (isConfirm) {
                $('form').submit();
                return true;
            } else {
                return false;
            }
        });
        return false;
    }
</script>




