﻿@model Jobportal_design.Models.Country_tbl
@{
    ViewData["Title"] = "EditCountry";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/admin/assets/libs/select2/dist/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/admin/assets/libs/jquery-minicolors/jquery.minicolors.css">
<link rel="stylesheet" type="text/css" href="~/admin/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

@using (Html.BeginForm("Update", "Country", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                @*<form class="form-horizontal">*@
                <div class="card-body">
                    <h4 class="card-title">Edit Country</h4>
                    <div class="form-group row">
                        @Html.HiddenFor(model => model.id)
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Country Name</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.country_name, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Country Code</label>
                        <div class="col-sm-9">

                            @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Currency</label>
                        <div class="col-sm-9">

                            <select asp-for="currency_name" class="form-control" asp-items="@(new SelectList(ViewBag.message, "currency_name", "currency_name"))"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Nationality</label>
                        <div class="col-sm-9">

                            @Html.EditorFor(model => model.nationality, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email1" class="col-sm-3 text-right control-label col-form-label">Status</label>
                        <div class="col-sm-9">
                            @Html.RadioButtonFor(m => m.isactive, "Active", Model.isactive == "Active" ? "checked" : string.Empty)
                            <span>Active</span>
                            @Html.RadioButtonFor(m => m.isactive, "InActive", Model.isactive == "InActive" ? "checked" : string.Empty)
                            <span>InActive</span>
                            @Html.HiddenFor(m => m.isactive)





                        </div>
                    </div>


                </div>
                <div class="border-top">
                    <div class="card-body">
                        <button type="submit" value="Update" class="btn btn-primary">Submit</button>
                        @*<button type="submit" value="Create" class="btn btn-save" style="background-color:darkgray">Save changes</button>*@
                    </div>
                </div>
                @*</form>*@
            </div>



        </div>

    </div>

}






<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>

<script src="~/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>

<script src="~/admin/dist/js/waves.js"></script>

<script src="~/admin/dist/js/sidebarmenu.js"></script>

<script src="~/admin/dist/js/custom.min.js"></script>

<script src="~/admin/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
<script src="~/admin/dist/js/pages/mask/mask.init.js"></script>
<script src="~/admin/assets/libs/select2/dist/js/select2.full.min.js"></script>
<script src="~/admin/assets/libs/select2/dist/js/select2.min.js"></script>
<script src="~/admin/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
<script src="~/admin/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
<script src="~/admin/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
<script src="~/admin/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
<script src="~/admin/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>


