﻿@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="section-box">
    <div class="breacrumb-cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="mb-10">FAQ</h2>
                    <p class="font-lg color-text-paragraph-2">Lorem ipsom dolor, sit amet consective</p>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <ul class="breadcrumbs mt-40">
                        <li><a class="home-icon" href="@Url.Action("Index", "Home")">Home</a></li>
                        <li>FAQ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-box mt-90 mb-50">
    <div class="container">
        <h2 class="text-center mb-15 wow animate__animated animate__fadeInUp">Frequently Asked Questions</h2>
        <div class="font-lg color-text-paragraph-2 text-center wow animate__animated animate__fadeInUp">Aliquam a augue suscipit, luctus neque purus ipsum neque dolor<br class="d-none d-lg-block"> primis a libero tempus, blandit and cursus varius and magnis sapien</div>
        <div class="row mt-50">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card-grid-border hover-up wow animate__animated animate__fadeIn">
                    <h4 class="mb-20">I have promotional or discount code?</h4>
                    <p class="font-sm mb-20 color-text-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id nibh vitae quam blandit venenatis. Duis vehicula magna ut neque tempus tristique. Nam venenatis turpis euismod arcu aliquet finibus. Vivamus nec vulputate ex, vitae condimentum ante. Suspendisse metus metus, laoreet nec arcu vel, venenatis cursus libero.</p><a class="link-arrow" href="#">Keep Reading</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card-grid-border hover-up wow animate__animated animate__fadeIn">
                    <h4 class="mb-20">Where is my order? Quisque molestie</h4>
                    <p class="font-sm mb-20 color-text-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id nibh vitae quam blandit venenatis. Duis vehicula magna ut neque tempus tristique. Nam venenatis turpis euismod arcu aliquet finibus. Vivamus nec vulputate ex, vitae condimentum ante. Suspendisse metus metus, laoreet nec arcu vel, venenatis cursus libero.</p><a class="link-arrow" href="#">Keep Reading</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card-grid-border hover-up wow animate__animated animate__fadeIn">
                    <h4 class="mb-20">How can I return an item purchased online?</h4>
                    <p class="font-sm mb-20 color-text-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id nibh vitae quam blandit venenatis. Duis vehicula magna ut neque tempus tristique. Nam venenatis turpis euismod arcu aliquet finibus. Vivamus nec vulputate ex, vitae condimentum ante. Suspendisse metus metus, laoreet nec arcu vel, venenatis cursus libero.</p><a class="link-arrow" href="#">Keep Reading</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card-grid-border hover-up wow animate__animated animate__fadeIn">
                    <h4 class="mb-20">What are the delivery types you use?</h4>
                    <p class="font-sm mb-20 color-text-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id nibh vitae quam blandit venenatis. Duis vehicula magna ut neque tempus tristique. Nam venenatis turpis euismod arcu aliquet finibus. Vivamus nec vulputate ex, vitae condimentum ante. Suspendisse metus metus, laoreet nec arcu vel, venenatis cursus libero.</p><a class="link-arrow" href="#">Keep Reading</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card-grid-border hover-up wow animate__animated animate__fadeIn">
                    <h4 class="mb-20">How can I pay for my purchases?</h4>
                    <p class="font-sm mb-20 color-text-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id nibh vitae quam blandit venenatis. Duis vehicula magna ut neque tempus tristique. Nam venenatis turpis euismod arcu aliquet finibus. Vivamus nec vulputate ex, vitae condimentum ante. Suspendisse metus metus, laoreet nec arcu vel, venenatis cursus libero.</p><a class="link-arrow" href="#">Keep Reading</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card-grid-border hover-up wow animate__animated animate__fadeIn">
                    <h4 class="mb-20">What are the delivery types you use?</h4>
                    <p class="font-sm mb-20 color-text-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id nibh vitae quam blandit venenatis. Duis vehicula magna ut neque tempus tristique. Nam venenatis turpis euismod arcu aliquet finibus. Vivamus nec vulputate ex, vitae condimentum ante. Suspendisse metus metus, laoreet nec arcu vel, venenatis cursus libero.</p><a class="link-arrow" href="#">Keep Reading</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-box mt-50 mb-20">
    <div class="container">
        <div class="box-newsletter">
            <div class="row">
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-left.png" alt="joxBox"></div>
                <div class="col-lg-12 col-xl-6 col-12">
                    <h2 class="text-md-newsletter text-center">New Things Will Always<br> Update Regularly</h2>
                    <div class="box-form-newsletter mt-40">
                        <form class="form-newsletter">
                            <input class="input-newsletter" type="text" value="" placeholder="Enter your email here">
                            <button class="btn btn-default font-heading icon-send-letter">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-right.png" alt="joxBox"></div>
            </div>
        </div>
    </div>
</section>