﻿@*@model IEnumerable<Jobportal_design.Models.job_reg_tbl>*@
@using Jobportal_design.Models;
@model dynamic
@{ ViewData["Title"] = "FindJob";

                Layout = "~/Views/Shared/_Layout.cshtml";
                TempData.Keep(); }

@*<a class="btn btn-grey-small mr-5" style="background-color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color:white; font-size:13px;"></i><span style="color: black;">&nbsp;Back</span></a>
    <br />*@

<section class="section-box-2">
    <div class="container">
        <div class="banner-hero banner-single banner-single-bg">
            <div class="block-banner text-center">

                @if (@ViewBag.countjobs == 0)
                {
    <h3 class="wow animate__animated animate__fadeInUp"><span class="color-brand-2">No Jobs</span> Available Now  </h3> }
                else
                {
    <h3 class="wow animate__animated animate__fadeInUp"><span class="color-brand-2">@ViewBag.countjobs Jobs</span> Available Now  </h3>
                }

                <div class="font-sm color-text-paragraph-2 mt-10 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, <br class="d-none d-xl-block">atque delectus molestias quis?</div>
                <div class="form-find text-start mt-40 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                    @using (Html.BeginForm("Joblist", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
        <form>
            <div class="box-industry">
                @Html.DropDownList("job_cat_id", new SelectList(ViewBag.job_cat, "id", "job_category_name"), "-Job category-", new { id = "dd_child", @class = "form-input mr-10 select-active input-industry" })
            </div>
            @Html.DropDownList("county_id", new SelectList(ViewBag.county, "id", "county_name"), "-Select County-", new { id = "dd_child1", @class = "form-input mr-10 select-active input-industry" })
            <input class="form-input input-keysearch mr-10" type="text" id="search" name="search" value="@ViewBag.searchText" placeholder="Job title/Organization name... ">
            <input type="submit" value="Search" class="btn btn-default btn-find font-sm" />
        </form>}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-box mt-30">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9 col-md-12 col-sm-12 col-12 float-right">
                <div class="content-page">
                    <div class="box-filters-job">
                        <div class="row">
                            @if (@ViewBag.countjobs < 15)
                            {
                                <div class="col-xl-6 col-lg-5" id="showCount">Showing <strong>@ViewBag.countjobs</strong> Jobs </div>
                            }
                            else
                            {
                                <div class="col-xl-6 col-lg-5" id="showCount">Showing <strong><span id="startP">1</span></strong> to <strong><span id="endP">15</span></strong> of <strong>@ViewBag.countjobs</strong> Jobs </div>

                            }

                            <div class="col-xl-6 col-lg-5"><span class="text-small text-showing"><strong> *Note:</strong> Click the heading and view the details.</span></div>

                        </div>
                    </div>
                    <div class="row display-list">
                        <div id="myTable" class="row">
                            @if (ViewBag.viewjobs != null)
                            {
                                @foreach (var item in ViewBag.viewjobs)
                                {
                                    <div class="col-xl-12 col-12">
                                        <div class="card-grid-2 hover-up">

                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="card-grid-2-image-left">
                                                        <div class="image-box">
                                                            @if (@item.cmp_image == null)
                                                            {
                                                                <a href="company-details.php"><img width="100" height="100" src="~/Org_img_uploads/org_profile.png" alt="loading--"></a>
                                                            }
                                                            else
                                                            {
                                                                <a href="company-details.php"><img width="100" height="100" src="~/Org_img_uploads/@(item.cmp_image)" alt="loading--"></a>
                                                            }
                                                        </div>
                                                        <div class="right-info"><a class="name-job" href="@Url.Action("OrganizationProfile","Org", new { id = @item.org_id })">@item.org_name</a><span class="location-small">@item.district_name</span></div>
                                                    </div>
                                                </div>
                                                <div class="text-start text-md-end pr-60 col-md-4">
                                                    <div class="pl-15 mb-15 mt-30"><a class="btn btn-grey-small mr-5" href="#">Job Category : </a><span class="" href="">@item.job_category_name</span></div>
                                                </div>
                                            </div>
                                            <div class="card-block-info">
                                                <h4><a href="@Url.Action("JobdetailsView","Jobseeker",new { id = @item.id })">@item.job_title</a></h4>
                                                <div class="mt-5"><span class="card-briefcase">@item.job_type</span><span class="card-time"><span>@item.posting_date.ToString("MM/dd/yyyy")</span><span> </span></span></div>
                                                <p class="font-sm color-text-paragraph mt-10">@item.job_desc</p>
                                                <div class="card-2-bottom mt-20">
                                                    <div class="row">
                                                        <div class="col-lg-7 col-7"><span class="card-text-price">$@item.salary_package - @item.salary_to</span><span class="text-muted">/@item.salary_pay</span></div>
                                                        <div class="col-lg-5 col-5 text-end">
                                                            @*<div class="btn btn-apply-now"   href="@Url.Action("Signin", "Login")">Apply now/Login</div>*@
                                                            <a class="btn btn-apply-now" href="@Url.Action("JobdetailsView", "Jobseeker",new { id = @item.id })">View More</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>}}
                        </div>
                        @if (@ViewBag.countjobs == 0)
                        {
                            <div class="col-md-3 text-center paginations" style="line-height: 45px;">  <strong>No Jobs</strong>  </div>
                        }
                        else
                        {
                            <div class="col-md-3 text-center paginations" style="line-height: 45px;">Showing <strong><span id="currentP">1</span></strong> of <strong><span id="totalP"></span></strong>  pages </div>
                        }                       
                        <div class="col-md-6 text-center paginations">

                            <ul class="pager" id="myPager">
                            </ul>


                        </div>
                        <div class="col-md-3 text-center paginations">


                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="sidebar-shadow none-shadow mb-30">
                    <div class="sidebar-filters">
                        <div class="filter-block head-border mb-30">
                            <h5>Menu </h5>
                        </div>
                        <div class="filter-block mb-30" onmouseover="showSubmenu()" onmouseout="hideSubmenu()">
                            <div class="select-style select-style-icon">
                                <a class="form-control" href="@Url.Action("Profile", "Jobseeker")" style="background: #f1f1f1; color: black; font-size: 14px;">My Profile </a>
                            </div>
                            <!--<ul id="submenu">-->
                                @*<li>
                                        <div class="filter-block">
                                            <div class="form-group select-style select-style-icon">
                                                <a class="btn btn-border recruitment-icon" href="@Url.Action("Educationdetails", "Jobseeker")" style="background: #c9c7c7; color: black;">Add education</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="filter-block">
                                            <div class="form-group select-style select-style-icon">
                                                <a class="btn btn-border recruitment-icon" href="@Url.Action("Experiencedetails", "Jobseeker")" style="background: #c9c7c7; color: black;">Add Experience</a>
                                            </div>
                                        </div>
                                    </li>*@
                                <!--<li>
                                    <div class="filter-block">
                                        <div class="form-group select-style select-style-icon">
                                            <a class="btn recruitment-icon" href="@Url.Action("Appliedjobdetail", "Jobseeker", new {ActiveTab = "tab-my-profile", isRedirect = "true" })" style="background: #c9c7c7; color: black;">Password change</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>-->
                        </div>
                        <div class="filter-block mb-30">
                            <div class="form-group select-style select-style-icon">
                                <a class="form-control" href="@Url.Action("EditProfile", "Jobseeker")" style="background: #f1f1f1; color: black;">Edit Profile</a>
                            </div>
                        </div>

                        <div class="filter-block mb-30">
                            <div class="form-group select-style select-style-icon">
                                <a class="form-control" href="@Url.Action("Appliedjobdetail", "Jobseeker")" style="background: #f1f1f1; color: black;">Applied Jobs</a>
                            </div>
                        </div>
                        <div class="filter-block mb-30">
                            <div class="form-group select-style select-style-icon">
                                <a class="form-control" href="@Url.Action("Appliedjobdetail", "Jobseeker", new { ActiveTab = "tab-saved-jobs", isRedirect = "true" })" style="background: #f1f1f1; color: black;">Saved Jobs</a>
                            </div>
                        </div>
                        @using (Html.BeginForm("JobList", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
            <div class="filter-block head-border mb-30">
                <h5>Advance Filter <a href="@Url.Action("FindJob","Home")"><input type="button" value="Reset" onclick="clearAllFields()" class="link-reset"></a></h5>
            </div>
                            <div class="filter-block mb-30">
                                <h5 class="medium-heading mb-10">Job Title</h5>
                                <div class="form-group">
                                    <ul class="list-checkbox">
                                        @if (ViewBag.jobTitle != null)
                                        {
                        @foreach (var item in ViewBag.jobTitle)
                        {
    <li>
        <label class="cb-container">
            <input type="checkbox" id="@item.Text" name="@item.Text"><span class="text-small">@item.Value</span><span class="checkmark"></span>
        </label><span class="number-item">@item.Count</span>
    </li>}}

                                    </ul>
                                </div>
                            </div>
                                            <div class="filter-block mb-20">
                                                <h5 class="medium-heading mb-15">Job Category</h5>
                                                <div class="form-group">
                                                    <ul class="list-checkbox">

                                                        @if (ViewBag.category != null)
                                                        {
                                        @foreach (var item in ViewBag.category)
                                        {
                    <li>
                        <label class="cb-container">
                            <input type="checkbox" id="@item.job_category_name.Replace(" ",String.Empty)" name="@item.job_category_name.Replace(" ",String.Empty)"><span class="text-small">@item.job_category_name</span><span class="checkmark"></span>
                        </label><span class="number-item">@item.job_count</span>
                    </li>}}

                                                    </ul>
                                                </div>
                                            </div>
                                                            <div class="filter-block mb-20">
                                                                <h5 class="medium-heading mb-15">Job type</h5>
                                                                <div class="form-group">
                                                                    <ul class="list-checkbox">
                                                                        @if (ViewBag.jobType != null)
                                                                        {
                                                        @foreach (var item in ViewBag.jobType)
                                                        {
                                    <li>
                                        <label class="cb-container">
                                            <input type="hidden" value="true" id="filterOn" name="filterOn" />
                                            <input type="checkbox" id="@item.Text)" name="@item.Text"><span class="text-small">@item.Value</span><span class="checkmark"></span>
                                        </label><span class="number-item">@item.Count</span>
                                    </li>}}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                                            <div class="filter-block mb-30">
                                                                                <div class="form-group select-style select-style-icon">
                                                                                    <input type="submit" value="Apply Filter" class="btn btn-default btn-find" />
                                                                                </div>
                                                                            </div>}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-box mt-50 mb-50">
    <div class="container">
        <div class="text-start">
            <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">News and Blog</h2>
            <p class="font-lg color-text-paragraph-2 wow animate__animated animate__fadeInUp">Get the latest news, updates and tips</p>
        </div>
    </div>
    <div class="container">
        <div class="mt-50">
            <div class="box-swiper style-nav-top">
                <div class="swiper-container swiper-group-3 swiper">
                    <div class="swiper-wrapper pb-70 pt-5">
                        <div class="swiper-slide">
                            <div class="card-grid-3 hover-up wow animate__animated animate__fadeIn">
                                <div class="text-center card-grid-3-image">
                                    <a href="#">
                                        <figure><img alt="jobBox" src="~/imgs/page/homepage1/img-news1.png"></figure>
                                    </a>
                                </div>
                                <div class="card-block-info">
                                    <div class="tags mb-15"><a class="btn btn-tag" href="blog-grid.html">News</a></div>
                                    <h5><a href="blog-details.html">21 Job Interview Tips: How To Make a Great Impression</a></h5>
                                    <p class="mt-10 color-text-paragraph font-sm">Our mission is to create the world&amp;rsquo;s most sustainable healthcare company by creating high-quality healthcare products in iconic, sustainable packaging.</p>
                                    <div class="card-2-bottom mt-20">
                                        <div class="row">
                                            <div class="col-lg-6 col-6">
                                                <div class="d-flex">
                                                    <img class="img-rounded" src="~/imgs/page/homepage1/user1.png" alt="jobBox">
                                                    <div class="info-right-img"><span class="font-sm font-bold color-brand-1 op-70">Sarah Harding</span><br><span class="font-xs color-text-paragraph-2">06 September</span></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 text-end col-6 pt-15"><span class="color-text-paragraph-2 font-xs">8 mins to read</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-grid-3 hover-up wow animate__animated animate__fadeIn">
                                <div class="text-center card-grid-3-image">
                                    <a href="#">
                                        <figure><img alt="jobBox" src="~/imgs/page/homepage1/img-news2.png"></figure>
                                    </a>
                                </div>
                                <div class="card-block-info">
                                    <div class="tags mb-15"><a class="btn btn-tag" href="blog-grid.html">Events</a></div>
                                    <h5><a href="blog-details.html">39 Strengths and Weaknesses To Discuss in a Job Interview</a></h5>
                                    <p class="mt-10 color-text-paragraph font-sm">Our mission is to create the world&amp;rsquo;s most sustainable healthcare company by creating high-quality healthcare products in iconic, sustainable packaging.</p>
                                    <div class="card-2-bottom mt-20">
                                        <div class="row">
                                            <div class="col-lg-6 col-6">
                                                <div class="d-flex">
                                                    <img class="img-rounded" src="~/imgs/page/homepage1/user2.png" alt="jobBox">
                                                    <div class="info-right-img"><span class="font-sm font-bold color-brand-1 op-70">Steven Jobs</span><br><span class="font-xs color-text-paragraph-2">06 September</span></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 text-end col-6 pt-15"><span class="color-text-paragraph-2 font-xs">6 mins to read</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-grid-3 hover-up wow animate__animated animate__fadeIn">
                                <div class="text-center card-grid-3-image">
                                    <a href="#">
                                        <figure><img alt="jobBox" src="~/imgs/page/homepage1/img-news3.png"></figure>
                                    </a>
                                </div>
                                <div class="card-block-info">
                                    <div class="tags mb-15"><a class="btn btn-tag" href="blog-grid.html">News</a></div>
                                    <h5><a href="blog-details.html">Interview Question: Why Dont You Have a Degree?</a></h5>
                                    <p class="mt-10 color-text-paragraph font-sm">Learn how to respond if an interviewer asks you why you dont have a degree, and read example answers that can help you craft</p>
                                    <div class="card-2-bottom mt-20">
                                        <div class="row">
                                            <div class="col-lg-6 col-6">
                                                <div class="d-flex">
                                                    <img class="img-rounded" src="~/imgs/page/homepage1/user3.png" alt="jobBox">
                                                    <div class="info-right-img"><span class="font-sm font-bold color-brand-1 op-70">Wiliam Kend</span><br><span class="font-xs color-text-paragraph-2">06 September</span></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 text-end col-6 pt-15"><span class="color-text-paragraph-2 font-xs">9 mins to read</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="text-center"><a class="btn btn-brand-1 btn-icon-load mt--30 hover-up" href="blog-grid.html">Load More Posts</a></div>
        </div>
    </div>
</section>
<section class="section-box mt-50 mb-20">
    <div class="container">
        <div class="box-newsletter">
            <div class="row">
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-left.png" alt="joxBox"></div>
                <div class="col-lg-12 col-xl-6 col-12">
                    <h2 class="text-md-newsletter text-center">New Things Will Always<br> Update Regularly</h2>
                    <div class="box-form-newsletter mt-40">
                        <form class="form-newsletter">
                            <input class="input-newsletter" type="text" value="" placeholder="Enter your email here">
                            <button class="btn btn-default font-heading icon-send-letter">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-right.png" alt="joxBox"></div>
            </div>
        </div>
    </div>
</section>



<script src="js/noUISlider.js"></script>
<script src="js/slider.js"></script>
@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });

        function showSubmenu() {
            document.getElementById('submenu').style.display = 'block';
            document.getElementById("ic1").classList.remove("fi-rr-angle-small-down");
            document.getElementById("ic1").classList.add("fi-rr-angle-small-up");
        }
        function hideSubmenu() {
            document.getElementById('submenu').style.display = 'none';
            document.getElementById("ic1").classList.add("fi-rr-angle-small-down");
            document.getElementById("ic1").classList.remove("fi-rr-angle-small-up");
        }

    </script>
    <script>
        $.fn.pageMe = function (opts) {
            var $this = this,
                defaults = {
                    perPage: 15,
                    showPrevNext: false,
                    hidePageNumbers: false
                },
                settings = $.extend(defaults, opts);
            console.log(settings)
            var listElement = $this;
            var perPage = settings.perPage;
            var children = listElement.children();
            var pager = $('.pager');

            if (typeof settings.childSelector != "undefined") {
                children = listElement.find(settings.childSelector);
            }

            if (typeof settings.pagerSelector != "undefined") {
                pager = $(settings.pagerSelector);
            }

            var numItems = children.size();
            var numPages = Math.ceil(numItems / perPage);

            pager.data("curr", 0);

            if (settings.showPrevNext) {
                $('<li><a href="#" class="pager-prev"></a></li>').appendTo(pager);
            }

            var curr = 0;
            // Added class and id in li start
            while (numPages > curr && (settings.hidePageNumbers == false)) {
                $('<li id="pg' + (curr + 1) + '" class="pg"><a href="#" class="page_link">' + (curr + 1) + '</a></li>').appendTo(pager);
                curr++;
            }
            // Added class and id in li end

            if (settings.showPrevNext) {
                $('<li><a href="#" class="pager-next"></a></li>').appendTo(pager);
            }

            pager.find('.page_link:first').addClass('active');
            pager.find('.pager-prev').hide();
            if (numPages <= 1) {
                pager.find('.pager-next').hide();
            }
           // pager.children().eq(1).addClass("active");

            children.hide();
            children.slice(0, perPage).show();
            if (numPages > 3) {
                $('.pg').hide();
                $('#pg1,#pg2,#pg3').show();
                $("#pg3").after($("<li class='ell'>").html("<span>...</span>"));
            }

            pager.find('li .page_link').click(function () {
                var clickedPage = $(this).html().valueOf() - 1;
                goTo(clickedPage, perPage);
                return false;
            });
            pager.find('li .pager-prev').click(function () {
                previous();
                return false;
            });
            pager.find('li .pager-next').click(function () {
                next();
                return false;
            });

            function previous() {
                var goToPage = parseInt(pager.data("curr")) - 1;
                $('.pg').children().eq(goToPage + 1).removeClass("active");
                goTo(goToPage);
            }

            function next() {
                goToPage = parseInt(pager.data("curr")) + 1;
                goTo(goToPage);
            }

            function goTo(page) {
                var startAt = page * perPage,
                    endOn = startAt + perPage;

                // Added few lines from here start

                $('.pg').hide();
                $(".ell").remove();
                var prevpg = $("#pg" + page).show();
                var currpg = $("#pg" + (page + 1)).show();
                var nextpg = $("#pg" + (page + 2)).show();
                if (prevpg.length == 0) nextpg = $("#pg" + (page + 3)).show();
                if (prevpg.length == 1 && nextpg.length == 0) {
                    prevpg = $("#pg" + (page - 1)).show();
                }
                $("#pg1").show()
                if (curr > 3) {
                    if (page > 1) prevpg.before($("<li class='ell'>").html("<span>...</span>"));
                    if (page < curr - 2) nextpg.after($("<li class='ell'>").html("<span>...</span>"));
                }

                if (page <= numPages - 3) {
                    $("#pg" + numPages.toString()).show();
                }
                currpg.addClass("active").siblings().removeClass("active");
                // Added few lines till here end


                children.css('display', 'none').slice(startAt, endOn).show();

                if (page >= 1) {
                    pager.find('.pager-prev').show();
                } else {
                    pager.find('.pager-prev').hide();
                }

                if (page < (numPages - 1)) {
                    pager.find('.pager-next').show();
                } else {
                    pager.find('.pager-next').hide();
                }

                pager.data("curr", page);
                if ($('.pg').children().eq(page - 1).hasClass("active")) {
                    $('.pg').children().eq(page - 1).removeClass("active");
                }
                if ($('.pg').children().eq(page + 1).hasClass("active")) {
                    $('.pg').children().eq(page + 1).removeClass("active");
                }
                $('.pg').children().eq(page).addClass("active");
                var fp = (page * 15)+1;
                var tp = (page+1) * 15;
                $("#startP").text(fp.toString());
                if (tp < @ViewBag.countjobs)
                    $("#endP").text(tp.toString());
                else
                    $("#endP").text(@ViewBag.countjobs);
                $("#currentP").text((page+1).toString());
                $("#totalP").text(numPages.toString());
                window.scrollTo(0, 250);

            }
        };

        $(document).ready(function () {
            $("#currentP").text("1");
                $("#totalP").text(Math.ceil(@ViewBag.countjobs/15).toString());
            $('#myTable').pageMe({
                pagerSelector: '#myPager',
                showPrevNext: true,
                hidePageNumbers: false,
                perPage: 15
            });

        });
    </script>
    @*<script src="~/js/vendor/jquery-3.6.0.min.js"></script>*@
    <script>
    $(document).ready(function () {
        //alert("ready")
        var filterArray = @Html.Raw(Json.Serialize(ViewBag.cate));
        //$.each(filterArray, function (value) {

        //    console.log(value);
        //})
        if (filterArray != null) {
            for (i = 0; i < filterArray.length; i++) {
                    console.log(filterArray[i])
                    document.getElementById(filterArray[i]).checked = true;
            }
        }
    });
    </script>
}
<script src="js/vendor/modernizr-3.6.0.min.js"></script>
<script src="js/vendor/jquery-3.6.0.min.js"></script>
<script src="js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="js/vendor/bootstrap.bundle.min.js"></script>
<script src="js/plugins/waypoints.js"></script>
<script src="js/plugins/wow.js"></script>
<script src="js/plugins/magnific-popup.js"></script>
<script src="js/plugins/perfect-scrollbar.min.js"></script>
<script src="js/plugins/select2.min.js"></script>
<script src="js/plugins/isotope.js"></script>
<script src="js/plugins/scrollup.js"></script>
<script src="js/plugins/swiper-bundle.min.js"></script>
<script src="js/plugins/counterup.js"></script>
<script src="js/main.js?v=4.1"></script>
<script src="js/plugins/counterup.js"></script>


<script>
    function clearAllFields() {
        document.getElementById("Administration").checked = false;
        document.getElementById("Management").checked = false;
        document.getElementById("Early Education").checked = false;

        document.getElementById('Administrator').checked = false;
        document.getElementById('AssistantTeacher').checked = false;
        document.getElementById('Floater').checked = false;
        document.getElementById('LeadTeacher').checked = false;
        document.getElementById('Substitute').checked = false;
        document.getElementById('DayCampAdministrator').checked = false;
        document.getElementById('DayCampJuniorCounselor').checked = false;
        document.getElementById('DayCampLeadCounselor').checked = false;
        document.getElementById('DayCampOwner').checked = false;

        document.getElementById('FullTime').checked = false;
        document.getElementById('PartTime').checked = false;
        document.getElementById('InOffice').checked = false;
        document.getElementById('Remote').checked = false;
        document.getElementById('Hybrid').checked = false;
        document.getElementById('Others').checked = false;
    }
</script>
<style>
    #submenu {
        display: none;
        background-color: lavender;
        padding: 20px;
        box-shadow: 5px 5px 5px 0px #bcbcbc;
        border: 1px solid #f1f1f1;
        width: 85%;
        margin-left: 14%;
    }
    .card-grid-2 .card-grid-2-image-left {
        align-items: center;
    }

        .card-grid-2 .card-grid-2-image-left .image-box {
            padding-right: 10px !important;
        }

            .card-grid-2 .card-grid-2-image-left .image-box img {
                border-radius: 50px;
                height: 60px !important;
                width: 60px !important;
            }

        .card-grid-2 .card-grid-2-image-left .right-info .name-job {
            line-height: 30px;
            margin-bottom: 5px;
        }
    .sidebar-filters .filter-block .select-style-icon a:hover, .sidebar-filters .filter-block .select-style-icon a.active {
        background: #85c440 !important;
        color: #fff !important;
    }

    
</style>
