﻿@model IEnumerable<Jobportal_design.Models.County_tbl>
@*@model Jobportal_design.Models.Currency_tbl*@
@{
    ViewData["Title"] = "AddCounty";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

}
<link rel="stylesheet" type="text/css" href="~/admin/assets/libs/select2/dist/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/admin/assets/libs/jquery-minicolors/jquery.minicolors.css">
<link rel="stylesheet" type="text/css" href="~/admin/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">



<a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>
@using (Html.BeginForm("Create", "County", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                @*<form class="form-horizontal">*@
                <div class="card-body">
                    <h4 class="card-title">Add County</h4>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">County Name *</label>
                        <div class="col-sm-9">
                            <input type="text" id="county_name" name="county_name" class="form-control" placeholder="County name" required />

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">County Code *</label>
                        <div class="col-sm-9">

                            <input type="text" id="code" name="code" class="form-control" placeholder="County Code" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="validationDefault02">Upload Image</label>

                        <input type="file" name="loc_pic" id="cnty_pic" placeholder="Upload Image"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Upload Image'"
                               class="single-input" onchange="return pictureValidation()">
                    </div>

                        <div class="form-group row">
                            <label for="email1" class="col-sm-3 text-right control-label col-form-label">Status *</label>
                            <div class="col-sm-9">


                                <div class="custom-control custom-radio">

                                    <input id="isactive" name="isactive" value="Active" type="radio" required>
                                    <label for="customControlValidation2">Active</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="isactive" name="isactive" value="InActive" type="radio" required>

                                    <label for="customControlValidation2">InActive</label>
                                </div>



                            </div>
                        </div>


                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="submit" value="Create" class="btn btn-primary">Submit</button>
                            @*<button type="submit" value="Create" class="btn btn-save" style="background-color:darkgray">Save changes</button>*@
                        </div>
                    </div>
                    @*</form>*@
                </div>



        </div>

    </div>

}


@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });
    </script>
}



<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>

<script src="~/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>

<script src="~/admin/dist/js/waves.js"></script>

<script src="~/admin/dist/js/sidebarmenu.js"></script>

<script src="~/admin/dist/js/custom.min.js"></script>

<script src="~/admin/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
<script src="~/admin/dist/js/pages/mask/mask.init.js"></script>
<script src="~/admin/assets/libs/select2/dist/js/select2.full.min.js"></script>
<script src="~/admin/assets/libs/select2/dist/js/select2.min.js"></script>
<script src="~/admin/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
<script src="~/admin/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
<script src="~/admin/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
<script src="~/admin/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
<script src="~/admin/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>



