﻿@model Jobportal_design.Models.County_tbl
@{
    ViewData["Title"] = "EditCounty";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

}

<html>
<body onload="GenerateCaptcha();">
    <a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>

    @using (Html.BeginForm("Update", "County", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="modal-dialog modal-lg">
            <div class="modal-content apply-job-form">
                @*<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>*@
                <div class="modal-body pl-30 pr-30 pt-50">
                    <div class="text-center pb-20">
                        <p class="font-sm text-brand-2">Update County Details</p>
                        @*<h2 class="mt-10 mb-5 text-brand-1 text-capitalize">Add Organization category</h2>*@
                    </div>
                    <form class="login-register text-start mt-20 pb-30" action="#">
                        @Html.HiddenFor(model => model.id)
                        <div class="form-group">
                            <label class="form-label" for="input-1">County: *</label>
                            @Html.EditorFor(model => model.county_name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="input-1">County Code: *</label>
                            @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="input-1">Upload County Image: *</label>
                            @Html.HiddenFor(model => model.cnty_pic)
                            @Html.HiddenFor(model => model.cnty_path)
                            <input type="file" name="cnty_pic" placeholder="Image" onchange="return pictureValidation()"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Image'"
                                   class="form-control">
                            @Html.EditorFor(model => model.cnty_pic, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group row">
                            <label class="form-label" for="input-1">Status: *</label>
                            <div class="col-sm-9 radio-type-div01">
                                <div class="custom-control custom-radio">


                                    @Html.RadioButtonFor(m => m.isactive, "Active", Model.isactive == "Active" ? "checked" : string.Empty)
                                    <label class="form-label" for="input-1">Active</label>
                                </div>
                                <div class="custom-control custom-radio">

                                    @Html.RadioButtonFor(m => m.isactive, "InActive", Model.isactive == "InActive" ? "checked" : string.Empty)
                                    <label class="form-label" for="input-1">Active</label>
                                    @Html.HiddenFor(m => m.isactive)



                                </div>
                            </div>
                               
                            </div>
                         

                            <div class="form-group pt-30">
                                <button class="btn btn-default hover-up w-100" type="submit" value="Create">Save</button>
                            </div>
</form>
                </div>
            </div>
        </div>


    }

</body>
</html>
@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });
    </script>
}

<script>
    function profileValidation() {

        var fileInput =
            document.getElementById('s_currency');

        var filePath = fileInput.value;
        alert(filePath);
        // Allowing file type
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif)$/i;

        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type');
            fileInput.value = '';
            return false;
        }
    }

</script>
<style>
    .radio-type-div01 {
        display: flex;
    }

    .custom-control.custom-radio {
        display: flex;
        align-items: center;
    }

        .custom-control.custom-radio:first-child {
            margin-right: 25px;
        }

        .custom-control.custom-radio label {
            margin-bottom: 0px;
        }

        .custom-control.custom-radio [type=radio] {
            height: 18px;
            width: 18px;
            margin-right: 5px;
        }
</style>