﻿
@model Jobportal_design.Models.seek_tbl
@{
    ViewData["Title"] = "View Seeker";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/admin/assets/libs/select2/dist/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/admin/assets/libs/jquery-minicolors/jquery.minicolors.css">
<link rel="stylesheet" type="text/css" href="~/admin/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">




@using (Html.BeginForm("", "Seek", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                @*<form class="form-horizontal">*@
                <div class="card-body">
                    <h4 class="card-title">View Profile</h4>
                    @Html.HiddenFor(model => model.id)
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">First Name</label>
                        <div class="col-sm-9">

                            @Html.EditorFor(model => model.fname, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Last Name</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.lname, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Email</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.email_id, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Password</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.e_password, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Address</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.seekaddress, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Address</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.seekaddress, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">City</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.dist_name, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">State</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.state_name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Country</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.county_name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                    </div>

                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Contact 1</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.contact1, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Contact 2</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.contact2, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Phone (Cell)</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Primary language</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.primary_lng, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Secondary language</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.secondary_lng, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Racial</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.racial, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Gender</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.gender, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Disability</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.disability, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">DOB</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Upload Resume</label>

                        <div class="col-sm-9">

                            @Html.EditorFor(model => model.s_resume, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Profile Picture</label>

                        <div class="col-sm-9">

                            @Html.EditorFor(model => model.s_pic, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">About Me</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.about_me, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Skills</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.list_skill, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                </div>

            </div>
            <div class="border-top">
                <div class="card-body">
                    <button id="btnClose" type="button" class="btn btn-secondary">Close</button>
                    @*<button type="submit" value="Update" class="btn btn-primary">Submit</button>
                        <button type="submit" value="Create" class="btn btn-save" style="background-color:darkgray">Save changes</button>*@
                </div>
            </div>
            @*</form>*@
        </div>



    </div>



}






<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>

<script src="~/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>

<script src="~/admin/dist/js/waves.js"></script>

<script src="~/admin/dist/js/sidebarmenu.js"></script>

<script src="~/admin/dist/js/custom.min.js"></script>

<script src="~/admin/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
<script src="~/admin/dist/js/pages/mask/mask.init.js"></script>
<script src="~/admin/assets/libs/select2/dist/js/select2.full.min.js"></script>
<script src="~/admin/assets/libs/select2/dist/js/select2.min.js"></script>
<script src="~/admin/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
<script src="~/admin/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
<script src="~/admin/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
<script src="~/admin/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
<script src="~/admin/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<script>
    function profileValidation() {

        var fileInput =
            document.getElementById('s_currency');

        var filePath = fileInput.value;
        alert(filePath);
        // Allowing file type
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif)$/i;

        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type');
            fileInput.value = '';
            return false;
        }
    }

</script>
<script>

        $("#btnClose").click(function () {
            window.history.back();
            //window.location = "../Profile";
        });
</script>

