﻿
@model Jobportal_design.Models.seekexperience_tbl
@{
    ViewData["Title"] = "Edit Experience details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job board HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/assets/css/price_rangs.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
</head>

<body>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparrent">
            <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html"><img src="~/assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a href="index.html">Home</a></li>
                                            @*<li><a href="job_listing.html">Find a Jobs </a></li>*@
                                            @*<li><a href="about.html">About</a></li>*@
                                            @*<li>
                                                    <a href="#">Page</a>
                                                    <ul class="submenu">

                                                        <li><a href="blog.html">Blog</a></li>
                                                        <li><a href="single-blog.html">Blog Details</a></li>
                                                        <li><a href="elements.html">Elements</a></li>
                                                        <li><a href="job_details.html">job Details</a></li>
                                                    </ul>
                                                </li>*@
                                            <li>
                                                <a href="#">General</a>
                                                <ul class="submenu">

                                                    <li><a href="@Url.Action("Currencylist", "Currency")">Currency</a></li>
                                                    <li><a href="@Url.Action("Countrylist", "Country")">Country</a></li>
                                                    <li><a href="@Url.Action("Statelist", "State")">State</a></li>
                                                    <li><a href="@Url.Action("Districtlist", "District")">District</a></li>
                                                    <li><a href="@Url.Action("Locationlist", "Location")">Location</a></li>

                                                </ul>
                                            </li>
                                            @*<li>
                                                    <a href="#">Organization</a>
                                                    <ul class="submenu">
                                                        <li><a href="@Url.Action("Org_cat_list", "Org_cat")">Category</a></li>
                                                        <li><a href="@Url.Action("Orglist", "Org")">Physical Details</a></li>
                                                        <li><a href="@Url.Action("Org_contlist", "Org_cont")">Contact Details</a></li>
                                                        <li><a href="@Url.Action("Org_memlist", "Org_mem")">Members Details</a></li>

                                                    </ul>
                                                </li>*@


                                            <li>
                                                <a href="@Url.Action("Profile", "Jobseeker")">Jobseeker</a>

                                            </li>
                                            <li>
                                                <a href="@Url.Action("Registration", "Employeer")">Employeer</a>

                                            </li>
                                            @*<li><a href="contact.html">Contact</a></li>*@
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Header-btn -->
                                <div class="header-btn d-none f-right d-lg-block">
                                    <a href="#" class="btn head-btn1">Register</a>
                                    <a href="#" class="btn head-btn2">Login</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div style="height: 150px; display: block; background-color: #1F2B7BCC"><h3 style="color: white; text-align: center; padding-top: 50px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px ">User Experience Details</h3></div>
        @*<div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Jobseeker</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
    <!-- Hero Area End -->
    <!-- Start Sample Area -->
    <!-- End Sample Area -->
    <!-- Start Button -->
    <!-- End Button -->
    <!-- Start Align Area -->
    @using (Html.BeginForm("Updateexperience", "Jobseeker", FormMethod.Post, new { @id = "CNenrollment" }))
    {
        <div class="whole-wrap">
            <div class="container box_1170">







                <div class="section-top-border">
                    <div class="row">


                        <div class="modal-body">
                            <form>
                                <div class="form-row">
                                    <div class="col-md-6 mb-6">
                                        <label for="validationDefault01">Employer Name</label>
                                        @Html.EditorFor(model => model.employername, new { htmlAttributes = new { @class = "single-input" } })


                                    </div>
                                    <div class="col-md-6 mb-6">
                                        <label for="validationDefault02">Type of Employment</label>

                                        <div class="input-group-icon mt-10">
                                            <div class="icon"><i class="" aria-hidden="true"></i></div>
                                            <div class="form-select" id="default-select">
                                                <select id="employmenttype" name="employmenttype">
                                                    <option value="0">Select Employment</option>
                                                    <option value="Full Time">Full Time</option>
                                                    <option value="Part Time">Part Time</option>
                                                    <option value="InOffice">InOffice</option>
                                                    <option value="Remote">Remote</option>
                                                    <option value="Hybrid">Hybrid</option>
                                                    <option value="Others">Others</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 mb-6">
                                        <label for="validationDefault01">Designation</label>
                                        @Html.HiddenFor(model => model.id)
                                        @Html.HiddenFor(model => model.seek_id)
                                        @Html.EditorFor(model => model.designation, new { htmlAttributes = new { @class = "single-input" } })

                                    </div>
                                    <div class="col-md-6 mb-6">
                                        <label for="validationDefault02">From Date</label>
                                        @Html.EditorFor(model => model.from_date, new { htmlAttributes = new { @class = "single-input" } })

                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 mb-6">
                                        <label for="validationDefault01">CTC(per year)</label>
                                        @Html.EditorFor(model => model.ctc, new { htmlAttributes = new { @class = "single-input" } })

                                    </div>
                                    <div class="col-md-6 mb-6">
                                        <label for="validationDefault02">To Date</label>
                                        @Html.EditorFor(model => model.to_date, new { htmlAttributes = new { @class = "single-input" } })

                                    </div>

                                </div>



                                <div class="form-row">
                                    <div class="col-md-6 mb-6">
                                        <label for="validationDefault01">List of Skills</label>
                                        @Html.EditorFor(model => model.skills, new { htmlAttributes = new { @class = "single-input" } })

                                    </div>


                                </div>

                                <br />
                                <button type="button" class="btn btn-save" style="background-color: #152947;">Close</button>

                                <button type="submit" value="Update" class="btn btn-save" style="background-color: #152947;">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }

    <!-- End Align Area -->
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>About Us</h4>
                                    <div class="footer-pera">
                                        <p>Heaven frucvitful doesn't cover lesser dvsays appear creeping seasons so behold.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contact Info</h4>
                                <ul>
                                    <li>
                                        <p>
                                            Address :Your address goes
                                            here, your demo address.
                                        </p>
                                    </li>
                                    <li><a href="#">Phone : +8880 44338899</a></li>
                                    <li><a href="#">Email : info@colorlib.com</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Important Link</h4>
                                <ul>
                                    <li><a href="#"> View Project</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Testimonial</a></li>
                                    <li><a href="#">Proparties</a></li>
                                    <li><a href="#">Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Newsletter</h4>
                                <div class="footer-pera footer-pera2">
                                    <p>Heaven fruitful doesn't over lesser in days. Appear creeping.</p>
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="row footer-wejed justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <!-- logo -->
                        <div class="footer-logo mb-20">
                            <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-tittle-bottom">
                            <span>5000+</span>
                            <p>Talented Hunter</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-tittle-bottom">
                            <span>451</span>
                            <p>Talented Hunter</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <!-- Footer Bottom Tittle -->
                        <div class="footer-tittle-bottom">
                            <span>568</span>
                            <p>Talented Hunter</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-10 col-lg-10 ">
                            <div class="footer-copy-right">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/price_rangs.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/animated.headline.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/assets/js/contact.js"></script>
    <script src="~/assets/js/jquery.form.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/mail-script.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>

</body>
</html>

