﻿@model IEnumerable<Jobportal_design.Models.seek_tbl>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

}
<link rel="stylesheet" type="text/css" href="~/admin/assets/extra-libs/multicheck/multicheck.css">
<link href="~/admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/new-style.css" rel="stylesheet" />
<a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>

<section class="section-box box-content p-0 mt-5">
    <div class="breacrumb-cover01 bg-img-about01">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 card card-body p-4 text-center">
                    <h3 class="mb-10 color-brand-2 py-0" style="font-weight: 700;">Job Seeker Details</h3>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-12">



        <div class="card">

            <div class="card-body">
                @*<input type="button" class="btn btn-primary" style="float: right;" value="Add Country" onclick="location.href='@Url.Action("AddCountry", "Country")'" />*@

                <br />
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>

                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email ID</th>
                                <th>Registration Date</th>

                                @*<th>Contact</th>*@
                                <th>Password</th>
                                <th>Status</th>
                                <th>Applied Jobs</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                string registration_date = item.registration_date.ToString("MM/dd/yyyy");
                                //bool str = item.status;
                                //string str1 = str.ToString();
                                //int seektype = item.seeker_type;
                                //if (seektype == 1)
                                //{
                                //    seek_type = "Paid";
                                //}
                                //if (seektype == 2)
                                //{
                                //    seek_type = "Premium";
                                //}
                                //if (seektype == 0)
                                //{
                                //    seek_type = "Free";
                                //}
                            <tr>
                                <td>
                                    <a href="@Url.Action("Admin_seek_Profile", "Jobseeker",new { id = @item.id })" style="color: blue; cursor: pointer;">@Html.DisplayFor(modelItem => item.fname)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.lname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email_id)
                                </td>



                                <td>
                                    @*@Html.DisplayFor(modelItem => item.registration_date)*@
                                    @Html.DisplayFor(modelItem => registration_date)
                                </td>
                                <td>
                                    @*@Html.ActionLink("Change Password", "Admin_passwordchange", "Employer", new { id = @item.id }, new { @class = "btn btn-primary" })*@
                                    <p style="text-decoration: underline;"><a href="@Url.Action("Seeker_passwordchange", "Superadmin",new { id = @item.id })"style="color:blue;">@Html.DisplayFor(modelItem => item.e_password)</a></p>
                                </td>

                              

                                <td>
                                    @if (item.status == "Active")
                                    {
                                        <a class="modAct" href="@Url.Action("EditProfile", "Employer", new { id = @item.id })"
                                           data-status="@item.status" data-id="@item.id"
                                           data-toggle="modal" data-target="#ModalApplyJobForm1" data-url="@Url.Action("EditProfile", "Jobseeker", new { id = @item.id })" style="color:blue;"> @Html.DisplayFor(modelItem => item.status)</a>
                                    }
                                    else
                                    {
                                        <a class="modAct" href="@Url.Action("EditProfile", "Employer", new { id = @item.id })"
                                           data-status="@item.status" data-id="@item.id"
                                           data-toggle="modal" data-target="#ModalApplyJobForm1" data-url="@Url.Action("EditProfile", "Jobseeker", new { id = @item.id })" style="color:red"> @Html.DisplayFor(modelItem => item.status)</a>
                                    }
                                </td>



                                <td>
                                    @if (item.appliedCount == 0)
                                    {
                                        <a style="color: red; font-size: 13px; font-weight: 600;">No Applied Jobs</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-apply" href="@Url.Action("Admin_seek_Appliedjobdetail", "Jobseeker",new { id = @item.id })" style="color: blue; font-size: 12px;">Applied Jobs(@Html.DisplayFor(modelItem => item.appliedCount))</a>
                                    }
                                    @*@Html.ActionLink("Applied Jobs", "Admin_seek_Appliedjobdetail", "Jobseeker", new { id = @item.id }, new { @class = "btn btn-apply" })@item.appliedCount*@
                                </td>

                            </tr>



                            }


                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("seeker_status", "Jobseeker", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="ModalApplyJobForm1" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content apply-job-form">
                <button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body pl-30 pr-30 pt-50">
                    <input type="hidden" id="passedId" name="passedId" value="passedId">
                    <input type="hidden" id="activeStat" name="activeStat" value="activeStat" />
                    <div class="text-center">
                        <p class="font-sm text-brand-2">Change Status  </p>

                    </div>
                    <br />
                    <br /><br />
                    <form class="login-register text-start mt-20 pb-30" action="#">
                        <h5>Do you want to change status ?</h5>
                        <br /><br /><br /><br />
                        <div class="form-group" style="float:right">
                            <button class="btn btn-default hover-up" type="submit" name="login" onclick="StatusChangeFunc()">Yes</button>
                            <button class="btn btn-default hover-up" type="button" data-dismiss="modal" aria-label="Close">No</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });
    </script>
}
<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="~/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="~/admin/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/admin/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="~/admin/dist/js/custom.min.js"></script>
<!-- this page js -->
<script src="~/admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="~/admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="~/admin/assets/extra-libs/DataTables/datatables.min.js"></script>
<script>
    /****************************************
     *       Basic Table                   *
     ****************************************/
    $('#zero_config').DataTable();

      $(document).on("click", ".modAct", function () {
        var passedStatus = $(this).data('status');
        var passedId = $(this).data('id');
        $(".modal-body #passedId").val(passedId);
        $(".modal-body #activeStat").val(passedStatus);
                
            });

        function valueChanged() {
            if (document.getElementById("OrgAct").checked == true) {
                document.getElementById("OrgAct").value = 1;
                document.getElementById("OrgInAct").value = 0;
            } else {
                document.getElementById("OrgAct").value = 0;
                document.getElementById("OrgInAct").value = 1;
            }
        }

    function StatusChangeFunc() {
        var activeStat = document.getElementById("activeStat").value;
        // $(".modal-body #activeStat").val(activeStat);
        var passedId = document.getElementById('passedId').value;
            @*var url = "@Url.Action("Index1", "Jobseeker")" + "?year=" + year + "&month=" + month;*@
        var url = "@Url.Action("Org_Emp_status", "Employer")" + "?activeStat=" + activeStat + "&passedId=" + passedId;
        window.location.href = url;

    }
</script>





