﻿@using Jobportal_design.Models;
@model dynamic

@{
    ViewData["Title"] = "Admin_seek_Profile";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<link href="~/css/new-style.css" rel="stylesheet" />
<body>
    
    <a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>

    <section class="section-box-2 sidebar-border">
        <div class="container">
            <div class="banner-hero banner-image-single"><img src="~/imgs/page/candidates/img.png" alt="jobbox"></div>
            <div class="box-company-profile">
                <div class="image-compay">
                    @if (ViewBag.profilepic == null)
                    {
                        <figure> <img width="100" height="100" src="~/imgs/page/candidates/candidate_profile1.png" alt="loading.."></figure>
                    }
                    else
                    {
                        <figure> <img width="100" height="100" src="~/Jobseeker_uploads/@(ViewBag.profilepic)" alt="loading.."></figure>
                        @*<img src="~/imgs/page/candidates/candidate_profile1.png" alt="loading.." style="width:47%">*@
                    }
                </div>
                @*<div class="image-compay"><img src="~/Jobseeker_uploads/@(ViewBag.profilepic)" alt="jobbox" style="width:45%"></div>*@
                <div class="row mt-10">
                    <div class="col-lg-8 col-md-12">
                        <h5 class="f-18">@ViewBag.name <span class="card-location font-regular ml-20">@ViewBag.city</span></h5>
                        <p class="mt-0 font-md color-text-paragraph-2 mb-15">@ViewBag.email</p>
                        <div class="mt-10 mb-15"><img src="~/imgs/template/icons/star.svg" alt="jobbox"><img src="~/imgs/template/icons/star.svg" alt="jobbox"><img src="~/imgs/template/icons/star.svg" alt="jobbox"><img src="~/imgs/template/icons/star.svg" alt="jobbox"><img src="~/imgs/template/icons/star.svg" alt="jobbox"><span class="font-xs color-text-mutted ml-10">(66)</span><img class="ml-30" src="~/imgs/page/candidates/verified.png" alt="jobbox"></div>
                    </div>
                    <div class="col-lg-4 col-md-12 text-lg-end"><a class="btn btn-download-icon btn-apply btn-apply-big" href="~/Jobseeker_uploads/@(ViewBag.resume)">Resume</a></div>
                </div>
            </div>            
            @*<div class="border-bottom pt-10 pb-10"></div>*@
        </div>
    </section>
    <section  class="section-box-2 sidebar-border mb-5">
        <div class="box-nav-tabs mt-5 mb-5">
            <ul class="nav" role="tablist">
                <li><a class="btn btn-border aboutus-icon mr-15 mb-5 active" href="#tab-short-bio" data-bs-toggle="tab" role="tab" aria-controls="tab-short-bio" aria-selected="true">Short Bio</a></li>
                <li><a class="btn btn-border recruitment-icon mr-15 mb-5" href="#tab-skills" data-bs-toggle="tab" role="tab" aria-controls="tab-skills" aria-selected="false">Education</a></li>
                <li><a class="btn btn-border people-icon mb-5" href="#tab-work-experience" data-bs-toggle="tab" role="tab" aria-controls="tab-work-experience" aria-selected="false">Work Experience</a></li>
            </ul>
        </div>
    </section>
    <section class="section-box mt-5">
        <div class="container px-0">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="content-single sidebar-border mb-0">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-short-bio" role="tabpanel" aria-labelledby="tab-short-bio">
                                <h4>About Me</h4>
                                <p>@ViewBag.aboutme.</p>

                                <p></p>
                                <h4>Skills</h4>
                                <ul>
                                    <li>@ViewBag.skill</li>

                                </ul>
                                <h4>Languages</h4>
                                <p><span style="color: darkgray;">Primary Language :</span>@ViewBag.primaryLang</p>
                                @*<p><span style="color: darkgray;">Secondary Language :</span>@ViewBag.secondaryLang</p>*@
                            </div>
                            <div class="tab-pane fade" id="tab-skills" role="tabpanel" aria-labelledby="tab-skills">
                                <h4>Education</h4>
                                @*<a href="@Url.Action("Educationdetails", "Jobseeker")"><span style="float: right; font-size: 20px; margin-top: -39px;" class="fi fi-rr-plus" title="Add Education" data-toggle="tooltip"></span></a>*@


                                @if (ViewBag.seekeducation != null)
                                {
                                    @foreach (var item in ViewBag.seekeducation)
                                    {
                                        <div class="col-xl-12 col-12">
                                            <div class="card-grid-2 hover-up wow animate__animated animate__fadeIn">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <div class="card-grid-2-image-left">
                                                            @*<div class="image-box"><img src="~/imgs/brands/brand-6.png" alt="jobBox"></div>*@
                                                            <div class="right-info"><a class="name-job" href=""></a><span class="location-small"></span></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 text-start text-md-end pr-60 col-md-6 col-sm-12">
                                                        <div class="pl-15 mb-15 mt-30">

                                                            @*<a class="btn btn-grey-small mr-5" href="@Url.Action("Editeducation", "Jobseeker",new { id = @item.id })">Edit</a>*@
                                                            <!-- <a class="btn btn-grey-small mr-5" href="@Url.Action("Educationdetails", "Jobseeker",new { id = @item.id })">Add</a>-->
                                                            @*<a class="btn btn-grey-small mr-5" href="@Url.Action("Removeeducation", "Jobseeker",new { id = @item.id})">Delete</a>*@

                                                            @*<form asp-action="Removeeducation" asp-route-id="@item.id" method="post" style="display: inline;">
                                                                    <button type="submit" class="fa fa-trash-o" style="font-size: 24px; color: red; border: none; outline: none;" onclick="return functionConfirm(this)">
                                                                    </button>
                                                                </form>*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-block-info">
                                                    <h4><a>@item.schoolattended - @item.lastgrade</a></h4>
                                                    <div class="mt-5"><span class="card-briefcase">Year :</span><span class="card-time"><span>5</span><span> </span></span></div>
                                                    <p class="font-sm color-text-paragraph mt-10">@item.collegeattended - @item.degreereceived.</p>
                                                    <p class="font-sm color-text-paragraph mt-10">Certificate received : @item.certificatereceived.</p>
                                                    <p class="font-sm color-text-paragraph mt-10">Academic accomplishments : @item.academic.</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="tab-pane fade" id="tab-work-experience" role="tabpanel" aria-labelledby="tab-work-experience">
                                <h4>Work Experiences </h4> 
                                @*<a href="@Url.Action("Experiencedetails", "Jobseeker")"><span style="float: right; font-size: 20px; margin-top: -39px;" class="fi fi-rr-plus" title="Add Experience" data-toggle="tooltip"></span></a>*@
                                @*<a href="@Url.Action("Experiencedetails", "Jobseeker")"><span style="float: right; font-size: 20px; margin-top: -39px;" class="fi fi-rr-plus" title="Add Experience" data-toggle="tooltip"></span></a>*@
                                @if (ViewBag.seekexperience != null)
                                {
                                    @foreach (var item in ViewBag.seekexperience)
                                    {

                                        <div class="col-xl-12 col-12">
                                            <div class="card-grid-2 hover-up wow animate__animated animate__fadeIn">
                                                <span class="flash"></span>
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <div class="card-grid-2-image-left">
                                                            @*<div class="image-box"><img src="~/imgs/brands/brand-6.png" alt="jobBox"></div>*@
                                                            @*<div class="right-info"><a class="name-job" href=""></a><span class="location-small"></span></div>*@
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 text-start text-md-end pr-60 col-md-6 col-sm-12">
                                                        <div class="pl-15 mb-15 mt-30">
                                                            @*<a class="btn btn-grey-small mr-5" href="@Url.Action("Editexperience", "Jobseeker",new { id = @item.id})">Edit</a>
                                                                <a class="btn btn-grey-small mr-5" href="@Url.Action("Removeexperience", "Jobseeker",new { id = @item.id})">Delete</a>*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-block-info">
                                                    <h4><a href="">@item.designation </a></h4>
                                                    <div class="mt-5"><span class="card-briefcase">@item.employmenttype</span><span class="card-time"><span>@item.from_date.ToString("MM/dd/yyyy")</span><span>&nbsp;-&nbsp; @item.to_date.ToString("MM/dd/yyyy")</span></span></div>
                                                    <p class="font-sm color-text-paragraph mt-10">Employer Name: @item.employername</p>
                                                    <p class="font-sm color-text-paragraph mt-10">List of Skills: @item.skills</p>
                                                    @*<p class="font-sm color-text-paragraph mt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                                        <div class="card-2-bottom mt-20">
                                                            <div class="row">
                                                                <div class="col-lg-7 col-7"><span class="card-text-price">Status:<span class="text-success">Done</span></span></div>
                                                                <div class="col-lg-5 col-5 text-end"><a class="btn btn-apply-now" href="job-details.html">View Details</a></div>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    @*<div class="box-related-job content-page">
                            <h3 class="mb-30">Work History</h3>
                            <div class="box-list-jobs display-list">
                                <div class="col-xl-12 col-12">
                                    <div class="card-grid-2 hover-up wow animate__animated animate__fadeIn">
                                        <span class="flash"></span>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="card-grid-2-image-left">
                                                    <div class="image-box"><img src="~/imgs/brands/brand-6.png" alt="jobBox"></div>
                                                    <div class="right-info"><a class="name-job" href="">Quora JSC</a><span class="location-small">New York, US</span></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 text-start text-md-end pr-60 col-md-6 col-sm-12">
                                                <div class="pl-15 mb-15 mt-30"><a class="btn btn-grey-small mr-5" href="#">Adobe XD</a><a class="btn btn-grey-small mr-5" href="#">Figma</a></div>
                                            </div>
                                        </div>
                                        <div class="card-block-info">
                                            <h4><a href="job-details.html">Senior System Engineer</a></h4>
                                            <div class="mt-5"><span class="card-briefcase">Part time</span><span class="card-time"><span>5</span><span> days ago</span></span></div>
                                            <p class="font-sm color-text-paragraph mt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                            <div class="card-2-bottom mt-20">
                                                <div class="row">
                                                    <div class="col-lg-7 col-7"><span class="card-text-price">Status:<span class="text-success">Done</span></span></div>
                                                    <div class="col-lg-5 col-5 text-end"><a class="btn btn-apply-now" href="job-details.html">View Details</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-12">
                                    <div class="card-grid-2 hover-up wow animate__animated animate__fadeIn">
                                        <span class="flash"></span>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="card-grid-2-image-left">
                                                    <div class="image-box"><img src="~/imgs/brands/brand-7.png" alt="jobBox"></div>
                                                    <div class="right-info"><a class="name-job" href="">Nintendo</a><span class="location-small">New York, US</span></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 text-start text-md-end pr-60 col-md-6 col-sm-12">
                                                <div class="pl-15 mb-15 mt-30"><a class="btn btn-grey-small mr-5" href="#">Adobe XD</a><a class="btn btn-grey-small mr-5" href="#">Figma</a></div>
                                            </div>
                                        </div>
                                        <div class="card-block-info">
                                            <h4><a href="job-details.html">Products Manager</a></h4>
                                            <div class="mt-5"><span class="card-briefcase">Full time</span><span class="card-time"><span>6</span><span> days ago</span></span></div>
                                            <p class="font-sm color-text-paragraph mt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                            <div class="card-2-bottom mt-20">
                                                <div class="row">
                                                    <div class="col-lg-7 col-7"><span class="card-text-price">Status:<span class="text-success">Done</span></span></div>
                                                    <div class="col-lg-5 col-5 text-end"><a class="btn btn-apply-now" href="job-details.html">View Details</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-12">
                                    <div class="card-grid-2 hover-up wow animate__animated animate__fadeIn">
                                        <span class="flash"></span>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="card-grid-2-image-left">
                                                    <div class="image-box"><img src="~/imgs/brands/brand-8.png" alt="jobBox"></div>
                                                    <div class="right-info"><a class="name-job" href="">Periscope</a><span class="location-small">New York, US</span></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 text-start text-md-end pr-60 col-md-6 col-sm-12">
                                                <div class="pl-15 mb-15 mt-30"><a class="btn btn-grey-small mr-5" href="#">Adobe XD</a><a class="btn btn-grey-small mr-5" href="#">Figma</a></div>
                                            </div>
                                        </div>
                                        <div class="card-block-info">
                                            <h4><a href="job-details.html">Lead Quality Control QA</a></h4>
                                            <div class="mt-5"><span class="card-briefcase">Full time</span><span class="card-time"><span>6</span><span> days ago</span></span></div>
                                            <p class="font-sm color-text-paragraph mt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                            <div class="card-2-bottom mt-20">
                                                <div class="row">
                                                    <div class="col-lg-7 col-7"><span class="card-text-price">Status:<span class="text-success">Done</span></span></div>
                                                    <div class="col-lg-5 col-5 text-end"><a class="btn btn-apply-now" href="job-details.html">View Details</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="paginations">
                                <ul class="pager">
                                    <li><a class="pager-prev" href="#"></a></li>
                                    <li><a class="pager-number" href="#">1</a></li>
                                    <li><a class="pager-number" href="#">2</a></li>
                                    <li><a class="pager-number" href="#">3</a></li>
                                    <li><a class="pager-number" href="#">4</a></li>
                                    <li><a class="pager-number" href="#">5</a></li>
                                    <li><a class="pager-number active" href="#">6</a></li>
                                    <li><a class="pager-number" href="#">7</a></li>
                                    <li><a class="pager-next" href="#"></a></li>
                                </ul>
                            </div>
                        </div>*@
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12 pl-40 pl-lg-15 mt-lg-30">
                    <div class="sidebar-border">
                        <h5 class="f-18">Overview</h5>
                        <div class="sidebar-list-job">
                            <ul>
                                <li>
                                    <div class="sidebar-icon-item"><i class="fi-rr-briefcase"></i></div>
                                    <div class="sidebar-text-info"><span class="text-description">Previously Work</span><strong class="small-heading">@ViewBag.highest_workHistory</strong></div>
                                </li>
                                <li>
                                    <div class="sidebar-icon-item"><i class="fi-rr-users"></i></div>
                                    <div class="sidebar-text-info"><span class="text-description">Gender</span><strong class="small-heading">@ViewBag.gender</strong></div>
                                </li>
                                <li>
                                    <div class="sidebar-icon-item"><i class="fi-rr-marker"></i></div>
                                    <div class="sidebar-text-info"><span class="text-description">Primary Language</span><strong class="small-heading">@ViewBag.primaryLang</strong></div>
                                </li>
                                @*<li>
                                        <div class="sidebar-icon-item"><i class="fi-rr-marker"></i></div>
                                        <div class="sidebar-text-info"><span class="text-description">Secondary Language</span><strong class="small-heading">@ViewBag.secondaryLang</strong></div>
                                    </li>*@
                                <li>
                                    <div class="sidebar-icon-item"><i class="fi-rr-time-fast"></i></div>
                                    <div class="sidebar-text-info"><span class="text-description">Highest Degree</span><strong class="small-heading">@ViewBag.highest_degree</strong></div>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-list-job">
                            <ul class="ul-disc">
                                <li>Address: @ViewBag.Address</li>
                                <li>City: @ViewBag.city</li>
                                <li>County: @ViewBag.county</li>
                                <li>Phone1: @ViewBag.phone</li>
                                <li>Phone2: @ViewBag.phone1</li>
                                <li>Email: @ViewBag.email</li>
                            </ul>
                            <div class="mt-30"><a class="btn btn-send-message" href="page-contact.html">Send Message</a></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</body>
@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });
    </script>
}
