﻿@*@model Jobportal_design.Models.app_job_tbl*@
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string reDirect = null;
    string active = null;
    if (ViewBag.reDirect != null)
    {
        reDirect = ViewBag.reDirect.ToString();
        active = ViewBag.ActiveTab.ToString();
    }
}

@section scripts{
    <script>
        $("#btnBack").click(function () {
            window.history.back();
        });

        $(function () {
            $("#appliedJobs").addClass("active");
            var reDirect = '@reDirect';
        if (reDirect == "true") {
        var selector = '@active';
    $("#" + selector).addClass("show");
    $("#" + selector).addClass("active");
    $("#tab-applied-jobs").removeClass("show");
            $("#tab-applied-jobs").removeClass("active");
            if (selector == "tab-my-profile") {
                $("#appliedJobs").removeClass("active");
                $("#mProfile").addClass("active");
            }
            if (selector == "tab-saved-jobs") {
                $("#appliedJobs").removeClass("active");
                $("#savedJobs").addClass("active");
            }

        }

        });

        function showMore(job_regId) {

            var job_reg_id = job_regId;
            //var id = document.getElementById('hid1').value;
            document.getElementById(`vmore_${job_reg_id}`).style.display = 'none';
            document.getElementById(`vmr_${job_reg_id}`).style.display = 'none';
            document.getElementById(`vless_${job_reg_id}`).style.display = 'block';
            document.getElementById(`vls_${job_reg_id}`).style.display = 'block';
        }

        function showLess(job_regId) {
            // var id = document.getElementById('hid1').value;
            var job_reg_id = job_regId;
            document.getElementById(`vmore_${job_reg_id}`).style.display = 'block';
            document.getElementById(`vmr_${job_reg_id}`).style.display = 'block';
            document.getElementById(`vless_${job_reg_id}`).style.display = 'none';
            document.getElementById(`vls_${job_reg_id}`).style.display = 'none';
        }
    </script>
    <script>
        $.fn.pageMe = function (opts) {
            var $this = this,
                defaults = {
                    perPage: 10,
                    showPrevNext: false,
                    hidePageNumbers: false
                },
                settings = $.extend(defaults, opts);
            console.log(settings)
            var listElement = $this;
            var perPage = settings.perPage;
            var children = listElement.children();
            var pager = $('.pager');

            if (typeof settings.childSelector != "undefined") {
                children = listElement.find(settings.childSelector);
            }

            if (typeof settings.pagerSelector != "undefined") {
                pager = $(settings.pagerSelector);
            }

            var numItems = children.size();
            var numPages = Math.ceil(numItems / perPage);

            pager.data("curr", 0);

            if (settings.showPrevNext) {
                $('<li><a href="#" class="pager-prev"></a></li>').appendTo(pager);
            }

            var curr = 0;
            // Added class and id in li start
            while (numPages > curr && (settings.hidePageNumbers == false)) {
                $('<li id="pg' + (curr + 1) + '" class="pg"><a href="#" class="page_link">' + (curr + 1) + '</a></li>').appendTo(pager);
                curr++;
            }
            // Added class and id in li end

            if (settings.showPrevNext) {
                $('<li><a href="#" class="pager-next"></a></li>').appendTo(pager);
            }

            pager.find('.page_link:first').addClass('active');
            pager.find('.pager-prev').hide();
            if (numPages <= 1) {
                pager.find('.pager-next').hide();
            }
           // pager.children().eq(1).addClass("active");

            children.hide();
            children.slice(0, perPage).show();
            if (numPages > 3) {
                $('.pg').hide();
                $('#pg1,#pg2,#pg3').show();
                $("#pg3").after($("<li class='ell'>").html("<span>...</span>"));
            }

            pager.find('li .page_link').click(function () {
                var clickedPage = $(this).html().valueOf() - 1;
                goTo(clickedPage, perPage);
                return false;
            });
            pager.find('li .pager-prev').click(function () {
                previous();
                return false;
            });
            pager.find('li .pager-next').click(function () {
                next();
                return false;
            });

            function previous() {
                var goToPage = parseInt(pager.data("curr")) - 1;
                $('.pg').children().eq(goToPage + 1).removeClass("active");
                goTo(goToPage);
            }

            function next() {
                goToPage = parseInt(pager.data("curr")) + 1;
                goTo(goToPage);
            }

            function goTo(page) {
                var startAt = page * perPage,
                    endOn = startAt + perPage;

                // Added few lines from here start

                $('.pg').hide();
                $(".ell").remove();
                var prevpg = $("#pg" + page).show();
                var currpg = $("#pg" + (page + 1)).show();
                var nextpg = $("#pg" + (page + 2)).show();
                if (prevpg.length == 0) nextpg = $("#pg" + (page + 3)).show();
                if (prevpg.length == 1 && nextpg.length == 0) {
                    prevpg = $("#pg" + (page - 1)).show();
                }
                $("#pg1").show()
                if (curr > 3) {
                    if (page > 1) prevpg.before($("<li class='ell'>").html("<span>...</span>"));
                    if (page < curr - 2) nextpg.after($("<li class='ell'>").html("<span>...</span>"));
                }

                if (page <= numPages - 3) {
                    $("#pg" + numPages.toString()).show();
                }
                currpg.addClass("active").siblings().removeClass("active");
                // Added few lines till here end


                children.css('display', 'none').slice(startAt, endOn).show();

                if (page >= 1) {
                    pager.find('.pager-prev').show();
                } else {
                    pager.find('.pager-prev').hide();
                }

                if (page < (numPages - 1)) {
                    pager.find('.pager-next').show();
                } else {
                    pager.find('.pager-next').hide();
                }

                pager.data("curr", page);
                if ($('.pg').children().eq(page - 1).hasClass("active")) {
                    $('.pg').children().eq(page - 1).removeClass("active");
                }
                if ($('.pg').children().eq(page + 1).hasClass("active")) {
                    $('.pg').children().eq(page + 1).removeClass("active");
                }
                $('.pg').children().eq(page).addClass("active");
                var fp = (page * 10)+1;
                var tp = (page+1) * 10;
                $("#startP").text(fp.toString());
                if (tp < @ViewBag.appJobCount)
                    $("#endP").text(tp.toString());
                else
                    $("#endP").text(@ViewBag.appJobCount);
                $("#currentP").text((page+1).toString());
                $("#totalP").text(numPages.toString());
                window.scrollTo(0, 250);

            }
        };

        $(document).ready(function () {
            $("#currentP").text("1");
                $("#totalP").text(Math.ceil(@ViewBag.appJobCount/15).toString());
            $('#myTable').pageMe({
                pagerSelector: '#myPager',
                showPrevNext: true,
                hidePageNumbers: false,
                perPage: 10
            });

        });
    </script>
}

<!doctype html>
<html class="no-js" lang="zxx">

<body>
    <a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>
    <section class="section-box-2">
        <div class="container">
            <div class="banner-hero banner-image-single">
                <img src="~/imgs/page/candidates/img.png" alt="jobbox">
                <a class="btn-editor" href="#"></a>
            </div>
            <div class="box-company-profile">


                <div class="image-compay">
                    @if (ViewBag.profilepic == null)
                    {
                        <img width="100" height="100" src="~/imgs/page/candidates/candidate_profile1.png" alt="loading..">
                    }
                    else
                    {
                        <img width="100" height="100" src="~/Jobseeker_uploads/@(ViewBag.profilepic)" alt="loading..">
                        @*<img src="~/imgs/page/candidates/candidate_profile1.png" alt="loading.." style="width:47%">*@
                    }
                </div>

                <div class="row mt-30">
                    <div class="col-lg-10 col-md-12">
                        <h5 class="f-18">
                            @ViewBag.name <span class="card-location font-regular ml-20">@ViewBag.city</span>
                        </h5>
                        @*<p class="mt-0 font-md color-text-paragraph-2 mb-15">UI/UX Designer. Front end Developer</p>*@
                    </div>
                    <div class="col-lg-2 col-md-12 text-lg-end">
                        <a class="btn btn-preview-icon btn-apply-big" href="@Url.Action("Profile", "Jobseeker")">Preview</a>
                    </div>
                </div>
            </div>
            <div class="border-bottom pt-10 pb-10"></div>
        </div>
    </section>
    <section class="section-box mt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="box-nav-tabs nav-tavs-profile mb-5">
                        <ul class="nav" role="tablist">

                            <li>
                                <a class="btn btn-border recruitment-icon mb-20" href="@Url.Action("Profile", "Jobseeker")" style="background: #f1f1f1; color: black;">My Profile</a>

                            </li>
                            <li>
                                <a class="btn btn-border recruitment-icon mb-20" href="@Url.Action("EditProfile", "Jobseeker")" style="background: #f1f1f1; color: black;">Edit Profile</a>
                            </li>
                            @*<li>
                                    <a id="mProfile" class="btn btn-border aboutus-icon mb-20" href="#tab-my-profile" data-bs-toggle="tab" role="tab" aria-controls="tab-my-profile" aria-selected="false" style="background: #f1f1f1; color: black;">Password change</a>
                                </li>*@
                            @*<li>
                                    <a class="btn btn-border recruitment-icon mb-20" href="#tab-my-jobs" data-bs-toggle="tab" role="tab" aria-controls="tab-my-jobs" aria-selected="false">Edit Profile</a>
                                </li>*@

                            <li>
                                <a id="appliedJobs" class="btn btn-border recruitment-icon mb-20" href="#tab-applied-jobs" data-bs-toggle="tab" role="tab" aria-controls="tab-applied-jobs" aria-selected="false" style="b color: black;">Applied Jobs(@ViewBag.appJobCount)</a>
                            </li>
                            <li>
                                <a id="savedJobs" class="btn btn-border people-icon mb-20" href="#tab-saved-jobs" data-bs-toggle="tab" role="tab" aria-controls="tab-saved-jobs" aria-selected="false" style=" color: black;">Saved Jobs(@ViewBag.savedJobCount)</a>
                            </li>
                        </ul>
                        <div class="border-bottom pt-10 pb-10"></div>
                        <div class="mt-20 mb-20">
                            <a class="link-red" href="#">Delete Account ?</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-12 col-12 mb-50">
                    <div class="content-single">
                        <div class="tab-content">
                            <div class="tab-pane fade" id="tab-my-profile" role="tabpanel" aria-labelledby="tab-my-profile">
                                @*<h3 class="mt-0 mb-15 color-brand-1">My Account</h3>*@
                                <a class="font-md color-text-paragraph-2" style="color: blue;font-weight:bold;" href="@Url.Action("EditProfile", "Jobseeker")">Click and Update Profile</a>
                                @*<div class="mt-35 mb-40 box-info-profie">
                                        <div class="image-profile">
                                            <img src="~/imgs/page/candidates/candidate-profile.png" alt="jobbox">
                                        </div>
                                        <a class="btn btn-apply">Upload Avatar</a>
                                        <a class="btn btn-link">Delete</a>
                                    </div>*@
                                <div class="row form-contact">
                                    @using (Html.BeginForm("UpdatePassword", "Jobseeker", FormMethod.Post, new { @id = "CNenrollment" }))
                                    {
                                        <div class="col-lg-6 col-md-12">

                                            <div class="border-bottom pt-10 pb-10 mb-30"></div>
                                            <h6 class="color-orange mb-20">Change your password</h6>


                                            <div class="form-group">
                                                <label class="font-sm color-text-mutted mb-10">Old Password *</label>
                                                <input class="form-control" type="password" id="old_password" name="old_password" placeholder="************">
                                                <i class="fi-rr-eye" onclick="show()" style="top: 70%; left: 445px; "></i>
                                                <input class="form-control" type="hidden" id="e_passwordViewbag" name="e_passwordViewbag" value="@ViewBag.password">
                                            </div>
                                            <p style="color: red;">@TempData["Oldpassword"]</p>


                                            <div class="form-group">
                                                <label class="font-sm color-text-mutted mb-10">New Password *</label>
                                                <input class="form-control" type="password" id="e_password" name="e_password" placeholder="************">
                                                <i class="fi-rr-eye" onclick="show()" style="top: 70%; left: 445px; "></i>
                                            </div>


                                            <div class="form-group">
                                                <label class="font-sm color-text-mutted mb-10">Confirm-Password *</label>
                                                <input class="form-control" type="password" id="retype_password" name="retype_password" placeholder="************">
                                            </div>
                                            <p style="color: red;">@TempData["Repassword"]</p>

                                            <div class="border-bottom pt-10 pb-10"></div>


                                            <div class="box-button mt-15">
                                                <button class="btn btn-apply-big font-md font-bold">Save Password</button>
                                            </div>
                                        </div>
                                    }
                                    @*<div class="col-lg-6 col-md-12">
                                            <div class="box-skills">
                                                <h5 class="mt-0 color-brand-1">Skills</h5>
                                                <div class="form-contact">
                                                    <div class="form-group">
                                                        <input class="form-control search-icon" type="text" value="" placeholder="E.g. Angular, Laravel...">
                                                    </div>
                                                </div>
                                                <div class="box-tags mt-30">
                                                    <a class="btn btn-grey-small mr-10">
                                                        Figma <span class="close-icon"></span>
                                                    </a>
                                                    <a class="btn btn-grey-small mr-10">
                                                        Adobe XD <span class="close-icon"></span>
                                                    </a>
                                                    <a class="btn btn-grey-small mr-10">
                                                        NextJS <span class="close-icon"></span>
                                                    </a>
                                                    <a class="btn btn-grey-small mr-10">
                                                        React <span class="close-icon"></span>
                                                    </a>
                                                    <a class="btn btn-grey-small mr-10">
                                                        App <span class="close-icon"></span>
                                                    </a>
                                                    <a class="btn btn-grey-small mr-10">
                                                        Digital <span class="close-icon"></span>
                                                    </a>
                                                    <a class="btn btn-grey-small mr-10">
                                                        NodeJS <span class="close-icon"></span>
                                                    </a>
                                                </div>
                                                <div class="mt-40">
                                                    <span class="card-info font-sm color-text-paragraph-2">You can add up to 15 skills</span>
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-my-jobs" role="tabpanel" aria-labelledby="tab-my-jobs">
                                <h3 class="mt-0 color-brand-1 mb-50">My Jobs</h3>
                                <div class="row display-list">
                                    <div class="col-xl-12 col-12">
                                        <div class="card-grid-2 hover-up">
                                            <span class="flash"></span>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="card-grid-2-image-left">
                                                        <div class="image-box">
                                                            <img src="~/imgs/brands/brand-5.png" alt="jobBox">
                                                        </div>
                                                        <div class="right-info">
                                                            <a class="name-job" href="">Linkedin</a>
                                                            <span class="location-small">New York, US</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text-start text-md-end pr-60 col-md-4">
                                                    <div class="pl-15 mb-15 mt-30">
                                                        <a class="btn btn-grey-small mr-5" href="#">Adobe XD</a>
                                                        <a class="btn btn-grey-small mr-5" href="#">Figma</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-block-info">
                                                <h4>
                                                    <a href="job-details.html">React Native Web Developer</a>
                                                </h4>
                                                <div class="mt-5">
                                                    <span class="card-briefcase">Fulltime</span>
                                                    <span class="card-time">
                                                        <span>4</span>
                                                        <span> mins ago</span>
                                                    </span>
                                                </div>
                                                <p class="font-sm color-text-paragraph mt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur</p>
                                                <div class="card-2-bottom mt-20">
                                                    <div class="row">
                                                        <div class="col-lg-7 col-7">
                                                            <span class="card-text-price">$500</span>
                                                            <span class="text-muted">/Hour</span>
                                                        </div>
                                                        <div class="col-lg-5 col-5 text-end">
                                                            <div class="btn btn-apply-now" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Apply now</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-12">
                                        <div class="card-grid-2 hover-up">
                                            <span class="flash"></span>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="card-grid-2-image-left">
                                                        <div class="image-box">
                                                            <img src="~/imgs/brands/brand-6.png" alt="jobBox">
                                                        </div>
                                                        <div class="right-info">
                                                            <a class="name-job" href="">Quora JSC</a>
                                                            <span class="location-small">New York, US</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 text-start text-md-end pr-60 col-md-6 col-sm-12">
                                                    <div class="pl-15 mb-15 mt-30">
                                                        <a class="btn btn-grey-small mr-5" href="#">Adobe XD</a>
                                                        <a class="btn btn-grey-small mr-5" href="#">Figma</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-block-info">
                                                <h4>
                                                    <a href="job-details.html">Senior System Engineer</a>
                                                </h4>
                                                <div class="mt-5">
                                                    <span class="card-briefcase">Part time</span>
                                                    <span class="card-time">
                                                        <span>5</span>
                                                        <span> mins ago</span>
                                                    </span>
                                                </div>
                                                <p class="font-sm color-text-paragraph mt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                                <div class="card-2-bottom mt-20">
                                                    <div class="row">
                                                        <div class="col-lg-7 col-7">
                                                            <span class="card-text-price">$800</span>
                                                            <span class="text-muted">/Hour</span>
                                                        </div>
                                                        <div class="col-lg-5 col-5 text-end">
                                                            <div class="btn btn-apply-now" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Apply now</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-12">
                                        <div class="card-grid-2 hover-up">
                                            <span class="flash"></span>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="card-grid-2-image-left">
                                                        <div class="image-box">
                                                            <img src="~/imgs/brands/brand-7.png" alt="jobBox">
                                                        </div>
                                                        <div class="right-info">
                                                            <a class="name-job" href="">Nintendo</a>
                                                            <span class="location-small">New York, US</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 text-start text-md-end pr-60 col-md-6 col-sm-12">
                                                    <div class="pl-15 mb-15 mt-30">
                                                        <a class="btn btn-grey-small mr-5" href="#">Adobe XD</a>
                                                        <a class="btn btn-grey-small mr-5" href="#">Figma</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-block-info">
                                                <h4>
                                                    <a href="job-details.html">Products Manager</a>
                                                </h4>
                                                <div class="mt-5">
                                                    <span class="card-briefcase">Full time</span>
                                                    <span class="card-time">
                                                        <span>6</span>
                                                        <span> mins ago</span>
                                                    </span>
                                                </div>
                                                <p class="font-sm color-text-paragraph mt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                                <div class="card-2-bottom mt-20">
                                                    <div class="row">
                                                        <div class="col-lg-7 col-7">
                                                            <span class="card-text-price">$250</span>
                                                            <span class="text-muted">/Hour</span>
                                                        </div>
                                                        <div class="col-lg-5 col-5 text-end">
                                                            <div class="btn btn-apply-now" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Apply now</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-12">
                                        <div class="card-grid-2 hover-up">
                                            <span class="flash"></span>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="card-grid-2-image-left">
                                                        <div class="image-box">
                                                            <img src="~/imgs/brands/brand-8.png" alt="jobBox">
                                                        </div>
                                                        <div class="right-info">
                                                            <a class="name-job" href="">Periscope</a>
                                                            <span class="location-small">New York, US</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 text-start text-md-end pr-60 col-md-6 col-sm-12">
                                                    <div class="pl-15 mb-15 mt-30">
                                                        <a class="btn btn-grey-small mr-5" href="#">Adobe XD</a>
                                                        <a class="btn btn-grey-small mr-5" href="#">Figma</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-block-info">
                                                <h4>
                                                    <a href="job-details.html">Lead Quality Control QA</a>
                                                </h4>
                                                <div class="mt-5">
                                                    <span class="card-briefcase">Full time</span>
                                                    <span class="card-time">
                                                        <span>6</span>
                                                        <span> mins ago</span>
                                                    </span>
                                                </div>
                                                <p class="font-sm color-text-paragraph mt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                                <div class="card-2-bottom mt-20">
                                                    <div class="row">
                                                        <div class="col-lg-7 col-7">
                                                            <span class="card-text-price">$250</span>
                                                            <span class="text-muted">/Hour</span>
                                                        </div>
                                                        <div class="col-lg-5 col-5 text-end">
                                                            <div class="btn btn-apply-now" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Apply now</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="paginations">
                                    <ul class="pager">
                                        <li>
                                            <a class="pager-prev" href="#"></a>
                                        </li>
                                        <li>
                                            <a class="pager-number" href="#">1</a>
                                        </li>
                                        <li>
                                            <a class="pager-number" href="#">2</a>
                                        </li>
                                        <li>
                                            <a class="pager-number" href="#">3</a>
                                        </li>
                                        <li>
                                            <a class="pager-number" href="#">4</a>
                                        </li>
                                        <li>
                                            <a class="pager-number" href="#">5</a>
                                        </li>
                                        <li>
                                            <a class="pager-number active" href="#">6</a>
                                        </li>
                                        <li>
                                            <a class="pager-number" href="#">7</a>
                                        </li>
                                        <li>
                                            <a class="pager-next" href="#"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="tab-applied-jobs" role="tabpanel" aria-labelledby="tab-applied-jobs">
                                @if (@ViewBag.appJobCount != 0)
                                {
                                    <h3 class="mt-0  mb-50" style="color: #80287d;">Applied Jobs (@ViewBag.appJobCount)</h3>
                                }
                                else
                                {
                                    <h3 class="mt-0  mb-50" style="color: #80287d;">No Applied Jobs</h3>
                                }
                                <div class="row display-list">
                                    <div id="myTable" class="row">
                                        @if (@ViewBag.appjob != null)
                                        {
                                            @foreach (var item in ViewBag.appjob)
                                            {
                                                <div class="col-xl-12 col-12">
                                                    <div class="card-grid-2 hover-up">
                                                        <span class="flash"></span>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                                <div class="card-grid-2-image-left">
                                                                    <div class="image-box">
                                                                        @if (@item.cmp_image == null)
                                                                        {
                                                                            <a href="company-details.php"><img width="100" height="100" src="~/Org_img_uploads/org_profile.png" alt="loading--"></a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a href="company-details.php"><img width="100" height="100" src="~/Org_img_uploads/@(item.cmp_image)" alt="loading--"></a>
                                                                        }
                                                                    </div>
                                                                    <div class="right-info">
                                                                        <a class="name-job" href="">@item.org_name</a>
                                                                        <span class="location-small">@item.district, @item.state</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 text-start text-md-end pr-60 col-md-6 col-sm-12">
                                                                <div class="pl-15 mb-15 mt-30">
                                                                    <a class="btn btn-grey-small mr-5" href="#">Adobe XD</a>
                                                                    <a class="btn btn-grey-small mr-5" href="#">Figma</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-block-info">
                                                            <h4>
                                                                <a href="@Url.Action("Viewdetail", "Jobseeker",new { id = @item.job_reg_id })">@item.job_title</a>
                                                            </h4>
                                                            <div class="mt-5">
                                                                <span class="card-briefcase">@item.job_type</span>
                                                                <span class="card-time">
                                                                    <span></span>
                                                                    <span> @item.date_applied.ToString("MM/dd/yyyy")</span>
                                                                </span>
                                                            </div>
                                                            <p class="font-sm color-text-paragraph mt-10">@item.job_desc</p>
                                                            <div class="card-2-bottom mt-20">
                                                                <div class="row">
                                                                    <div class="col-lg-7 col-7">
                                                                        @*<span class="card-text-price">$500</span>*@
                                                                        <span class="text-muted">@item.salary_package - @item.salary_to/@item.salary_pay</span>
                                                                    </div>
                                                                    <div class="col-lg-5 col-5 text-end">
                                                                        @*<div class="btn btn-apply-now" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Apply now</div>*@
                                                                        <a class="btn btn-apply-now" href="@Url.Action("Viewdetail", "Jobseeker",new { id = @item.job_reg_id })">VIEW DETAIL</a>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            }
                                        }
                                    </div>

                                    @if (@ViewBag.appJobCount == 0)
                                    {


                                        <div class="paginations">

                                            <ul class="pager">
                                                <li>
                                                    <a class="pager-prev"></a>
                                                </li>
                                                <li><a class="pager-number" style="color: #80287d;">No Applied Jobs</a></li>
                                                @*<li><a class="pager-number"></a></li>
                                                    <li><a class="pager-number"></a></li>*@
                                                <li><a class="pager-next"></a></li>
                                            </ul>
                                            @*<div class="border-bottom pt-10 pb-10"></div>*@
                                        </div>
                                    }
                                    else
                                    {
                                        


                                        <div class="col-md-3 text-center paginations" style="line-height: 45px;">Showing <strong><span id="currentP">1</span></strong> of <strong><span id="totalP"></span></strong>  pages </div>

                                        <div class="col-md-6 text-center paginations">

                                            <ul class="pager" id="myPager">
                                            </ul>


                                        </div>
                                        <div class="col-md-3 text-center paginations">


                                        </div>
                                    }
                                </div>

                            </div>
                            <div class="tab-pane fade" id="tab-saved-jobs" role="tabpanel" aria-labelledby="tab-saved-jobs">
                                @if (@ViewBag.savedJobCount != 0)
                                {
                                    <h3 class="mt-0  mb-50" style="color: #80287d;">Saved Jobs(@ViewBag.savedJobCount)</h3>
                                }
                                else
                                {
                                    <h3 class="mt-0  mb-50" style="color: #80287d;">No Saved Jobs</h3>
                                }


                                <div class="row">
                                    @if (@ViewBag.savedJob != null)
                                    {
                                        @foreach (var item in ViewBag.savedJob)
                                        {
                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                                <div class="card-grid-2 hover-up" style="min-height: 373px;">
                                                    <a href="@Url.Action("RemoveSavedJob", "Jobseeker",new { id = @item.id, @onclick="return functionConfirm(this)"})" class="btn-close pe-4 pt-4" type="button" style="float: right;" aria-label="Close"></a>
                                                    <div class="card-grid-2-image-left">
                                                        @*<a><i class="fi-rr-archive" fi fi-rr-archive></i></a>*@
                                                        <div class="image-box">
                                                            @if (@item.cmp_image == null)
                                                            {
                                                                <a href="company-details.php"><img width="100" height="100" src="~/Org_img_uploads/org_profile.png" alt="loading--"></a>
                                                            }
                                                            else
                                                            {
                                                                <a href="company-details.php"><img width="100" height="100" src="~/Org_img_uploads/@(item.cmp_image)" alt="loading--"></a>
                                                            }
                                                        </div>
                                                        <div class="right-info">
                                                            <a class="name-job" href="">@item.org_name</a>
                                                            <span class="location-small">@item.county_name</span>
                                                        </div>
                                                    </div>
                                                    <div class="card-block-info">
                                                        <h6>
                                                            <a href="@Url.Action("JobdetailsView", "Jobseeker",new { id = @item.job_reg_id })">@item.job_title</a>
                                                        </h6>
                                                        <div class="mt-5">
                                                            <span class="card-briefcase">@item.job_type</span>
                                                            <span class="card-time">
                                                                <span> @item.posting_date.ToString("MM/dd/yyyy")</span>
                                                            </span>
                                                        </div>
                                                        <p style="margin-bottom: 1px;" id="@string.Concat("vmore_",item.job_reg_id)" class="font-sm color-text-paragraph mt-15 paraElipsis para-height01">@item.job_desc</p>
                                                        @if (@item.job_desc.Length > 20)
                                                        {
                                                            <span id="@string.Concat("vmr_", item.job_reg_id)"><a onClick="showMore(@item.job_reg_id);" style="color:blue;">..more</a></span>
                                                        }
                                                        <p id="@string.Concat("vless_",item.job_reg_id)" class="font-sm color-text-paragraph mt-15" style="display:none;">@item.job_desc</p>
                                                        @if (@item.job_desc.Length > 20)
                                                        {
                                                            <span id="@string.Concat("vls_", item.job_reg_id)" style="display:none;"><a style="color:blue;" onClick="showLess(@item.job_reg_id);">..view less</a></span>
                                                        }
                                                        <div class="mt-30">
                                                            <a class="btn btn-grey-small mr-5" href="jobs-grid.html">Typescript</a>
                                                            <a class="btn btn-grey-small mr-5" href="jobs-grid.html">Java</a>
                                                        </div>
                                                        <div class="card-2-bottom mt-30">
                                                            <div class="row">
                                                                <div class="col-lg-7 col-7">
                                                                    <span class="card-text-price">$@item.salary_package</span>
                                                                    <span class="text-muted">/Monthly</span>
                                                                </div>
                                                                <div class="col-lg-5 col-5 text-end">
                                                                    <a class="btn btn-apply-now" href="@Url.Action("JobdetailsView", "Jobseeker",new { id = @item.job_reg_id })">View more</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                    @if (@ViewBag.savedJobCount == 0)
                                    {


                                        <div class="paginations">

                                            <ul class="pager">
                                                <li>
                                                    <a class="pager-prev"></a>
                                                </li>
                                                <li><a class="pager-number" style="color: #80287d;">No Saved Jobs</a></li>
                                                @*<li><a class="pager-number"></a></li>
                                                    <li><a class="pager-number"></a></li>*@
                                                <li><a class="pager-next"></a></li>
                                            </ul>
                                            @*<div class="border-bottom pt-10 pb-10"></div>*@
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="border-bottom pt-10 pb-10"></div>

                                        <div class="paginations">

                                            <ul class="pager">
                                                <li>
                                                    <a class="pager-prev"></a>
                                                </li>
                                                <li><a class="pager-number" style="color: #80287d;">No more Saved Jobs</a></li>
                                                @*<li><a class="pager-number"></a></li>
                                                    <li><a class="pager-number"></a></li>*@
                                                <li><a class="pager-next"></a></li>
                                            </ul>
                                            @*<div class="border-bottom pt-10 pb-10"></div>*@
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>
<script>
    function showSubmenu() {
        document.getElementById('submenu').style.display = 'block';
        document.getElementById("ic1").classList.remove("fi-rr-angle-small-down");
        document.getElementById("ic1").classList.add("fi-rr-angle-small-up");
    }
    function hideSubmenu() {
        document.getElementById('submenu').style.display = 'none';
        document.getElementById("ic1").classList.add("fi-rr-angle-small-down");
        document.getElementById("ic1").classList.remove("fi-rr-angle-small-up");
    }
</script>
<script>
    function show() {
        var pswrd = document.getElementById('old_password');
        var icon = document.querySelector('.fi-rr-eye');
        if (pswrd.type === "password") {
            pswrd.type = "text";
            icon.style.color = "#7f2092";
        } else {
            pswrd.type = "password";
            icon.style.color = "gray";
        }
    }
</script>
<style>
    .paraElipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    #submenu {
        display: none;
        background-color: lavender;
        padding: 20px;
        box-shadow: 5px 5px 5px 0px #bcbcbc;
        border: 1px solid #f1f1f1;
        width: 85%;
        margin-left: 14%;
    }

    .para-height01 {
        height: 100px;
        overflow: hidden;
        overflow-y: auto;
    }

    .card-grid-2 .card-grid-2-image-left .image-box {
        min-width: 75px;
    }

    .card-grid-2 .card-grid-2-image-left {
        align-items: center;
    }

        .card-grid-2 .card-grid-2-image-left .image-box img {
            width: 60px !important;
            height: 60px !important;
            border-radius: 50px;
        }

        .card-grid-2 .card-grid-2-image-left .right-info .name-job {
            line-height: 30px !important;
            margin-bottom: 5px;
        }

    .recruitment-icon:hover, .recruitment-icon.active {
        color: #05264E;
        background-color: #85c440;
        border-color: #B4C0E0;
    }

    .btn-border {
        background: #f1f1f1;
    }
</style>