﻿@model Jobportal_design.Models.seek_tbl
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body onload="GenerateCaptcha();">
    <a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>
    <section class="section-box-2 mt-40  pl-5">
        <div class="container">
            <div class="banner-hero banner-single banner-single-bg">
                <div class="block-banner text-center">
                    <h3 class="wow animate__animated animate__fadeInUp">
                        @*<span class="color-brand-2">UPDATE PROFILE</span>*@
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-30">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9 col-md-12 col-sm-12 col-12 float-right">
                    <div class="content-page">
                        <div class="row display-list">
                            <div class="box-nav-tabs mb-5 sidebar-border">
                                <ul class="nav" role="tablist">
                                    <li><a class="btn btn-border aboutus-icon mr-15 mb-5 active" href="@Url.Action("EditProfile", "Jobseeker")" role="tab" aria-controls="tab-short-bio" aria-selected="true" style="">EDIT PROFILE</a></li>
                                    <li><a class="btn btn-border recruitment-icon mr-15 mb-5" href="@Url.Action("Profile", "Jobseeker", new { ActiveTab = "tab-skills", isRedirect = "true" })" data-bs-toggle="" role="tab" aria-controls="tab-skills" aria-selected="false" style=""> Edit Education</a></li>
                                    <li><a class="btn btn-border people-icon mb-5" href="@Url.Action("Profile", "Jobseeker", new { ActiveTab = "tab-work-experience", isRedirect = "true" })" data-bs-toggle="" role="tab" aria-controls="tab-work-experience" aria-selected="false" style="">Edit Experience</a></li>
                                </ul>
                                @*<div class="border-bottom pt-10"></div>*@
                            </div>
                            <br />
                            <div class="tab-pane fade show active" id="tab-short-bio" role="tabpanel" aria-labelledby="tab-short-bio">
                                @using (Html.BeginForm("Updateprofile", "Jobseeker", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div class="col-lg-12 col-md-8 col-sm-12 col-12 mb-50">
                                        <div class="content-single card card-body p-4 mt-35">
                                            <div class="tab-content">
                                                <div class="tab-pane fade show active" id="tab-my-profile" role="tabpanel" aria-labelledby="tab-my-profile">
                                                    @*
                                                        <h3 class="mt-0 mb-15" style="color: #80287d;">Update Profile</h3>
                                                    *@
                                                    @*<a class="font-md color-text-paragraph-2" href="#">Update your profile</a>*@
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <div class="banner-hero banner-company">
                                                                <div class="block-banner text-center">
                                                                    <h3 class="wow animate__animated animate__fadeInUp" style="color: #80287d;">Update Profile</h3>                                                                    
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="mb-40 box-info-profie">
                                                                <div class="image-profile">
                                                                    @Html.HiddenFor(model => model.s_pic)
                                                                    @Html.HiddenFor(model => model.spic_path)
                                                                    <div class="form-input">
                                                                        <div class="preview">
                                                                            @if (ViewBag.profilepic == null)
                                                                            {
                                                                                <img id="file-ip-1-preview" src="~/imgs/page/candidates/candidate_profile1.png" class="preview-img">
                                                                            }
                                                                            else
                                                                            {
                                                                                <img id="file-ip-1-preview" src="~/Jobseeker_uploads/@(ViewBag.profilepic)" class="preview-img">
                                                                            }
                                                                        </div>
                                                                        <div class="upload-img-button">
                                                                            <label for="file-ip-1">Upload Image</label>
                                                                            <input type="file" id="file-ip-1" name="s_pic1" accept="image/*" onchange="showPreview(event);">
                                                                            @*<span class="error-messages" style="display:none;"></span>*@
                                                                            <p id="error"></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--<div class="image-profile">
                                                                   <img src="~/imgs/page/candidates/candidate_profile1.png" alt="jobbox">
                                                                   </div>
                                                                   <a class="btn btn-apply">
                                                                   @Html.HiddenFor(model => model.s_pic)
                                                                   @Html.HiddenFor(model => model.spic_path)-->
                                                                @*<input asp-for="s_pic" type="file" name="s_pic" id="s_pic" placeholder="" style="width:206px;"
                                                                    onfocus="this.placeholder = ''" onblur="this.placeholder = ''"
                                                                    onchange="return profileValidation()">*@
                                                                <!--<input type="file" name="s_pic1" placeholder="Profile Picture"
                                                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Profile Picture'"
                                                                   class="btn btn-apply" onchange="return profileValidation()">Upload Image
                                                                   @Html.EditorFor(model => model.s_pic, new { htmlAttributes = new { @class = "form-control" } })
                                                                   </a>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row form-contact">
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">First Name <span style="color:red">*</span></label>
                                                                @Html.HiddenFor(model => model.id)
                                                                @Html.EditorFor(model => model.fname, new { htmlAttributes = new { @class = "form-control" } })
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="font-sm color-text-mutted mb-10">Disability</label>
                                                                        @*<input class="form-control" type="text" value="82356">*@
                                                                        <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                                            <select asp-for="disability" asp-items="(IEnumerable<SelectListItem>)ViewBag.disability" class="form-select mr-10 select-active input-industry" onchange='getDropValue1(this.value)' placeholder="Select Disability"></select>
                                                                            @*@Html.DropDownListFor(model => model.disability, (IEnumerable
                                                                                <SelectListItem>
                                                                                )ViewBag.disability, new { htmlAttributes = new { @class = "form-input mr-10 select-active input-industry" } })*@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label id="dis_label" class="font-sm color-text-mutted mb-10">Type of Disability</label>
                                                                        <input asp-for="dis_reason" class="form-control" type="text" id="dis_reason" name="dis_reason">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Race</label>
                                                                <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                                    @*@Html.DropDownListFor(model => model.racial, (IEnumerable
                                                                        <SelectListItem>
                                                                        )ViewBag.racial, new { htmlAttributes = new { @class = "form-input mr-10 select-active input-industry" } })*@
                                                                    <select asp-for="racial" asp-items="(IEnumerable<SelectListItem>)ViewBag.racial" class="form-select mr-10 select-active input-industry" placeholder="Select Race"></select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Address</label>
                                                                @Html.TextAreaFor(model => model.seekaddress, new { @class = "form-control", @cols = 50, @rows = 2 })
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">State <span style="color:red">*</span></label>
                                                                @*<input class="form-control" type="text" value="OH">*@
                                                                <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                                    <select asp-for="state_id" asp-items="@(new SelectList(ViewBag.state, "id", "state_name"))" class="form-select mr-10 select-active input-industry" placeholder="Select State"></select>
                                                                    @*<input asp-for="state_name" asp-items="@(new SelectList(ViewBag.state, "state_name", "state_name"))" placeholder="Select State"></input>*@
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="font-sm color-text-mutted mb-10">County <span style="color:red">*</span></label>
                                                                        @*<input class="form-select mr-10 select-active input-industry" type="text" value="Mcallen">*@
                                                                        <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                                            @*<select asp-for="county_id" asp-items="@(new SelectList(ViewBag.county, "id", "county_name"))" class="form-select mr-10 select-active input-industry" onchange='getDropValue(this.value)' placeholder="Select County"></select>*@
                                                                            @Html.DropDownList("county_id", new SelectList(ViewBag.county, "id", "county_name"), "-Select County-", new { @onchange = "getDropValue(this.value)", @class = "form-input mr-10 select-active input-industry" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label id="county_label" class="font-sm color-text-mutted mb-10">Other</label>
                                                                        @*<input class="form-select mr-10 select-active input-industry" type="text" value="">*@
                                                                        <input type="text" id="othCounty" name="othCounty" value="" placeholder="Type here.."
                                                                               onfocus="this.placeholder = ''" onblur="this.placeholder = ''"
                                                                               class="form-control">
                                                                        @*<select asp-for="othCounty" class="form-control" type="text" id="othCounty" name="othCounty"></select>*@
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-sm color-text-mutted mb-10">Password</label>
                                                                    <input type="password" asp-for="e_password" placeholder="******" readonly />
                                                                </div>
                                                                <div class="row phonetype-row01">
                                                                    <div class="col-lg-3 pe-0">
                                                                        <div class="form-group">
                                                                            <label class="font-sm color-text-mutted mb-10">Phone Type *</label>
                                                                            <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                                                @*@Html.DropDownListFor(model => model.primary_phone_type, (IEnumerable
                                                                                    <SelectListItem>
                                                                                    )ViewBag.PhoneType, new { htmlAttributes = new { @class = "form-input mr-10 select-active input-industry" } })*@
                                                                                <select asp-for="primary_phone_type" asp-items="(IEnumerable<SelectListItem>)ViewBag.PhoneType" class="form-select mr-10 select-active input-industry" placeholder="Select Phone Type"></select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6 pe-0">
                                                                        <div class="form-group">
                                                                            <label class="font-sm color-text-mutted mb-10">Primary Contact Number *</label>
                                                                            <input type="text" asp-for="contact1" class="form-control" onKeyup='addDashes(this)' />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 pe-0">
                                                                        <div class="form-group">
                                                                            <label class="font-sm color-text-mutted mb-10">Ext</label>
                                                                            <input type="text" asp-for="primary_extension" size="4" maxlength="4" class="form-control" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-sm color-text-mutted mb-10">Highest Degree</label>
                                                                    <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                                        <select asp-for="highest_degree" asp-items="(IEnumerable<SelectListItem>)ViewBag.highest_degree" class="form-select mr-10 select-active input-industry" placeholder="Select Highest Degree"></select>
                                                                    </div>
                                                                </div>                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Last Name</label>
                                                                @Html.EditorFor(model => model.lname, new { htmlAttributes = new { @class = "form-control" } })
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Gender</label>
                                                                @*<input class="form-control" type="text" value="Mcallen">*@
                                                                <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                                    @*@Html.DropDownListFor(model => model.gender, (IEnumerable
                <SelectListItem>
                )ViewBag.gender, new { htmlAttributes = new { @class = "form-input mr-10 select-active input-industry" } })*@
                                                                    <select asp-for="gender" asp-items="(IEnumerable<SelectListItem>)ViewBag.gender" class="form-select mr-10 select-active input-industry" placeholder="Select Gender"></select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Year of Birth</label>
                                                                @*
            <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
               <select asp-for="year_of_birth" id="year_of_birth" name="year_of_birth" class="form-select mr-10 select-active input-industry" placeholder="Select Year-of-Birth"></select>
            </div>
                                                                *@
                                                                @Html.EditorFor(model => model.year_of_birth, new { htmlAttributes = new { @class = "form-control", @id = "date" } })
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">City <span style="color:red">*</span></label>
                                                                @*<input class="form-control" type="text" value="Mcallen">*@
                                                                <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                                    @*<input asp-for="dist_name" asp-items="@(new SelectList(ViewBag.dist, "dist_name", "dist_name"))" class="form-input mr-10 select-active input-industry" placeholder="Select City"></input>*@
                                                                    @*<select asp-for="dist_id" asp-items="@(new SelectList(ViewBag.dist, "id", "dist_name"))" class="form-select mr-10 select-active input-industry" placeholder="Select City"></select>*@
                                                                    @Html.DropDownList("dist_id", new SelectList(ViewBag.dist, "id", "dist_name"), "-Select a District-", new { @class = "form-select mr-10 select-active input-industry" })
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Zip code</label>
                                                                @Html.EditorFor(model => model.zipcode, new { htmlAttributes = new { @class = "form-control" } })
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Primary Language</label>
                                                                <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                                    @*@Html.DropDownListFor(model => model.primary_lng, (IEnumerable
                <SelectListItem>
                )ViewBag.plng, new { htmlAttributes = new { @class = "form-input mr-10 select-active input-industry" } })*@
                                                                    <select asp-for="primary_lng" asp-items="(IEnumerable<SelectListItem>)ViewBag.plng" class="form-select mr-10 select-active input-industry" placeholder="Select Primary Language"></select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Email <span style="color:red">*</span></label>
                                                                @* @Html.EditorFor(model => model.email_id, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                @Html.TextBoxFor(model => model.email_id, new { disabled = "disabled", @readonly = "readonly" })
                                                            </div>
                                                            <div class="row phonetype-row01">
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <label class="font-sm color-text-mutted mb-10">Phone Type </label>
                                                                        <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                                            @*@Html.DropDownListFor(model => model.secondary_phone_type, (IEnumerable
                        <SelectListItem>
                        )ViewBag.PhoneType, new { htmlAttributes = new { @class = "form-input mr-10 select-active input-industry" } })*@
                                                                            <select asp-for="secondary_phone_type" asp-items="(IEnumerable<SelectListItem>)ViewBag.PhoneType" class="form-select mr-10 select-active input-industry" placeholder="Select Phone Type"></select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="font-sm color-text-mutted mb-10">Secondary Contact Number </label>
                                                                        <input type="text" asp-for="contact2" class="form-control" onKeyup='addDashes(this)' />
                                                                        @*<input type="text" name="contact2" id="contact2" placeholder="Secondary Contact Number"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Secondary Contact Number'"
                    class="single-input" onKeyup='addDashes(this)'>*@
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <label class="font-sm color-text-mutted mb-10">Ext</label>
                                                                        <input type="text" asp-for="secondary_extension" size="4" maxlength="4" class="form-control" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Upload Resume</label>
                                                                @Html.HiddenFor(model => model.s_resume)
                                                                @Html.HiddenFor(model => model.sresume_path)
                                                                <input type="file" name="s_resume1" id="s_resume1" placeholder="Resume"
                                                                       onfocus="this.placeholder = 'Upload Resume'" onchange="return resumeValidation()" onblur="this.placeholder = 'Upload Resume'"
                                                                       class="btn btn-apply" style=" color: limegreen;">
                                                                <br />
                                                                <p id="errormsg"></p>
                                                               
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="font-sm color-text-mutted mb-10">Resume : </label>
                                                                        @Html.EditorFor(model => model.s_resume, new { htmlAttributes = new { @class = "form-control readonly" } })
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        @*<button class="btn btn-apply mt-40" href="~/Jobseeker_uploads/@(ViewBag.resume)" type="submit">Download</button>*@
                                                                        @*<i class="fi fi-rr-download extraDwld">&nbsp;&nbsp;DOWNLOAD</i>*@
                                                                        <a class="btn btn-apply mt-40" href="~/Jobseeker_uploads/@(ViewBag.resume)" download>
                                                                            Download
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>                                                        
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label class="font-sm color-text-mutted mb-10">About me</label>
                                                            @Html.TextAreaFor(model => model.about_me, new { @class = "form-control", @cols = 50, @rows = 4 })
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label class="font-sm color-text-mutted mb-10">Skills</label>
                                                            @Html.TextAreaFor(model => model.list_skill, new { @class = "form-control", @cols = 50, @rows = 4 })
                                                        </div>
                                                        <div class="border-bottom pt-10 pb-10 col-md-12"></div>
                                                        <div class="box-agree mt-30" style="display:none;">
                                                            @*<label class="lbl-agree font-xs color-text-paragraph-2">
            <input class="lbl-checkbox" type="checkbox" value="1">I Accepted All terms and condition.
            </label>*@
                                                        </div>
                                                        <div class="box-button mt-15">
                                                            <button class="btn btn-apply-big font-md font-bold">Save All Changes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            @*
                                <div class="tab-pane fade" id="tab-skills" role="tabpanel" aria-labelledby="tab-skills">
                                   <h1>Hiii</h1>
                                </div>
                            *@
                            <div class="tab-pane fade" aria-labelledby="tab-skills">
                                <a href="@Url.Action("Educationdetails", "Jobseeker")" class="tab-pane fade"></a>
                            </div>
                        </div>
                    </div>
                </div>
                @*
                    <div class="col-lg-1 col-md-12 col-sm-12 col-12">
                    </div>
                *@
                <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="sidebar-shadow none-shadow mb-30">
                        <div class="sidebar-filters sidebar-border">
                            <div class="filter-block head-border mt-10 mb-30">
                                <h5>Menu </h5>
                            </div>
                            <div class="filter-block mb-30" onmouseover="showSubmenu()" onmouseout="hideSubmenu()">
                                <div class="select-style select-style-icon">
                                    <a class="form-control" href="@Url.Action("Profile", "Jobseeker")" style="background: #f1f1f1; color: black;">My Profile </a>
                                </div>
                               
                            </div>
                            <div class="filter-block mb-30">
                                <div class="form-group select-style select-style-icon">
                                    <a class="form-control active" href="@Url.Action("EditProfile", "Jobseeker")" style="background: #f1f1f1; color: black;">Edit Profile</a>
                                </div>
                            </div>
                            @*
                                <div class="filter-block mb-30">
                                   <div class="form-group select-style select-style-icon">
                                      <a class="form-control" href="@Url.Action("Appliedjobdetail", "Jobseeker", new {ActiveTab = "tab-my-profile", isRedirect = "true" })" style="background: #f1f1f1; color: black;">Password change</a>
                                   </div>
                                </div>
                            *@
                            <div class="filter-block mb-30">
                                <div class="form-group select-style select-style-icon">
                                    <a class="form-control" href="@Url.Action("Appliedjobdetail", "Jobseeker")" style="background: #f1f1f1; color: black;">Applied Jobs</a>
                                </div>
                            </div>
                            <div class="filter-block mb-30">
                                <div class="form-group select-style select-style-icon">
                                    <a class="form-control" href="@Url.Action("Appliedjobdetail", "Jobseeker", new { ActiveTab = "tab-saved-jobs", isRedirect = "true" })" style="background: #f1f1f1; color: black;">Saved Jobs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });
    </script>
}
<script type="text/javascript">
    function GenerateCaptcha() {
        var chr1 = Math.ceil(Math.random() * 10) + '';
        var chr2 = Math.ceil(Math.random() * 10) + '';
        var chr3 = Math.ceil(Math.random() * 10) + '';

        var str = new Array(4).join().replace(/(.|$)/g, function () { return ((Math.random() * 36) | 0).toString(36)[Math.random() < .5 ? "toString" : "toUpperCase"](); });
        var captchaCode = str + chr1 + ' ' + chr2 + ' ' + chr3;
        document.getElementById("txtCaptcha").value = captchaCode
    }

    function showSubmenu() {
        document.getElementById('submenu').style.display = 'block';
        document.getElementById("ic1").classList.remove("fi-rr-angle-small-down");
        document.getElementById("ic1").classList.add("fi-rr-angle-small-up");
    }
    function hideSubmenu() {
        document.getElementById('submenu').style.display = 'none';
        document.getElementById("ic1").classList.add("fi-rr-angle-small-down");
        document.getElementById("ic1").classList.remove("fi-rr-angle-small-up");
    }

    function ValidCaptcha() {
        var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
        var str2 = removeSpaces(document.getElementById('txtCompare').value);

        if (str1 == str2) return true;
        return false;
    }


    function removeSpaces(string) {
        return string.split(' ').join('');
    }
    function addDashes(f) {
        var r = /(\D+)/g,
            npa = '',
            nxx = '',
            last4 = '';
        f.value = f.value.replace(r, '');
        npa = f.value.substr(0, 3);
        nxx = f.value.substr(3, 3);
        last4 = f.value.substr(6, 4);
        f.value = npa + '-' + nxx + '-' + last4;
    }

</script>
<script>
    $(document).ready(function () {
        $("#txtCompare").change(function () {

            var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
            var str2 = removeSpaces(document.getElementById('txtCompare').value);

            if (str1 == str2) {

            }
            else {
                alert("Captcha doesn't matches!..");
                document.getElementById('txtCompare').value = '';
            }
        });
    });
</script>
<script>
    function profileValidation() {

        var fileInput =
            document.getElementById('s_pic');

        var filePath = fileInput.value;
        //alert(filePath);
        // Allowing file type
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif)$/i;

        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type');
            fileInput.value = '';
            return false;
        }
        var image = document.getElementById('s_pic');

        if (typeof (image.files) != "undefined") {

            var size = parseFloat(image.files[0].size / (512 * 512)).toFixed(2);

            if (size > 1) {

                alert('Please select image size less than 512 Kb');
                image.value = ''
                return false;

            } else {

                return true;

            }

        } else {

            return true;

        }
    }
    function resumeValidation() {

        var fileInput =
            document.getElementById('s_resume1');

        var filePath = fileInput.value;
        //alert(filePath);
        // Allowing file type
        var allowedExtensions =
            /(\.doc|\.docx|\.odt|\.pdf|\.tex|\.txt|\.rtf|\.wps|\.wks|\.wpd)$/i;

        if (!allowedExtensions.exec(filePath)) {
            document.getElementById("errormsg").innerHTML = "Invalid file type!!"
            fileInput.value = '';
            return false;
        }
        else {
            document.getElementById("errormsg").innerHTML = ""
            return true;
        }
    }

    function getDropValue(value) {
        if (value == '11') {
            document.getElementById('othCounty').style.display = 'block';
            document.getElementById('county_label').style.display = 'block';
        }
        else {
            document.getElementById('othCounty').style.display = 'none';
            document.getElementById('county_label').style.display = 'none';
        }
    }


    function getDropValue1(value) {
        if (value == 'Yes') {
            document.getElementById('dis_reason').style.display = 'block';
            document.getElementById('dis_label').style.display = 'block';
        }
        else {
            document.getElementById('dis_reason').style.display = 'none';
            document.getElementById('dis_label').style.display = 'none';
        }
    }

    function showPreview(event) {
        if (event.target.files.length > 0) {
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("file-ip-1-preview");
            preview.src = src;
            preview.style.display = "block";
        }

        var fileInput =
            document.getElementById('file-ip-1');

        var filePath = fileInput.value;
        //alert(filePath);
        // Allowing file type
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif)$/i;

        if (!allowedExtensions.exec(filePath)) {

            /* alert('Invalid file type');*/
            /*$(".error-messages").text("Some error").fadeIn();*/
            document.getElementById("error").innerHTML = "Invalid file type!!"
            fileInput.value = '';
            return false;
        }
        var image = document.getElementById('file-ip-1');

        if (typeof (image.files) != "undefined") {

            var size = parseFloat(image.files[0].size / (512 * 512)).toFixed(2);

            if (size > 1) {

                /*alert('Please select image size less than 512 Kb');*/
                document.getElementById("error").innerHTML = "Please select image size less than 512 Kb"
                image.value = ''
                return false;

            } else {

                return true;

            }

        } else {

            return true;

        }
    }
</script>
<style>
     #othCounty {
         display: none;
     }

     #county_label {
         display: none;
     }

     #dis_reason {
         display: none;
     }

     #dis_label {
         display: none;
     }

     .select2-container--default .select2-selection--single .select2-selection__arrow {
         top: 10px !important;
     }

     .select2-container {
         padding-top: 10px !important;
     }

     #submenu {
         display: none;
         background-color: lavender;
         padding: 20px;
         box-shadow: 5px 5px 5px 0px #bcbcbc;
         border: 1px solid #f1f1f1;
         width: 85%;
         margin-left: 14%;
     }

     .form-input {
         width: 210px;
         padding: 0px;
         background: #fff;
         /*   box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
    3px 3px 7px rgba(94, 104, 121, 0.377); */
         /* border-radius: 0.5rem;
    border: 1px solid lightgray;*/
     }

         .form-input .preview {
             text-align: -webkit-center;
             margin-bottom: 1rem;
             height: fit-content;
             border-radius: 16px;
             border: 1px solid lightgray;
         }

             .form-input .preview img.preview-img {
                 max-width: 13rem;
                 max-height: 13rem;
             }

         .form-input input {
             display: none;
         }

         .form-input label {
             display: block;
             width: 45%;
             height: 30px;
             width: 130px;
             line-height: 32px;
             text-align: center;
             background: #1172c2;
             color: #fff;
             font-size: 13px;
             font-family: "Open Sans", sans-serif;
             text-transform: Uppercase;
             font-weight: 600;
             border-radius: 0.5rem;
             cursor: pointer;
         }

     div.upload-img-button {
         text-align: -webkit-center;
     }

     #error {
         color: red;
         font-weight: 600;
         font-size: 13px;
         line-height: 25px;
     }

     #errormsg {
         color: red;
         font-weight: 600;
     }

    .banner-hero.banner-company {
        padding: 65px 20px 65px 20px !important;
        margin-bottom: 20px;
    }

    h3.wow.animate__.animate__fadeInUp {
        text-decoration-line: underline;
    }

    box-info-profie {
        text-align: right;
        margin-bottom: 20px;
    }

    .image-profile {
        max-width: 100% !important;
        margin-right: 0px !important;
    }

    select#country {
        height: 50px;
    }

    .form-contact textarea.form-control {
        height: 145px !important;
    }

    .form-input .preview img.preview-img, .form-input .preview {
        width: auto !important;
        height: 210px !important;
        @*background-color: #cfcfcf;
        *@
    }
    .sidebar-filters .filter-block .select-style-icon a:hover, .sidebar-filters .filter-block .select-style-icon a.active {
        background: #85c440 !important;
        color: #fff !important;
    }
    
</style>
@*<script type="text/javascript">
       window.onload = function () {
           //Reference the DropDownList.
           var year_of_birth = document.getElementById("year_of_birth");
           alert("year_of_birth");
           //Determine the Current Year.
           var currentYear = (new Date()).getFullYear();

           //Loop and add the Year values to DropDownList.
           for (var i = 1950; i <= currentYear-15; i++) {
               var option = document.createElement("OPTION");
               option.innerHTML = i;
               option.value = i;
               year_of_birth.appendChild(option);
           }
       };
    </script>*@