﻿@model Jobportal_design.Models.seekeducation_tbl
@{
    ViewData["Title"] = "EditEducation";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<html>
<body>
    <a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>
    <section class="section-box-2">
        <div class="container">
            <div class="banner-hero banner-single banner-single-bg">
                <div class="block-banner text-center">
                    <h3 class="wow animate__animated animate__fadeInUp">
                        <span class="color-brand-2">UPDATE EDUCATION</span>
                    </h3>

                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-30">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9 col-md-12 col-sm-12 col-12 float-right">
                    <div class="content-page">

                        <div class="row display-list">
                            <div class="box-nav-tabs sidebar-border">

                                <ul class="nav" role="tablist">
                                    <li><a class="btn btn-border aboutus-icon mr-15 mb-5 " href="@Url.Action("EditProfile", "Jobseeker")" role="tab" aria-controls="tab-short-bio" aria-selected="true" style="">EDIT PROFILE</a></li>
                                    <li><a class="btn btn-border recruitment-icon mr-15 mb-5 active" href="@Url.Action("Profile", "Jobseeker", new { ActiveTab = "tab-skills", isRedirect = "true" })" data-bs-toggle="" role="tab" aria-controls="tab-skills" aria-selected="false" style=""> Edit Education</a></li>
                                    <li><a class="btn btn-border people-icon mb-5" href="@Url.Action("Profile", "Jobseeker", new { ActiveTab = "tab-work-experience", isRedirect = "true" })" data-bs-toggle="" role="tab" aria-controls="tab-work-experience" aria-selected="false" style="">Edit Experience</a></li>
                                </ul>
                                    
                                </div>
                            @using (Html.BeginForm("Updateeducation", "Jobseeker", FormMethod.Post, new { enctype = "multipart/form-data",@class= "sidebar-border" }))
                            {
                                <div class="col-md-1"></div>
                                <div class="col-md-10 mb-50 jobseeker-form01">
                                    <div class="content-single">
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="tab-my-profile" role="tabpanel" aria-labelledby="tab-my-profile">
                                                @*<a class="font-md color-text-paragraph-2" href="#">Update your profile</a>*@
                                                <br />
                                                <div id="form1">

                                                    <div class="row form-contact">
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">School attended *</label>
                                                                @Html.EditorFor(model => model.schoolattended, new { htmlAttributes = new { @class = "form-control" } })
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Last grade completed</label>
                                                                <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                                    <select asp-for="lastgrade" asp-items="(IEnumerable<SelectListItem>)ViewBag.lastgrade" class="form-input mr-10 select-active input-industry" placeholder="Select Last Grade"></select>
                                                                    @*@Html.DropDownListFor(model => model.lastgrade, (IEnumerable<SelectListItem>)ViewBag.lastgrade, "Select Last grade completed")*@
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">College attended</label>
                                                                @Html.EditorFor(model => model.collegeattended, new { htmlAttributes = new { @class = "form-control" } })
                                                            </div>

                                                            @Html.HiddenFor(model => model.id)
                                                            @Html.HiddenFor(model => model.seek_id)
                                                        </div>

                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Degree received</label>
                                                                <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                                    <select asp-for="degreereceived" asp-items="(IEnumerable<SelectListItem>)ViewBag.degreereceived" class="form-input mr-10 select-active input-industry" placeholder="Select Highest Degree"></select>
                                                                    @*@Html.DropDownListFor(model => model.degreereceived, (IEnumerable<SelectListItem>)ViewBag.degreereceived, "Select Highest Degree")*@
                                                                </div>
                                                            </div>



                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Certificate received</label>
                                                                @Html.EditorFor(model => model.certificatereceived, new { htmlAttributes = new { @class = "form-control" } })
                                                            </div>



                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Academic accomplishments</label>
                                                                @Html.EditorFor(model => model.academic, new { htmlAttributes = new { @class = "form-control" } })
                                                            </div>
                                                        </div>

                                                        @*<div class="row">
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">

                                                                        <input type="button" id="addform2" class="btn-apply" value="Add" onclick='getDivValue(this.value)'>
                                                                    </div>
                                                                </div>

                                                            </div>*@
                                                        @*<div id="#form2show" class="btn btn-border mb-5 active">Add More</div>*@
                                                        @*<div class="row">

                                                                <div class="col-md-4" id="btnAdd1">

                                                                    <div id="form2show" class="btn btn-border mb-5 active">Add More</div>
                                                                </div>
                                                                <div class="col-md-6">

                                                                </div>
                                                                <div class="col-md-2" id="dvCancel1">

                                                                </div>
                                                            </div>*@


                                                        @*<div id="form2show" class="btn btn-border mb-5 active">Add More</div>*@
                                                    </div>
                                                </div>

                                                @*<div id="Add Form" style="display:none">*@
                                                @*<div class="modal fade" id="ModalApplyJobForm1" tabindex="-1" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content apply-job-form">
                                                            <div class="modal-body pl-30 pr-30 pt-50">*@
                                                <!--<div id="form2">

                                                <div class="row form-contact">
                                                    <div class="col-lg-6 col-md-12">

                                                        <div class="form-group">
                                                            <label class="font-sm color-text-mutted mb-10">School attended *</label>
                                                            <input class="form-control" type="text" id="schoolattended2" name="schoolattended2" value="">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="font-sm color-text-mutted mb-10">Last grade completed</label>
                                                            <div class="box-industry" style="border: 2px solid #E0E6F6;">
                                                                <select id="lastgrade2" name="lastgrade2" class="form-select mr-10 select-active input-industry">
                                                                    <option value="0">Select last Grade</option>
                                                                    <option value="Pre-K">Pre-K</option>
                                                                    <option value="K">K</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>

                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>

                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>
                                                                    <option value="10">10</option>
                                                                    <option value="11">11</option>
                                                                    <option value="12">12</option>
                                                                    <option value="HS Diploma">HS Diploma</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="font-sm color-text-mutted mb-10">College attended</label>
                                                            <input class="form-control" name="collegeattended2" id="collegeattended2" type="text" value="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label class="font-sm color-text-mutted mb-10">Degree received</label>
                                                            <div class="box-industry" style="border: 2px solid #E0E6F6;">
                                                                <select id="degreereceived2" name="degreereceived2" class="form-select mr-10 select-active input-industry">
                                                                    <option value="0">Select Highest Degree</option>
                                                                    <option value="High School">High School</option>
                                                                    <option value="CDA Certification">CDA Certification</option>
                                                                    <option value="Associate Degree">Associate Degree</option>
                                                                    <option value="Bachelor's Degree">Bachelor's Degree</option>
                                                                    <option value="Master's Degree">Master's Degree</option>
                                                                    <option value="Doctorate Degree">Doctorate Degree</option>
                                                                </select>
                                                            </div>
                                                        </div>



                                                        <div class="form-group">
                                                            <label class="font-sm color-text-mutted mb-10">Certificate received</label>
                                                            <input class="form-control" id="certificatereceived2" name="certificatereceived2" type="text" value="">
                                                        </div>


                                                        <div class="form-group">
                                                            <label class="font-sm color-text-mutted mb-10">Academic accomplishments</label>
                                                            <input class="form-control" id="academic2" name="academic2" type="text" value="">
                                                        </div>-->
                                                @*<div class="row">

                                                        <div class="col-md-4" id="btnAdd1">

                                                            <div id="form2show" class="fas fa-plus fa-1x"></div>
                                                        </div>
                                                        <div class="col-md-6">

                                                        </div>
                                                        <div class="col-md-2" id="dvCancel1">

                                                        </div>
                                                    </div>*@
                                                @*</div>
                                                             </div>
                                                         </div>


                                                    </div>*@
                                                @*<div class="box-button mt-15">
                                                        <button class="btn btn-apply-big font-md font-bold">Save All Changes</button>
                                                    </div>*@
                                                <!--</div>
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="form-group">

                                                            <input type="button" id="addform2" class="btn-apply" value="Add" onclick='getDivValue1(this.value)'>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">-->
                                                @*<input type="button" id="addform2" class="btn btn-grey" value="Add" onclick='getDivValue1(this.value)'>*@
                                                <!--</div>

                                                            </div>

                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <input type="button" id="cancelform1" class="btn btn-grey" value="Cancel" onclick='getDivCanValue(this.value)'>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="form3">
                                                    <div class="row form-contact">
                                                        <div class="col-lg-6 col-md-12">

                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">School attended *</label>
                                                                <input class="form-control" type="text" id="schoolattended3" name="schoolattended3" value="">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Last grade completed</label>
                                                                <div class="box-industry" style="border: 2px solid #E0E6F6;">
                                                                    <select id="lastgrade3" name="lastgrade3" class="form-select mr-10 select-active input-industry">
                                                                        <option value="0">Select last Grade</option>
                                                                        <option value="Pre-K">Pre-K</option>
                                                                        <option value="K">K</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>

                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                        <option value="6">6</option>
                                                                        <option value="7">7</option>

                                                                        <option value="8">8</option>
                                                                        <option value="9">9</option>
                                                                        <option value="10">10</option>
                                                                        <option value="11">11</option>
                                                                        <option value="12">12</option>
                                                                        <option value="HS Diploma">HS Diploma</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">College attended</label>
                                                                <input class="form-control" name="collegeattended3" id="collegeattended3" type="text" value="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Degree received</label>
                                                                <div class="box-industry" style="border: 2px solid #E0E6F6;">
                                                                    <select id="degreereceived3" name="degreereceived3" class="form-select mr-10 select-active input-industry">
                                                                        <option value="0">Select Highest Degree</option>
                                                                        <option value="High School">High School</option>
                                                                        <option value="CDA Certification">CDA Certification</option>
                                                                        <option value="Associate Degree">Associate Degree</option>
                                                                        <option value="Bachelor's Degree">Bachelor's Degree</option>
                                                                        <option value="Master's Degree">Master's Degree</option>
                                                                        <option value="Doctorate Degree">Doctorate Degree</option>
                                                                    </select>
                                                                </div>
                                                            </div>



                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Certificate received</label>
                                                                <input class="form-control" id="certificatereceived3" name="certificatereceived3" type="text" value="">
                                                            </div>


                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Academic accomplishments</label>
                                                                <input class="form-control" id="academic3" name="academic3" type="text" value="">
                                                            </div>






                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="form-group">-->
                                                @*<input type="button" id="addform4" class="btn btn-apply" value="Add" onclick='getDivValue3(this.value)'>*@
                                                <!--</div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">-->
                                                @*<input type="button" id="addform3" class="btn btn-apply" value="Add" onclick='getDivValue3(this.value)'>*@
                                                <!--</div>
                                                            </div>

                                                            <div class="col-lg-3">
                                                                <div class="form-group">

                                                                    <input type="button" id="cancelform2" class="btn btn-grey" value="Cancel" onclick='getDivCanValue1(this.value)'>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>-->
                                                <div class="box-button mt-15">
                                                    <button type="submit" value="Update" class="btn btn-apply-big font-md font-bold">Save All Changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="sidebar-shadow none-shadow mb-30">
                        <div class="sidebar-filters sidebar-border">
                            <div class="filter-block head-border mt-10 mb-20">
                                <h5>Menu </h5>
                            </div>
                            <div class="filter-block mb-30" >
                                <div class="select-style select-style-icon">
                                    <a class="form-control " href="@Url.Action("Profile", "Jobseeker")" style="background: #f1f1f1; color: black;">My Profile </a>
                                </div>
                              
                            </div>
                            <div class="filter-block mb-30">
                                <div class="form-group select-style select-style-icon">
                                    <a class="form-control active" href="@Url.Action("EditProfile", "Jobseeker")" style="background: #f1f1f1; color: black;">Edit Profile</a>
                                </div>
                            </div>
                            


                            <div class="filter-block mb-30">
                                <div class="form-group select-style select-style-icon">










                                    <a class="form-control" href="@Url.Action("Appliedjobdetail", "Jobseeker")" style="background: #f1f1f1; color: black;">Applied Jobs</a>
                                </div>
                            </div>
                            <div class="filter-block mb-30">
                                <div class="form-group select-style select-style-icon">
                                    <a class="form-control" href="@Url.Action("Appliedjobdetail", "Jobseeker", new { ActiveTab = "tab-saved-jobs", isRedirect = "true" })" style="background: #f1f1f1; color: black;">Saved Jobs</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>
@section scripts {
    <script src="/admin/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });

        function showSubmenu() {
            document.getElementById('submenu').style.display = 'block';
            document.getElementById("ic1").classList.remove("fi-rr-angle-small-down");
            document.getElementById("ic1").classList.add("fi-rr-angle-small-up");
        }
        function hideSubmenu() {
            document.getElementById('submenu').style.display = 'none';
            document.getElementById("ic1").classList.add("fi-rr-angle-small-down");
            document.getElementById("ic1").classList.remove("fi-rr-angle-small-up");
        }
    </script>
    
}
<script>

    function getDivValue(value) {
        console.log(value)
        if (value == 'Add') {
            document.getElementById('form2').style.display = 'block';

        }
        else {
            document.getElementById('form2').style.display = 'none';

        }
    }

    function getDivValue1(value) {
        console.log(value)
        if (value == 'Add') {
            document.getElementById('form3').style.display = 'block';

        }
        else {
            document.getElementById('form3').style.display = 'none';

        }
    }


    function getDivCanValue(value) {
        console.log(value)
        if (value == 'Cancel') {
            var cancelform1 = document.getElementById('form1');
            cancelform1.style.display = 'none';

            cancelform1.reset();
            document.getElementById('addform2').style.visibility = 'hidden';

        }
        else {
            document.getElementById('form1').style.display = 'block';

        }
    }

    function getDivCanValue1(value) {
        console.log(value)
        if (value == 'Cancel') {
            var cancelform1 = document.getElementById('form2');
            cancelform1.style.display = 'none';

            cancelform1.reset();
            document.getElementById('addform3').style.display = 'none';

        }
        else {
            document.getElementById('form2').style.display = 'block';

        }
    }


    //$('#form2show').click(function () {

    //    $('#form2').show();
    //    $('#form1').show();
    //    $('#form3').hide();
    //    $('#form4').hide();
    //    $('#btnAdd1').hide();

    //});
    //$('#form3show').click(function (e) {

    //    $('#form3').show();
    //    $('#form1').show();
    //    $('#form2').show();
    //    $('#form4').hide();
    //    $('#btnAdd2').hide();

    //});
    //$('#form4show').click(function (e) {

    //    $('#form4').show();
    //    $('#form1').show();
    //    $('#form2').show();
    //    $('#btnAdd3').hide();

    //});

    //$('#btnCancel2').click(function () {
    //    $('#form2').hide();
    //    $('#btnAdd1').show();
    //    $('#form2').clearForm();
    //});
    //$('#btnCancel3').click(function (e) {
    //    $('#form3').hide();
    //    $('#btnAdd2').show();
    //    $('#form3').clearForm();

    //});
    //$('#btnCancel4').click(function (e) {
    //    $('#form4').hide();
    //    $('#btnAdd3').show();
    //    $('#form4').clearForm();

    //});


</script>
<style>
    #form2 {
        display: none;
    }

    #form3 {
        display: none;
    }

    #submenu {
        display: none;
        background-color: lavender;
        padding: 20px;
        box-shadow: 5px 5px 5px 0px #bcbcbc;
        border: 1px solid #f1f1f1;
        width: 85%;
        margin-left: 14%;
    }

    .jobseeker-form01 .content-single {
        border-radius: 10px;
    }

       .sidebar-filters .filter-block .select-style-icon a:hover, .sidebar-filters .filter-block .select-style-icon a.active {
        background: #85c440 !important;
        color: #fff !important;
    }

</style>
