﻿@model IEnumerable<Jobportal_design.Models.seekexperience_tbl>
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@*<link rel="stylesheet" href="/admin/assets/libs/bootstrap/dist/css/bootstrap.min.css" />*@
<link rel="stylesheet" href="/admin/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />


<html>
<body>
    <a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>
    <section class="section-box-2">
        <div class="container">
            <div class="banner-hero banner-single banner-single-bg">
                <div class="block-banner text-center">
                    <h3 class="wow animate__animated animate__fadeInUp">
                        <span class="color-brand-2">ADD EXPERIENCE DETAILS</span>
                    </h3>

                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-30">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-8 col-md-12 col-sm-12 col-12 float-right">
                    <div class="content-page">

                        <div class="row display-list">
                            @*<div class="box-nav-tabs">

                                    <ul class="nav" role="tablist">
                                        <li><a class="btn btn-border aboutus-icon mr-15 mb-5 " href="@Url.Action("EditProfile", "Jobseeker")" data-bs-toggle="" role="tab" aria-controls="tab-short-bio" aria-selected="true" style="">EDIT PROFILE</a></li>
                                        <li><a class="btn btn-border recruitment-icon mr-15 mb-5 " href="@Url.Action("Educationdetails", "Jobseeker")" data-bs-toggle="" role="tab" aria-controls="tab-skills" aria-selected="false" style=""> AddEducation</a></li>
                                        <li><a class="btn btn-border people-icon mb-5 active" href="@Url.Action("Experiencedetails", "Jobseeker")" data-bs-toggle="" role="tab" aria-controls="tab-work-experience" aria-selected="false" style="">Add Work Experience</a></li>
                                    </ul>
                                    <div class="border-bottom pt-10 pb-10"></div>
                                    <br /><br />
                                </div>*@

                            @using (Html.BeginForm("Experiencedetails", "Jobseeker", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="col-lg-12 col-md-8 col-sm-12 col-12 mb-50">
                                    <div class="content-single mt-30">
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="tab-my-profile" role="tabpanel" aria-labelledby="tab-my-profile">
                                                @*<h3 class="mt-0 mb-15" style="color: #80287d;">Add Experience</h3>*@
                                                @*<a class="font-md color-text-paragraph-2" href="#">Update your profile</a>*@
                                                <div id="form1" class="card card-body p-4 mb-3">

                                                    <div class="row form-contact">
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Employer Name <span style="color:red">*</span></label>
                                                                <input class="form-control" type="text" id="employername" name="employername" value="">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Type of Employment <span style="color:red">*</span></label>
                                                                <div class="box-industry" style="border: 1px solid #E0E6F6; height: 50px;">
                                                                    <select id="employmenttype" name="employmenttype" class="form-select mr-10 select-active input-industry">
                                                                        <option value= null>Select Employment</option>
                                                                        <option value="Full Time">Full Time</option>
                                                                        <option value="Part Time">Part Time</option>
                                                                        <option value="In Office">In Office</option>
                                                                        <option value="Remote">Remote</option>
                                                                        <option value="Hybrid">Hybrid</option>
                                                                        <option value="Others">Others</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Designation <span style="color:red">*</span></label>
                                                                <input class="form-control" name="designation" id="designation" type="text" value="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">From Date <span style="color:red">*</span></label>
                                                                <input class="form-control" name="from_date" placeholder="Select a date(mm/dd/yyyy)" id="from_date" type="text" value="">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">To Date <span style="color:red">*</span></label>
                                                                <input class="form-control" name="to_date" id="to_date" placeholder="Select a date(mm/dd/yyyy)" type="text" value="">
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">List of Skills <span style="color:red">*</span></label>
                                                                <input class="form-control" name="skills" id="skills" type="text" value="">
                                                            </div>


                                                        </div>
                                                        <div class="row pe-0">
                                                            <div class="col-lg-8">

                                                            </div>
                                                            <div class="col-lg-2 pe-0">
                                                                <div class="form-group">
                                                                   <a href="@Url.Action("Profile", "Jobseeker", new { ActiveTab = "tab-work-experience", isRedirect = "true" })"> <input type="button"  class="btn btn-apply-now" value="Cancel" style="background: #E0E6F6;"></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2 pe-0">
                                                                <div class="form-group">

                                                                    <input type="button" id="addform2" class="btn btn-apply-now" value="Add" style="background: #E0E6F6;" onclick='getDivValue(this.value)'>
                                                                </div>
                                                            </div>



                                                        </div>
                                                        @*<div id="#form2show" class="btn btn-border mb-5 active">Add More</div>*@
                                                        @*<div class="row">

                                                                <div class="col-md-4" id="btnAdd1">

                                                                    <div id="form2show" class="btn btn-border mb-5 active">Add More</div>
                                                                </div>
                                                                <div class="col-md-6">

                                                                </div>
                                                                <div class="col-md-2" id="dvCancel1">

                                                                </div>
                                                            </div>*@


                                                        @*<div id="form2show" class="btn btn-border mb-5 active">Add More</div>*@
                                                    </div>
                                                </div>

                                                @*<div id="Add Form" style="display:none">*@
                                                @*<div class="modal fade" id="ModalApplyJobForm1" tabindex="-1" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content apply-job-form">
                                                            <div class="modal-body pl-30 pr-30 pt-50">*@
                                                <div id="form2">

                                                    <div class="row form-contact">
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Employer Name <span style="color:red">*</span></label>
                                                                <input class="form-control" type="text" id="employername2" name="employername2" value="">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Type of Employment <span style="color:red">*</span></label>
                                                                <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                                    <select id="employmenttype2" name="employmenttype2" class="form-select mr-10 select-active input-industry">
                                                                        <option value= null>Select Employment</option>
                                                                        <option value="Full Time">Full Time</option>
                                                                        <option value="Part Time">Part Time</option>
                                                                        <option value="In Office">In Office</option>
                                                                        <option value="Remote">Remote</option>
                                                                        <option value="Hybrid">Hybrid</option>
                                                                        <option value="Others">Others</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Designation <span style="color:red">*</span></label>
                                                                <input class="form-control" name="designation2" id="designation2" type="text" value="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">From Date <span style="color:red">*</span></label>
                                                                <input class="form-control" name="from_date2" id="from_date2" type="text" placeholder="Select a date(mm/dd/yyyy)" value="">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">To Date <span style="color:red">*</span></label>
                                                                <input class="form-control" name="to_date2" id="to_date2" type="text" placeholder="Select a date(mm/dd/yyyy)" value="">
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">List of Skills</label>
                                                                <input class="form-control" name="skills2" id="skills2" type="text" value="">
                                                            </div>


                                                        </div>
                                                        <div class="row pe-0">
                                                            <div class="col-lg-8">

                                                            </div>
                                                            <div class="col-lg-2 pe-0">
                                                                <div class="form-group">

                                                                    <input type="button" id="addform3" class="btn btn-apply-now" value="Add" style="background: #E0E6F6;" onclick='getDivValue1(this.value)'>
                                                                </div>
                                                            </div>


                                                            <div class="col-lg-2 pe-0">
                                                                <div class="form-group">
                                                                    <input type="button" id="cancelform2" class="btn btn-apply-now" value="Cancel" style="background: #E0E6F6;" onclick='getDivCanValue(this.value)'>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="form3">
                                                    <div class="row form-contact">
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Employer Name <span style="color:red">*</span></label>
                                                                <input class="form-control" type="text" id="employername3" name="employername3" value="">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Type of Employment <span style="color:red">*</span></label>
                                                                <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                                    <select id="employmenttype3" name="employmenttype3" class="form-select mr-10 select-active input-industry">
                                                                        <option value= null>Select Employment</option>
                                                                        <option value="Full Time">Full Time</option>
                                                                        <option value="Part Time">Part Time</option>
                                                                        <option value="In Office">In Office</option>
                                                                        <option value="Remote">Remote</option>
                                                                        <option value="Hybrid">Hybrid</option>
                                                                        <option value="Others">Others</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Designation <span style="color:red">*</span></label>
                                                                <input class="form-control" name="designation3" id="designation3" type="text" value="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">From Date <span style="color:red">*</span></label>
                                                                <input class="form-control" name="from_date3" id="from_date3" type="text" placeholder="Select a date(mm/dd/yyyy)" value="">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">To Date <span style="color:red">*</span></label>
                                                                <input class="form-control" name="to_date3" id="to_date3" type="text" placeholder="Select a date(mm/dd/yyyy)" value="">
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">List of Skills</label>
                                                                <input class="form-control" name="skills3" id="skills3" type="text" value="">
                                                            </div>


                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-8">
                                                                <div class="form-group">


                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="form-group">
                                                                    <input type="button" id="addform4" class="btn btn-apply-now" value="Add" onclick='getDivValueForm4(this.value)'>

                                                                </div>
                                                            </div>

                                                            <div class="col-lg-2">
                                                                <div class="form-group">

                                                                    <input type="button" id="cancelform3" class="btn btn-apply-now" style="background: #E0E6F6;" value="Cancel" onclick='getDivCanValue1(this.value)'>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="form4">
                                                    <div class="row form-contact">
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Employer Name <span style="color:red">*</span></label>
                                                                <input class="form-control" type="text" id="employername4" name="employername4" value="">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Type of Employment <span style="color:red">*</span></label>
                                                                <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                                    <select id="employmenttype4" name="employmenttype4" class="form-select mr-10 select-active input-industry">
                                                                        <option value= null>Select Employment</option>
                                                                        <option value="Full Time">Full Time</option>
                                                                        <option value="Part Time">Part Time</option>
                                                                        <option value="In Office">In Office</option>
                                                                        <option value="Remote">Remote</option>
                                                                        <option value="Hybrid">Hybrid</option>
                                                                        <option value="Others">Others</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Designation <span style="color:red">*</span></label>
                                                                <input class="form-control" name="designation4" id="designation4" type="text" value="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">From Date <span style="color:red">*</span></label>
                                                                <input class="form-control" name="from_date4" id="from_date4" type="text" placeholder="Select a date(mm/dd/yyyy)" value="">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">To Date <span style="color:red">*</span></label>
                                                                <input class="form-control" name="to_date3" id="to_date3" type="text" placeholder="Select a date(mm/dd/yyyy)" value="">
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">List of Skills</label>
                                                                <input class="form-control" name="skills4" id="skills4" type="text" value="">
                                                            </div>


                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-8">
                                                                <div class="form-group">


                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="form-group">
                                                                    <input type="button" id="addform5" class="btn btn-apply-now" value="Add" onclick='getDivValueForm5(this.value)'>

                                                                </div>
                                                            </div>

                                                            <div class="col-lg-2">
                                                                <div class="form-group">

                                                                    <input type="button" id="cancelform4" class="btn btn-apply-now" style="background: #E0E6F6;" value="Cancel" onclick='getDivCancelForm4(this.value)'>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="form5">
                                                    <div class="row form-contact">
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Employer Name <span style="color:red">*</span></label>
                                                                <input class="form-control" type="text" id="employername5" name="employername5" value="">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Type of Employment <span style="color:red">*</span></label>
                                                                <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                                    <select id="employmenttype5" name="employmenttype5" class="form-select mr-10 select-active input-industry">
                                                                        <option value= null>Select Employment</option>
                                                                        <option value="Full Time">Full Time</option>
                                                                        <option value="Part Time">Part Time</option>
                                                                        <option value="In Office">In Office</option>
                                                                        <option value="Remote">Remote</option>
                                                                        <option value="Hybrid">Hybrid</option>
                                                                        <option value="Others">Others</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Designation <span style="color:red">*</span></label>
                                                                <input class="form-control" name="designation5" id="designation5" type="text" value="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">From Date <span style="color:red">*</span></label>
                                                                <input class="form-control" name="from_date5" id="from_date5" type="text" placeholder="Select a date(mm/dd/yyyy)" value="">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">To Date <span style="color:red">*</span></label>
                                                                <input class="form-control" name="to_date5" id="to_date5" type="text" placeholder="Select a date(mm/dd/yyyy)" value="">
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">List of Skills</label>
                                                                <input class="form-control" name="skills5" id="skills5" type="text" value="">
                                                            </div>


                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-8">
                                                                <div class="form-group">


                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="form-group">
                                                                    @*<input type="button" id="addform5" class="btn btn-apply-now" value="Add" onclick='getDivValueForm5(this.value)'>*@

                                                                </div>
                                                            </div>

                                                            <div class="col-lg-2">
                                                                <div class="form-group">

                                                                    <input type="button" id="cancelform5" class="btn btn-apply-now" style="background: #E0E6F6;" value="Cancel" onclick='getDivCancelForm5(this.value)'>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="box-button mt-15">
                                                    <button class="btn btn-apply-big font-md font-bold">Save All Changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-12 col-sm-12 col-12">

                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="sidebar-shadow none-shadow mb-30">
                        <div class="sidebar-filters">
                            <div class="filter-block head-border mb-30">
                                <h5>Menu </h5>
                            </div>
                            <div class="filter-block mb-30" onmouseover="showSubmenu()" onmouseout="hideSubmenu()">
                                <div class="select-style select-style-icon">
                                    <a class="form-control" href="@Url.Action("Profile", "Jobseeker")" style="background: #f1f1f1; color: black;">My Profile </a>
                                </div>
                               
                            </div>
                            <div class="filter-block mb-30">
                                <div class="form-group select-style select-style-icon">
                                    <a class="form-control" href="@Url.Action("EditProfile", "Jobseeker")" style="background: #f1f1f1; color: black;">Edit Profile</a>
                                </div>
                            </div>
                            @*<div class="filter-block mb-30">
                                <div class="form-group select-style select-style-icon">
                                    <a class="form-control" href="@Url.Action("Appliedjobdetail", "Jobseeker", new {ActiveTab = "tab-my-profile", isRedirect = "true" })" style="background: #f1f1f1; color: black;">Password change</a>
                                </div>
                            </div>*@


                            <div class="filter-block mb-30">
                                <div class="form-group select-style select-style-icon">
                                    <a class="form-control" href="@Url.Action("Appliedjobdetail", "Jobseeker")" style="background: #f1f1f1; color: black;">Applied Jobs</a>
                                </div>
                            </div>
                            <div class="filter-block mb-30">
                                <div class="form-group select-style select-style-icon">
                                    <a class="form-control" href="@Url.Action("Appliedjobdetail", "Jobseeker", new { ActiveTab = "tab-saved-jobs", isRedirect = "true" })" style="background: #f1f1f1; color: black;">Saved Jobs</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





</body>
</html>
@section scripts {          
    <script src="/admin/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });
    </script>
    <script>
        $(function () {            
            $("#from_date,#from_date1,#from_date2,#from_date3,#from_date4,#from_date5").datepicker({
                format: 'mm-dd-yyyy',
                endDate: '+0d',
                autoclose: true
            });
        });

        $(function () {
            $("#to_date,#to_date1,#to_date2,#to_date3,#to_date4,#to_date5").datepicker({
                format: 'mm-dd-yyyy',
                endDate: '+0d',
                autoclose: true
            });
        });

        function showSubmenu() {
            document.getElementById('submenu').style.display = 'block';
            document.getElementById("ic1").classList.remove("fi-rr-angle-small-down");
            document.getElementById("ic1").classList.add("fi-rr-angle-small-up");
        }
        function hideSubmenu() {
            document.getElementById('submenu').style.display = 'none';
            document.getElementById("ic1").classList.add("fi-rr-angle-small-down");
            document.getElementById("ic1").classList.remove("fi-rr-angle-small-up");
        }
    </script>
}
<script>

    function getDivValue(value) {
        console.log(value)
        if (value == 'Add') {
            document.getElementById('form2').style.display = 'block';
            document.getElementById('addform2').style.visibility = 'hidden';

        }
        else {
            document.getElementById('form2').style.display = 'none';

        }
    }

    function getDivCanValue(value) {
        console.log(value)
        if (value == 'Cancel') {
            var cancelform2 = document.getElementById('form2');
            cancelform2.style.display = 'none';

            cancelform2.reset();


        }
        else {
            document.getElementById('form2').style.display = 'block';

        }
    }

    function getDivValue1(value) {
        console.log(value)
        if (value == 'Add') {
            document.getElementById('form3').style.display = 'block';
            document.getElementById('addform3').style.visibility = 'hidden';

        }
        else {
            document.getElementById('form3').style.display = 'none';

        }
    }



    function getDivCanValue1(value) {
        console.log(value)
        if (value == 'Cancel') {
            var cancelform3 = document.getElementById('form3');
            cancelform3.style.display = 'none';

            cancelform3.reset();


        }
        else {
            document.getElementById('form3').style.display = 'block';

        }
    }

    function getDivValueForm4(value) {
        console.log(value)
        if (value == 'Add') {
            document.getElementById('form4').style.display = 'block';
            document.getElementById('addform4').style.visibility = 'hidden';

        }
        else {
            document.getElementById('form4').style.display = 'none';

        }
    }

    function getDivCancelForm4(value) {
        console.log(value)
        if (value == 'Cancel') {
            var cancelform4 = document.getElementById('form4');
            cancelform4.style.display = 'none';

            cancelform4.reset();


        }
        else {
            document.getElementById('form4').style.display = 'block';

        }
    }

    function getDivValueForm5(value) {
        console.log(value)
        if (value == 'Add') {
            document.getElementById('form5').style.display = 'block';
            document.getElementById('addform5').style.visibility = 'hidden';

        }
        else {
            document.getElementById('form5').style.display = 'none';

        }
    }

    function getDivCancelForm5(value) {
        console.log(value)
        if (value == 'Cancel') {
            var cancelform5 = document.getElementById('form5');
            cancelform5.style.display = 'none';

            cancelform5.reset();


        }
        else {
            document.getElementById('form5').style.display = 'block';

        }
    }



    //$('#form2show').click(function () {

    //    $('#form2').show();
    //    $('#form1').show();
    //    $('#form3').hide();
    //    $('#form4').hide();
    //    $('#btnAdd1').hide();

    //});
    //$('#form3show').click(function (e) {

    //    $('#form3').show();
    //    $('#form1').show();
    //    $('#form2').show();
    //    $('#form4').hide();
    //    $('#btnAdd2').hide();

    //});
    //$('#form4show').click(function (e) {

    //    $('#form4').show();
    //    $('#form1').show();
    //    $('#form2').show();
    //    $('#btnAdd3').hide();

    //});

    //$('#btnCancel2').click(function () {
    //    $('#form2').hide();
    //    $('#btnAdd1').show();
    //    $('#form2').clearForm();
    //});
    //$('#btnCancel3').click(function (e) {
    //    $('#form3').hide();
    //    $('#btnAdd2').show();
    //    $('#form3').clearForm();

    //});
    //$('#btnCancel4').click(function (e) {
    //    $('#form4').hide();
    //    $('#btnAdd3').show();
    //    $('#form4').clearForm();

    //});


</script>
<style>
    #form2 {
        display: none;
    }

    #form3 {
        display: none;
    }

    #form4 {
        display: none;
    }

    #form5 {
        display: none;
    }
    .datepicker-days {
        background: #e0e6f6;
    }
    .sidebar-filters .filter-block .select-style-icon a:hover, .sidebar-filters .filter-block .select-style-icon a.active {
        background: #85c440 !important;
        color: #fff !important;
    }
</style>
