﻿@*@model Jobportal_design.Models.job_reg_tbl*@
@model IEnumerable<Jobportal_design.Models.job_reg_tbl>
@{
    ViewData["Title"] = "Home";
    Layout = null;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    * {
        box-sizing: border-box;
    }

    .example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
    }

    .example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        height: 49px;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
    }

        .example button:hover {
            background: #0b7dda;
        }

    .example::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script>
    $.fn.pageMe = function (opts) {
        var $this = this,
            defaults = {
                perPage: 7,
                showPrevNext: false,
                hidePageNumbers: false
            },
            settings = $.extend(defaults, opts);

        var listElement = $this;
        var perPage = settings.perPage;
        var children = listElement.children();
        var pager = $('.pager');

        if (typeof settings.childSelector != "undefined") {
            children = listElement.find(settings.childSelector);
        }

        if (typeof settings.pagerSelector != "undefined") {
            pager = $(settings.pagerSelector);
        }

        var numItems = children.size();
        var numPages = Math.ceil(numItems / perPage);

        pager.data("curr", 0);

        if (settings.showPrevNext) {
            $('<li><a href="#" class="prev_link">«</a></li>').appendTo(pager);
        }

        var curr = 0;
        // Added class and id in li start
        while (numPages > curr && (settings.hidePageNumbers == false)) {
            $('<li id="pg' + (curr + 1) + '" class="pg"><a href="#" class="page_link">' + (curr + 1) + '</a></li>').appendTo(pager);
            curr++;
        }
        // Added class and id in li end

        if (settings.showPrevNext) {
            $('<li><a href="#" class="next_link">»</a></li>').appendTo(pager);
        }

        pager.find('.page_link:first').addClass('active');
        pager.find('.prev_link').hide();
        if (numPages <= 1) {
            pager.find('.next_link').hide();
        }
        pager.children().eq(1).addClass("active");

        children.hide();
        children.slice(0, perPage).show();
        if (numPages > 3) {
            $('.pg').hide();
            $('#pg1,#pg2,#pg3').show();
            $("#pg3").after($("<li class='ell'>").html("<span>...</span>"));
        }

        pager.find('li .page_link').click(function () {
            var clickedPage = $(this).html().valueOf() - 1;
            goTo(clickedPage, perPage);
            return false;
        });
        pager.find('li .prev_link').click(function () {
            previous();
            return false;
        });
        pager.find('li .next_link').click(function () {
            next();
            return false;
        });

        function previous() {
            var goToPage = parseInt(pager.data("curr")) - 1;
            goTo(goToPage);
        }

        function next() {
            goToPage = parseInt(pager.data("curr")) + 1;
            goTo(goToPage);
        }

        function goTo(page) {
            var startAt = page * perPage,
                endOn = startAt + perPage;

            // Added few lines from here start

            $('.pg').hide();
            $(".ell").remove();
            var prevpg = $("#pg" + page).show();
            var currpg = $("#pg" + (page + 1)).show();
            var nextpg = $("#pg" + (page + 2)).show();
            if (prevpg.length == 0) nextpg = $("#pg" + (page + 3)).show();
            if (prevpg.length == 1 && nextpg.length == 0) {
                prevpg = $("#pg" + (page - 1)).show();
            }
            $("#pg1").show()
            if (curr > 3) {
                if (page > 1) prevpg.before($("<li class='ell'>").html("<span>...</span>"));
                if (page < curr - 2) nextpg.after($("<li class='ell'>").html("<span>...</span>"));
            }

            if (page <= numPages - 3) {
                $("#pg" + numPages.toString()).show();
            }
            currpg.addClass("active").siblings().removeClass("active");
            // Added few lines till here end


            children.css('display', 'none').slice(startAt, endOn).show();

            if (page >= 1) {
                pager.find('.prev_link').show();
            } else {
                pager.find('.prev_link').hide();
            }

            if (page < (numPages - 1)) {
                pager.find('.next_link').show();
            } else {
                pager.find('.next_link').hide();
            }

            pager.data("curr", page);
            /*pager.children().removeClass("active");
            pager.children().eq(page + 1).addClass("active");*/

        }
    };

    $(document).ready(function () {

        $('#myTable').pageMe({
            pagerSelector: '#myPager',
            showPrevNext: true,
            hidePageNumbers: false,
            perPage: 5
        });

    });
</script>

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job board HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/price_rangs.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparrent">
            <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html"><img src="~/assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li>
                                                <a href="@Url.Action("Home", "Jobseeker")">View Jobs</a>

                                            </li>
                                            <li>
                                                <a href="@Url.Action("Appliedjobdetail", "Jobseeker")">History of Applied Jobs</a>


                                            </li>
                                            <li>
                                                <a href="@Url.Action("Profile", "Jobseeker")">View Profile</a>

                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Header-btn -->
                                <div class="header-btn d-none f-right d-lg-block">
                                    <a href="@Url.Action("Index", "Home")" class="btn head-btn2">Logout</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>

        <!-- Hero Area Start-->
       
        <div class="slider-area ">
            <div style="height: 100px; display: block; background-color: #1F2B7BCC;"><h3 style="color: white; text-align: center; padding-top: 30px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px; font-size: 30px ">Get your job</h3></div>

        </div>
        <!-- Hero Area End -->
        <!-- Job List Area Start -->
        <div class="job-listing-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <!-- Left content -->
                    <div class="col-xl-3 col-lg-3 col-md-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="small-section-tittle2 mb-45">
                                    <div class="ion">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             width="20px" height="12px">
                                            <path fill-rule="evenodd" fill="rgb(27, 207, 107)"
                                                  d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z" />
                                        </svg>
                                    </div>
                                    <h4>Filter Jobs</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Job Category Listing start -->
                        <div class="job-category-listing mb-50" style="height:650px">
                            <!-- single one -->
                            <div class="single-listing">
                                <div class="small-section-tittle2">
                                    <h4>Job Category</h4>
                                </div>
                                <!-- Select job items start -->
                                <div class="select-job-items2">

                                    @*@onchange = "document.location.href = '/Jobseeker/Index1/' + this.options[this.selectedIndex].value"*@
                                    @*@Html.DropDownList("category_name", new SelectList(ViewBag.message, "category_name", "category_name"), "All Category", new { id = "dd_category" })*@
                                    @*<select id="dd_category" asp-items="@((SelectList)ViewData["vm2.Select"])">
                                            <option value="all">All Category</option>
                                        </select>*@
                                    <select id="dd_category" asp-items="@(new SelectList(ViewBag.message, "Value", "Text"))" class="form-control">
                                        <option value="all">All Category</option>
                                    </select>
                                    @*@Html.DropDownList("dd_category", ViewBag.message as SelectList, "All Category", new { id = "dd_category" })*@
                                    @*<select name="select">
                                            <option value="">All Category</option>
                                            <option value="">Category 1</option>
                                            <option value="">Category 2</option>
                                            <option value="">Category 3</option>
                                            <option value="">Category 4</option>
                                        </select>*@
                                </div>
                                <!--  Select job items End-->
                                <!-- select-Categories start -->
                                <div class="select-Categories pt-80 pb-50">
                                    <div class="small-section-tittle2">
                                        <h4>Job Type</h4>
                                    </div>
                                    <div class="select-job-items2">

                                        @*<select name="select" id="select_jobtype">
                                                <option value="all">All Job Types</option>
                                                <option value="Full Time">Full Time</option>
                                                <option value="Part Time">Part Time</option>
                                                <option value="Remote">Remote</option>
                                                <option value="Freelance">Freelance</option>
                                            </select>*@
                                        <select id="select_jobtype" asp-items="@((SelectList)ViewData["vm.Select"])">
                                            <option value="all">All Job Type</option>
                                        </select>

                                    </div>

                                </div>
                                <br />

                                <!-- select-Categories End -->
                            </div>
                            <!-- single two -->
                            <div class="single-listing">
                                @*<div class="small-section-tittle2">
                                    <h4>Job Location</h4>
                                </div>*@
                                <!-- Select job items start -->
                                @*<div class="select-job-items2">
                                    <select name="select" id="select_location">
                                        <option value="all">Anywhere</option>
                                        <option value="">Category 1</option>
                                        <option value="">Category 2</option>
                                        <option value="">Category 3</option>
                                        <option value="">Category 4</option>
                                    </select>
                                </div>*@
                                <!--  Select job items End-->
                                <!-- select-Categories start -->
                                <div class="select-Categories pt-80 pb-50">
                                    <div class="small-section-tittle2">
                                        <h4>Experience</h4>
                                    </div>
                                    <div class="select-job-items2">

                                        @*<select name="select" id="select_experience">
                                                <option value="all">All Experiences</option>
                                                <option value="0">Fresher</option>
                                                <option value="1">1 Year</option>
                                                <option value="2">2 Years</option>
                                                <option value="3">3 Years</option>
                                                <option value="4">4 Years</option>
                                                <option value="5">5 Years</option>
                                                <option value="6">6 Years</option>
                                                <option value="7">7 Years</option>
                                                <option value="8">8 or greater Years</option>
                                            </select>*@
                                        <select id="select_experience" asp-items="@((SelectList)ViewData["vm1.Select"])">
                                            <option value="all">All Experiences</option>
                                        </select>
                                    </div>

                                </div>
                                <!-- select-Categories End -->
                            </div>
                            <br />
                            <br />

                            <a class="btn head-btn1" style="margin-left: 30px;" onclick="callChangefunc()">Search</a>


                        </div>
                        <!-- Job Category Listing End -->
                    </div>
                    <!-- Right content -->
                    <div class="col-xl-9 col-lg-9 col-md-8">
                        <!-- Featured_job_start -->
                        <section class="featured-job-area">
                            <div class="container">
                                <!-- Count of Job list Start -->
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="example">
                                            <input type="text" placeholder="Enter Job Title.." name="search" id="search">
                                            <button type="submit" onclick="callChangefunc()"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="col-lg-12">
                                        <div class="count-job mb-35">
                                            <span>@ViewBag.countjobs Jobs found</span>
                                            <!-- Select job items start -->
                                            <div class="select-job-items">
                                                <span>Sort by</span>
                                                <select name="select">
                                                    <option value="">None</option>
                                                    <option value="">job list</option>
                                                    <option value="">job list</option>
                                                    <option value="">job list</option>
                                                </select>
                                            </div>
                                            <!--  Select job items End-->
                                        </div>
                                    </div>
                                </div>
                                <!-- Count of Job list End -->
                                <!-- single-job-content -->

                                @*@if (ViewBag.viewjobs != null)
                                {
                                    @foreach (var item in ViewBag.viewjobs)
                                    {
                                        <div class="single-job-items mb-30">
                                            <div class="job-items">
                                                <div class="company-img">
                                                    <a href="#"><img src="~/assets/img/icon/job-list1.png" alt=""></a>
                                                </div>
                                                <div class="job-tittle job-tittle2">
                                                    <a href="@Url.Action("Jobdetails", "Jobseeker",new { id = @item.id })">
                                                        <h4>@item.job_title</h4>
                                                    </a>
                                                    <ul>
                                                      
                                                        <li>@item.org_name</li>
                                                        <li>@item.posting_date</li>
                                                        <li>$ @item.salary_package</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="items-link items-link2 f-right">
                                                <a href="@Url.Action("Jobdetails", "Jobseeker",new { id = @item.id })">@item.job_type</a>
                                                
                                            </div>
                                        </div>
                                        <br />
                                    }
                                }*@
                                <!-- single-job-content -->
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-hover" style="background-color:white">
                                        <thead>
                                            <tr>
                                                @*<th style="background-color:white"></th>*@


                                            </tr>
                                        </thead>
                                        <tbody id="myTable">
                                            @if (ViewBag.viewjobs != null)
                                            {
                                                @foreach (var item in ViewBag.viewjobs)
                                                {
                                                  

                                                    <tr>
                                                        <td>
                                                            <div class="single-job-items mb-30">
                                                                <div class="job-items">
                                                                    <div class="company-img">
                                                                        <a href="#"><img src="~/assets/img/icon/job-list1.png" alt=""></a>
                                                                    </div>
                                                                    <div class="job-tittle job-tittle2">
                                                                        <a href="@Url.Action("Jobdetails", "Jobseeker",new { id = @item.id })">
                                                                            <h4>@item.job_title</h4>
                                                                        </a>
                                                                        <ul>

                                                                            <li>@item.org_name</li>
                                                                            <li>@item.posting_date.ToString("yyyy-MM-dd")</li>
                                                                            <li>$ @item.salary_package</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="items-link items-link2 f-right">
                                                                    <a href="@Url.Action("Jobdetails", "Jobseeker",new { id = @item.id })">@item.job_type</a>

                                                                </div>
                                                            </div>



                                                    </tr>
                                                }
                                            }

                          

                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12 text-center">
                                    <ul class="pagination pagination-lg pager" id="myPager"></ul>
                                </div>
                            </div>


                            </div>
                        </section>
                        <!-- Featured_job_end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Job List Area End -->
        <!--Pagination Start  -->
        <div class="pagination-area pb-115 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="single-wrap d-flex justify-content-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-lg pager" id="myPager"></ul>
                                @*<ul class="pagination justify-content-start">
            <li class="page-item active"><a class="page-link" href="#">01</a></li>
            <li class="page-item"><a class="page-link" href="#">02</a></li>
            <li class="page-item"><a class="page-link" href="#">03</a></li>
            <li class="page-item"><a class="page-link" href="#"><span class="ti-angle-right"></span></a></li>
        </ul>*@
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Pagination End  -->

    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>About Us</h4>
                                    <div class="footer-pera">
                                        <p>Heaven frucvitful doesn't cover lesser dvsays appear creeping seasons so behold.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contact Info</h4>
                                <ul>
                                    <li>
                                        <p>
                                            Address :Your address goes
                                            here, your demo address.
                                        </p>
                                    </li>
                                    <li><a href="#">Phone : +8880 44338899</a></li>
                                    <li><a href="#">Email : info@colorlib.com</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Important Link</h4>
                                <ul>
                                    <li><a href="#"> View Project</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Testimonial</a></li>
                                    <li><a href="#">Proparties</a></li>
                                    <li><a href="#">Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Newsletter</h4>
                                <div class="footer-pera footer-pera2">
                                    <p>Heaven fruitful doesn't over lesser in days. Appear creeping.</p>
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                              method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                                   class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                        class="email_icon newsletter-submit button-contactForm">
                                                    <img src="assets/img/icon/form.png" alt="">
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="row footer-wejed justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <!-- logo -->
                        <div class="footer-logo mb-20">
                            <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-tittle-bottom">
                            <span>5000+</span>
                            <p>Talented Hunter</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-tittle-bottom">
                            <span>451</span>
                            <p>Talented Hunter</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <!-- Footer Bottom Tittle -->
                        <div class="footer-tittle-bottom">
                            <span>568</span>
                            <p>Talented Hunter</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-10 col-lg-10 ">
                            <div class="footer-copy-right">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    @*<script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>*@
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Range -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/price_rangs.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/animated.headline.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/assets/js/contact.js"></script>
    <script src="~/assets/js/jquery.form.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/mail-script.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script>

        function callChangefunc() {
           
            var jobtype = document.getElementById('select_jobtype');
            var jobtypetext = jobtype.options[jobtype.selectedIndex].value;
            var category = document.getElementById('dd_category');
            var categorytext = category.options[category.selectedIndex].value;
            var exp = document.getElementById('select_experience');
            var exptext = exp.options[exp.selectedIndex].value;
            var searchval = document.getElementById("search").value;

            @*var url = "@Url.Action("Index1", "Jobseeker")" + "?year=" + year + "&month=" + month;*@
            var url = "@Url.Action("Home", "Jobseeker")" + "?jobtypetext=" + jobtypetext + "&categorytext=" + categorytext + "&exptext=" + exptext + "&searchval=" + searchval;
            window.location.href = url;


        }
        function callsearchfunc() {
          
            var jobtypetext = "aa";
            var categorytext = "bb"
            var exptext = document.getElementById("search").value;
            alert(exptext);
         
            window.location.href = "@Url.Action("Search", "Jobseeker")" + "?exptext=" + exptext;
        }
    </script>
</body>
</html>