﻿@model Jobportal_design.Models.job_reg_tbl
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>

@using (Html.BeginForm("Applyjob", "Jobseeker", FormMethod.Post, new { @id = "CNenrollment" }))
{
    <section class="section-box mt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="box-border-single">
                        <div class="row mt-10">
                            <div class="col-lg-8 col-md-12">
                                <h3>@Html.DisplayFor(model => model.job_title)</h3>
                                <div class="mt-0 mb-15"><span class="card-briefcase">@Html.DisplayFor(model => model.job_type)</span><span class="card-time">@ViewBag.posting_date</span></div>
                            </div>
                            <div class="col-lg-4 col-md-12 text-lg-end">
                                @*<div class="btn btn-apply-icon btn-apply btn-apply-big hover-up" data-bs-toggle="modal" href="@Url.Action("Signin", "Login")">Apply now/Login</div>*@
                                @*<a class="btn btn-apply-icon btn-apply btn-apply-big hover-up" href="@Url.Action("Signin", "Login")">Apply now</a>*@
                                <button type="submit" value="Update" class="btn btn-apply-icon btn-apply btn-apply-big hover-up">Apply now</button>
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.id)
                        @Html.HiddenFor(model => model.job_title)
                        @Html.HiddenFor(model => model.org_name)
                        @Html.HiddenFor(model => model.salary_package)
                        @Html.HiddenFor(model => model.job_desc)
                        @Html.HiddenFor(model => model.job_skills)
                        @Html.HiddenFor(model => model.experience)
                        @Html.HiddenFor(model => model.posting_date)
                        @Html.HiddenFor(model => model.employeer_id)
                        @Html.HiddenFor(model => model.org_id)
                        @Html.HiddenFor(model => model.org_name)
                        @Html.HiddenFor(model => model.org_cat_id)
                        @Html.HiddenFor(model => model.category_name)
                        @Html.HiddenFor(model => model.end_date)
                        @Html.HiddenFor(model => model.job_type)
                        @Html.HiddenFor(model => model.job_cat_id)
                        <div class="border-bottom pt-10 pb-10"></div>
                        <div class="banner-hero banner-image-single mt-10 mb-20"><img src="~/imgs/page/job-single-2/img.png" alt="jobBox"></div>
                        <div class="job-overview">
                            <h5 class="border-bottom pb-15 mb-30">Overview</h5>
                            <div class="row">
                                <div class="col-md-6 d-flex">
                                    <div class="sidebar-icon-item"><img src="~/imgs/page/job-single/industry.svg" alt="jobBox"></div>
                                    <div class="sidebar-text-info ml-10"><span class="text-description industry-icon mb-10">Organization category</span><strong class="small-heading"> @Html.DisplayFor(model => model.category_name)</strong></div>
                                </div>
                                <div class="col-md-6 d-flex mt-sm-15">
                                    <div class="sidebar-icon-item"><img src="~/imgs/page/job-single/job-level.svg" alt="jobBox"></div>
                                    <div class="sidebar-text-info ml-10"><span class="text-description joblevel-icon mb-10">Job Category</span><strong class="small-heading"> @Html.DisplayFor(model => model.job_category_name)</strong></div>
                                </div>
                            </div>
                            <div class="row mt-25">
                                <div class="col-md-6 d-flex mt-sm-15">
                                    <div class="sidebar-icon-item"><img src="~/imgs/page/job-single/salary.svg" alt="jobBox"></div>
                                    <div class="sidebar-text-info ml-10"><span class="text-description salary-icon mb-10">Salary</span><strong class="small-heading">@Html.DisplayFor(model => model.salary_pay)/ $@Html.DisplayFor(model => model.salary_package) - $@Html.DisplayFor(model => model.salary_to)/-</strong></div>
                                </div>
                                <div class="col-md-6 d-flex">
                                    <div class="sidebar-icon-item"><img src="~/imgs/page/job-single/experience.svg" alt="jobBox"></div>
                                    <div class="sidebar-text-info ml-10"><span class="text-description experience-icon mb-10">Experience</span><strong class="small-heading">@Html.DisplayFor(model => model.experience)</strong></div>
                                </div>
                            </div>
                            <div class="row mt-25">
                                <div class="col-md-6 d-flex mt-sm-15">
                                    <div class="sidebar-icon-item"><img src="~/imgs/page/job-single/job-type.svg" alt="jobBox"></div>
                                    <div class="sidebar-text-info ml-10"><span class="text-description jobtype-icon mb-10">Job type</span><strong class="small-heading">@Html.DisplayFor(model => model.job_type)</strong></div>
                                </div>
                                <div class="col-md-6 d-flex mt-sm-15">
                                    <div class="sidebar-icon-item"><img src="~/imgs/page/job-single/deadline.svg" alt="jobBox"></div>
                                    <div class="sidebar-text-info ml-10"><span class="text-description mb-10">Deadline</span><strong class="small-heading">@ViewBag.end_date</strong></div>
                                </div>
                            </div>
                            <div class="row mt-25">
                                <div class="col-md-6 d-flex mt-sm-15">
                                    <div class="sidebar-icon-item"><img src="~/imgs/page/job-single/updated.svg" alt="jobBox"></div>
                                    <div class="sidebar-text-info ml-10"><span class="text-description jobtype-icon mb-10">City</span><strong class="small-heading">@Html.DisplayFor(model => model.district_name)</strong></div>
                                </div>
                                <div class="col-md-6 d-flex mt-sm-15">
                                    <div class="sidebar-icon-item"><img src="~/imgs/page/job-single/location.svg" alt="jobBox"></div>
                                    <div class="sidebar-text-info ml-10"><span class="text-description mb-10">Location</span><strong class="small-heading">@Html.DisplayFor(model => model.county_name), @Html.DisplayFor(model => model.state_name)</strong></div>
                                </div>
                            </div>
                        </div>
                        <div class="content-single">
                            <h4>Welcome to @Html.DisplayFor(model => model.org_name) team,</h4>
                            <p>
                                @Html.DisplayFor(model => model.org_desc) 

                            </p>
                            <h4>Skills</h4>
                            <ul>
                                <li>@Html.DisplayFor(model => model.job_skills)</li>
                            </ul>
                            <h4>Preferred Experience</h4>
                            <ul>
                                <li>@Html.DisplayFor(model => model.experience)</li>

                            </ul>
                            <h4>Job Description</h4>
                            <p>@Html.DisplayFor(model => model.job_desc)</p>
                            @*<p><strong>Research:</strong> Provide human and business impact and insights for products.</p>*@

                        </div>
                        <div class="author-single"><span>@Html.DisplayFor(model => model.org_name)</span></div>
                        <div class="single-apply-jobs">
                            <div class="row align-items-center">

                                <div class="col-md-7">
                                    @*<a class="btn btn-default mr-15" href="@Url.Action("Signin", "Login")">Apply now</a>*@
                                    <button type="submit" value="Update" class="btn btn-apply-icon btn-apply btn-apply-big hover-up me-3">Apply now</button>
                                    @*<a class="btn btn-default mr-15" href="@Url.Action("Signin", "Login")">Apply now</a>*@

                                    @Html.HiddenFor(model => model.id)
                                    <input type="hidden" id="job_reg_id" value="@ViewBag.id" />
                                    @if (@ViewBag.issaved == false)
                                    {
                                        <button style="height: 55px; border-radius: 5px;" type="button" class="btn btn-border" onclick="callChangefunc()">Save job</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-border" >Job saved Already.!</button>
                                    }


                                </div>
                                <div class="col-md-5 text-lg-end social-share">
                                    <h6 class="color-text-paragraph-2 d-inline-block d-baseline mr-10">Share this</h6><a class="mr-5 d-inline-block d-middle" href="#"><img alt="jobBox" src="~/imgs/template/icons/share-fb.svg"></a><a class="mr-5 d-inline-block d-middle" href="#"><img alt="jobBox" src="~/imgs/template/icons/share-tw.svg"></a><a class="mr-5 d-inline-block d-middle" href="#"><img alt="jobBox" src="~/imgs/template/icons/share-red.svg"></a><a class="d-inline-block d-middle" href="#"><img alt="jobBox" src="~/imgs/template/icons/share-whatsapp.svg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12 pl-40 pl-lg-15 mt-lg-30">
                    <div class="sidebar-border">
                        <div class="sidebar-heading">
                            <div class="avatar-sidebar">
                                <figure><img alt="jobBox" src="~/imgs/page/job-single/avatar.png"></figure>
                                <div class="sidebar-info"><span class="sidebar-company"><a href="@Url.Action("OrganizationProfile", "Org", new { id = Model.org_id })">@Html.DisplayFor(model => model.org_name)</a></span><span class="card-location">@Html.DisplayFor(model => model.org_county_name)</span></div>
                                <!--href="#">02 Open Jobs-->
                            </div>
                        </div>
                        <div class="sidebar-list-job">
                            <div class="box-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.3150609575905!2d-87.6235655!3d41.886080899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2ca8b34afe61%3A0x6caeb5f721ca846!2s205%20N%20Michigan%20Ave%20Suit%20810%2C%20Chicago%2C%20IL%2060601%2C%20Hoa%20K%E1%BB%B3!5e0!3m2!1svi!2s!4v1658551322537!5m2!1svi!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            <ul class="ul-disc">
                                <li>@Html.DisplayFor(model => model.org_address), @Html.DisplayFor(model => model.org_state), USA</li>
                                <li>Phone: @Html.DisplayFor(model => model.org_phone)</li>
                                <li>Email: @Html.DisplayFor(model => model.org_mail)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-border">
                        <h6 class="f-18">Similar jobs(@ViewBag.similarJobCount)</h6>
                        @if (ViewBag.similarJob != null)
                        {
                            @foreach (var item in ViewBag.similarJob)
                            {
                                <div class="sidebar-list-job">
                                    <ul>
                                        <li>

                                            <div class="card-list-4 wow animate__animated animate__fadeIn hover-up">
                                                <div class="image">
                                                    @*<a href="#"><img src="~/imgs/brands/brand-1.png" alt="jobBox"></a>*@
                                                    @if (@item.cmp_image == null)
                                                    {
                                                        <a href="company-details.php"><img width="100" height="100" src="~/Org_img_uploads/org_profile.png" alt="loading--"></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="company-details.php"><img width="100" height="100" src="~/Org_img_uploads/@(item.cmp_image)" alt="loading--"></a>
                                                    }
                                                </div>
                                                <div class="info-text">
                                                    <h5 class="font-bold"><a style="color:blue;" href="@Url.Action("Jobdetails", "Jobseeker", new { id = @item.id })">@item.job_title</a></h5>
                                                    <h6 class="font-md font-bold color-brand-1">@item.org_name</h6>
                                                    <div class="mt-0"><span class="card-briefcase">@item.job_type</span><span class="card-time"><span></span><span> @item.posting_date.ToString("MM/dd/yyyy")</span></span></div>
                                                    <div class="mt-5">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <p class="card-price">$@item.salary_package-$@item.salary_to<span>/@item.salary_pay</span></p>
                                                            </div>
                                                            <div class="col-12 mt-5"><span class="icon-location">@item.dist_name</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </li>

                                    </ul>
                                </div>
                            }
                        }
                    </div>
                    <div class="sidebar-border">
                        <h6 class="f-18">Tags</h6>
                        <div class="sidebar-list-job"><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">App</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">Digital</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">Marketing</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">Conten Writer</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">Sketch</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">PSD</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">Laravel</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">React JS</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">HTML</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">Finance</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">Manager</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">Business</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-50 mb-50">
        <div class="container">
            <div class="text-left">
                <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">Related Jobs</h2>
                <p class="font-lg color-text-paragraph-2 wow animate__animated animate__fadeInUp">Get the latest news, updates and tips</p>
            </div>
            <div class="mt-50">
                <div class="box-swiper style-nav-top">
                    <div class="swiper-container swiper-group-4 swiper">
                        <div class="swiper-wrapper pb-10 pt-5">
                            <div class="swiper-slide">
                                <div class="card-grid-2 hover-up wow animate__animated animate__fadeIn">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box"><img src="~/imgs/brands/brand-6.png" alt="jobBox"></div>
                                        <div class="right-info"><a class="name-job" href="company-details.html">Quora JSC</a><span class="location-small">New York, US</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="#">Senior System Engineer</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">Part time</span><span class="card-time">5<span> minutes ago</span></span></div>
                                        <p class="font-sm color-text-paragraph mt-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                        <div class="mt-30"><a class="btn btn-grey-small mr-5" href="#">PHP</a><a class="btn btn-grey-small mr-5" href="#">Android    </a></div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">$800</span><span class="text-muted">/Hour</span></div>
                                                <div class="col-lg-5 col-5 text-end"><a class="btn btn-apply-now" href="#">Apply now</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card-grid-2 hover-up wow animate__animated animate__fadeIn">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box"><img src="~/imgs/brands/brand-4.png" alt="jobBox"></div>
                                        <div class="right-info"><a class="name-job" href="company-details.html">Dailymotion</a><span class="location-small">New York, US</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="#">Frontend Developer</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">Full time</span><span class="card-time">6<span> minutes ago</span></span></div>
                                        <p class="font-sm color-text-paragraph mt-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                        <div class="mt-30"><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Typescript</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Java</a></div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">$250</span><span class="text-muted">/Hour</span></div>
                                                <div class="col-lg-5 col-5 text-end"><a class="btn btn-apply-now" href="#">Apply now</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card-grid-2 hover-up wow animate__animated animate__fadeIn">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box"><img src="~/imgs/brands/brand-8.png" alt="jobBox"></div>
                                        <div class="right-info"><a class="name-job" href="company-details.html">Periscope</a><span class="location-small">New York, US</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="#">Lead Quality Control QA</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">Full time</span><span class="card-time">6<span> minutes ago</span></span></div>
                                        <p class="font-sm color-text-paragraph mt-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                        <div class="mt-30"><a class="btn btn-grey-small mr-5" href="#">iOS</a><a class="btn btn-grey-small mr-5" href="#">Laravel</a><a class="btn btn-grey-small mr-5" href="#">Golang</a></div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">$250</span><span class="text-muted">/Hour</span></div>
                                                <div class="col-lg-5 col-5 text-end"><a class="btn btn-apply-now" href="#">Apply now</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card-grid-2 hover-up wow animate__animated animate__fadeIn">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box"><img src="~/imgs/brands/brand-4.png" alt="jobBox"></div>
                                        <div class="right-info"><a class="name-job" href="company-details.html">Dailymotion</a><span class="location-small">New York, US</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="#">Frontend Developer</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">Full time</span><span class="card-time">6<span> minutes ago</span></span></div>
                                        <p class="font-sm color-text-paragraph mt-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                        <div class="mt-30"><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Typescript</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Java</a></div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">$250</span><span class="text-muted">/Hour</span></div>
                                                <div class="col-lg-5 col-5 text-end"><a class="btn btn-apply-now" href="#">Apply now</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next swiper-button-next-4"></div>
                    <div class="swiper-button-prev swiper-button-prev-4"></div>
                </div>
                <div class="text-center"><a class="btn btn-grey" href="#">Load more posts</a></div>
            </div>
        </div>
    </section>
    <section class="section-box mt-50 mb-50">
        <div class="container">
            <div class="text-left">
                <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">Featured Jobs</h2>
                <p class="font-lg color-text-paragraph-2 wow animate__animated animate__fadeInUp">Get the latest news, updates and tips</p>
            </div>
            <div class="mt-50">
                <div class="box-swiper style-nav-top">
                    <div class="swiper-container swiper-group-4 swiper">
                        <div class="swiper-wrapper pb-10 pt-5">
                            <div class="swiper-slide">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box"><img src="~/imgs/brands/brand-6.png" alt="jobBox"></div>
                                        <div class="right-info"><a class="name-job" href="company-details.html">Quora JSC</a><span class="location-small">New York, US</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="#">Senior System Engineer</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">Part time</span><span class="card-time">5<span> minutes ago</span></span></div>
                                        <p class="font-sm color-text-paragraph mt-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                        <div class="mt-30">
                                            <a class="btn btn-grey-small mr-5" href="#">PHP</a><a class="btn btn-grey-small mr-5" href="#">Android    </a>
                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">$800</span><span class="text-muted">/Hour</span></div>
                                                <div class="col-lg-5 col-5 text-end">
                                                    <div class="btn btn-apply-now" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Apply now</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box"><img src="~/imgs/brands/brand-4.png" alt="jobBox"></div>
                                        <div class="right-info"><a class="name-job" href="company-details.html">Dailymotion</a><span class="location-small">New York, US</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="#">Frontend Developer</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">Full time</span><span class="card-time">6<span> minutes ago</span></span></div>
                                        <p class="font-sm color-text-paragraph mt-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                        <div class="mt-30">
                                            <a class="btn btn-grey-small mr-5" href="jobs-grid.html">Typescript</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Java</a>
                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">$250</span><span class="text-muted">/Hour</span></div>
                                                <div class="col-lg-5 col-5 text-end">
                                                    <div class="btn btn-apply-now" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Apply now</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box"><img src="~/imgs/brands/brand-8.png" alt="jobBox"></div>
                                        <div class="right-info"><a class="name-job" href="company-details.html">Periscope</a><span class="location-small">New York, US</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="#">Lead Quality Control QA</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">Full time</span><span class="card-time">6<span> minutes ago</span></span></div>
                                        <p class="font-sm color-text-paragraph mt-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                        <div class="mt-30">
                                            <a class="btn btn-grey-small mr-5" href="#">iOS</a><a class="btn btn-grey-small mr-5" href="#">Laravel</a><a class="btn btn-grey-small mr-5" href="#">Golang</a>
                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">$250</span><span class="text-muted">/Hour</span></div>
                                                <div class="col-lg-5 col-5 text-end">
                                                    <div class="btn btn-apply-now" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Apply now</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box"><img src="~/imgs/brands/brand-4.png" alt="jobBox"></div>
                                        <div class="right-info"><a class="name-job" href="company-details.html">Dailymotion</a><span class="location-small">New York, US</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="#">Frontend Developer</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">Full time</span><span class="card-time">6<span> minutes ago</span></span></div>
                                        <p class="font-sm color-text-paragraph mt-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                        <div class="mt-30">
                                            <a class="btn btn-grey-small mr-5" href="jobs-grid.html">Typescript</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Java</a>
                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">$250</span><span class="text-muted">/Hour</span></div>
                                                <div class="col-lg-5 col-5 text-end">
                                                    <div class="btn btn-apply-now" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Apply now</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next swiper-button-next-4"></div>
                    <div class="swiper-button-prev swiper-button-prev-4"></div>
                </div>
                <div class="text-center"><a class="btn btn-grey" href="#">Load more posts</a></div>
            </div>
        </div>
    </section>
    <section class="section-box mt-50 mb-20">
        <div class="container">
            <div class="box-newsletter">
                <div class="row">
                    <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-left.png" alt="joxBox"></div>
                    <div class="col-lg-12 col-xl-6 col-12">
                        <h2 class="text-md-newsletter text-center">New Things Will Always<br> Update Regularly</h2>
                        <div class="box-form-newsletter mt-40">
                            <form class="form-newsletter">
                                <input class="input-newsletter" type="text" value="" placeholder="Enter your email here">
                                <button class="btn btn-default font-heading icon-send-letter">Subscribe</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-right.png" alt="joxBox"></div>
                </div>
            </div>
        </div>
    </section>
}

@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });

        function callChangefunc() {

            
            var job_reg_id =  document.getElementById("job_reg_id").value;
            

            var url = "@Url.Action("Saved_job", "Jobregister")" + "?job_reg_id=" + job_reg_id;
            window.location.href = url;
        }
    </script>
}
