﻿@using Jobportal_design.Models;
@model dynamic

@{
    ViewData["Title"] = "Profile";
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string reDirect = null;
    string active = null;
    if (ViewBag.reDirect != null)
    {
        reDirect = ViewBag.reDirect.ToString();
        active = ViewBag.ActiveTab.ToString();
    }
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />

<section class="section-box-2 sidebar-border">
    <div class="container">
        <a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>
        <div class="banner-hero banner-image-single"><img src="~/imgs/page/candidates/img.png" alt="jobbox"></div>
        <div class="box-company-profile">
            <div class="image-compay">
                @if (ViewBag.profilepic == null)
                {
                    <img width="100" height="100" src="~/imgs/page/candidates/candidate_profile1.png" alt="loading..">
                }
                else
                {
                    <img width="100" height="100" src="~/Jobseeker_uploads/@(ViewBag.profilepic)" alt="loading..">
                    @*<img src="~/imgs/page/candidates/candidate_profile1.png" alt="loading.." style="width:47%">*@
                }

            </div>
            @*<div class="image-compay" style="top: -92px;"><img src="~/Jobseeker_uploads/@(ViewBag.profilepic)" alt="jobbox" style="width: 50%; border-radius: 20px;"></div>*@
            <div class="row mt-10">
                <div class="col-lg-8 col-md-12">
                    <h5 class="f-18">@ViewBag.name <span class="card-location font-regular ml-20">@ViewBag.city </span></h5>
                    <p class="mt-0 font-md color-text-paragraph-2 mb-5">@ViewBag.highest_workHistory</p>
                    <p class="mt-0 font-md color-text-paragraph-2 mb-15">@ViewBag.email &nbsp;&nbsp;<i class="fi-rr-mobile"></i>&nbsp;&nbsp;@ViewBag.phone</p>
                    <div class="mt-10 mb-15"><img src="~/imgs/template/icons/star.svg" alt="jobbox"><img src="~/imgs/template/icons/star.svg" alt="jobbox"><img src="~/imgs/template/icons/star.svg" alt="jobbox"><img src="~/imgs/template/icons/star.svg" alt="jobbox"><img src="~/imgs/template/icons/star.svg" alt="jobbox"><span class="font-xs color-text-mutted ml-10">(66)</span><img class="ml-30" src="~/imgs/page/candidates/verified.png" alt="jobbox"></div>
                </div>
                @*<div class="btn btn-apply" data-bs-toggle="modal" style="float:right;" data-bs-target="#ModalApplyJobForm1">ADD</div>
                <div class="col-lg-4 col-md-12"><a class="btn-download-icon btn-apply" href="~/Jobseeker_uploads/@(ViewBag.resume)" download>Download Resume</a></div>*@
                <div class="col-lg-4 col-md-12 text-lg-end"><div class="btn btn-apply" data-bs-toggle="modal" style="float:right;" data-bs-target="#ModalApplyJobForm1">Resume</div></div>

                @*<a href="~/Jobseeker_uploads/@(ViewBag.resume)" download class="genric-btn primary circle medium">RESUME</a>*@
            </div>
        </div>

    </div>
</section>
<section class="section-box mt-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="sidebar-shadow none-shadow mb-30">
                    <div class="sidebar-filters sidebar-border">
                        <div class="filter-block head-border mt-10 mb-30">
                            <h5>Menu </h5>
                        </div>
                        <div class="filter-block mb-30" onmouseover="showSubmenu()" onmouseout="hideSubmenu()">
                            <div class="select-style select-style-icon">
                                <a class="form-control active" href="@Url.Action("Profile", "Jobseeker")" style="background: #f1f1f1; color: black; font-size: 14px;">My Profile </a>
                            </div>
                            @*<i id="ic1" class="fi fi-rr-angle-small-down"></i>*@
                                                    <!--<ul id="submenu">-->
                                                    @*<li>
                                    <div class="filter-block">
                                        <div class="form-group select-style select-style-icon">
                                            <a class="btn btn-border recruitment-icon" href="@Url.Action("Educationdetails", "Jobseeker")" style="background: #c9c7c7; color: black;">Add education</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="filter-block">
                                        <div class="form-group select-style select-style-icon">
                                            <a class="btn btn-border recruitment-icon" href="@Url.Action("Experiencedetails", "Jobseeker")" style="background: #c9c7c7; color: black;">Add Experience</a>
                                        </div>
                                    </div>
                                </li>*@
                                                    <!--<li>
                                    <div class="filter-block">
                                        <div class="form-group select-style select-style-icon">
                                            <a class="btn recruitment-icon" href="@Url.Action("Appliedjobdetail", "Jobseeker", new {ActiveTab = "tab-my-profile", isRedirect = "true" })" style="background: #c9c7c7; color: black;">Password change</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>-->
                        </div>
                        <div class="filter-block mb-30">
                            <div class="form-group select-style select-style-icon">
                                <a class="form-control" href="@Url.Action("EditProfile", "Jobseeker")" style="background: #f1f1f1; color: black;">Edit Profile</a>
                            </div>
                        </div>



                        <div class="filter-block mb-30">
                            <div class="form-group select-style select-style-icon">
                                <a class="form-control" href="@Url.Action("Appliedjobdetail", "Jobseeker")" style="background: #f1f1f1; color: black;">Applied Jobs</a>
                            </div>
                        </div>
                        <div class="filter-block mb-30">
                            <div class="form-group select-style select-style-icon">
                                <a class="form-control" href="@Url.Action("Appliedjobdetail", "Jobseeker", new { ActiveTab = "tab-saved-jobs", isRedirect = "true" })" style="background: #f1f1f1; color: black;">Saved Jobs</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="box-nav-tabs mb-10 sidebar-border">
                    <ul class="nav" role="tablist">
                        <li><a id="shortBio" class="btn btn-border aboutus-icon mr-15 mb-5 active" href="#tab-short-bio" data-bs-toggle="tab" role="tab" aria-controls="tab-short-bio" aria-selected="true">Short Bio</a></li>
                        <li><a id="education" class="btn btn-border recruitment-icon mr-15 mb-5" href="#tab-skills" data-bs-toggle="tab" role="tab" aria-controls="tab-skills" aria-selected="false">Education</a></li>
                        <li><a id="workExperience" class="btn btn-border people-icon mb-5" href="#tab-work-experience" data-bs-toggle="tab" role="tab" aria-controls="tab-work-experience" aria-selected="false">Work Experience</a></li>
                    </ul>
                    @*<ul class="nav" role="tablist">
                            <li><a class="btn btn-border mb-5 active" href="@Url.Action("Educationdetails", "Jobseeker")">Add Education</a></li>
                            <li><a class="btn btn-border mb-5 active" href="@Url.Action("Experiencedetails", "Jobseeker")">Add Experience</a></li>
                        </ul>*@


                </div>

                <div class="content-single">
                    <div class="tab-content">
                        <div class="tab-pane fade" id="tab-short-bio" role="tabpanel" aria-labelledby="tab-short-bio">
                            <div class="sidebar-border">
                                <h4>About Me</h4>
                                @if (@ViewBag.aboutme != null)
                                {
                                    <p>@ViewBag.aboutme.</p>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col-lg-7 col-7"><p>Add your Profile summary..</p></div>
                                        <div class="col-lg-5 col-5 text-end">

                                            <a class="btn btn-paragraph-2" href="@Url.Action("EditProfile", "Jobseeker")" style="background: #f1f1f1; color: black;">Update profile</a>
                                        </div>
                                    </div>



                                }
                            </div>

                            <div class="sidebar-border">
                                <h4>Skills</h4>
                                @if (@ViewBag.skill != null)
                                {
                                    <p>@ViewBag.skill.</p>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col-lg-7 col-7"><p>Add your Skills..</p></div>
                                        <div class="col-lg-5 col-5 text-end">

                                            <a class="btn btn-paragraph-2" href="@Url.Action("EditProfile", "Jobseeker")" style="background: #f1f1f1; color: black;">Update profile</a>
                                        </div>
                                    </div>


                                }

                            </div>
                            <div class="sidebar-border">
                                <h4>Languages</h4>
                                @if (@ViewBag.primaryLang != "0")
                                {
                                    <p><span style="color: darkgray;">Primary Language :</span>@ViewBag.primaryLang</p>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col-lg-7 col-7"><p>Add your Language..</p></div>
                                        <div class="col-lg-5 col-5 text-end">

                                            <a class="btn btn-paragraph-2" href="@Url.Action("EditProfile", "Jobseeker")" style="background: #f1f1f1; color: black;">Update profile</a>
                                        </div>
                                    </div>


                                }
                            </div>
                            
                           



                        </div>
                            <div class="tab-pane fade" id="tab-skills" role="tabpanel" aria-labelledby="tab-skills">
                                <h4 class="head-border">Education</h4><a href="@Url.Action("Educationdetails", "Jobseeker")"><span style="float: right; font-size: 22px; margin-top: -50px;" class="fi fi-rr-plus" title="Add Education" data-toggle="tooltip"></span></a>


                                @if (ViewBag.seekeducation != null)
                                {
                                    @foreach (var item in ViewBag.seekeducation)
                                    {
                                        <div class="col-xl-12 col-12">
                                            <div class="card-grid-2 hover-up wow animate__animated animate__fadeIn">
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <div class="card-grid-2-image-left d-block pe-0">
                                                            @*<div class="image-box"><img src="~/imgs/brands/brand-6.png" alt="jobBox"></div>*@
                                                            @*<div class="right-info"><a class="name-job" href=""></a><span class="location-small"></span></div>*@
                                                            <h4 style="margin-top: 0!important; margin-bottom: 10px!important;"><a>@item.schoolattended - @item.lastgrade</a></h4>
                                                            <div class="mt-5"><span class="card-briefcase">Year :</span><span class="card-time"><span>5</span><span> </span></span></div>
                                                        </div>
                                                    </div>
                                                    <div class="text-start text-md-start col-md-3">
                                                        <div class="pl-15 mb-15 mt-30">

                                                            <a class="btn btn-grey-small mr-5" href="@Url.Action("Editeducation", "Jobseeker",new { id = @item.id })">Edit</a>
                                                            <!-- <a class="btn btn-grey-small mr-5" href="@Url.Action("Educationdetails", "Jobseeker",new { id = @item.id })">Add</a>-->
                                                            @*<a class="btn btn-grey-small mr-5" asp-controller="Jobseeker" asp-action="Removeeducation" asp-route-id="@item.id" id="deleteSubmit" onclick="return functionConfirm(this)">Delete</a>*@

                                                            <form id="@string.Concat("deleteSubmit_",item.id)" asp-controller="Jobseeker" asp-action="Removeeducation" asp-route-id="@item.id" method="post" style="display: inline;">
                                                                <input type="submit" class="btn btn-grey-small mr-5" value="Delete" onclick="return functionConfirm(@item.id)">

                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-block-info">
                                                    <p class="font-sm color-text-paragraph mt-10">@item.collegeattended - @item.degreereceived.</p>
                                                    <p class="font-sm color-text-paragraph mt-10">Certificate received : @item.certificatereceived.</p>
                                                    <p class="font-sm color-text-paragraph mt-10">Academic accomplishments : @item.academic.</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                @if (@ViewBag.seekeducationCount == 0)
                                {
                                    <p>-- Add Your Education details --</p>
                                }
                            </div>

                            <div class="tab-pane fade" id="tab-work-experience" role="tabpanel" aria-labelledby="tab-work-experience">
                                <h4 class="head-border">Work Experiences </h4> <a href="@Url.Action("Experiencedetails", "Jobseeker")"><span style="float: right; font-size: 22px; margin-top: -50px;" class="fi fi-rr-plus" title="Add Experience" data-toggle="tooltip"></span></a>
                                @if (ViewBag.seekexperience != null)
                                {
                                    @foreach (var item in ViewBag.seekexperience)
                                    {

                                        <div class="col-xl-12 col-12">
                                            <div class="card-grid-2 hover-up wow animate__animated animate__fadeIn">
                                                <span class="flash"></span>
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <div class="card-grid-2-image-left d-block pe-0">
                                                            <h4 style="margin-top: 0!important; margin-bottom: 10px!important;"><a href="">@item.designation </a></h4>
                                                            <div class="mt-5"><span class="card-briefcase">@item.employmenttype</span><span class="card-time"><span>@item.from_date.ToString("MM/dd/yyyy")</span><span>&nbsp;-&nbsp; @item.to_date.ToString("MM/dd/yyyy")</span></span></div>
                                                        </div>
                                                    </div>
                                                    <div class="text-start text-md-start col-md-3">
                                                        <div class="pl-15 mb-15 mt-30">
                                                            <a class="btn btn-grey-small mr-5" href="@Url.Action("Editexperience", "Jobseeker",new { id = @item.id})">Edit</a>
                                                            @*<a class="btn btn-grey-small mr-5" href="@Url.Action("Removeexperience", "Jobseeker",new { id = @item.id})">Delete</a>*@
                                                            <form asp-action="Removeexperience" id="@string.Concat("deleteSubmit1_",item.id)" asp-controller="Jobseeker" asp-route-id="@item.id" method="post" style="display: inline;">
                                                                <button type="submit" class="btn btn-grey-small mr-5" onclick="return functionConfirm1(@item.id)">
                                                                    Delete
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-block-info">
                                                    <p class="font-sm color-text-paragraph mt-10">Employer Name: @item.employername</p>
                                                    <p class="font-sm color-text-paragraph mt-10 para-height02">List of Skills: @item.skills</p>
                                                    @*<p class="font-sm color-text-paragraph mt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                <div class="card-2-bottom mt-20">
                                    <div class="row">
                                        <div class="col-lg-7 col-7"><span class="card-text-price">Status:<span class="text-success">Done</span></span></div>
                                        <div class="col-lg-5 col-5 text-end"><a class="btn btn-apply-now" href="job-details.html">View Details</a></div>
                                    </div>
                                </div>*@
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                @if (@ViewBag.seekexperienceCount == 0)
                                {
                                    <p>-- Add Your Experience details --</p>
                                }
                            </div>
                        </div>
                </div>
                @*<div class="box-related-job content-page">
                        <h3 class="mb-30">Work History</h3>
                        <div class="box-list-jobs display-list">
                            <div class="col-xl-12 col-12">
                                <div class="card-grid-2 hover-up wow animate__animated animate__fadeIn">
                                    <span class="flash"></span>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="card-grid-2-image-left">
                                                <div class="image-box"><img src="~/imgs/brands/brand-6.png" alt="jobBox"></div>
                                                <div class="right-info"><a class="name-job" href="">Quora JSC</a><span class="location-small">New York, US</span></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 text-start text-md-end pr-60 col-md-6 col-sm-12">
                                            <div class="pl-15 mb-15 mt-30"><a class="btn btn-grey-small mr-5" href="#">Adobe XD</a><a class="btn btn-grey-small mr-5" href="#">Figma</a></div>
                                        </div>
                                    </div>
                                    <div class="card-block-info">
                                        <h4><a href="job-details.html">Senior System Engineer</a></h4>
                                        <div class="mt-5"><span class="card-briefcase">Part time</span><span class="card-time"><span>5</span><span> days ago</span></span></div>
                                        <p class="font-sm color-text-paragraph mt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                        <div class="card-2-bottom mt-20">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">Status:<span class="text-success">Done</span></span></div>
                                                <div class="col-lg-5 col-5 text-end"><a class="btn btn-apply-now" href="job-details.html">View Details</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-12">
                                <div class="card-grid-2 hover-up wow animate__animated animate__fadeIn">
                                    <span class="flash"></span>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="card-grid-2-image-left">
                                                <div class="image-box"><img src="~/imgs/brands/brand-7.png" alt="jobBox"></div>
                                                <div class="right-info"><a class="name-job" href="">Nintendo</a><span class="location-small">New York, US</span></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 text-start text-md-end pr-60 col-md-6 col-sm-12">
                                            <div class="pl-15 mb-15 mt-30"><a class="btn btn-grey-small mr-5" href="#">Adobe XD</a><a class="btn btn-grey-small mr-5" href="#">Figma</a></div>
                                        </div>
                                    </div>
                                    <div class="card-block-info">
                                        <h4><a href="job-details.html">Products Manager</a></h4>
                                        <div class="mt-5"><span class="card-briefcase">Full time</span><span class="card-time"><span>6</span><span> days ago</span></span></div>
                                        <p class="font-sm color-text-paragraph mt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                        <div class="card-2-bottom mt-20">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">Status:<span class="text-success">Done</span></span></div>
                                                <div class="col-lg-5 col-5 text-end"><a class="btn btn-apply-now" href="job-details.html">View Details</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-12">
                                <div class="card-grid-2 hover-up wow animate__animated animate__fadeIn">
                                    <span class="flash"></span>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="card-grid-2-image-left">
                                                <div class="image-box"><img src="~/imgs/brands/brand-8.png" alt="jobBox"></div>
                                                <div class="right-info"><a class="name-job" href="">Periscope</a><span class="location-small">New York, US</span></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 text-start text-md-end pr-60 col-md-6 col-sm-12">
                                            <div class="pl-15 mb-15 mt-30"><a class="btn btn-grey-small mr-5" href="#">Adobe XD</a><a class="btn btn-grey-small mr-5" href="#">Figma</a></div>
                                        </div>
                                    </div>
                                    <div class="card-block-info">
                                        <h4><a href="job-details.html">Lead Quality Control QA</a></h4>
                                        <div class="mt-5"><span class="card-briefcase">Full time</span><span class="card-time"><span>6</span><span> days ago</span></span></div>
                                        <p class="font-sm color-text-paragraph mt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                        <div class="card-2-bottom mt-20">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">Status:<span class="text-success">Done</span></span></div>
                                                <div class="col-lg-5 col-5 text-end"><a class="btn btn-apply-now" href="job-details.html">View Details</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="paginations">
                            <ul class="pager">
                                <li><a class="pager-prev" href="#"></a></li>
                                <li><a class="pager-number" href="#">1</a></li>
                                <li><a class="pager-number" href="#">2</a></li>
                                <li><a class="pager-number" href="#">3</a></li>
                                <li><a class="pager-number" href="#">4</a></li>
                                <li><a class="pager-number" href="#">5</a></li>
                                <li><a class="pager-number active" href="#">6</a></li>
                                <li><a class="pager-number" href="#">7</a></li>
                                <li><a class="pager-next" href="#"></a></li>
                            </ul>
                        </div>
                    </div>*@
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-12 pl-40 pl-lg-15 mt-lg-30">
                <div class="sidebar-border">
                    <h5 class="f-18">Overview</h5>
                    <div class="sidebar-list-job">
                        <ul>
                            <li>
                                <div class="sidebar-icon-item"><i class="fi-rr-briefcase"></i></div>
                                @if (@ViewBag.highest_workHistory == null)
                                {
                                    <div class="sidebar-text-info"><span class="text-description">Previous Work</span><strong class="small-heading">-NA-</strong></div>
                                }
                                else
                                {
                                    <div class="sidebar-text-info"><span class="text-description">Previous Work</span><strong class="small-heading">@ViewBag.highest_workHistory</strong></div>
                                }
                            </li>
                            <li>
                                <div class="sidebar-icon-item"><i class="fi-rr-time-fast"></i></div>
                                @if (@ViewBag.highest_degree == "")
                                {
                                    <div class="sidebar-text-info"><span class="text-description">Highest Degree</span><strong class="small-heading">-NA-</strong></div>
                                }
                                else
                                {
                                    <div class="sidebar-text-info"><span class="text-description">Highest Degree</span><strong class="small-heading">@ViewBag.highest_degree</strong></div>
                                }
                            </li>
                            <li>
                                <div class="sidebar-icon-item"><i class="fi fi-rr-user"></i></div>
                                @if (@ViewBag.gender == "0")
                                {
                                    <div class="sidebar-text-info"><span class="text-description">Gender</span><strong class="small-heading">-NA-</strong></div>
                                }
                                else
                                {
                                    <div class="sidebar-text-info"><span class="text-description">Gender</span><strong class="small-heading">@ViewBag.gender</strong></div>
                                }
                            </li>


                        </ul>
                    </div>
                    <div class="sidebar-list-job">
                        <ul class="ul-disc">
                            <li>Address: @ViewBag.Address</li>
                            <li>City: @ViewBag.city</li>
                            <li>County: @ViewBag.county</li>
                            <li>Phone1: @ViewBag.phone</li>
                            <li>Phone2: @ViewBag.phone1</li>
                            <li>Email: @ViewBag.email</li>
                        </ul>
                        <div class="mt-30"><a class="btn btn-send-message" href="page-contact.html">Send Message</a></div>
                    </div>
                </div>
                <div class="sidebar-border-bg bg-right">
                    <span class="text-grey">WE ARE</span><span class="text-hiring">HIRING</span>
                    <p class="font-xxs color-text-paragraph mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto</p>
                    <div class="mt-15"><a class="btn btn-paragraph-2" href="#">Know More</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="ModalApplyJobForm1" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content apply-job-form">
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body pl-30 pr-30 pt-50">

                @if (@ViewBag.resume == null)
                {
                    <div class="text-center">
                        <p class="font-sm text-brand-2">RESUME </p>
                        <h2 class="mt-10 mb-5 text-brand-1 text-capitalize">Upload your Resume today</h2>
                        <p class="font-sm text-muted mb-30">Resume is the most important document recruiters look for. Recruiters generally do not look at profiles without resumes..</p>
                    </div>
                    @using (Html.BeginForm("UpdateResume", "Jobseeker", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <form class="login-register text-start mt-20 pb-30" action="#">
                            <br />
                            <br />

                            <div class="form-group">
                                @*<label class="form-label" for="file">Upload Resume</label>
        <input class="form-control" type="file" name="s_resume1" placeholder="Resume">*@
                                <label class="form-label" for="file">Upload Resume :</label>
                                <br />
                                @*<div class="file-input">
            <input type="file" name="s_resume1" id="s_resume1" onchange="return resumeValidation()">
            <span class="button" id="s_resume1">Choose Resume</span>
            <span class="label" data-js-label>No file selected</span>
        </div>
        <p id="errormsg"></p>*@
                                <input type="file" name="s_resume1" id="imageUpload" class="image-upload" required onchange="return resumeValidation()">
                                <label for="imageUpload">Choose Resume</label>
                                <p id="fileName"></p>
                                <p id="errormsg"></p>

                            </div>


                            <br /><br />
                            <div class="form-group text-center">
                                <button class="btn btn-default hover-up w-30" type="submit" name="login">Upload Resume</button>
                            </div>
                        </form>

                    }
                }
                else
                {
                    @using (Html.BeginForm("UpdateResume", "Jobseeker", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="text-center">
                            <p class="font-sm text-brand-2">RESUME </p>
                            <h2 class="mt-10 mb-5 text-brand-1 text-capitalize">Update your Resume today</h2>
                            <p class="font-sm text-muted mb-30">Resume is the most important document recruiters look for. Recruiters generally do not look at profiles without resumes..</p>
                        </div>
                        <form class="login-register text-start mt-20 pb-30" action="#">
                            <br /><br />
                            <div class="form-group"><a href="~/Jobseeker_uploads/@(ViewBag.resume)" download>
                                <i class="fi fi-rr-download extraDwld">&nbsp;&nbsp;DOWNLOAD</i>
</a>
                            </div>
                            <br />
                            <div class="form-group">
                                <label class="form-label" for="input-1">Resume</label>
                                <input class="form-control" id="input-1" type="text" value="@(ViewBag.resume)"  name="fullname" placeholder="">
                            </div>


                            <div class="form-group">
                                <label class="form-label" for="file">Update Resume : </label>
                                <br />
                                @*<input class="form-control" type="file" name="s_resume1" placeholder="Resume">*@
                                @*<div class="file-input">
            <input type="file" name="s_resume1" id="s_resume1" onchange="return resumeValidation()">
            <span class="button" id="s_resume1">Choose Resume</span>
            <span class="label" data-js-label>No file selected</span>

        </div>*@
                               
                                <input type="file" name="s_resume1" id="imageUpload" class="image-upload" required onchange="return resumeValidation()">
                                <label for="imageUpload">Choose Resume</label>
                                <p id="fileName"></p>
                                <p id="errormsg"></p>
                            </div>
                           
                            <br /><br />
                            <div class="form-group text-center">
                                <button class="btn btn-default hover-up w-30" type="submit" name="login">Update Resume</button>
                            </div>
                        </form>
                    }
                }

            </div>
        </div>
    </div>
</div>
<section class="section-box mt-50 mb-20">
    <div class="container">
        <div class="box-newsletter">
            <div class="row">
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-left.png" alt="joxBox"></div>
                <div class="col-lg-12 col-xl-6 col-12">
                    <h2 class="text-md-newsletter text-center">New Things Will Always<br> Update Regularly</h2>
                    <div class="box-form-newsletter mt-40">
                        <form class="form-newsletter">
                            <input class="input-newsletter" type="text" value="" placeholder="Enter your email here">
                            <button class="btn btn-default font-heading icon-send-letter">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-right.png" alt="joxBox"></div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });

         $(function () {
             //$("#education").addClass("active");
             var reDirect = '@reDirect';

             if (reDirect == "true") {
                 var selector = '@active';
                 $("#" + selector).addClass("show");
                 $("#" + selector).addClass("active");
                 $("#tab-short-bio").removeClass("show");
                 $("#tab-short-bio").removeClass("active");
                 if (selector == "tab-skills") {
                     $("#shortBio").removeClass("active");
                     $("#education").addClass("active");
                 }
                 if (selector == "tab-work-experience") {
                     $("#shortBio").removeClass("active");
                     $("#education").removeClass("active");
                     $("#workExperience").addClass("active");
                 }

             }
             else {

                 $("#tab-short-bio").addClass("show");
                 $("#tab-short-bio").addClass("active");
                 $("#shortBio").addClass("active");
             }

         });
    </script>
    <script>

        function resumeValidation() {
            
            
            var fileInput =
                document.getElementById('imageUpload');

            var filePath = fileInput.value;
            console.log(fileInput);
            var filename = filePath.replace(/^.*[\\/]/, '');
            console.log(filePath);
            //alert(filePath);
            // Allowing file type
            var allowedExtensions =
                /(\.doc|\.docx|\.odt|\.pdf|\.tex|\.txt|\.rtf|\.wps|\.wks|\.wpd)$/i;

            if (!allowedExtensions.exec(filePath)) {
                document.getElementById("errormsg").innerHTML = "Invalid file type!!"
                document.getElementById("fileName").innerHTML = "";
                fileInput.value = '';
                return false;
            }
            else {
                document.getElementById("errormsg").innerHTML = ""
                document.getElementById("fileName").innerHTML = filename;
                return true;
            }
        }
    </script>

}
<script type="text/javascript">
    function showSubmenu() {
        document.getElementById('submenu').style.display = 'block';
        document.getElementById("ic1").classList.remove("fi-rr-angle-small-down");
        document.getElementById("ic1").classList.add("fi-rr-angle-small-up");
    }
    function hideSubmenu() {
        document.getElementById('submenu').style.display = 'none';
        document.getElementById("ic1").classList.add("fi-rr-angle-small-down");
        document.getElementById("ic1").classList.remove("fi-rr-angle-small-up");
    }

    var inputs = document.querySelectorAll('.file-input')

    for (var i = 0, len = inputs.length; i < len; i++) {
        customInput(inputs[i])
    }

    function customInput(el) {
        const fileInput = el.querySelector('[type="file"]')
        const label = el.querySelector('[data-js-label]')

        fileInput.onchange =
            fileInput.onmouseout = function () {
                if (!fileInput.value) return

                var value = fileInput.value.replace(/^.*[\\\/]/, '')
                el.className += ' -chosen'
                label.innerText = value
            }
    }


    function functionConfirm(id) {        
        swal({
            title: 'Are you sure?',
            text: "You will not be able to recover this item",
            type: 'warning',
            showCancelButton: true,
            cancelButtonText: 'No',
            cancelButtonClass: 'btn btn-danger',
            showConfirmButton: true,
            confirmButtonText: 'Yes',
            confirmButtonClass: 'btn btn-success'
        }, function (isConfirm) {
            if (isConfirm) {
                var delSub = `deleteSubmit_${id}`;                
               /* $('#deleteSubmit').submit();*/
                $('#'+delSub).submit();
                return true;
            } else {
                return false;
            }
        });
        return false;
    }
    function functionConfirm1(id) {
        swal({
            title: 'Are you sure?',
            text: "You will not be able to recover this item",
            type: 'warning',
            showCancelButton: true,
            cancelButtonText: 'No',
            cancelButtonClass: 'btn btn-danger',
            showConfirmButton: true,
            confirmButtonText: 'Yes',
            confirmButtonClass: 'btn btn-success'
        }, function (isConfirm) {
            if (isConfirm) {
                var delSub = `deleteSubmit1_${id}`;
                $('#'+delSub).submit();
                return true;
            } else {
                return false;
            }
        });
        return false;
    }
</script>
<style>
    #submenu {
        display: none;
        background-color: lavender;
        padding: 20px;
        box-shadow: 5px 5px 5px 0px #bcbcbc;
        border: 1px solid #f1f1f1;
        width: 85%;
        margin-left: 14%;
    }

    .file-input {
        display: inline-block;
        text-align: left;
        background: #fff;
        padding: 16px;
        width: 450px;
        position: relative;
        border-radius: 3px;
    }

        .file-input > [type='file'] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 10;
            cursor: pointer;
        }

        .file-input > .button {
            display: inline-block;
            cursor: pointer;
            background: #eee;
            padding: 8px 16px;
            border-radius: 2px;
            margin-right: 8px;
        }

        .file-input:hover > .button {
            background: dodgerblue;
            color: white;
        }

        .file-input > .label {
            color: #333;
            white-space: nowrap;
            opacity: .3;
        }

        .file-input.-chosen > .label {
            opacity: 1;
        }
    #error {
        color: red;
        font-weight: 600;
        font-size: 13px;
        line-height: 25px;
    }

    #errormsg {
        color: red;
        font-weight: 600;
    }
    .image-upload {
        display: none;
    }

        .image-upload + label {
            background-color: #85c440;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            font-weight: bold;
            padding: 8px 16px;
        }

            .image-upload + label:hover {
                background-color: #d81b60;
            }

        .image-upload:focus + label {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;
        }

        .image-upload + label:before {
            /*background-image: url("path/to/image/icon.png");
            background-position: center center;
            background-repeat: no-repeat;
            content: "";*/
            display: inline-block;
            height: 24px;
            margin-right: 8px;
            vertical-align: middle;
            width: 24px;
        }
    .extraDwld {
        font-size: 14px !important;
        padding: 10px !important;
        background: #85c440;
        color: white;
        border-radius: 5px;        
        font-weight: 700;
        left: 0px;
        color:white !important;
       }
    .sidebar-filters .filter-block .select-style-icon a:hover, .sidebar-filters .filter-block .select-style-icon a.active {
        background: #85c440!important;
        color: #fff!important;
    }
    
    .para-height02 {
        height: 200px!important;
        overflow: hidden!important;
        overflow-y: auto!important;
    }

</style>