﻿@using Jobportal_design.Models;
@model dynamic

@{
    ViewData["Title"] = "Profile";
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>

<section class="section-box-2">
    <div class="container">
        <div class="banner-hero banner-image-single"><img src="~/imgs/page/candidates/img.png" alt="jobbox"></div>
        <div class="box-company-profile">
            <div class="image-compay">
                @if (ViewBag.profilepic == null)
                {
                    <img width="100" height="100" src="~/imgs/page/candidates/candidate_profile1.png" alt="loading..">
                }
                else
                {
                    <img width="100" height="100" src="~/Jobseeker_uploads/@(ViewBag.profilepic)" alt="loading..">

                }

            </div>
            <div class="row mt-10">
                <div class="col-lg-7 col-md-12">
                    <h5 class="f-18">@ViewBag.name <span class="card-location font-regular ml-20">@ViewBag.city </span></h5>
                    @*<p class="mt-0 font-md color-text-paragraph-2 mb-15">UI/UX Designer. Front end Developer</p>*@
                    <p class="mt-0 font-md color-text-paragraph-2 mb-15">@ViewBag.email &nbsp;&nbsp;<i class="fi-rr-mobile"></i>&nbsp;&nbsp;@ViewBag.phone</p>
                    <div class="mt-10 mb-15"><img src="~/imgs/template/icons/star.svg" alt="jobbox"><img src="~/imgs/template/icons/star.svg" alt="jobbox"><img src="~/imgs/template/icons/star.svg" alt="jobbox"><img src="~/imgs/template/icons/star.svg" alt="jobbox"><img src="~/imgs/template/icons/star.svg" alt="jobbox"><span class="font-xs color-text-mutted ml-10">(66)</span><img class="ml-30" src="~/imgs/page/candidates/verified.png" alt="jobbox"></div>
                </div>
                <div class="col-lg-3 col-md-12 text-lg-end"><a class="btn-download-icon btn-apply" href="~/Jobseeker_uploads/@(ViewBag.resume)" download>Resume</a></div>
                @*<div class="col-lg-2 col-md-12 text-lg-end"><a class="btn-apply" href="@Url.Action("Appliedjobdetail", "Jobseeker")">My Profile</a></div>*@

                @*<a href="~/Jobseeker_uploads/@(ViewBag.resume)" download class="genric-btn primary circle medium">RESUME</a>*@
            </div>
        </div>
        <div class="box-nav-tabs mb-5">
            <ul class="nav" role="tablist">
                <li><a id="shortBio" class="btn btn-border aboutus-icon mr-15 mb-5 active" href="#tab-short-bio" data-bs-toggle="tab" role="tab" aria-controls="tab-short-bio" aria-selected="true">Short Bio</a></li>
                <li><a id="education" class="btn btn-border recruitment-icon mr-15 mb-5" href="#tab-skills" data-bs-toggle="tab" role="tab" aria-controls="tab-skills" aria-selected="false">Education</a></li>
                <li><a id="workExperience" class="btn btn-border people-icon mb-5" href="#tab-work-experience" data-bs-toggle="tab" role="tab" aria-controls="tab-work-experience" aria-selected="false">Work Experience</a></li>
            </ul>


        </div>
        <div class="border-bottom pt-10 pb-10"></div>
    </div>
</section>
<section class="section-box mt-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                @*<div class="box-nav-tabs mb-5">
                        <ul class="nav" role="tablist">
                            <li><a id="shortBio" class="btn btn-border aboutus-icon mr-15 mb-5 active" href="#tab-short-bio" data-bs-toggle="tab" role="tab" aria-controls="tab-short-bio" aria-selected="true">Short Bio</a></li>
                            <li><a id="education" class="btn btn-border recruitment-icon mr-15 mb-5" href="#tab-skills" data-bs-toggle="tab" role="tab" aria-controls="tab-skills" aria-selected="false">Education</a></li>
                            <li><a id="workExperience" class="btn btn-border people-icon mb-5" href="#tab-work-experience" data-bs-toggle="tab" role="tab" aria-controls="tab-work-experience" aria-selected="false">Work Experience</a></li>
                        </ul>


                    </div>*@

                <div class="content-single">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-short-bio" role="tabpanel" aria-labelledby="tab-short-bio">
                            <h4>About Me</h4>
                            @if (@ViewBag.aboutme != null)
                            {
                                <p>@ViewBag.aboutme.</p>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-lg-7 col-7"><p>No About Me added.</p></div>

                                </div>

                            }

                            <h4>Skills</h4>
                            @if (@ViewBag.skill != null)
                            {
                                <p>@ViewBag.skill.</p>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-lg-7 col-7"><p>No Skills added.</p></div>

                                </div>
                            }

                            <h4>Languages</h4>
                            @if (@ViewBag.primaryLang != "0")
                            {
                                <p><span style="color: darkgray;">Primary Language :</span>@ViewBag.primaryLang</p>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-lg-7 col-7"><p>No Language added.</p></div>

                                </div>


                            }



                        </div>
                        <div class="tab-pane fade" id="tab-skills" role="tabpanel" aria-labelledby="tab-skills">
                            <h4 class="head-border">Education</h4>


                            @if (ViewBag.seekeducation != null)
                            {
                                @foreach (var item in ViewBag.seekeducation)
                                {
                                    <div class="col-xl-12 col-12">
                                        <div class="card-grid-2 hover-up wow animate__animated animate__fadeIn">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="card-grid-2-image-left">
                                                        @*<div class="image-box"><img src="~/imgs/brands/brand-6.png" alt="jobBox"></div>*@
                                                        <div class="right-info"><a class="name-job" href=""></a><span class="location-small"></span></div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="card-block-info">
                                                <h4><a>@item.schoolattended - @item.lastgrade</a></h4>
                                                <div class="mt-5"><span class="card-briefcase">Year :</span><span class="card-time"><span>5</span><span> </span></span></div>
                                                <p class="font-sm color-text-paragraph mt-10">@item.collegeattended - @item.degreereceived.</p>
                                                <p class="font-sm color-text-paragraph mt-10">Certificate received : @item.certificatereceived.</p>
                                                <p class="font-sm color-text-paragraph mt-10">Academic accomplishments : @item.academic.</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            @if (@ViewBag.seekeducationCount == 0)
                            {
                                <p>--No Education details added--</p>
                            }
                        </div>

                        <div class="tab-pane fade" id="tab-work-experience" role="tabpanel" aria-labelledby="tab-work-experience">
                            <h4 class="head-border">Work Experiences </h4>
                            @if (ViewBag.seekexperience != null)
                            {
                                @foreach (var item in ViewBag.seekexperience)
                                {

                                    <div class="col-xl-12 col-12">
                                        <div class="card-grid-2 hover-up wow animate__animated animate__fadeIn">
                                            <span class="flash"></span>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="card-grid-2-image-left">
                                                        @*<div class="image-box"><img src="~/imgs/brands/brand-6.png" alt="jobBox"></div>*@
                                                        @*<div class="right-info"><a class="name-job" href=""></a><span class="location-small"></span></div>*@
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="card-block-info">
                                                <h4><a href="">@item.designation </a></h4>
                                                <div class="mt-5"><span class="card-briefcase">@item.employmenttype</span><span class="card-time"><span>@item.from_date.ToString("MM/dd/yyyy")</span><span>&nbsp;-&nbsp; @item.to_date.ToString("MM/dd/yyyy")</span></span></div>
                                                <p class="font-sm color-text-paragraph mt-10">Employer Name: @item.employername</p>
                                                <p class="font-sm color-text-paragraph mt-10">List of Skills: @item.skills</p>

                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                            @if (@ViewBag.seekexperienceCount == 0)
                            {
                                <p>--No Experience details added--</p>
                            }

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 pl-40 pl-lg-15 mt-lg-30">
                <div class="sidebar-border">
                    <h5 class="f-18">Overview</h5>
                    <div class="sidebar-list-job">
                        <ul>
                            <li>
                                <div class="sidebar-icon-item"><i class="fi-rr-briefcase"></i></div>
                                <div class="sidebar-text-info"><span class="text-description">Previous Work</span><strong class="small-heading">@ViewBag.highest_workHistory</strong></div>
                            </li>
                            <li>
                                <div class="sidebar-icon-item"><i class="fi-rr-users"></i></div>
                                <div class="sidebar-text-info"><span class="text-description">Gender</span><strong class="small-heading">@ViewBag.gender</strong></div>
                            </li>
                            <li>
                                <div class="sidebar-icon-item"><i class="fi-rr-marker"></i></div>
                                <div class="sidebar-text-info"><span class="text-description">Primary Language</span><strong class="small-heading">@ViewBag.primaryLang</strong></div>
                            </li>
                            @*<li>
                                    <div class="sidebar-icon-item"><i class="fi-rr-marker"></i></div>
                                    <div class="sidebar-text-info"><span class="text-description">Secondary Language</span><strong class="small-heading">@ViewBag.secondaryLang</strong></div>
                                </li>*@
                            <li>
                                <div class="sidebar-icon-item"><i class="fi-rr-time-fast"></i></div>
                                <div class="sidebar-text-info"><span class="text-description">Education Level</span><strong class="small-heading">@ViewBag.highest_degree</strong></div>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-list-job">
                        <ul class="ul-disc">
                            <li>Address: @ViewBag.Address</li>
                            <li>City: @ViewBag.city</li>
                            <li>County: @ViewBag.county</li>
                            <li>Phone1: @ViewBag.phone</li>
                            <li>Phone2: @ViewBag.phone1</li>
                            <li>Email: @ViewBag.email</li>
                        </ul>
                        <div class="mt-30"><a class="btn btn-send-message" href="page-contact.html">Send Message</a></div>
                    </div>
                </div>
                <div class="sidebar-border-bg bg-right">
                    <span class="text-grey">WE ARE</span><span class="text-hiring">HIRING</span>
                    <p class="font-xxs color-text-paragraph mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto</p>
                    <div class="mt-15"><a class="btn btn-paragraph-2" href="#">Know More</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-box mt-50 mb-20">
    <div class="container">
        <div class="box-newsletter">
            <div class="row">
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-left.png" alt="joxBox"></div>
                <div class="col-lg-12 col-xl-6 col-12">
                    <h2 class="text-md-newsletter text-center">New Things Will Always<br> Update Regularly</h2>
                    <div class="box-form-newsletter mt-40">
                        <form class="form-newsletter">
                            <input class="input-newsletter" type="text" value="" placeholder="Enter your email here">
                            <button class="btn btn-default font-heading icon-send-letter">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-right.png" alt="joxBox"></div>
            </div>
        </div>
    </div>
</section>
