﻿@*@model IEnumerable<Jobportal_design.Models.seek_tbl>*@
@model Jobportal_design.Models.seek_tbl
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/new-style.css" rel="stylesheet" />
<html>
<body class="" onload="GenerateCaptcha();">

    <div class="bg-homepage1" style="height: 1500px;"></div>
    <section class="section-box-2">
        <div class="container">
            <div class="banner-hero banner-single banner-single-bg banner-hero-responsive01">
                <div class="block-banner text-center">
                    <h3 class="wow animate__animated animate__fadeInUp"><span class="color-brand-2"> Job Seeker Registration</span>  </h3>
                </div>
            </div>
        </div>
    </section>
    @using (Html.BeginForm("Signup", "Jobseeker", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-md-12 mb-50">
            <div class="content-single">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-my-profile" role="tabpanel" aria-labelledby="tab-my-profile">
                        @*<h3 class="mt-0 mb-15 color-brand-1"></h3>*@
                        @*<h3 class="wow animate__animated animate__fadeInUp" style="color: #80287d;position:relative;left:46%">Job Seeker Registration</h3>*@

                        @*<a class="font-md color-text-paragraph-2" href="#">Update your profile</a>*@
                        <div class="mt-35 mb-40 box-info-profie" style="display:none;">
                            @*<div class="image-profile">
                <img src="~/imgs/page/candidates/candidate-profile.png" alt="jobbox">
            </div>*@
                            @*<a class="btn btn-apply"><input type="file" name="s_pic" id="s_pic" placeholder="" style="width:206px;"
            onfocus="this.placeholder = ''" onblur="this.placeholder = ''"
             onchange="return profileValidation()">Upload Avatar</a>
                                 <a class="btn btn-link">Delete</a>*@
                        </div>
                        <div class="row form-contact" style="position:relative;">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="card p-5 pt-4">
                                    <div class="card-body">
                                        <div class="col-md-12 title-responsive01">
                                            <h3 class="wow animate__ animate__fadeInUp animated text-center mt-0" style="visibility: visible; animation-name: fadeInUp;">
                                                <span class="color-brand-2"> Job Seeker Registration</span>  
                                            </h3>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">First Name <span style="color:red">*</span></label>
                                            @*<input class="form-control" type="text" id="fname" name="fname" placeholder="John" tabindex="1" >*@
                                            @Html.TextBoxFor(model => model.fname, new { placeholder = "ex: John", @class = "form-control", @required = "required",@id="name" })
                                        </div>
                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">Last Name </label>
                                            @Html.TextBoxFor(model => model.lname, new { placeholder = "ex: mathew", @class = "form-control" })
                                            @*<input class="form-control" id="lname" name="lname" type="text" placeholder="mathew" tabindex="2" value="">*@
                                        </div>
                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">Email <span style="color:red">*</span></label>
                                            @Html.TextBoxFor(model => model.email_id, new { placeholder = "ex: john@gmail.com", @class = "form-control", @id = "email_id", @required = "required" })
                                            @*<input class="form-control" name="email_id" id="email_id" type="text" placeholder="ex: john@gmail.com" tabindex="3">*@
                                            <div id="lblMailError" style="color:red"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">Password <span style="color:red">*</span></label>
                                            <input class="form-control" type="password" id="e_password" name="e_password" placeholder="*********" tabindex="4" value="">
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Phone Type <span style="color:red">*</span></label>
                                                    <div class="box-industry" style="border:1px solid #E0E6F6;height:50px;">
                                                        <select asp-for="primary_phone_type" id="primary_phone_type" name="primary_phone_type" tabindex="5" class="form-select mr-10 select-active input-industry">
                                                            @*<option value="0" class="fi-rr-arrow-down">Select </option>*@
                                                            <option value="Cell" class="fi-rr-arrow-down">Cell</option>
                                                            <option value="Home">Home</option>
                                                            <option value="Work">Work</option>
                                                            <option value="Other">Other</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Contact Number <span style="color:red">*</span></label>
                                                    @*<input type="text" name="contact1" id="contact1" tabindex="6" placeholder="567-864-3578"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Primary Contact Number'"
                    class="single-input" onKeyup='addDashes(this)'>*@
                                                    @Html.TextBoxFor(model => model.contact1, new { placeholder = "ex: 567-864-3578", @class = "form-control", @id = "contact1", @onKeyup = "addDashes(this)", @required = "required" })
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Ext </label>
                                                    <input type="text" id="primary_extension" name="primary_extension" size="4" tabindex="7" maxlength="5" class="form-control validate[required,min[5]]">

                                                </div>
                                            </div>
                                        </div>




                                        <h6 class="color-orange mb-20">Enter Capcha</h6>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Capcha</label>
                                                    <input class="form-control" type="text" id="txtCaptcha" style="text-align: center; font-size:18px; color: #80287d; background:#f1f1f1;">
                                                    <i class="fi-rr-refresh" id="btnrefresh" value="Refresh" onclick="GenerateCaptcha();" tabindex="8" style="top: 69%; left: 325px;color: #85c440;"></i>
                                                    @*<input class="form-control" type="button" id="btnrefresh" value="Refresh" onclick="GenerateCaptcha();" />*@

                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Enter Capcha<span style="color:red">*</span></label>
                                                    @*<input class="form-control" type="text" value="ucYv4 4 10">*@
                                                    <input type="text" id="txtCompare" class="form-control" tabindex="9" required />


                                                </div>
                                            </div>
                                        </div>
                                        <div class="border-bottom pt-10 pb-10"></div>
                                        <div class="box-agree mt-30">
                                            <label class="lbl-agree font-xs color-text-paragraph-2">
                                                <input class="lbl-checkbox" type="checkbox" id="termsCon" value="1" tabindex="10" required>I Accepted All terms and condition.<span style="color:red">*</span>
                                            </label>
                                        </div>
                                        <div class="box-button mt-15">
                                            <button class="btn btn-apply-big font-md font-bold" id="submit-btn" disabled tabindex="11" onclick="return validateEmail()">Save All Changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
<script>
    const nameInput = document.getElementById('name');
    const emailInput = document.getElementById('email_id');
    const contInput = document.getElementById('contact1');
    const capchalInput = document.getElementById('txtCompare');
    const termscond = document.getElementById('termsCon');
    const submitBtn = document.getElementById('submit-btn');
    
    nameInput.addEventListener('input', toggleSubmitBtn);
    emailInput.addEventListener('input', toggleSubmitBtn);
    contInput.addEventListener('input', toggleSubmitBtn);
    capchalInput.addEventListener('input', toggleSubmitBtn);
    //termscond.addEventListener('change', toggleSubmitBtn);
    var checkValue = false;
    termscond.addEventListener('change', function () {
        if (this.checked) {
            checkValue = true;
            toggleSubmitBtn();           
        } else {
            checkValue = false;
            toggleSubmitBtn();            
        }
    });

    
    function toggleSubmitBtn() {
        if (nameInput.value && emailInput.value && contInput.value && capchalInput.value && checkValue) {
            submitBtn.disabled = false;
        } else {
            submitBtn.disabled = true;
        }
    }
</script>
<script type="text/javascript">


    function GenerateCaptcha() {
        var chr1 = Math.ceil(Math.random() * 10) + '';
        var chr2 = Math.ceil(Math.random() * 10) + '';
        var chr3 = Math.ceil(Math.random() * 10) + '';

        var str = new Array(4).join().replace(/(.|$)/g, function () { return ((Math.random() * 36) | 0).toString(36)[Math.random() < .5 ? "toString" : "toUpperCase"](); });
        var captchaCode = str + chr1 + ' ' + chr2 + ' ' + chr3;
        document.getElementById("txtCaptcha").value = captchaCode
    }


    function ValidCaptcha() {
        var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
        var str2 = removeSpaces(document.getElementById('txtCompare').value);

        if (str1 == str2) return true;
        return false;
    }
    function validateEmail() {
        var email = document.getElementById("email_id");
        var lblMailError = document.getElementById("lblMailError");
        lblMailError.innerHTML = "";
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(email.value)) {
            lblMailError.innerHTML = "Please enter a valid E-Mail address";
            document.getElementById("email_id").style.borderColor = "red";
            email.focus();
            return false;
        }
        document.getElementById("email_id").style.borderColor = "#E0E6F6";
        return true;
    }

    function removeSpaces(string) {
        return string.split(' ').join('');
    }
    function addDashes(f) {
        var r = /(\D+)/g,
            npa = '',
            nxx = '',
            last4 = '';
        f.value = f.value.replace(r, '');
        npa = f.value.substr(0, 3);
        nxx = f.value.substr(3, 3);
        last4 = f.value.substr(6, 4);
        f.value = npa + '-' + nxx + '-' + last4;
    }

</script>

<script>
    $(document).ready(function () {
        $("#txtCompare").change(function () {

            var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
            var str2 = removeSpaces(document.getElementById('txtCompare').value);

            if (str1 == str2) {

            }
            else {
                alert("Captcha doesn't matches!..");
                document.getElementById('txtCompare').value = '';
            }
        });
    });
</script>
<script>

    function profileValidation() {

        var fileInput =
            document.getElementById('s_pic');

        var filePath = fileInput.value;
        //alert(filePath);
        // Allowing file type
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif)$/i;

        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type');
            fileInput.value = '';
            return false;
        }
        var image = document.getElementById('s_pic');

        if (typeof (image.files) != "undefined") {

            var size = parseFloat(image.files[0].size / (512 * 512)).toFixed(2);

            if (size > 1) {

                alert('Please select image size less than 512 Kb');
                image.value = ''
                return false;

            } else {

                return true;

            }

        } else {

            return true;

        }
    }
    function resumeValidation() {

        var fileInput =
            document.getElementById('s_resume');

        var filePath = fileInput.value;
        //alert(filePath);
        // Allowing file type
        var allowedExtensions =
            /(\.doc|\.docx|\.odt|\.pdf|\.tex|\.txt|\.rtf|\.wps|\.wks|\.wpd)$/i;

        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type');
            fileInput.value = '';
            return false;
        }
    }

    function getDropValue(value) {
        console.log(value)
        if (value == 'OTHER') {
            document.getElementById('othCounty').style.display = 'block';
            document.getElementById('county_label').style.display = 'block';
        }
        else {
            document.getElementById('othCounty').style.display = 'none';
            document.getElementById('county_label').style.display = 'none';
        }
    }
</script>
<style>
    #othCounty {
        display: none;
    }

    #county_label {
        display: none;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 10px !important;
    }

    .select2-container {
        padding-top: 10px !important;
    }

    .title-responsive01 h3{
        display:none;
    }


</style>



