﻿@model IEnumerable<Jobportal_design.Models.Location_tbl>
@{
    ViewData["Title"] = "AddLocation";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/admin/assets/libs/select2/dist/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/admin/assets/libs/jquery-minicolors/jquery.minicolors.css">
<link rel="stylesheet" type="text/css" href="~/admin/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
@using (Html.BeginForm("Create", "Location", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                @*<form class="form-horizontal">*@
                <div class="card-body">
                    <h4 class="card-title">Add Location</h4>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Location Name</label>
                        <div class="col-sm-9">
                            <input type="text" id="location_name" name="location_name" class="form-control" placeholder="Location name" required />

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Code</label>
                        <div class="col-sm-9">

                            <input type="text" id="code" name="code" class="form-control" placeholder="Code" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="validationDefault02">Profile Picture</label>

                        <input type="file" name="loc_pic" id="loc_pic" placeholder="Profile Picture"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Profile Picture'"
                               class="single-input" onchange="return profileValidation()">
                    </div>

                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">City</label>
                        <div class="col-sm-9">

                            @Html.DropDownList("dist_name", new SelectList(ViewBag.message, "dist_name", "dist_name"), "Select a District", new { id = "dd_child", @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email1" class="col-sm-3 text-right control-label col-form-label">Status</label>
                        <div class="col-sm-9">


                            <div class="custom-control custom-radio">

                                <input id="isactive" name="isactive" value="Active" type="radio" required>
                                <label for="customControlValidation2">Active</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="isactive" name="isactive" value="InActive" type="radio" required>

                                <label for="customControlValidation2">InActive</label>
                            </div>



                        </div>
                    </div>


                </div>
                <div class="border-top">
                    <div class="card-body">
                        <button type="submit" value="Create" class="btn btn-primary">Submit</button>
                        @*<button type="submit" value="Create" class="btn btn-save" style="background-color:darkgray">Save changes</button>*@
                    </div>
                </div>
                @*</form>*@
            </div>



        </div>

    </div>

}

<script>
    function profileValidation() {

        var fileInput =
            document.getElementById('loc_pic');

        var filePath = fileInput.value;
        //alert(filePath);
        // Allowing file type
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif)$/i;

        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type');
            fileInput.value = '';
            return false;
        }
        var image = document.getElementById('loc_pic');

        if (typeof (image.files) != "undefined") {

            var size = parseFloat(image.files[0].size / (512 * 512)).toFixed(2);

            if (size > 1) {

                alert('Please select image size less than 512 Kb');
                image.value = ''
                return false;

            } else {

                return true;

            }

        } else {

            return true;

        }
    }
</script>
<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>

<script src="~/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>

<script src="~/admin/dist/js/waves.js"></script>

<script src="~/admin/dist/js/sidebarmenu.js"></script>

<script src="~/admin/dist/js/custom.min.js"></script>

<script src="~/admin/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
<script src="~/admin/dist/js/pages/mask/mask.init.js"></script>
<script src="~/admin/assets/libs/select2/dist/js/select2.full.min.js"></script>
<script src="~/admin/assets/libs/select2/dist/js/select2.min.js"></script>
<script src="~/admin/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
<script src="~/admin/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
<script src="~/admin/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
<script src="~/admin/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
<script src="~/admin/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>



