﻿@model Jobportal_design.Models.Location_tbl
@{
    ViewData["Title"] = "EditCity";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<html>
<body>
    <a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>

    @using (Html.BeginForm("Update", "Location", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="modal-dialog modal-lg">
            <div class="modal-content apply-job-form">
                @*<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>*@
                <div class="modal-body pl-30 pr-30 pt-50">
                    <div class="text-center pb-20">
                        <p class="font-sm text-brand-2">Update Location Details </p>
                        @*<h2 class="mt-10 mb-5 text-brand-1 text-capitalize">Add Organization category</h2>*@
                    </div>
                    <form class="login-register text-start mt-20 pb-30" action="#">
                        @Html.HiddenFor(model => model.id)
                        <div class="form-group">
                            <label class="form-label" for="input-1">Location Name: *</label>
                            @Html.EditorFor(model => model.location_name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="input-1">Location Code: *</label>
                            @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="input-1">Upload Location Image: *</label>
                            @Html.HiddenFor(model => model.loc_pic)
                            @Html.HiddenFor(model => model.loc_path)
                            <input type="file" name="s_resume1" placeholder="Image" onchange="return profileValidation()"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Resume'"
                                   class="form-control">
                            @Html.EditorFor(model => model.loc_pic, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="input-1">City: *</label>
                            <select asp-for="dist_name" class="form-control" asp-items="@(new SelectList(ViewBag.message, "dist_name", "dist_name"))"></select>

                        </div>
                        <div class="form-group row">
                            <label class="form-label" for="input-1">Status: *</label>
                            <div class="col-sm-9 radio-type-div01">
                                <div class="custom-control custom-radio">

                                    @Html.RadioButtonFor(m => m.isactive, "Active", Model.isactive == "Active" ? "checked" : string.Empty)
                                    <label class="form-label" for="input-1">Active</label>
                                </div>
                                <div class="custom-control custom-radio">

                                    @Html.RadioButtonFor(m => m.isactive, "InActive", Model.isactive == "InActive" ? "checked" : string.Empty)
                                    <label class="form-label" for="input-1">Active</label>
                                    @Html.HiddenFor(m => m.isactive)

                                </div>
                            </div>
                                
                            </div>

                            <div class="form-group pt-30">
                                <button class="btn btn-default hover-up w-100" type="submit" value="Create">Save</button>
                            </div>
</form>
                </div>
            </div>
        </div>


    }

</body>
</html>
@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });
    </script>
}
<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="~/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="~/admin/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/admin/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="~/admin/dist/js/custom.min.js"></script>
<!-- this page js -->
<script src="~/admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="~/admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="~/admin/assets/extra-libs/DataTables/datatables.min.js"></script>
<script>
    /****************************************
     *       Basic Table                   *
     ****************************************/
    $('#zero_config').DataTable();
</script>
<style>
    .radio-type-div01 {
        display: flex;
    }

    .custom-control.custom-radio {
        display: flex;
        align-items: center;
    }

        .custom-control.custom-radio:first-child {
            margin-right: 25px;
        }

        .custom-control.custom-radio label {
            margin-bottom: 0px;
        }

        .custom-control.custom-radio [type=radio] {
            height: 18px;
            width: 18px;
            margin-right: 5px;
        }
</style>