﻿@model Jobportal_design.Models.Org_cont
@{
    ViewData["Title"] = "EditOrg";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!--<ul class="nav nav-tabs tabsbar" role="tablist">-->
                @*<li><a href="#pet" role="tab" id="pets" data-toggle="tab">Organization Physical</a></li>
                    <li class="active"><a href="#vet" role="tab" id="vets">Organization Contact</a></li>
                    <li><a href="#shop" role="tab" data-toggle="tab" id="shops">Organization Members</a></li>*@

            <!--</ul>-->

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="pet">
                    <!--  next div Pet infomation-->
                    <div class="container">
                        <div class="row listnow">
                            <div class="col-sm-6 col-sm-offset-3">
                                <h1 class="infolist" id="pets1"> Update Organization Contact details</h1>
                            </div>
                            <div class="col-sm-12">
                                <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
                                @using (Html.BeginForm("Update", "Org_cont", FormMethod.Post, new { @id = "CNenrollment" }))
                                {

                                    <div class="bg_colour" style="background: white;">
                                        @*<div class="modal-header" style="background: lightgrey;">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Update Organization Contact Details</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>*@
                                        <div class="modal-body">
                                            <form>

                                                <div class="form-row">
                                                    <div class="col-md-6 mb-6">
                                                        @*@Html.HiddenFor(model => model.org_id)*@
                                                        <!--<label for="validationDefault01">Organization Name:</label>
                                                        <br />-->
                                                        @*@Html.DropDownList("org_name", new SelectList(ViewBag.org_name, "org_name", "org_name"), "Select a Organization", new { id = "dd_child", @class = "form-control" })*@
                                                        @*<select asp-for="org_name" asp-items="@(new SelectList(ViewBag.org_name, "org_name", "org_name"))"></select>*@

                                                    </div>
                                                    <div class="col-md-6 mb-6">
                                                        @Html.HiddenFor(model => model.org_c_id)

                                                    </div>

                                                </div>


                                                <div class="form-row">
                                                    <div class="col-md-6 mb-6">
                                                        <label for="validationDefault01">Contact No:</label>
                                                        @Html.EditorFor(model => model.con_number1, new { htmlAttributes = new { @class = "form-control" } })

                                                        @*<input type="text" id="con_number1" name="con_number1" class="form-control" placeholder="Mobile Number" required />*@
                                                    </div>
                                                    <div class="col-md-6 mb-6">
                                                        <label for="validationDefault02">Cont No 2:</label>
                                                        @Html.EditorFor(model => model.con_number2, new { htmlAttributes = new { @class = "form-control" } })

                                                        @*<input type="text" id="con_number2" name="con_number2" class="form-control" placeholder="Alter Number" required />*@
                                                    </div>

                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-6 mb-6">
                                                        <label for="validationDefault01">Email:</label>
                                                        @Html.EditorFor(model => model.con_email1, new { htmlAttributes = new { @class = "form-control" } })

                                                        @*<input type="text" id="con_email1" name="con_email1" class="form-control" placeholder="Email" required />*@
                                                    </div>
                                                    <div class="col-md-6 mb-6">
                                                        <label for="validationDefault02">Email 2:</label>
                                                        @Html.EditorFor(model => model.con_email2, new { htmlAttributes = new { @class = "form-control" } })

                                                        @*<input type="text" id="con_email2" name="con_email2" class="form-control" placeholder="Secondary Email" required />*@
                                                    </div>

                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-6 mb-6">
                                                        <label for="validationDefault01">Whatsapp No:</label>
                                                        @Html.EditorFor(model => model.whatsapp_no1, new { htmlAttributes = new { @class = "form-control" } })

                                                        @*<input type="text" id="whatsapp_no1" name="whatsapp_no1" class="form-control" placeholder="Whatsapp" required />*@
                                                    </div>
                                                    <div class="col-md-6 mb-6">
                                                        <label for="validationDefault02">Cont No 2:</label>
                                                        @Html.EditorFor(model => model.whatsapp_no2, new { htmlAttributes = new { @class = "form-control" } })

                                                        @*<input type="text" id="whatsapp_no2" name="whatsapp_no2" class="form-control" placeholder="Secondary Whatsapp" required />*@
                                                    </div>

                                                </div>

                                                <div class="form-row">
                                                    <div class="col-md-6 mb-6">
                                                        <label for="validationDefault01">Twitter:</label>
                                                        @Html.EditorFor(model => model.twitter_acc, new { htmlAttributes = new { @class = "form-control" } })

                                                        @*<input type="text" id="twitter_acc" name="twitter_acc" class="form-control" placeholder="Twitter:" required />*@
                                                    </div>
                                                    <div class="col-md-6 mb-6">
                                                        <label for="validationDefault02">LinkedIn:</label>
                                                        @Html.EditorFor(model => model.linked_in_acc, new { htmlAttributes = new { @class = "form-control" } })

                                                        @*<input type="text" id="linked_in_acc" name="linked_in_acc" class="form-control" placeholder="LinkedIn" required />*@
                                                    </div>

                                                </div>

                                                <div class="form-row">
                                                    <div class="col-md-6 mb-6">
                                                        <label for="validationDefault01">Web Address:</label>
                                                        @Html.EditorFor(model => model.website_address, new { htmlAttributes = new { @class = "form-control" } })

                                                        @*<input type="text" id="website_address" name="website_address" class="form-control" placeholder="Website:" required />*@
                                                    </div>
                                                    <div class="col-md-6 mb-6">
                                                        <label for="validationDefault02">Total Employee:</label>
                                                        @Html.EditorFor(model => model.total_employee, new { htmlAttributes = new { @class = "form-control" } })

                                                        @*<input type="text" id="total_employee" name="total_employee" class="form-control" placeholder="Total Employee" required />*@
                                                    </div>

                                                </div>


                                                <div class="form-row">
                                                    <div class="col-md-6 mb-6">
                                                        <label for="validationDefault02">Total Board Mem:</label>
                                                        @Html.EditorFor(model => model.total_board_mem, new { htmlAttributes = new { @class = "form-control" } })

                                                        @*<input type="text" id="total_board_mem" name="total_board_mem" class="form-control" placeholder="Total Board member" required />*@
                                                    </div>
                                                    <div class="col-md-6 mb-6">
                                                        <label for="validationDefault01">Closed or Not</label>
                                                        <br />
                                                        <select id="isactive" name="isactive">
                                                            @*<select asp-for="org_closed">*@
                                                            <option value="1">Yes</option>
                                                            <option value="0">No</option>

                                                        </select>

                                                    </div>



                                                </div>



                                                <div class="form-row">
                                                    <div class="col-md-6 mb-6">
                                                        <label for="validationDefault01">Org closed Date</label>
                                                        @Html.EditorFor(model => model.org_closed_date, new { htmlAttributes = new { @class = "form-control" } })

                                                        @*<input type="date" id="org_closed_date" name="org_closed_date" class="form-control" placeholder="" />*@
                                                    </div>
                                                    <div class="col-md-6 mb-6">
                                                        <label for="validationDefault02">closed reason</label>
                                                        @Html.EditorFor(model => model.org_closed_reason, new { htmlAttributes = new { @class = "form-control" } })

                                                        @*<input type="text" id="org_closed_reason" name="org_closed_reason" class="form-control" placeholder="Reason" />*@
                                                    </div>

                                                </div>





                                                <div class="form-row">
                                                    <div class="col-md-6 mb-6">
                                                        <label for="validationDefault01">Org Inactive</label>
                                                        <br />
                                                        <select id="isactive1" name="isactive1">
                                                            @*<select asp-for="org_inactive">*@
                                                            <option value="1">Active</option>
                                                            <option value="0">InActive</option>

                                                        </select>

                                                    </div>
                                                    <div class="col-md-6 mb-6">
                                                        <label for="validationDefault01">InActive Date</label>
                                                        @Html.EditorFor(model => model.org_inactive_date, new { htmlAttributes = new { @class = "form-control" } })

                                                        @*<input type="date" id="org_inactive_date" name="org_inactive_date" class="form-control" placeholder="" />*@
                                                    </div>

                                                </div>

                                                <div class="form-row">
                                                    <div class="col-md-6 mb-6">
                                                        <label for="validationDefault01">InActive reason</label>
                                                        @*@Html.EditorFor(model => model.org_inactive_reason, new { htmlAttributes = new { @class = "form-control" } })*@
                                                        @Html.TextAreaFor(model => model.org_inactive_reason, new { @class = "form-control" })
                                                        @*<textarea id="org_inactive_reason" name="org_inactive_reason" class="form-control"></textarea>*@
                                                    </div>


                                                </div>




                                                <div class="form-row">
                                                    <div class="col-md-12 mb-6">
                                                        <label for="validationDefault01">Description:</label>
                                                        @*<textarea id="Description" name="Description" class="form-control"></textarea>*@
                                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })

                                                    </div>


                                                </div>

                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: #708090">Close</button>
                                            @*<input type="button" id="btnPost" class="btn btn-primary" value="Save changes" />*@
                                            <button type="submit" value="Create" class="btn btn-primary" style="background-color: #708090">Save changes</button>

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>



<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="~/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="~/admin/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/admin/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="~/admin/dist/js/custom.min.js"></script>
<!-- this page js -->
<script src="~/admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="~/admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="~/admin/assets/extra-libs/DataTables/datatables.min.js"></script>
<script>
    /****************************************
     *       Basic Table                   *
     ****************************************/
    $('#zero_config').DataTable();
</script>
<style>
    .infolist {
        text-align: center;
        font-family: 'Merriweather', serif;
        font-size: 2em;
        color: black;
        line-height: 200%;
        border-radius: 5px;
    }

    .labelname {
        font-family: 'Merriweather', serif;
        font-size: 1.1em;
    }

    .listnow .btn-primary {
        background-color: lavender;
        font-family: 'Merriweather', serif;
        font-size: 1.5em;
    }

    .listnow .btn-primary {
        border-color: #ff5b5b;
    }

        .listnow .btn-primary:active, .listnow .btn-primary:focus {
            outline: none;
        }

    .tabsbar {
        margin-top: 20px;
        border-radius-top: 3px;
    }

        .tabsbar li a {
            font-family: 'Merriweather', serif;
            font-size: 1.1em;
            color: #313b4b;
        }

        .tabsbar li #pets:hover {
            background-color: #005b96;
            color: white;
        }

        .tabsbar li #vets:hover {
            background-color: #005b96;
            color: white;
        }


        .tabsbar li #shops:hover {
            background-color: #005b96;
            color: white;
        }

        .tabsbar li #trainer:hover {
            background-color: #005b96;
            color: white;
        }


    #pets1 {
        background-color: rgba(0, 0, 0, 0.05);
        border: 1px solid lavender;
    }

    #vets2 {
        border: 1px solid lavender;
        background-color: lavender;
    }

    #shops3 {
        border: 1px solid lavender;
        background-color: lavender;
    }

    #trainer4 {
        border: 1px solid #930072;
        background-color: #930072;
    }


    .nav-tabs {
        border-bottom: 1px solid #313b4b;
    }


        .nav-tabs > li.active > #pets, .nav-tabs > li.active > #pets:hover, .nav-tabs > li.active > #pets:focus {
            background-color: lavender;
            color: black;
        }

        .nav-tabs > li.active > #vets, .nav-tabs > li.active > #vets:hover, .nav-tabs > li.active > #vets:focus {
            background-color: lavender;
            color: white;
        }

        .nav-tabs > li.active > #shops, .nav-tabs > li.active > #shops:hover, .nav-tabs > li.active > #shops:focus {
            background-color: lavender;
            color: black;
        }

        .nav-tabs > li.active > #trainer, .nav-tabs > li.active > #trainer:hover, .nav-tabs > li.active > #trainer:focus {
            background-color: #930072;
            color: white;
        }

    @@media(max-width: 420px) {
        .infolist {
            font-size: 1.5em;
        }
    }
</style>



