﻿@model IEnumerable<Jobportal_design.Models.sadmin_tbl>
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
@using (Html.BeginForm("Create", "Superadmin", FormMethod.Post, new { @id = "CNenrollment" }))
{
    <div class="modal-header" style="background: #708090; ">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Admin Details</h5>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-row">
                <div class="col-md-6 mb-6">
                    <label for="validationDefault01">Name</label>

                    <input type="text" id="name" name="name" class="form-control" placeholder="Name" required />
                </div>
                <div class="col-md-6 mb-6">
                    <label for="validationDefault02">Email</label>

                    <input type="email" id="email_id" name="email_id" class="form-control" placeholder="Email ID" required />
                </div>

            </div>

            <div class="form-row">
                <div class="col-md-6 mb-6">
                    <label for="validationDefault01">Password</label>

                    <input type="password" id="a_password" name="a_password" class="form-control" placeholder="Password" required />
                </div>
                <div class="col-md-6 mb-6">
                    <label for="validationDefault02">Employee Type</label>

                    <input type="text" id="employee_type" name="employee_type" class="form-control" placeholder="Employee Type" required />
                </div>

            </div>


            <div class="form-row">
                <div class="col-md-6 mb-6">
                    <label for="validationDefault01">Contact 1</label>

                    <input type="number" id="contact1" name="contact1" class="form-control" placeholder="Contact 1" required />
                </div>
                <div class="col-md-6 mb-6">
                    <label for="validationDefault02">Contact 2</label>

                    <input type="number" id="contact2" name="contact2" class="form-control" placeholder="Contact 2" required />
                </div>

            </div>

            <div class="form-row">
                <div class="col-md-6 mb-6">
                    <label for="validationDefault01">Start Date</label>

                    <input type="datetime-local" id="start_date" name="start_date" class="form-control" placeholder="Start Date" required />
                </div>
                <div class="col-md-6 mb-6">
                    <label for="validationDefault02">End Date</label>

                    <input type="datetime-local" id="end_date" name="end_date" class="form-control" placeholder="End Date" required />
                </div>

            </div>

            <div class="form-row">
                <div class="col-md-6 mb-6">
                    <label for="validationDefault01">Status</label>
                    <br />
                    <select id="status" name="status">
                        <option value="1">Active</option>
                        <option value="0">InActive</option>

                    </select>
                </div>


            </div>
            <br/>
            @*<div class="modal-header">*@
                <button type="button" class="btn btn-save" style="background-color: #708090">Close</button>
                @*<input type="button" id="btnPost" class="btn btn-primary" value="Save changes" />*@
                <button type="submit" value="Create" class="btn btn-save" style="background-color: #708090">Save changes</button>

            @*</div>*@
        </form>
    </div>
}

