﻿
@{ ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<div class="box-heading">
    <div class="box-title">
        <h3 class="color-brand-2 mb-35">Dashboard</h3>
    </div>
    <div class="box-breadcrumb">
        <div class="breadcrumbs">
            <ul>
                <li> <a class="icon-home" href="index.html">Admin</a></li>
                <li><span>Dashboard</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="px-3 pt-4 pb-3 card dashboard-section01">
    <div class="card-body">
        <section class="section-box box-content">
            <div class="breacrumb-cover bg-img-about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="mb-10 py-4">Super Admin</h2>
                        </div>
                        @*<div class="col-lg-6 text-lg-end">
                            <ul class="breadcrumbs mt-40">
                                <li><a class="home-icon" href="#">Home</a></li>
                                <li>Admin</li>
                            </ul>
                        </div>*@
                    </div>
                </div>
            </div>
        </section>
        <section class="section-box overflow-visible mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="text-center">
                            <h1 class="color-brand-2"><a href="@Url.Action( "Orglist_admin", "Org")" style="color: #80287d;"><span class="count">@ViewBag.org_count</span><span>+</span></a></h1>
                            <a href="@Url.Action( "Orglist_admin", "Org")">
                                <h5>Total Organizations</h5>
                            </a>
                            <p class="font-sm color-text-paragraph mt-10">We always provide people a <br class="d-none d-lg-block">complete solution upon focused of<br class="d-none d-lg-block"> any business</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="text-center">
                            <h1 class="color-brand-2"><a href="@Url.Action( "Admin_seek_list", "Jobseeker")" style="color: #80287d;"><span class="count">@ViewBag.seek</span><span> +</span></a></h1>
                            <a href="@Url.Action( "Admin_seek_list", "Jobseeker")">
                                <h5>Job Seekers</h5>
                            </a>
                            <p class="font-sm color-text-paragraph mt-10">We always provide people a <br class="d-none d-lg-block">complete solution upon focused of <br class="d-none d-lg-block">any business</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="text-center">
                            <h1 class="color-brand-2"><a href="@Url.Action( "Job_cat_list", "Job_cat")" style="color: #80287d;"><span class="count">@ViewBag.category</span><span> +</span></a></h1>
                            <a href="@Url.Action( "Job_cat_list", "Job_cat")">
                                <h5>Job Categories</h5>
                            </a>
                            <p class="font-sm color-text-paragraph mt-10">We always provide people a <br class="d-none d-lg-block">complete solution upon focused of <br class="d-none d-lg-block">any business</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="text-center">
                            <h1 class="color-brand-2"><a href="@Url.Action( "Joblist_Admin", "Jobregister")" style="color: #80287d;"><span class="count">@ViewBag.jobs</span><span> +</span></a></h1>
                            <a href="@Url.Action( "Joblist_Admin", "Jobregister")">
                                <h5>JOBS</h5>
                            </a>
                            <p class="font-sm color-text-paragraph mt-10">We always provide people a <br class="d-none d-lg-block">complete solution upon focused of <br class="d-none d-lg-block">any business</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-box mt-80">
            <div class="post-loop-grid">
                <div class="container">
                    <div class="text-center">
                        <h6 class="f-18 color-text-mutted text-uppercase">Our company</h6>
                        <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">Track our Progression</h2>
                    </div>
                    <div class="row mt-70">
                        <div class="col-md-3">
                            <div class="card-style-1 hover-up">
                                <div class="card-image"> <img src="https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/man.svg" alt="jobBox"></div>
                                <div class="card-info">
                                    <div class="card-title">
                                        <h3>
                                            985<span class="font-sm status up">5<span>%</span></span>
                                        </h3>
                                    </div>
                                    <p class="color-text-paragraph-2">Job Applied Seeker</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-style-1 hover-up">
                                <div class="card-image"> <img src="https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/look.svg" alt="jobBox"></div>
                                <div class="card-info">
                                    <div class="card-title">
                                        <h3>
                                            254<span class="font-sm status up">2<span>%</span></span>
                                        </h3>
                                    </div>
                                    <p class="color-text-paragraph-2">New Jobs</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-style-1 hover-up">
                                <div class="card-image"> <img src="https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/bank.svg" alt="jobBox"></div>
                                <div class="card-info">
                                    <div class="card-title">
                                        <h3>
                                            548<span class="font-sm status up">48<span>%</span></span>
                                        </h3>
                                    </div>
                                    <p class="color-text-paragraph-2">Applied Jobs</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-style-1 hover-up">
                                <div class="card-image"> <img src="https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/doc.svg" alt="jobBox"></div>
                                <div class="card-info">
                                    <div class="card-title">
                                        <h3>
                                            254<span class="font-sm status up">2<span>%</span></span>
                                        </h3>
                                    </div>
                                    <p class="color-text-paragraph-2">New Organization</p>
                                </div>
                            </div>
                        </div>

                    </div>
                        <div class="row mt-70">
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                                <div class="card-grid-4 text-center hover-up">
                                    <div class="image-top-feature">
                                        <figure>@*<img alt="jobBox" src="~/imgs/page/about/team1.png">*@</figure>
                                    </div>
                                    <div class="card-grid-4-info">
                                        <a href="@Url.Action( "Orglist_admin", "Org")">
                                            <h5 class="mt-10">Total Organization (@ViewBag.org_count)</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                                <div class="card-grid-4 text-center hover-up">
                                    <div class="image-top-feature">
                                        <figure>@*<img alt="jobBox" src="~/imgs/page/about/team2.png">*@</figure>
                                    </div>
                                    <div class="card-grid-4-info">
                                        <a href="@Url.Action( "Admin_seek_list", "Jobseeker")">
                                            <h5 class="mt-10">Total Jobseeker (@ViewBag.seek)</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                                <div class="card-grid-4 text-center hover-up">
                                    <div class="image-top-feature">
                                        <figure>@*<img alt="jobBox" src="~/imgs/page/about/team3.png">*@</figure>
                                    </div>
                                    <div class="card-grid-4-info">
                                        <a href="@Url.Action( "Job_cat_list", "Job_cat")">
                                            <h5 class="mt-10">Total Job category (@ViewBag.category)</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                                <div class="card-grid-4 text-center hover-up">
                                    <div class="image-top-feature">
                                        <figure>@*<img alt="jobBox" src="~/imgs/page/about/team4.png">*@</figure>
                                    </div>
                                    <div class="card-grid-4-info">
                                        <a href="@Url.Action( "Joblist_Admin", "Jobregister")">
                                            <h5 class="mt-10">Total Jobs (@ViewBag.jobs)</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </div>
</div>
<style>
    /*          Card*/
    .card-style-1 {
        border-radius: 16px;
        background-color: #ffffff;
        padding: 22px 19px;
        margin-bottom: 30px;
        border: 1px solid #E0E6F7;
        display: flex;
        width: 100%;
    }

        .card-style-1 .card-image {
            min-width: 45px;
            width: 10%;
            text-align: center;
            padding-right: 10px;
            line-height: 40px;
        }

            .card-style-1 .card-image img {
                vertical-align: middle;
                display: inline-block;
            }

        .card-style-1 .card-info {
            width: 100%;
            background-image: none;
            padding: 0;
        }

            .card-style-1 .card-info .card-title {
                display: flex;
            }

                .card-style-1 .card-info .card-title .status {
                    margin-left: 15px;
                }

                    .card-style-1 .card-info .card-title .status.up {
                        background: url(https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/up.svg) no-repeat left center;
                        display: inline-block;
                        padding: 0px 0px 0px 30px;
                        color: #3AAB67;
                    }

    .font-sm {
        font-weight: 500;
        font-size: 14px !important;
        line-height: 22px !important;
    }

    .color-text-paragraph-2 {
        color: #66789C;
    }
    .bg-img-about {
        background: url(../imgs/page/about/img-about.png) no-repeat center;
        background-size: cover;
        position: relative;
    }
</style>
