﻿@model Jobportal_design.Models.sadmin_tbl
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
@using (Html.BeginForm("Update", "Superadmin", FormMethod.Post, new { @id = "CNenrollment" }))
{
    <div class="modal-header" style="background: #708090; ">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Admin Details</h5>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-row">
                <div class="col-md-6 mb-6">
                    @Html.HiddenFor(model => model.id)
                    <label for="validationDefault01">Name</label>
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    
                </div>
                <div class="col-md-6 mb-6">
                    <label for="validationDefault02">Email</label>

                 
                    @Html.EditorFor(model => model.email_id, new { htmlAttributes = new { @class = "form-control" } })
                </div>

            </div>

            <div class="form-row">
                <div class="col-md-6 mb-6">
                    <label for="validationDefault01">Password</label>

                   
                    @Html.EditorFor(model => model.a_password, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-6 mb-6">
                    <label for="validationDefault02">Employee Type</label>

                   
                    @Html.EditorFor(model => model.employee_type, new { htmlAttributes = new { @class = "form-control" } })
                </div>

            </div>


            <div class="form-row">
                <div class="col-md-6 mb-6">
                    <label for="validationDefault01">Contact 1</label>

                   
                    @Html.EditorFor(model => model.contact1, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-6 mb-6">
                    <label for="validationDefault02">Contact 2</label>

                 
                    @Html.EditorFor(model => model.contact2, new { htmlAttributes = new { @class = "form-control" } })
                </div>

            </div>

            <div class="form-row">
                <div class="col-md-6 mb-6">
                    <label for="validationDefault01">Start Date</label>

                   
                    @Html.EditorFor(model => model.start_date, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-6 mb-6">
                    <label for="validationDefault02">End Date</label>

                
                    @Html.EditorFor(model => model.end_date, new { htmlAttributes = new { @class = "form-control" } })
                </div>

            </div>

            <div class="form-row">
                <div class="col-md-6 mb-6">
                    <label for="validationDefault01">Status</label>
                    <br />
                    <select asp-for="status">
                        <option value="1">Active</option>
                        <option value="0">InActive</option>
                    </select>
                </div>


            </div>
            <br />
            @*<div class="modal-header">*@
            <button type="button" class="btn btn-save" style="background-color: #708090">Close</button>
            @*<input type="button" id="btnPost" class="btn btn-primary" value="Save changes" />*@
            <button type="submit" value="Update" class="btn btn-save" style="background-color: #708090">Update changes</button>

            @*</div>*@
        </form>
    </div>
}

