﻿@*@model IEnumerable<Jobportal_design.Models.adminrole_tbl>*@
@model Jobportal_design.Models.adminrole_tbl
@*@model Jobportal_design.Models.Currency_tbl*@
@{
    ViewData["Title"] = "AddCountry";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    function callChangefunc1() {
   
        var rbtn;
        var ii = document.getElementById("selectrole");
        var drpvalue = ii.options[ii.selectedIndex].value;
        var drptext = ii.options[ii.selectedIndex].text;

        var iii = document.getElementById("selectuser");
        var drpuservalue = iii.options[iii.selectedIndex].value;
        var drpusertext = iii.options[iii.selectedIndex].text;

        var ele = document.getElementsByName('isactiveuser');
        for (i = 0; i < ele.length; i++) {
            if (ele[i].checked)
                rbtn = ele[i].value;
        }


        var url = "@Url.Action("Rolechange", "Superadmin")" + "?drpuservalue=" + drpuservalue + "&drpusertext=" + drpusertext + "&drpvalue=" + drpvalue + "&drptext=" + drptext + "&rbtn=" + rbtn;
        window.location.href = url;
    }
    function callChangefunc() {
        alert("hi");
        var rbtn;
        var ii = document.getElementById("selectitems");
        var drpvalue = ii.options[ii.selectedIndex].value;
        var drptext = ii.options[ii.selectedIndex].text;

        var ele = document.getElementsByName('isactive');
        for (i = 0; i < ele.length; i++) {
            if (ele[i].checked)
                rbtn = ele[i].value;
        }


        var url = "@Url.Action("Rolestatus", "Superadmin")" + "?drpvalue=" + drpvalue + "&drptext=" + drptext + "&rbtn=" + rbtn;
        window.location.href = url;
    }





</script>
<link rel="stylesheet" type="text/css" href="~/admin/assets/libs/select2/dist/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/admin/assets/libs/jquery-minicolors/jquery.minicolors.css">
<link rel="stylesheet" type="text/css" href="~/admin/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">






<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Rolecreate", "Superadmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="card mb-4">

                <div class="card-body">
                    <h4 class="card-title">Add Role</h4>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Role</label>
                        <div class="col-sm-9">
                            <input type="text" id="roletype" name="roletype" class="form-control" placeholder="Role" required />

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email1" class="col-sm-3 text-right control-label col-form-label">Status</label>
                        <div class="col-sm-9 radio-type-div01">


                            <div class="custom-control custom-radio">

                                <input id="isactive" name="isactive" value="Active" type="radio" required>
                                <label for="customControlValidation2">Active</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="isactive" name="isactive" value="InActive" type="radio" required>

                                <label for="customControlValidation2">InActive</label>
                            </div>



                        </div>
                    </div>


                </div>
                <div class="border-top">
                    <div class="card-body">
                        <button type="submit" value="Create" class="btn btn-apply">Submit</button>

                    </div>
                </div>

            </div>
        }
      
            <div class="card mb-4">

                <div class="card-body">
                    <h4 class="card-title">Change User Roles</h4>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Username</label>
                        <div class="col-sm-9">
                            @*@Html.DropDownList("name", new SelectList(ViewBag.admin, "name", "name"), "Select User", new { id = "dd_child", @class = "form-control" })*@
                            <select id="selectuser" class="form-control" asp-for="id" asp-items="@(new SelectList(@ViewBag.admin,"id","name"))"></select>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Role</label>
                        <div class="col-sm-9">
                            @*@Html.DropDownList("roletype", new SelectList(ViewBag.roles, "roletype", "roletype"), "Select Role", new { id = "dd_child", @class = "form-control" })*@
                            <select id="selectrole" class="form-control" asp-for="id" asp-items="@(new SelectList(@ViewBag.roles,"id","roletype"))"></select>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email1" class="col-sm-3 text-right control-label col-form-label">Status</label>
                        <div class="col-sm-9 radio-type-div01">


                            <div class="custom-control custom-radio">

                                <input id="isactive" name="isactiveuser" value="Active" type="radio" required>
                                <label for="customControlValidation2">Active</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="isactive" name="isactiveuser" value="InActive" type="radio" required>

                                <label for="customControlValidation2">InActive</label>
                            </div>



                        </div>
                    </div>


                </div>
                <div class="border-top">
                    <div class="card-body">
                        <button onclick="callChangefunc1()" class="btn btn-apply">Submit</button>

                    </div>
                </div>

            </div>
        


    </div>
    <div class="col-md-6">
       
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title m-b-0">Change Role Status</h5>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Role</label>
                        <div class="col-sm-9">
                            @*@Html.DropDownList("roletype", new SelectList(ViewBag.roles, "id", "roletype"), "Select Role", new { id = "dd_child", @class = "form-control" })*@
                            @*@Html.DropDownList("id", new SelectList(ViewBag.roles, "id", "roletype"), "Select Role", new { id = "dd_child", @class = "form-control" })*@
                            @*@Html.DropDownList("roletype", ViewBag.roles as SelectList, "Select Type", new { @class = "form-control" })*@
                            <select id="selectitems" class="form-control" asp-for="id" asp-items="@(new SelectList(@ViewBag.roles,"id","roletype"))"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email1" class="col-sm-3 text-right control-label col-form-label">Status</label>
                        <div class="col-sm-9 radio-type-div01">


                            <div class="custom-control custom-radio">

                                <input id="isactive1" name="isactive" value="Active" type="radio" required>
                                <label for="customControlValidation2">Active</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="isactive1" name="isactive" value="InActive" type="radio" required>

                                <label for="customControlValidation2">InActive</label>
                            </div>



                        </div>
                    </div>
                   
                    <div class="border-top">
                        <div class="card-body">
                            <button onclick="callChangefunc()" class="btn btn-apply">Submit</button>
                          

                        </div>
                    </div>
                </div>
            </div>
       
    </div>

</div>








<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>

<script src="~/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>

<script src="~/admin/dist/js/waves.js"></script>

<script src="~/admin/dist/js/sidebarmenu.js"></script>

<script src="~/admin/dist/js/custom.min.js"></script>

<script src="~/admin/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
<script src="~/admin/dist/js/pages/mask/mask.init.js"></script>
<script src="~/admin/assets/libs/select2/dist/js/select2.full.min.js"></script>
<script src="~/admin/assets/libs/select2/dist/js/select2.min.js"></script>
<script src="~/admin/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
<script src="~/admin/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
<script src="~/admin/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
<script src="~/admin/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
<script src="~/admin/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<style>
    .radio-type-div01 {
        display: flex;
    }
    .custom-control.custom-radio {
        display: flex;
        align-items: center;
    }
    .custom-control.custom-radio:first-child {
        margin-right: 25px;
    }
    .custom-control.custom-radio label {
        margin-bottom: 0px;
    }
    .custom-control.custom-radio [type=radio] {
        height: 18px;
        width: 18px;
        margin-right: 5px;
    }
</style>


