body, .font-lg, .font-md, .font-sm, .font-xs, .font-xxs, .btn, .btn-link, .contact-from-area .contact-form-style button, .card-grid-2 .card-block-info .card-text-price,
.box-newsletter .box-form-newsletter form .font-heading {
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6, .box-newsletter .text-md-newsletter {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.banner-hero .heading-banner {
    color: #152947;
}
.banner-hero .color-brand-2, .text-brand-2 {
    color: #80287d;
}
.btn.btn-default {
    background-color: #85c440;
    text-transform: uppercase;
    font-weight: 900;
}
.header .main-menu li a:hover, .header .main-menu li a.active {
    color: #152947;
}
.header .main-menu li a:hover::before, .header .main-menu li a.active::before {
    background-color: #85c440;
}
.header .main-menu li.has-children > a::after {
    color: #80287d;
}
.btn-apply, .box-newsletter .box-form-newsletter form .font-heading {
    background-color: #85c440;
    text-transform: uppercase;
    font-weight: 900;
}
.box-we-hiring .text-2, .color-brand-2 {
    color: #80287d;
}
.box-we-hiring .text-hiring {
    color: #152947;
}
#scrollUp {
    background-color: #152947;
}
.nav-tabs li a:hover, .nav-tabs li a.active {
    color: #80287d;
    border-color: #152947;
}
.card-grid-2 .btn-apply-now {
    color: #80287d;
    background-color: #80287d;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
}
.card-grid-2:hover .btn-apply-now {
    background-color: #85c440;
}
.card-grid-2 .card-block-info .card-text-price {
    color: #152947;
}
.card-grid-2 {
    background: #f1f1f2;
}
.btn-grey-small {
    background-color: #dee0e4;
}
.box-newsletter {
    background: #80287d;
}
a *:hover {
    color: #85c440;
}
.btn-brand-1 {
    text-transform: uppercase;
    font-weight: 900;
}
.btn-brand-1:hover {
    background-color: #85c440;
    color: #ffffff;    
}

.preloader img {
    max-width: 120px;
    animation: rotation 4s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.cb-container .checkmark:after {
    background: #05264e url(../imgs/template/icons/tick.svg) no-repeat center;
}
.cb-container input:checked ~ .checkmark {
    border: 2px solid #80287d;
}

.card-list-4 .card-price {
    color: #80287d;
}
.btn-send-message {
    background: #85c440 url(../imgs/page/company/icon-email.svg) no-repeat 25px 15px;
}

.btn-editor, .btn-apply-big {
    background-color: #85c440;
}