﻿.header .main-menu li.has-children > a::after {
    content: "\f151";
    font-family: uicons-regular-rounded !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1 !important;
    font-size: 18px;
    opacity: 1;
    margin-left: 4px;
    position: absolute;
    top: 1px;
    right: -19px;
    color: #A0ABB8;
}

.header .main-header .header-right .member-login {
    display: inline-block;
    display: flex;
    vertical-align: middle;
    justify-content: flex-end;
}

.header .main-header .header-right .member-login img {
    float: left;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 0px 2px 0px 0px;
    vertical-align: middle;
    align-self: center;
}
.profile-dropdown01 .dropdown-menu {
    width: 230px;
}
.profile-dropdown01 .dropdown-item {
    border-bottom: 1px solid #eee;
}
.title-ul-res01 {
    background-color: #e9ecef;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    padding: 10px 10px;
}
    .title-ul-res01 .dropdown-item {
        font-size: 16px;
        font-weight: 800;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

.profile-dropdown01 a#dropdownProfile i {
    margin-top: 24px;
    font-size: 20px;
    cursor: pointer;
}
.main .nav.left-sidebar01 {
    max-width: 250px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    bottom: 0px;
    display: inline-block !important;
}
.left-sidebar01 .btn-expanded {
    background: #ffffff url(https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/icon-arrow-left.svg) no-repeat center;
    height: 30px;
    width: 30px;
    border: 1px solid #E0E6F7;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -16px;
    padding: 0px;
    z-index: 1234;
}
.left-sidebar01 .main-menu li a:hover, .left-sidebar01 .main-menu li a.active, .left-sidebar01 .main-menu li a span:hover {
    background-color: #85c440 !important;
    color: #ffffff !important;
}

.profile-dropdown01 {
    display: flex;
    place-items: end;
}
/*          notification*/
.header .main-header .header-right {
    display: flex;
    /*    min-width: 215px;*/
    min-width: max-content !important;
    text-align: right;
    justify-content: right;
    align-items: center;
}

.btn.btn-notify {
    background: url(https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/notify.svg) no-repeat center;
    display: inline-block;
    vertical-align: middle;
    height: 52px;
    width: 30px;
    position: relative;
}

    .btn.btn-notify::before {
        content: "";
        height: 8px;
        width: 8px;
        background: url(https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/icon-notify.svg) no-repeat center;
        position: absolute;
        top: 15px;
        right: 15px;
    }

h1, h6, h4 {
    font-weight: 800;
}

.breadcrumbs li::before {
    top: 1px;
}

.btn-apply, .box-newsletter .box-form-newsletter form .font-heading {
    font-weight: 600;
}

.footer-bottom {
    padding-left: 15px;
    padding-bottom: 15px;
}

.home-banner-hero01{
    padding:0px;
}
.list-checkbox li .number-item {
    position: absolute;
    top: 35%;
    right: 0px; 
    padding: 5px 9px 2px!important;
    font-size: 12px;
    line-height: 18px!important;
    border-radius: 50px!important;
    background: #E0E6F7;
    color: #3C65F5;
}
.paginations .pager li {    
/*    background: #85c440;*/
    width: 42px;
}
.select2-container {    
    width: 100% !important;
}
.header .main-menu li:hover > ul li {
    border-bottom: 1px solid #eee;
}
    .header .main-menu li:hover > ul li:hover {
        border-bottom: 1px solid #85c440;
        background-color: #85c440!important;
        color:#fff!important;
    }
.header .main-menu li ul li a::after{
    display:none;
}
.jobseeker-getall-div01 {
    height: 145px;
    padding-bottom: 0;
}
.jobseeker-getall01 {
    width: 70%;
    overflow-wrap: break-word;
}
.jobseeker-getall01 h5 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
/*        height: 52px;*/
}


    /* Smartphones (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 120px) and (max-device-width : 767px) {
        .title-responsive01{
        position: relative;
    }

    .title-responsive01 h3 {
        display: block !important;
    }

    .title-responsive01 h3 {
        font-weight: 900;
    }

    .title-responsive01 h3 .color-brand-2::after {
        content: "";
        background-color: #3C65F5;
        height: 25px;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -6px;
        z-index: 0;
        opacity: 0.1;
    }

        .banner-hero-responsive01, .info-member-res01 .color-brand-1, .info-member-res01 .super-admin-res01, .info-member-res01 {
            display: none;
        }

    .main .nav.left-sidebar01 {
        display: none !important;
    }

    main.main section.box-content .box-heading {
        display: block;
    }

    main.main section.box-content .box-heading .box-title h3.mb-35 {
        margin-bottom: 15px !important;
    }

    main.main section.box-content .box-heading .box-breadcrumb {
        text-align: left;
        width: max-content;
        margin-bottom: 25px;
    }

    .title-ul-res01, .title-ul-res01 .color-brand-1 {
        display: block !important;
    }        

    .sticky-bar .main-header .header-right {
        justify-content: end;
    }

    .dashboard-section01 .card-body, .dashboard-section01 section.section-box.box-content {
        padding: 0;
    }
    .files-main01{
        display:block!important;
    }
    .export-import {
        width: 100%!important;
    }
    .export-import [type=file] {
        width: 59%;
        height: 38px;
    }
    .add-org-btn01 {
        width: 100%;
        float: left;
        margin: 20px 0 15px;
    }
    .dataTables_wrapper {
        padding: 0!important;
    }
    .dataTables_length{
        text-align:left!important;
    }
    .dataTables_filter{
        text-align:right!important;
    }
    div.dataTables_wrapper div.dataTables_info {
        text-align: left !important;
    }
    .header .main-header {
        place-content: space-between;
    }
    .header-right {
        padding-right: 45px;
    }
    .header .block-signin .btn-shadow {        
        margin-left: 20px !important;
    }
    div#tab-my-profile .box-info-profie {
        text-align: center!important;
    }
    .phonetype-row01, .phonetype-row01 div {
        padding-right: 0;
    }
    .banner-hero .block-banner {
        padding: 15px 0!important;
        background-color: #85c4409c;
        border-radius: 5px;
    }
    .sidebar-filters {
        margin-top: 30px;
    }
    #tab-my-profile .box-info-profie .image-profile {
        text-align: -webkit-center!important;
        text-align:center!important;
    }

    .jobseeker-getall01 {
        width: 60%!important;        
    }
    
}
