﻿@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //Layout = null;
}
<!DOCTYPE html>

<html lang="en">


<body>

    <main class="main">
        @*<a class="btn btn-grey-small mr-5" id="btnBack" style="background-color: #85c440;"><i class="fi fi-rr-arrow-left" style="color:white; font-size:13px;"></i><span style="color: black;">&nbsp;Back</span></a>
        <br />*@
        <section class="section-box">
            <div class="col-lg-12 text-left">

                <ul class="breadcrumbs pb-2">
                    <li><a class="home-icon" href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a class="home-icon01" href="@Url.Action("About", "Login")">About Us</a></li>
                </ul>
            </div>
            <div class="">
                <img src="~/imgs/page/about/img-about.png" />
                <div class="container">
                    <!--<div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-10">About Us</h2>-->
                    @*<p class="font-lg color-text-paragraph-2">Starting Point is Northeast Ohio’s child care, early education and out-of school time resource and referral agency. Serving families, youth, professionals and the community.</p>*@
                    <!--</div>

                </div>-->
                </div>
            </div>
        </section>
        <section class="section-box mt-50">
            <div class="post-loop-grid">
                <div class="container">
                    <div class="text-center">
                        <h6 class="f-18 color-text-mutted text-uppercase">Our company @ViewBag.role</h6>
                        <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">About Our Company</h2>
                        <p class="font-sm color-text-paragraph wow animate__animated animate__fadeInUp w-lg-50 mx-auto">Starting Point is Northeast Ohio’s child care, early education and out-of school time resource and referral agency. Serving families, youth, professionals and the community..</p>
                    </div>
                    <div class="row mt-70">
                        <div class="col-lg-5 col-md-12 col-sm-12 ml-10"><img src="~/imgs/page/about/img-about2.png" alt="joxBox"></div>

                        <div class="col-lg-6 col-md-12 col-sm-12 ml-10">
                            <h3 class="mt-15">What we can do?</h3>
                            <div class="mt-20">
                                <p class="font-md color-text-paragraph mt-20">Starting Point works to enhance early childhood and out-of-school time (OST) experiences. We’re the go-to organization Northeast Ohio families, youth, professionals and community organizations turn to for the resources they need to give children the quality care, learning and activities that lead to success in school and in life.</p>
                                <p class="font-md color-text-paragraph mt-20">We help families find the care that’s right for their child… engage youth in constructive out-of-school activities… equip caregivers and teachers with comprehensive training and resources… partner with community organizations to enhance quality and address early childhood and out-of-school time issues and special challenges… and develop early childhood publications for those outside our area.</p>
                                <!--    <p class="font-md color-text-paragraph mt-20">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis non nisi purus. Integer sit nostra, per inceptos himenaeos.</p>
                <p class="font-md color-text-paragraph mt-20">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis non nisi purus. Integer sit nostra, per inceptos himenaeos.</p>-->
                            </div>
                            <!-- <div class="mt-30"><a class="btn btn-brand-1" href="#">Read More</a></div>-->
                        </div>
                    </div>
                    <div class="row mt-70">
                        <div class="col-lg-5 col-md-12 col-sm-12 ml-10"><img src="~/imgs/page/about/img-about2.png" alt="joxBox"></div>

                        <div class="col-lg-6 col-md-12 col-sm-12 ml-10">
                            <h3 class="mt-15">Who We Serve</h3>
                            <div class="mt-20">
                                <p class="font-md color-text-paragraph mt-20">Starting Point serves families, early childhood and youth-serving professionals and community organizations in Ohio’s Ashtabula, Cuyahoga, Geauga and Lake counties. Our early childhood books, publications and materials are available throughout the United States through our online store.</p>
                                <!--    <p class="font-md color-text-paragraph mt-20">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis non nisi purus. Integer sit nostra, per inceptos himenaeos.</p>
                <p class="font-md color-text-paragraph mt-20">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis non nisi purus. Integer sit nostra, per inceptos himenaeos.</p>-->
                            </div>
                            <!-- <div class="mt-30"><a class="btn btn-brand-1" href="#">Read More</a></div>-->
                        </div>
                    </div>
                    <div class="row mt-70">
                        <div class="col-lg-5 col-md-12 col-sm-12 ml-10"><img src="~/imgs/page/about/img-about2.png" alt="joxBox"></div>

                        <div class="col-lg-6 col-md-12 col-sm-12 ml-10">
                            <h3 class="mt-15">Why We Matter</h3>
                            <div class="mt-20">
                                <p class="font-md color-text-paragraph mt-20">Studies show children in quality early childhood settings gain in literacy, math and pre-reading; have more positive interactions with others and are better prepared for kindergarten. School-agers in safe, constructive out-of school time programs learn healthy lifestyles, positive values and develop abilities and skills. These programs also are crime deterrents.</p>
                                <p class="font-md color-text-paragraph mt-20">Starting Point works to expand and enhance high quality early childhood and school-age programs and to provide the guidance, support, information and services families, youth, professionals and organizations need to assure quality early childhood and out-of-school experiences.</p>
                            </div>
                            <!-- <div class="mt-30"><a class="btn btn-brand-1" href="#">Read More</a></div>-->
                        </div>
                       
                    </div>
                    <div class="row mt-70">
                        <div class="col-lg-5 col-md-12 col-sm-12 ml-10"><img src="~/imgs/page/about/img-about2.png" alt="joxBox"></div>

                        <div class="col-lg-6 col-md-12 col-sm-12 ml-10">
                            <h3 class="mt-15">Our Organization</h3>
                            <div class="mt-20">
                                <p class="font-md color-text-paragraph mt-20">Starting Point is a 501 (c) 3 nonprofit organization. Our main office is in Cleveland with county offices in Ashtabula, Chardon and Mentor.</p>
                                <ul style="list-style: initial;">
                                <li class="ml-10">Learn more about our Leadership Team:&nbsp;<a href="https://starting-point.org/about-us/leadership-team/">http://www.starting-point.org/leadership</a></li>
                                <li class="ml-10">Our Board of Directors represents a cross-section of the Northeast Ohio community.&nbsp;<a href="https://starting-point.org/about-us/our-board-of-directors/">https://starting-point.org/about-us/our-board-of-directors/</a></li>
                                <li class="ml-10">We partner with a host of public and private organizations to ensure that community resources join together to meet the needs of our families and programs.</li>
                                <li class="ml-10">Starting Point’s funders make all of our work possible. They deserve our deepest appreciation.</li></ul>
                               
                            </div>
                            <!-- <div class="mt-30"><a class="btn btn-brand-1" href="#">Read More</a></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
      
        <section class="section-box mt-80">
            <div class="post-loop-grid">
                <div class="container">
                    <div class="text-center">
                        <h6 class="f-18 color-text-mutted text-uppercase">Our company</h6>
                        <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">Meet Our Team</h2>
                        <p class="font-sm color-text-paragraph w-lg-50 mx-auto wow animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ligula ante, dictum non aliquet eu, dapibus ac quam. Morbi vel ante viverra orci tincidunt tempor eu id ipsum. Sed consectetur, risus a blandit tempor, velit magna pellentesque risus, at congue tellus dui quis nisl.</p>
                    </div>
                    <div class="row mt-70">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                            <div class="card-grid-4 text-center hover-up">
                                <div class="image-top-feature">
                                    <figure><img alt="jobBox" src="~/imgs/page/about/team1.png"></figure>
                                </div>
                                <div class="card-grid-4-info">
                                    <h5 class="mt-10">Arlene McCoy</h5>
                                    <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                                    <div class="rate-reviews-small pt-5"><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                                    <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                            <div class="card-grid-4 text-center hover-up">
                                <div class="image-top-feature">
                                    <figure><img alt="jobBox" src="~/imgs/page/about/team2.png"></figure>
                                </div>
                                <div class="card-grid-4-info">
                                    <h5 class="mt-10">Floyd Miles</h5>
                                    <p class="font-xs color-text-paragraph-2 mt-5 mb-5">UI/UX Designer</p>
                                    <div class="rate-reviews-small pt-5"><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>28</span><span>)</span></span></div><span class="card-location">Chicago, US</span>
                                    <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                            <div class="card-grid-4 text-center hover-up">
                                <div class="image-top-feature">
                                    <figure><img alt="jobBox" src="~/imgs/page/about/team3.png"></figure>
                                </div>
                                <div class="card-grid-4-info">
                                    <h5 class="mt-10">Devon Lane</h5>
                                    <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                                    <div class="rate-reviews-small pt-5"><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                                    <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                            <div class="card-grid-4 text-center hover-up">
                                <div class="image-top-feature">
                                    <figure><img alt="jobBox" src="~/imgs/page/about/team4.png"></figure>
                                </div>
                                <div class="card-grid-4-info">
                                    <h5 class="mt-10">Jerome Bell</h5>
                                    <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                                    <div class="rate-reviews-small pt-5"><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                                    <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                            <div class="card-grid-4 text-center hover-up">
                                <div class="image-top-feature">
                                    <figure><img alt="jobBox" src="~/imgs/page/about/team5.png"></figure>
                                </div>
                                <div class="card-grid-4-info">
                                    <h5 class="mt-10">Theresa</h5>
                                    <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                                    <div class="rate-reviews-small pt-5"><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                                    <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                            <div class="card-grid-4 text-center hover-up">
                                <div class="image-top-feature">
                                    <figure><img alt="jobBox" src="~/imgs/page/about/team6.png"></figure>
                                </div>
                                <div class="card-grid-4-info">
                                    <h5 class="mt-10">Cameron</h5>
                                    <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                                    <div class="rate-reviews-small pt-5"><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                                    <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                            <div class="card-grid-4 text-center hover-up">
                                <div class="image-top-feature">
                                    <figure><img alt="jobBox" src="~/imgs/page/about/team7.png"></figure>
                                </div>
                                <div class="card-grid-4-info">
                                    <h5 class="mt-10">Jacob Jones</h5>
                                    <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                                    <div class="rate-reviews-small pt-5"><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                                    <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                            <div class="card-grid-4 text-center hover-up">
                                <div class="image-top-feature">
                                    <figure><img alt="jobBox" src="~/imgs/page/about/team8.png"></figure>
                                </div>
                                <div class="card-grid-4-info">
                                    <h5 class="mt-10">Court Henry</h5>
                                    <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                                    <div class="rate-reviews-small pt-5"><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                                    <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-box mt-30 mb-40">
            <div class="container">
                <h2 class="text-center mb-15 wow animate__animated animate__fadeInUp">Our Happy Customer</h2>
                <div class="font-lg color-text-paragraph-2 text-center wow animate__animated animate__fadeInUp">When it comes to choosing the right web hosting provider, we know how easy it<br class="d-none d-lg-block"> is to get overwhelmed with the number.</div>
                <div class="row mt-50">
                    <div class="box-swiper">
                        <div class="swiper-container swiper-group-3 swiper">
                            <div class="swiper-wrapper pb-70 pt-5">
                                <div class="swiper-slide">
                                    <div class="card-grid-6 hover-up">
                                        <div class="card-text-desc mt-10">
                                            <p class="font-md color-text-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae neque metus. Vivamus consectetur ultricies commodo. Pellentesque at nisl sit amet neque finibus egestas ut at magna. Cras tincidunt tortor sed eros aliquam eleifend.</p>
                                        </div>
                                        <div class="card-image">
                                            <div class="image">
                                                <figure><img alt="jobBox" src="~/imgs/page/about/user1.png"></figure>
                                            </div>
                                            <div class="card-profile">
                                                <h6>Mark Adair</h6><span>Businessmen</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card-grid-6 hover-up">
                                        <div class="card-text-desc mt-10">
                                            <p class="font-md color-text-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae neque metus. Vivamus consectetur ultricies commodo. Pellentesque at nisl sit amet neque finibus egestas ut at magna. Cras tincidunt tortor sed eros aliquam eleifend.</p>
                                        </div>
                                        <div class="card-image">
                                            <div class="image">
                                                <figure><img alt="jobBox" src="~/imgs/page/about/user2.png"></figure>
                                            </div>
                                            <div class="card-profile">
                                                <h6>Mark Adair</h6><span>Businessmen</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card-grid-6 hover-up">
                                        <div class="card-text-desc mt-10">
                                            <p class="font-md color-text-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae neque metus. Vivamus consectetur ultricies commodo. Pellentesque at nisl sit amet neque finibus egestas ut at magna. Cras tincidunt tortor sed eros aliquam eleifend.</p>
                                        </div>
                                        <div class="card-image">
                                            <div class="image">
                                                <figure><img alt="jobBox" src="~/imgs/page/about/user3.png"></figure>
                                            </div>
                                            <div class="card-profile">
                                                <h6>Mark Adair</h6><span>Businessmen</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination swiper-pagination3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-box mt-50 mb-20">
            <div class="container">
                <div class="box-newsletter">
                    <div class="row">
                        <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-left.png" alt="joxBox"></div>
                        <div class="col-lg-12 col-xl-6 col-12">
                            <h2 class="text-md-newsletter text-center">New Things Will Always<br> Update Regularly</h2>
                            <div class="box-form-newsletter mt-40">
                                <form class="form-newsletter">
                                    <input class="input-newsletter" type="text" value="" placeholder="Enter your email here">
                                    <button class="btn btn-default font-heading icon-send-letter">Subscribe</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-right.png" alt="joxBox"></div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <script src="~/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins/waypoints.js"></script>
    <script src="~/js/plugins/wow.js"></script>
    <script src="~/js/plugins/magnific-popup.js"></script>
    <script src="~/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/js/plugins/select2.min.js"></script>
    <script src="~/js/plugins/isotope.js"></script>
    <script src="~/js/plugins/scrollup.js"></script>
    <script src="~/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/js/plugins/counterup.js"></script>
    <script src="~/js/main.js?v=4.1"></script>
</body>
</html>
@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });
    </script>
}
<style>
    .breadcrumbs li::before {
        top: 1px;
    }
</style>