<body class="" onload="GenerateCaptcha();">
    ﻿@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @id = "CNenrollment" }))
    {
<section class="pt-50 login-register">
    <div class="container">
        <div class="row login-register-cover">
            <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                <div class="text-center">
                    @*<p class="font-sm text-brand-2">Forgot Password</p>*@
                    <h3 class="mt-10 mb-5 text-brand-1">Forgot Password</h3>
                    <p class="font-sm text-muted mb-30">
                        Enter email address associated with your account and
                        we'll send you a link to reset your password
                    </p>
                </div>
                <form class="login-register text-start mt-20" action="#">
                    <div class="form-group">
                        <label class="form-label" for="input-1">Username/Email address <span style="color:red">*</span></label>
                        <input class="form-control" id="input-1" type="text" required="" name="user_name" placeholder="stevenjob@gmail.com">
                    </div>
                    <h6 class="color-orange mb-10">Enter Capcha</h6>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="font-sm color-text-mutted mb-10">Capcha</label>
                                <input class="form-control" type="text" id="txtCaptcha" style="text-align: center; font-size:18px; color: #80287d; background:#f1f1f1;">
                                <i class="fi-rr-refresh" id="btnrefresh" value="Refresh" onclick="GenerateCaptcha();" tabindex="8" style="top: 69%; left: 160px;color: #85c440;"></i>
                                @*<input class="form-control" type="button" id="btnrefresh" value="Refresh" onclick="GenerateCaptcha();" />*@

                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="font-sm color-text-mutted mb-10">Enter Capcha<span style="color:red">*</span></label>
                                @*<input class="form-control" type="text" value="ucYv4 4 10">*@
                                <input type="text" id="txtCompare" class="form-control" tabindex="9" required />


                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-brand-1 hover-up w-100" type="submit" name="continue">Continue</button>
                    </div>
                    <div class="text-muted text-center">Don't have an Account? <a href="@Url.Action("Signup", "Jobseeker")"> JobSeeker Registartion</a></div>
                </form>
            </div>
            <div class="img-1 d-none d-lg-block"><img class="shape-1" src="~/imgs/page/login-register/img-5.svg" alt="JobBox"></div>
            <div class="img-2"><img src="~/imgs/page/login-register/img-3.svg" alt="JobBox"></div>
        </div>
    </div>
</section>
    }
            </body>

<script>
    $(document).ready(function () {
        $("#txtCompare").change(function () {

            var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
            var str2 = removeSpaces(document.getElementById('txtCompare').value);

            if (str1 == str2) {

            }
            else {
                alert("Captcha doesn't matches!..");
                document.getElementById('txtCompare').value = '';
            }
        });
    });
</script>

<script type="text/javascript">


    function GenerateCaptcha() {
        var chr1 = Math.ceil(Math.random() * 10) + '';
        var chr2 = Math.ceil(Math.random() * 10) + '';
        var chr3 = Math.ceil(Math.random() * 10) + '';

        var str = new Array(4).join().replace(/(.|$)/g, function () { return ((Math.random() * 36) | 0).toString(36)[Math.random() < .5 ? "toString" : "toUpperCase"](); });
        var captchaCode = str + chr1 + ' ' + chr2 + ' ' + chr3;
        document.getElementById("txtCaptcha").value = captchaCode
    }


    function ValidCaptcha() {
        var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
        var str2 = removeSpaces(document.getElementById('txtCompare').value);

        if (str1 == str2) return true;
        return false;
    }
</script>

