﻿@model IEnumerable<Jobportal_design.Models.Login>

@{
    ViewData["Title"] = "Signin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<!doctype html>

<html lang="en">

<head>
        <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <title>login page - jobPortal</title>



</head>

<body class="text-center">


    @using (Html.BeginForm("Signin", "Login", FormMethod.Post, new { @id = "CNenrollment" }))
    {

        <section class="pt-100 login-register" style="padding-top: 40px !important;">
            <div class="container">
                <div class="row login-register-cover">
                    <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                        <div class="text-center">
                            <p class="font-sm text-brand-2">Welcome back! </p>
                            <h2 class="mt-10 mb-5 text-brand-1">Member Login</h2>
                            <p class="font-sm text-muted mb-30">Access to all features. No credit card required.</p>
                            @*<button class="btn social-login hover-up mb-20"><img src="~/imgs/template/icons/icon-google.svg" alt="jobbox"><strong>Sign in with Google</strong></button>*@
                            @*<div class="divider-text-center"><span>Or continue with</span></div>*@
                        </div>
                        <form class="login-register text-start mt-20" action="dashboard.php">
                            <div class="form-group">
                                <label class="form-label" for="inputEmail">Username or Email address *</label>
                                @*<input class="form-control" id="email_id" type="text" name="email_id" placeholder="">*@
                                <input type="text" id="email_id" name="email_id" class="form-control" placeholder="Email address" required autofocus>

                            </div>
                            <div class="form-group">
                                <label class="form-label" for="input-4">Password *</label>
                                <input class="form-control" id="e_password" type="password" name="e_password" placeholder="************">
                                <i class="fi-rr-eye" onclick="show()" style="top: 70%; left: 370px; "></i>
                            </div>
                            <div class="login_footer form-group d-flex justify-content-between">
                                <label class="cb-container">
                                    @*<input type="checkbox" ><span class="text-small">Remember me</span><span class="checkmark"></span>*@
                                </label><a class="text-muted" href="@Url.Action("ResetPassword","Login")">Forgot Password</a>
                            </div>
                            <p style="color: red;">@TempData["error"]</p>
                            <div class="form-group">
                                @*<button class="btn btn-brand-1 hover-up w-100" type="submit">Login</button>*@
                                <button class="btn btn-apply" type="submit">SIGN IN</button>

                            </div>
                            @*<div class="text-muted text-center">Don't have an Account? <a href="register.php">Sign up</a></div>*@
                            <p>Don't have an account ? <a href="@Url.Action("Signup", "Jobseeker")" data-toggle="modal" data-target="#myModal" style="color: #ff00f6;"> Register for a New Account</a></p>

                        </form>
                    </div>
                    <div class="img-1 d-none d-lg-block"><img class="shape-1" src="~/imgs/page/login-register/img-4.svg" alt="JobBox"></div>
                    <div class="img-2"><img src="~/imgs/page/login-register/img-3.svg" alt="JobBox"></div>
                </div>
            </div>
        </section>
    }


    <script>
        function show() {
            var pswrd = document.getElementById('e_password');
            var icon = document.querySelector('.fi-rr-eye');
            if (pswrd.type === "password") {
                pswrd.type = "text";
                icon.style.color = "#7f2092";
            } else {
                pswrd.type = "password";
                icon.style.color = "gray";
            }
        }
    </script>


</body>

</html>

