﻿@model Jobportal_design.Models.Job_register_ab
@{ ViewData["Title"] = "Addjobregister";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<html>
<body>
    <a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>
    @using (Html.BeginForm("Create", "Jobregister", FormMethod.Post, new { @id = "CNenrollment" }))
    {
        <section class="section-box-2">
            <div class="container">
                <div class="banner-hero banner-company">
                    <div class="block-banner text-center">
                        <h3 class="wow animate__animated animate__fadeInUp">Job Posting Details</h3>
                        @*<div class="font-sm color-text-paragraph-2 mt-10 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, <br class="d-none d-xl-block">atque delectus molestias quis?</div>*@
                    </div>
                </div>
            </div>
        </section>
        <br />
        <div class="col-md-10 mb-50 mx-auto mt-30">
            <div class="content-single card card-body p-5">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-my-profile" role="tabpanel" aria-labelledby="tab-my-profile">
                        @*<h3 class="mt-0 mb-15 color-brand-1">Post A Job</h3>*@
                        @*<a class="font-md color-text-paragraph-2" href="#">Update your profile</a>*@

                        <div class="row form-contact">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label class="font-sm color-text-mutted mb-10">Job Title <span style="color:red">*</span></label>
                                    <div class="box-industry" style="border: 1px solid #E0E6F6; height: 50px;">
                                        <select id="job_title" name="job_title" class="form-select mr-10 select-active input-industry" required>
                                            <option value="0">Select Job Title</option>
                                            <option value="Administrator/Director">Administrator/Director</option>
                                            <option value="Assistant Teacher">Assistant Teacher</option>
                                            <option value="Floater">Floater</option>
                                            <option value="Lead Teacher">Lead Teacher</option>
                                            <option value="Substitute">Substitute</option>
                                            @*<option value="Administrator on JFS license">Administrator on JFS license</option>*@
                                            <option value="Day Camp Administrator">Day Camp Administrator</option>
                                            <option value="Day Camp Junior Counselor">Day Camp Junior Counselor</option>
                                            <option value="Day Camp Lead Counselor">Day Camp Lead Counselor</option>
                                            <option value="Day Camp Owner">Day Camp Owner</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="font-sm color-text-mutted mb-10">Category Name <span style="color:red">*</span></label>
                                    <div class="box-industry" style="border: 1px solid #E0E6F6; height: 50px;">
                                        @Html.DropDownList("job_cat_id", new SelectList(ViewBag.job_cat, "id", "job_category_name"), "Select a Job category", new { id = "dd_child", @class = "form-select mr-10 select-active input-industry", required=true})
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="font-sm color-text-mutted mb-10">Job Type <span style="color:red">*</span></label>
                                    <div class="box-industry" style="border: 1px solid #E0E6F6; height: 50px;">
                                        <select id="job_type" name="job_type" class="form-select mr-10 select-active input-industry" required>
                                            <option value="0">Select Type</option>
                                            <option value="Full Time">Full Time</option>
                                            <option value="Part Time">Part Time</option>
                                            <option value="In Office">In Office</option>
                                            <option value="Remote">Remote</option>
                                            <option value="Hybrid">Hybrid</option>
                                            <option value="Others">Others</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="font-sm color-text-mutted mb-10">Address</label>
                                    @Html.TextArea("address", (string)(ViewBag.address), new { @class = "form-control", name = "address" })
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">State <span style="color:red">*</span></label>
                                            <div class="box-industry" style="border: 1px solid #E0E6F6; height: 50px;">
                                                @*@Html.DropDownList("state_name", new SelectList(ViewBag.state_name, "state_name", "state_name"), new { id = "dd_state", @class = "form-select mr-10 select-active input-industry" })*@
                                                @Html.DropDownListFor(model => model.state_fk, new SelectList(ViewBag.state, "id", "state_name"), new { id = "dd_state", @class = "form-select mr-10 select-active input-industry", required=true })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">City <span style="color:red">*</span></label>
                                            @*<input class="form-control" type="text" value="Mcallen">*@
                                            <div class="box-industry" style="border: 1px solid #E0E6F6; height: 50px;">
                                                @Html.DropDownListFor(model => model.district_id, new SelectList(ViewBag.dist, "id", "dist_name"), "Select City", new { id = "dd_state", @class = "form-select mr-10 select-active input-industry", required=true })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">County <span style="color:red">*</span></label>
                                            @*<input class="form-control" type="text" value="Mcallen">*@
                                            <div class="box-industry" style="border: 1px solid #E0E6F6; height: 50px;">
                                                @*@Html.DropDownListFor(model=>model.county_id, new SelectList(ViewBag.county, "id", "county_name"), "Select County", new { @id = "dd_country", @class = "form-select mr-10 select-active input-industry", @onchange = "getDropValue(this.id)" })*@
                                                <select asp-for="county_id" asp-items="@(new SelectList(ViewBag.county, "id", "county_name"))" class="form-select mr-10 select-active input-industry" onchange='getDropValue(this.value)' placeholder="Select County" required></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label id="county_label" class="font-sm color-text-mutted mb-10">Other </label>
                                            @*<input class="form-control" type="text" value="82356">*@
                                            <input type="text" id="oth_county_name" name="oth_county_name" value="" placeholder="Type here.."
                                                   onfocus="this.placeholder = ''" onblur="this.placeholder = ''"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="font-sm color-text-mutted mb-10">Salary Pay <span style="color:red">*</span></label>
                                                <div class="box-industry" style="border: 1px solid #E0E6F6; height: 50px;">
                                                    <select id="salary_pay" name="salary_pay" class="form-select mr-10 select-active input-industry" required>
                                                        <option value="0">Select Pay</option>
                                                        <option value="Hourly">Hourly</option>
                                                        <option value="Weekly">Weekly</option>
                                                        <option value="Monthly">Monthly</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="font-sm color-text-mutted mb-10">Salary From: <span style="color:red">*</span></label>
                                                <input type="text" id="salary_package" name="salary_package" placeholder="" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label class="font-sm color-text-mutted mb-10">Salary To:</label>
                                                <input type="text" id="salary_to" name="salary_to" placeholder="" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">Start Date <span style="color:red">*</span></label>
                                            <input type="date" id="start_date" name="start_date" class="form-control" placeholder="" required/>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">End date <span style="color:red">*</span></label>
                                            @*<input class="form-control" type="text" value="Mcallen">*@
                                            <input type="date" id="end_date" name="end_date" class="form-control" placeholder="" required/>
                                        </div>
                                    </div>


                                </div>
                                @*<div class="form-group">
                                    <label class="font-sm color-text-mutted mb-10">Schedule: </label>
                                    <input type="text" id="shedule" name="shedule" class="form-control" placeholder="" />

                                </div>*@


                                @*<div class="box-agree mt-30">
                                        <label class="lbl-agree font-xs color-text-paragraph-2">
                                            <input class="lbl-checkbox" type="checkbox" value="1">I Accepted All terms and condition.
                                        </label>
                                    </div>*@
                                <br />

                            </div>
                            <div class="col-lg-6 col-md-12">

                                <div class="form-group">
                                    <label class="font-sm color-text-mutted mb-10">Licenses/Certifications: </label>
                                    <div class="box-industry" style="border: 1px solid #E0E6F6; height: 50px;">
                                        <select id="licence_certification" name="licence_certification" class="form-select mr-10 select-active input-industry">
                                            <option value="0">Select Licenses/Certifications</option>
                                            <option value="High School">High School</option>
                                            <option value="CDA Certification">CDA Certification</option>jobcategory
                                            <option value="Associate Degree">Associate Degree</option>
                                            <option value="Bachelor's Degree">Bachelor's Degree</option>
                                            <option value="Master's Degree">Master's Degree</option>
                                            <option value="Doctorate Degree">Doctorate Degree</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="font-sm color-text-mutted mb-10">Qualifications: <span style="color:red">*</span></label>
                                    <textarea id="job_skills" name="job_skills" placeholder="" class="form-control" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="font-sm color-text-mutted mb-10">Responsibilities :</label>
                                    <textarea id="responsibilities" name="responsibilities" placeholder="" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="font-sm color-text-mutted mb-10">Benefits :</label>
                                    <textarea id="benefits" name="benefits" placeholder="" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="font-sm color-text-mutted mb-10">Job description <span style="color:red">*</span></label>
                                    <textarea id="job_desc" name="job_desc" placeholder="Job description (1000 words)..." class="form-control" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="font-sm color-text-mutted mb-10">Experience <span style="color:red">*</span></label>
                                    <input type="text" id="experience" name="experience" placeholder="" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label class="font-sm color-text-mutted mb-10">Schedule: </label>
                                    <input type="text" id="shedule" name="shedule" class="form-control" placeholder="" />

                                </div>

                            </div>
                            <div class="box-button mt-15">
                                <button class="btn btn-apply-big font-md font-bold">Save All Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>}

</body>
</html>
@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });
    </script>
}
<script>
    const suggestions = [
        c, c++, java, Angular, PHP, infosys
    ]

    var textarea = document.getElementById('job_skills')

    textarea.addEventListener('keyup', (e) => {
        var result = suggestions.filter(el => el.startsWith(textarea.value))
        console.log(result)
    })

    function getDropValue(value) {
        console.log(value)
        if (value == "11") {
            document.getElementById('oth_county_name').style.display = 'block';
            document.getElementById('county_label').style.display = 'block';
        }
        else {
            document.getElementById('oth_county_name').style.display = 'none';
            document.getElementById('county_label').style.display = 'none';
        }
    }

</script>

<style>
    #oth_county_name {
        display: none;
    }

    #county_label {
        display: none;
    }
    .box-industry .form-select, .select2-container .select2-selection--single {
        height: 49px!important;
    }
    .select2-container .select2-selection--single {
        padding: 10px;
    }
</style>