﻿@*@model IEnumerable<Jobportal_design.Models.Employer>*@
@model Jobportal_design.Models.Job_register_ab

@{
    ViewData["Title"] = "EditJob_Admin";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>

<link rel="stylesheet" type="text/css" href="~/admin/assets/extra-libs/multicheck/multicheck.css">
<link href="~/admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@using (Html.BeginForm("UpdateJob_Admin", "Jobregister", FormMethod.Post, new { @id = "CNenrollment" }))
{
    <div class="modal-dialog" style="max-width: 722px;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #BEBEBE;">
                <h5 class="modal-title" id="exampleModalLongTitle">UPDATE JOB</h5>

            </div>
            <div class="modal-body" style="background: lavender;">
                <form>

                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            @Html.HiddenFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })

                            <label for="validationDefault01">Job Title :</label>
                            @Html.EditorFor(model => model.job_title, new { htmlAttributes = new { @class = "form-control" } })

                        </div>


                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationDefault01">Job category :</label>
                            @*@Html.DropDownList("category_name", new SelectList(ViewBag.org_cat, "category_name", "category_name"), "Select a Org category", new { id = "dd_child", @class = "form-control" })*@
                        <select asp-for="job_cat_id" asp-items="@(new SelectList(ViewBag.job_cat, "id", "job_category_name"))"></select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationDefault01">Location</label>
                            <br />
                            @*@Html.DropDownList("state_name", new SelectList(ViewBag.state_name, "state_name", "state_name"), "Select a State", new { id = "dd_child", @class = "form-control" })*@
                            <select asp-for="state_fk" asp-items="@(new SelectList(ViewBag.state_name, "id", "state_name"))"></select>

                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationDefault01">Salary Range :</label>
                            @Html.EditorFor(model => model.salary_package, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationDefault01">Experience :</label>
                            @Html.EditorFor(model => model.experience, new { htmlAttributes = new { @class = "form-control" } })

                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault01">Job Type:</label>
                            <br />
                            <select class="form-control" id="job_type" name="job_type">
                                <option>Full Time</option>
                                <option>Part Time</option>
                                <option>Freelancer</option>
                                <option>Internship</option>
                            </select>
                        </div>
                        @Html.HiddenFor(model => model.employeer_id, new { htmlAttributes = new { @class = "form-control" } })


                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault01">Skills Required :</label>
                            @Html.TextAreaFor(model => model.job_skills, new { @class = "form-control" })

                            @*<textarea id="job_skills" name="job_skills" placeholder="Skills..." class="form-control"></textarea>*@
                        </div>


                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault01">Job Description: :</label>
                            @Html.TextAreaFor(model => model.job_desc, new { @class = "form-control" })


                        </div>


                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationDefault01">Start Date :</label>
                            @Html.EditorFor(model => model.start_date, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationDefault01"> End Date :</label>
                            @Html.EditorFor(model => model.end_date, new { htmlAttributes = new { @class = "form-control" } })

                        </div>

                    </div>




                </form>
            </div>
            <div class="modal-footer" style="background: lavender;">
                <button type="button" class="btn btn-save" style="background-color:darkgray">Close</button>
                @*<input type="button" id="btnPost" class="btn btn-primary" value="Save changes" />*@
                <button type="submit" value="Create" class="btn btn-save" style="background-color:darkgray">Update changes</button>

            </div>
        </div>
    </div>
}
<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="~/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="~/admin/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/admin/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="~/admin/dist/js/custom.min.js"></script>
<!-- this page js -->
<script src="~/admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="~/admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="~/admin/assets/extra-libs/DataTables/datatables.min.js"></script>
<script>
    /****************************************
     *       Basic Table                   *
     ****************************************/
    $('#zero_config').DataTable();
</script>