﻿@using Jobportal_design.Models;
@model dynamic
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

}

<link href="~/css/new-style.css" rel="stylesheet" />
<body>
    <a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>

    <section class="section-box-2 sidebar-border mb-0 mt-5">
        <div class="container">
            <div class="banner-hero banner-company bg-white">
                <div class="block-banner text-center">
                    <h3 class="wow animate__animated animate__fadeInUp" style="color: #80287d;"> Job Applicants (@ViewBag.countjobs)</h3>
                    <div class="font-sm color-text-paragraph-2 mt-10 wow animate__animated animate__fadeInUp text-dark" data-wow-delay=".1s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, <br class="d-none d-xl-block">atque delectus molestias quis?</div>
                    @*<div class="box-list-character">
                            <ul>
                                <li><a class="active" href="#">A</a></li>
                                <li><a href="#">B</a></li>
                                <li><a href="#">C</a></li>
                                <li><a href="#">D</a></li>
                                <li><a href="#">E</a></li>
                                <li><a href="#">F</a></li>
                                <li><a href="#">G</a></li>
                                <li><a href="#">H</a></li>
                                <li><a href="#">I</a></li>
                                <li><a href="#">J</a></li>
                                <li><a href="#">K</a></li>
                                <li><a href="#">L</a></li>
                                <li><a href="#">M</a></li>
                                <li><a href="#">N</a></li>
                                <li><a href="#">O</a></li>
                                <li><a href="#">P</a></li>
                                <li><a href="#">Q</a></li>
                                <li><a href="#">R</a></li>
                                <li><a href="#">S</a></li>
                                <li><a href="#">T</a></li>
                                <li><a href="#">U</a></li>
                                <li><a href="#">V</a></li>
                                <li><a href="#">W</a></li>
                                <li><a href="#">X</a></li>
                                <li><a href="#">Y</a></li>
                                <li><a href="#">Z</a></li>
                            </ul>
                        </div>*@
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-30 sidebar-border">
        <div class="container">
            <div class="content-page">
                <div class="box-filters-job">
                    <div class="row">
                        <div class="col-xl-8 col-lg-6">
                            <span> Showing <strong>@ViewBag.countjobs </strong> Job Applicants</span>
                        </div>
                        <div class="col-xl-4 col-lg-6"><span class="text-small text-showing"><strong> *Note:</strong> Click the heading and view the details.</span></div>

                    </div>
                </div>
                <div class="col-md-12 row">
                    <div id="myTable" class="row">
                        @if (ViewBag.Jobseeker != null)
                        {
                            @foreach (var item in ViewBag.Jobseeker)
                            {
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="card-grid-2 hover-up">
                                        <div class="card-grid-2-image-left jobseeker-getall-div01">
                                            <div class="card-grid-2-image-rd online">
                                                <a href="candidate-details.php">
                                                    @if (item.s_pic == null)
                                                    {
                                                        <figure> <img width="100" height="100" src="~/imgs/page/candidates/candidate_profile1.png" alt="loading.."></figure>
                                                    }
                                                    else
                                                    {
                                                        <figure> <img width="100" height="100" src="~/Jobseeker_uploads/@(item.s_pic)" alt="loading.."></figure>
                                                        @*<img src="~/imgs/page/candidates/candidate_profile1.png" alt="loading.." style="width:47%">*@
                                                    }
                                                </a>
                                            </div>
                                            <div class="card-profile pt-10 jobseeker-getall01">
                                                <a href="@Url.Action("Admin_seek_Profile", "Jobseeker",new { id = @item.id })">
                                                    <h5>@item.fname&nbsp;@item.lname</h5>
                                                </a><span class="font-xs color-text-mutted">@item.email_id</span>
                                                <div class="rate-reviews-small pt-5"><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs">(65)</span></div>
                                            </div>
                                        </div>
                                        <div class="card-block-info">
                                            
                                            <div class="card-2-bottom card-2-bottom-candidate">
                                                <div class="text-start">
                                                    <p class="font-xs color-text-paragraph-2">Gender : &nbsp;&nbsp;<strong>@item.gender</strong></p>
                                                    <p class="font-xs color-text-paragraph-2">Education : &nbsp;&nbsp;<strong>@item.highest_degree</strong></p>
                                                    @*<a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Work Experience :</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">@item.highest_degree</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Education :</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">@item</a>*@
                                                </div>
                                            </div>
                                            <div class="employers-info align-items-center justify-content-center mt-15">
                                                <div class="row">
                                                    <div class="col-md-12"><span class="d-flex align-items-center"><i class="fi-rr-marker mr-5 ml-0"></i> Location : &nbsp;<span class="font-sm color-text-mutted">@item.seekcity</span></span></div>
                                                    <div class="col-md-12 mt-3"><span class="d-flex justify-content-start align-items-center"><i class="fi-rr-calendar mr-5 ml-0"></i> Applied Date : &nbsp;<span class="font-sm color-brand-1">@item.date_applied.ToString("MM/dd/yyyy")</span></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    @if (@ViewBag.countjobs == 0)
                    {
                        <div class="col-md-3 text-center paginations" style="line-height: 45px;">  <strong>No Job Applied Applicants</strong>  </div>
                    }
                    else
                    {
                        <div class="col-md-3 text-center paginations" style="line-height: 45px;">Showing <strong><span id="currentP">1</span></strong> of <strong><span id="totalP"></span></strong>  pages </div>
                    }
                    <div class="col-md-6 text-center paginations">

                        <ul class="pager" id="myPager">
                        </ul>


                    </div>
                    <div class="col-md-3 text-center paginations">


                    </div>
                </div>
            </div>

        </div>
    </section>
    <br />


</body>
@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });
    </script>

    <script>
        $.fn.pageMe = function (opts) {
            var $this = this,
                defaults = {
                    perPage: 15,
                    showPrevNext: false,
                    hidePageNumbers: false
                },
                settings = $.extend(defaults, opts);
            console.log(settings)
            var listElement = $this;
            var perPage = settings.perPage;
            var children = listElement.children();
            var pager = $('.pager');

            if (typeof settings.childSelector != "undefined") {
                children = listElement.find(settings.childSelector);
            }

            if (typeof settings.pagerSelector != "undefined") {
                pager = $(settings.pagerSelector);
            }

            var numItems = children.size();
            var numPages = Math.ceil(numItems / perPage);

            pager.data("curr", 0);

            if (settings.showPrevNext) {
                $('<li><a href="#" class="pager-prev"></a></li>').appendTo(pager);
            }

            var curr = 0;
            // Added class and id in li start
            while (numPages > curr && (settings.hidePageNumbers == false)) {
                $('<li id="pg' + (curr + 1) + '" class="pg"><a href="#" class="page_link">' + (curr + 1) + '</a></li>').appendTo(pager);
                curr++;
            }
            // Added class and id in li end

            if (settings.showPrevNext) {
                $('<li><a href="#" class="pager-next"></a></li>').appendTo(pager);
            }

            pager.find('.page_link:first').addClass('active');
            pager.find('.pager-prev').hide();
            if (numPages <= 1) {
                pager.find('.pager-next').hide();
            }
           // pager.children().eq(1).addClass("active");

            children.hide();
            children.slice(0, perPage).show();
            if (numPages > 3) {
                $('.pg').hide();
                $('#pg1,#pg2,#pg3').show();
                $("#pg3").after($("<li class='ell'>").html("<span>...</span>"));
            }

            pager.find('li .page_link').click(function () {
                var clickedPage = $(this).html().valueOf() - 1;
                goTo(clickedPage, perPage);
                return false;
            });
            pager.find('li .pager-prev').click(function () {
                previous();
                return false;
            });
            pager.find('li .pager-next').click(function () {
                next();
                return false;
            });

            function previous() {
                var goToPage = parseInt(pager.data("curr")) - 1;
                $('.pg').children().eq(goToPage + 1).removeClass("active");
                goTo(goToPage);
            }

            function next() {
                goToPage = parseInt(pager.data("curr")) + 1;
                goTo(goToPage);
            }

            function goTo(page) {
                var startAt = page * perPage,
                    endOn = startAt + perPage;

                // Added few lines from here start

                $('.pg').hide();
                $(".ell").remove();
                var prevpg = $("#pg" + page).show();
                var currpg = $("#pg" + (page + 1)).show();
                var nextpg = $("#pg" + (page + 2)).show();
                if (prevpg.length == 0) nextpg = $("#pg" + (page + 3)).show();
                if (prevpg.length == 1 && nextpg.length == 0) {
                    prevpg = $("#pg" + (page - 1)).show();
                }
                $("#pg1").show()
                if (curr > 3) {
                    if (page > 1) prevpg.before($("<li class='ell'>").html("<span>...</span>"));
                    if (page < curr - 2) nextpg.after($("<li class='ell'>").html("<span>...</span>"));
                }

                if (page <= numPages - 3) {
                    $("#pg" + numPages.toString()).show();
                }
                currpg.addClass("active").siblings().removeClass("active");
                // Added few lines till here end


                children.css('display', 'none').slice(startAt, endOn).show();

                if (page >= 1) {
                    pager.find('.pager-prev').show();
                } else {
                    pager.find('.pager-prev').hide();
                }

                if (page < (numPages - 1)) {
                    pager.find('.pager-next').show();
                } else {
                    pager.find('.pager-next').hide();
                }

                pager.data("curr", page);
                if ($('.pg').children().eq(page - 1).hasClass("active")) {
                    $('.pg').children().eq(page - 1).removeClass("active");
                }
                if ($('.pg').children().eq(page + 1).hasClass("active")) {
                    $('.pg').children().eq(page + 1).removeClass("active");
                }
                $('.pg').children().eq(page).addClass("active");
                var fp = (page * 15)+1;
                var tp = (page+1) * 15;
                $("#startP").text(fp.toString());
                if (tp < @ViewBag.countjobs)
                    $("#endP").text(tp.toString());
                else
                    $("#endP").text(@ViewBag.countjobs);
                $("#currentP").text((page+1).toString());
                $("#totalP").text(numPages.toString());
                window.scrollTo(0, 250);

            }
        };

        $(document).ready(function () {
            $("#currentP").text("1");
                $("#totalP").text(Math.ceil(@ViewBag.countjobs/15).toString());
            $('#myTable').pageMe({
                pagerSelector: '#myPager',
                showPrevNext: true,
                hidePageNumbers: false,
                perPage: 15
            });

        });
    </script>
}
<style>
    .card-grid-2 .card-grid-2-image-rd {
        min-width: 60px !important;
        max-width: 75px !important;
        height: 60px;
    }
    .card-grid-2 .card-grid-2-image-rd figure img {            
        height: 60px!important;
        width: 60px!important;
    }
    .banner-hero .block-banner {
        background-color: white!important;
    }
</style>