﻿@model Jobportal_design.Models.job_reg_tbl
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}


<!doctype html>
<html class="no-js" lang="zxx">

<body>
    <link href="~/css/new-style.css" rel="stylesheet" />
    <a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>

    <section class="section-box mt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="box-border-single">
                        <div class="row mt-10">
                            <div class="col-lg-8 col-md-12">
                                <h3>@Html.DisplayFor(model => model.job_title)</h3>
                                <div class="mt-0 mb-15"><span class="card-briefcase">@Html.DisplayFor(model => model.job_type)</span><span class="card-time">@ViewBag.posting_date</span></div>
                            </div>
                            @*<div class="col-lg-4 col-md-12 text-lg-end">
                                    <div class="btn btn-apply-icon btn-apply btn-apply-big hover-up" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm" href="@Url.Action("Signin", "Login")">Apply now/Login</div>
                                </div>*@
                        </div>
                        <div class="border-bottom pt-10 pb-10"></div>
                        <div class="banner-hero banner-image-single mt-10 mb-20"><img src="~/imgs/page/job-single-2/img.png" alt="jobBox"></div>
                        <div class="job-overview">
                            <h5 class="border-bottom pb-15 mb-30">Overview</h5>
                            <div class="row">
                                <div class="col-md-6 d-flex">
                                    <div class="sidebar-icon-item"><img src="~/imgs/page/job-single/industry.svg" alt="jobBox"></div>
                                    <div class="sidebar-text-info ml-10"><span class="text-description industry-icon mb-10">Industry</span><strong class="small-heading"> @Html.DisplayFor(model => model.category_name)</strong></div>
                                </div>
                                <div class="col-md-6 d-flex mt-sm-15">
                                    <div class="sidebar-icon-item"><img src="~/imgs/page/job-single/job-level.svg" alt="jobBox"></div>
                                    <div class="sidebar-text-info ml-10"><span class="text-description joblevel-icon mb-10">Job Category</span><strong class="small-heading">@Html.DisplayFor(model => model.job_title)</strong></div>
                                </div>
                            </div>
                            <div class="row mt-25">
                                <div class="col-md-6 d-flex mt-sm-15">
                                    <div class="sidebar-icon-item"><img src="~/imgs/page/job-single/salary.svg" alt="jobBox"></div>
                                    <div class="sidebar-text-info ml-10"><span class="text-description salary-icon mb-10">Salary</span><strong class="small-heading">$ @Html.DisplayFor(model => model.salary_package)-$@Html.DisplayFor(model => model.salary_to)</strong></div>
                                </div>
                                <div class="col-md-6 d-flex">
                                    <div class="sidebar-icon-item"><img src="~/imgs/page/job-single/experience.svg" alt="jobBox"></div>
                                    <div class="sidebar-text-info ml-10"><span class="text-description experience-icon mb-10">Experience</span><strong class="small-heading">@Html.DisplayFor(model => model.experience)</strong></div>
                                </div>
                            </div>
                            <div class="row mt-25">
                                <div class="col-md-6 d-flex mt-sm-15">
                                    <div class="sidebar-icon-item"><img src="~/imgs/page/job-single/job-type.svg" alt="jobBox"></div>
                                    <div class="sidebar-text-info ml-10"><span class="text-description jobtype-icon mb-10">Job type</span><strong class="small-heading">@Html.DisplayFor(model => model.job_type)</strong></div>
                                </div>
                                <div class="col-md-6 d-flex mt-sm-15">
                                    <div class="sidebar-icon-item"><img src="~/imgs/page/job-single/deadline.svg" alt="jobBox"></div>
                                    <div class="sidebar-text-info ml-10"><span class="text-description mb-10">Deadline</span><strong class="small-heading">@ViewBag.end_date</strong></div>
                                </div>
                            </div>
                            <div class="row mt-25">
                                <div class="col-md-6 d-flex mt-sm-15">
                                    <div class="sidebar-icon-item"><img src="~/imgs/page/job-single/updated.svg" alt="jobBox"></div>
                                    <div class="sidebar-text-info ml-10"><span class="text-description jobtype-icon mb-10">City</span><strong class="small-heading">@Html.DisplayFor(model => model.district_name)</strong></div>
                                </div>
                                <div class="col-md-6 d-flex mt-sm-15">
                                    <div class="sidebar-icon-item"><img src="~/imgs/page/job-single/location.svg" alt="jobBox"></div>
                                    <div class="sidebar-text-info ml-10"><span class="text-description mb-10">Location</span><strong class="small-heading">Dallas, Texas Remote Friendly</strong></div>
                                </div>
                            </div>
                        </div>
                        <div class="content-single">
                            <h4>Welcome to @Html.DisplayFor(model => model.org_name) Team</h4>
                            <p>The AliStudio Design team has a vision to establish a trusted platform that enables productive and healthy enterprises in a world of digital and remote everything, constantly changing work patterns and norms, and the need for organizational resiliency.</p>
                            <p>
                                The ideal candidate will have strong creative skills and a portfolio of work which demonstrates their passion for illustrative design and typography. This candidate will have experiences in working with numerous different design platforms such as digital
                                and print forms.
                            </p>
                            <h4>Skills</h4>
                            <ul>
                                <li>@Html.DisplayFor(model => model.job_skills)</li>
                            </ul>
                            <h4>Preferred Experience</h4>
                            <ul>
                                <li>@Html.DisplayFor(model => model.experience)</li>

                            </ul>
                            <h4>Job Description</h4>
                            <p>@Html.DisplayFor(model => model.job_desc)</p>
                            <p><strong>Research:</strong> Provide human and business impact and insights for products.</p>

                        </div>
                        <div class="author-single"><span>@Html.DisplayFor(model => model.org_name)</span></div>
                        <div class="single-apply-jobs">
                            <div class="row align-items-center">
                                @*<div class="col-md-5"><a class="btn btn-default mr-15" href="#">Apply now</a><a class="btn btn-border" href="#">Save job</a></div>*@
                                <div class="col-md-7 text-lg-end social-share">
                                    <h6 class="color-text-paragraph-2 d-inline-block d-baseline mr-10">Share this</h6><a class="mr-5 d-inline-block d-middle" href="#"><img alt="jobBox" src="~/imgs/template/icons/share-fb.svg"></a><a class="mr-5 d-inline-block d-middle" href="#"><img alt="jobBox" src="~/imgs/template/icons/share-tw.svg"></a><a class="mr-5 d-inline-block d-middle" href="#"><img alt="jobBox" src="~/imgs/template/icons/share-red.svg"></a><a class="d-inline-block d-middle" href="#"><img alt="jobBox" src="~/imgs/template/icons/share-whatsapp.svg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12 pl-40 pl-lg-15 mt-lg-30">
                    <div class="sidebar-border">
                        <div class="sidebar-heading">
                            <div class="avatar-sidebar">
                                <figure><img alt="jobBox" src="~/imgs/page/job-single/avatar.png"></figure>
                                <div class="sidebar-info"><span class="sidebar-company">@Html.DisplayFor(model => model.org_name)</span><span class="card-location">@Html.DisplayFor(model => model.org_county_name)</span></div>
                            </div>
                        </div>
                        <div class="sidebar-list-job">
                            <div class="box-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.3150609575905!2d-87.6235655!3d41.886080899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2ca8b34afe61%3A0x6caeb5f721ca846!2s205%20N%20Michigan%20Ave%20Suit%20810%2C%20Chicago%2C%20IL%2060601%2C%20Hoa%20K%E1%BB%B3!5e0!3m2!1svi!2s!4v1658551322537!5m2!1svi!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            <ul class="ul-disc">
                                <li>@Html.DisplayFor(model => model.org_address), @Html.DisplayFor(model => model.org_state), USA</li>
                                <li>Phone: @Html.DisplayFor(model => model.org_phone)</li>
                                <li>Email: @Html.DisplayFor(model => model.org_mail)</li>
                            </ul>
                        </div>
                    </div>
                   
                    <div class="sidebar-border">
                        <h6 class="f-18">Tags</h6>
                        <div class="sidebar-list-job"><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">App</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">Digital</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">Marketing</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">Conten Writer</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">Sketch</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">PSD</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">Laravel</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">React JS</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">HTML</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">Finance</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">Manager</a><a class="btn btn-grey-small bg-14 mb-10 mr-5" href="jobs-grid.html">Business</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>




</body>
</html>

@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });
    </script>
}