﻿@model IEnumerable<Jobportal_design.Models.Job_register_ab>
@{
    ViewData["Title"] = "Joblist_Admin";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/admin/assets/extra-libs/multicheck/multicheck.css">
<link href="~/admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/new-style.css" rel="stylesheet" />
<a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>



<section class="section-box-2">
    <div class="container">
        <div class="banner-hero banner-single banner-single-bg">
            <div class="block-banner text-center">
                @if (@ViewBag.countjobs == 0)
                {
                    <h3 class="wow animate__animated animate__fadeInUp"><span class="color-brand-2">No Posted Jobs</span>  </h3>
                }
                else
                {
                    <h3 class="wow animate__animated animate__fadeInUp"><span class="color-brand-2"> Posted Jobs</span>  </h3>
                }

                <div class="form-find text-start mt-40 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                    @using (Html.BeginForm("Joblist_AdminPartialView", "Jobregister", FormMethod.Post, new { enctype = "multipart/form-data", @id = "filterForm" }))
                    {
                    <form>
                        <div class="box-industry">
                            @Html.DropDownList("job_cat_id", new SelectList(ViewBag.job_cat, "id", "job_category_name"), "-Job Category-", new { id = "dd_child", @class = "form-input mr-10 select-active input-industry" })
                        </div>
                            @Html.DropDownList("Value", new SelectList(ViewBag.jobTitle, "Value", "Value"), "-Select Job title-", new { id = "dd_child1", @class = "form-input mr-10 select-active input-industry" })


                        @Html.DropDownList("county_id", new SelectList(ViewBag.county, "id", "county_name"), "-Select County-", new { id = "dd_child1", @class = "form-input mr-10 select-active input-industry" })
                        @*<input class="form-input input-keysearch mr-10" type="text" id="search" name="search" value="@ViewBag.searchText" placeholder="Job title/Organization name... ">*@
                        <input type="submit" value="Search" class="btn btn-default btn-find font-sm" />
                    </form>
                    }
                    @*onclick="callChangefunc()"*@
                </div>
            </div>
        </div>
    </div>
</section>
<div id="Joblist_AdminPartialView">
    @await Html.PartialAsync("Joblist_AdminPartialView")
    @*@Html.PartialAsync("FindJobPartialView", "Home")*@
</div>

@using (Html.BeginForm("Jobapproved_admin", "Jobregister", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="ModalApplyJobForm1" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content apply-job-form">
                <button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body pl-30 pr-30 pt-50">
                    <input type="hidden" id="passedId" name="passedId" value="passedId">
                    <input type="hidden" id="activeStat" name="activeStat" value="activeStat" />
                    <div class="text-center">
                        <p class="font-sm text-brand-2">Approve Job </p>

                    </div>
                    <br />
                    <br /><br />
                    <form class="login-register text-start mt-20 pb-30" action="#">
                        <h5>Do you want change the approval status ?</h5>
                        <br /><br /><br /><br />
                        <div class="form-group" style="float:right">
                            <button class="btn btn-default hover-up" type="submit" name="login" onclick="StatusFunc()">Yes</button>
                            <button class="btn btn-default hover-up" type="button" data-dismiss="modal" aria-label="Close">No</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

}

@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });

        $(function () {
            $('#filterForm').submit(function (event) {
                event.preventDefault();
                var filterData = $(this).serialize();
                $('#preloader-active').show();
                $.get('/Jobregister/Joblist_AdminPartialView', filterData, function (result) {
                    $('#Joblist_AdminPartialView').html(result);
                    $('#preloader-active').hide();
                });
            });
        });
    </script>
}
@*<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
 Bootstrap tether Core JavaScript 
<script src="~/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
 slimscrollbar scrollbar JavaScript 
<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
Wave Effects 
<script src="~/admin/dist/js/waves.js"></script>
Menu sidebar 
<script src="~/admin/dist/js/sidebarmenu.js"></script>
Custom JavaScript 
<script src="~/admin/dist/js/custom.min.js"></script>
 this page js 
<script src="~/admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="~/admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="~/admin/assets/extra-libs/DataTables/datatables.min.js"></script>*@
<script>
          
    //$('#zero_config').DataTable({
    //    "ordering": false,
    //});

 $(document).on("click", ".modAct", function () {

     var passedStatus = $(this).data('status');
     var passedId = $(this).data('id');
     $(".modal-body #passedId").val(passedId);
     $(".modal-body #activeStat").val(passedStatus);

});
function StatusFunc() {
    var activeStat = document.getElementById("activeStat").value;
        // $(".modal-body #activeStat").val(activeStat);
        var passedId = document.getElementById('passedId').value;
@*var url = "@Url.Action("Index1", "Jobseeker")" + "?year=" + year + "&month=" + month;*@
    var url = "@Url.Action("Jobapproved_admin", "Jobregister")" + "?activeStat=" + activeStat + "&passedId=" + passedId;
        window.location.href = url;

        }

</script>

<style>
    .btn-apply {
        font-weight: 600;
    }
</style>