﻿@model IEnumerable<Jobportal_design.Models.Job_register_ab>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" type="text/css" href="~/admin/assets/extra-libs/multicheck/multicheck.css">
<link href="~/admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/new-style.css" rel="stylesheet" />

<div id="preloader-active" style="display:none;">
    <div class="preloader d-flex align-items-center justify-content-center" style="background: rgb(0 0 0); opacity:.8;">
        <div class="preloader-inner position-relative">
            <div class="text-center"><img src="~/imgs/template/loader.png" alt=""></div>
        </div>
    </div>
</div>
<div class="row">
    @*<div class="col-xl-6 col-lg-5"><span class="text-small text-showing">Showing <strong> </strong> <strong>@ViewBag.orgCount </strong>Organizations</span></div>*@
    <div class="col-xl-6 col-lg-5" id="showCount">Showing <strong>@ViewBag.jobCount</strong> Jobs </div>
    <div class="col-xl-6 col-lg-7 text-lg-end mt-sm-15">
        <div class="display-flex2">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">



        <div class="card">

            <div class="card-body">
                @*<input type="button" class="btn btn-primary" style="float: right;" value="Add Category" onclick="location.href='@Url.Action("Add_org_cat", "Org_cat")'" />*@

                <br />
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>

                                <th>Job Title</th>
                                <th>Organization</th>
                                <th>Job type</th>
                                <th>Job Post Date</th>
                                <th>Closing date</th>
                                <th>Status</th>
                                <th>Seekers</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                string p_date = item.posting_date.ToString("MM/dd/yyyy");
                                string s_date = item.start_date.ToString("MM/dd/yyyy");
                                string e_date = item.end_date.ToString("MM/dd/yyyy");
                                string approve_status = "Approved";
                                //bool str = item.is_active;
                                //string str1 = str.ToString();
                                if (item.is_approved == true)
                                {
                                    approve_status = "Approved";
                                }
                                else
                                {
                                    approve_status = "Pending";
                                }
                                <tr>
                                    <td>
                                        <a href="@Url.Action( "Jobdetails_admin", "Jobregister", new { id = @item.id })" style="color:blue;">@Html.DisplayFor(modelItem => item.job_title)</a>
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.org_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.job_type)
                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => p_date)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => e_date)
                                    </td>

                                    <td>
                                        <!--  <a href="@Url.Action( "Jobdetails_admin", "Jobregister", new { id = @item.id })" style="color:blue;">@Html.DisplayFor(modelItem => approve_status)</a>-->
                                        @if (approve_status == "Pending")
                                        {
                                            <a class="modAct"
                                               data-status="@item.is_approved" data-id="@item.id"
                                               data-toggle="modal" style="color: red; cursor: pointer;" title="Click here to approve" data-target="#ModalApplyJobForm1"> @Html.DisplayFor(modelItem => approve_status)</a>

                                        }
                                        else
                                        {
                                            <a class="modAct"
                                               data-status="@item.is_approved" data-id="@item.id"
                                               data-toggle="modal" style="color: blue; cursor: pointer;" title="Click here to disapprove" data-target="#ModalApplyJobForm1"> @Html.DisplayFor(modelItem => approve_status)</a>

                                            <!-- <a style="color:blue;">@Html.DisplayFor(modelItem => approve_status)</a>-->

                                        }

                                    </td>

                                    <td>
                                        @if (item.seekCount == 0)
                                        {
                                            <a style="color: red; font-size: 13px; font-weight: 600;">No Seekers</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-apply" href="@Url.Action("getall_Jobseeker_admin", "Jobregister",new { id = @item.id })" style="color: blue; font-size: 12px;">Seeker(@Html.DisplayFor(modelItem => item.seekCount))</a>
                                        }
                                    </td>


                                </tr>
                            }


                        </tbody>
                        @*<tfoot>
                                <tr>

                                    <th>Currency Name</th>
                                    <th>Country Code</th>
                                    <th>Symbol</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>*@
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
 
<script src="~/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>

<script src="~/admin/dist/js/waves.js"></script>

<script src="~/admin/dist/js/sidebarmenu.js"></script>

<script src="~/admin/dist/js/custom.min.js"></script>
 
<script src="~/admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="~/admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="~/admin/assets/extra-libs/DataTables/datatables.min.js"></script>
<script>
    $('#zero_config').DataTable({
        "ordering": false,
    });
</script>