﻿@*@model IEnumerable<Jobportal_design.Models.Job_register_ab>*@
@using Jobportal_design.Models;
@model dynamic
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>
<section class="section-box-2">
    <div class="container">
        <div class="banner-hero banner-image-single"><img src="~/imgs/page/company/img.png" alt="jobBox"></div>
        <div class="box-company-profile">
            <div class="image-compay">
                @if (ViewBag.profilepic == null)
                {
                    <img width="100" height="100" src="~/imgs/page/candidates/candidate_profile1.png" alt="loading..">
                }
                else
                {
                    <img width="100" height="100" src="~/Emp_img_uploads/@(ViewBag.profilepic)" alt="loading..">

                }
                @*<img src="~/imgs/page/company/company.png" alt="jobBox">*@
            </div>
            <div class="row mt-10">
                <div class="col-lg-6 col-md-12">
                    <h5 class="f-18">@ViewBag.e_name <span class="card-location font-regular ml-20">@ViewBag.county_name</span></h5>
                    <p class="mt-5 font-md color-text-paragraph-2 mb-15">@ViewBag.org_name</p>
                </div>
                @*<div class="col-lg-4 col-md-12">
                        <a class="btn btn-call-icon btn-apply btn-apply-big" href="@Url.Action("AddJobregister", "Jobregister")">Post A Job</a>
                    </div>*@
                <div class="col-lg-6 col-md-12 text-lg-end">
                    <a class="btn btn-apply" href="@Url.Action("AddJobregister", "Jobregister")">Post A Job</a>
                    <a class="btn btn-apply" href="@Url.Action("EditProfile", "Employer")">
                        Edit Profile
                    </a>
                </div>
            </div>
        </div>
        <div class="box-nav-tabs mt-40 mb-5">
            <div class="col-lg-4 col-md-12">

            </div>
        </div>
    </div>
</section>
<section class="section-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="content-single">

                    <div class="tab-pane fade show active" id="tab-about" role="tabpanel" aria-labelledby="tab-about">
                        <div class="box-related-job content-page mt-0">
                            @if (@ViewBag.job_count != 0)
                            {
                                <h5 class="mb-30"> Jobs <span class="number-item" style="color: #80287d">(@ViewBag.job_count)</span></h5>
                            }
                            else
                            {
                                <h5 class="mb-30">  <span class="number-item" style="color: #80287d">No Posted Jobs</span></h5>
                            }
                            <div class="box-list-jobs display-list pe-0">
                                @if (ViewBag.job != null)
                                {
                                    @foreach (var item in ViewBag.job)
                                    {
                                        <div class="col-xl-12 col-12">
                                            @if (item.is_approved == false)
                                            {
                                                <div class="card-grid-2 hover-up" style="border: 1px solid red;">
                                                    <span class="flash"></span>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="card-grid-2-image-left">
                                                                <div class="image-box">
                                                                    @if (@item.cmp_image == null)
                                                                    {
                                                                        <a href="company-details.php"><img width="100" height="100" src="~/Org_img_uploads/org_profile.png" alt="loading--"></a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="company-details.php"><img width="100" height="100" src="~/Org_img_uploads/@(item.cmp_image)" alt="loading--"></a>
                                                                    }
                                                                </div>
                                                                <div class="right-info"><a class="name-job">@item.org_name</a><span class="location-small">County:@item.county_name</span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 text-start text-md-end pr-60 col-md-6 col-sm-12">
                                                            <div class="pl-15 mb-15 mt-30"><a class="btn btn-grey-small mr-5" href="@Url.Action("EditJob", "Jobregister", new { id = item.id })">Edit</a>@*<a class="btn btn-grey-small mr-5" href="">Delete</a>*@</div>
                                                        </div>
                                                    </div>
                                                    <div class="card-block-info">
                                                        <h4><a href="@Url.Action("ViewJobdetail", "Jobregister", new { id = @item.id })">@item.job_title</a></h4>
                                                        <div class="mt-5"><span class="card-briefcase">@item.job_type</span><span class="card-time"><span>@item.start_date.ToString("MM/dd/yyyy")</span><span> </span></span></div>
                                                        <p class="font-sm color-text-paragraph mt-10">@item.job_desc</p>
                                                        <div class="card-2-bottom mt-20">
                                                            <div class="row">
                                                                <div class="col-lg-7 col-7"><span class="card-text-price">$@item.salary_package-$@item.salary_to</span><span class="text-muted">/Monthly</span></div>
                                                                <div class="col-lg-5 col-5 text-end">
                                                                    @*<div class="btn btn-apply-now" <a href="@Url.Action("getall_Jobseeker_id", "Jobregister", new { id = item.id })">Job Applicants</a></div>*@
                                                                    @*@Html.ActionLink("Job Applicants", "getall_Jobseeker_id", "Jobregister", new { id = item.id }, new { @class = "btn btn-apply-now" })*@
                                                                    <p style="color: red; font-family: fantasy;">Will be Live shortly....</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="card-grid-2 hover-up">
                                                    <span class="flash"></span>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="card-grid-2-image-left">
                                                                <div class="image-box">
                                                                    @if (@item.cmp_image == null)
                                                                    {
                                                                        <a href="company-details.php"><img width="100" height="100" src="~/Org_img_uploads/org_profile.png" alt="loading--"></a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="company-details.php"><img width="100" height="100" src="~/Org_img_uploads/@(item.cmp_image)" alt="loading--"></a>
                                                                    }
                                                                </div>
                                                                <div class="right-info"><a class="name-job">@item.org_name</a><span class="location-small">County:@item.county_name</span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 text-start text-md-end pr-60 col-md-6 col-sm-12">
                                                            <div class="pl-15 mb-15 mt-30"><a class="btn btn-grey-small mr-5" href="@Url.Action("EditJob", "Jobregister", new { id = item.id })">Edit</a>@*<a class="btn btn-grey-small mr-5" href="">Delete</a>*@</div>
                                                        </div>
                                                    </div>
                                                    <div class="card-block-info">
                                                        <h4><a href="@Url.Action("ViewJobdetail", "Jobregister", new { id = @item.id })">@item.job_title</a></h4>
                                                        <div class="mt-5"><span class="card-briefcase">@item.job_type</span><span class="card-time"><span>@item.start_date.ToString("MM/dd/yyyy")</span><span> </span></span></div>
                                                        <p class="font-sm color-text-paragraph mt-10">@item.job_desc</p>
                                                        <div class="card-2-bottom mt-20">
                                                            <div class="row">
                                                                <div class="col-lg-7 col-7"><span class="card-text-price">$@item.salary_package-$@item.salary_to</span><span class="text-muted">/Monthly</span></div>
                                                                <div class="col-lg-5 col-5 text-end">
                                                                    @*<div class="btn btn-apply-now" <a href="@Url.Action("getall_Jobseeker_id", "Jobregister", new { id = item.id })">Job Applicants</a></div>*@
                                                                    @Html.ActionLink("Job Applicants", "getall_Jobseeker_id", "Jobregister", new { id = item.id }, new { @class = "btn btn-apply-now" })

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            }
                                        </div>
                                    }
                                }
                                @if (@ViewBag.job_count == 0)
                                {


                                    <div class="paginations">

                                        <ul class="pager">
                                            <li>
                                                <a class="pager-prev"></a>
                                            </li>
                                            <li><a class="pager-number" style="color: #80287d;">No Posted Jobs</a></li>
                                            @*<li><a class="pager-number"></a></li>
                                                <li><a class="pager-number"></a></li>*@
                                            <li><a class="pager-next"></a></li>
                                        </ul>
                                        @*<div class="border-bottom pt-10 pb-10"></div>*@
                                    </div>
                                }
                                else
                                {
                                    <div class="border-bottom pt-10 pb-10"></div>

                                    <div class="paginations">

                                        <ul class="pager">
                                            <li>
                                                <a class="pager-prev"></a>
                                            </li>
                                            <li><a class="pager-number" style="color: #80287d;">No more Jobs</a></li>
                                            @*<li><a class="pager-number"></a></li>
                                                <li><a class="pager-number"></a></li>*@
                                            <li><a class="pager-next"></a></li>
                                        </ul>
                                        @*<div class="border-bottom pt-10 pb-10"></div>*@
                                    </div>
                                }
                            </div>

                        </div>
                    </div>


                </div>

            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 pl-40 pl-lg-15 mt-lg-30">
                <div class="sidebar-border">
                    <div class="sidebar-heading">
                        <div class="avatar-sidebar">
                            <div class="sidebar-info pl-0"><span class="sidebar-company">@ViewBag.e_name</span><span class="card-location">@ViewBag.county_name</span></div>
                            <div class="sidebar-info pl-0"><span class="sidebar-company">@ViewBag.roletype</span></div>
                        </div>
                    </div>
                    <div class="sidebar-list-job">
                        <div class="box-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.3150609575905!2d-87.6235655!3d41.886080899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2ca8b34afe61%3A0x6caeb5f721ca846!2s205%20N%20Michigan%20Ave%20Suit%20810%2C%20Chicago%2C%20IL%2060601%2C%20Hoa%20K%E1%BB%B3!5e0!3m2!1svi!2s!4v1658551322537!5m2!1svi!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="sidebar-list-job">
                        <ul>
                            <li>
                                <div class="sidebar-icon-item"><i class="fi-rr-briefcase"></i></div>
                                <div class="sidebar-text-info"><span class="text-description">Website:</span><strong class="small-heading">@ViewBag.website</strong></div>
                            </li>
                            <li>
                                <div class="sidebar-icon-item"><i class="fi-rr-marker"></i></div>
                                <div class="sidebar-text-info"><span class="text-description">Description:</span><strong class="small-heading">@ViewBag.description</strong></div>
                            </li>

                            <li>
                                <div class="sidebar-icon-item"><i class="fi-rr-clock"></i></div>
                                <div class="sidebar-text-info"><span class="text-description">Member since:</span><strong class="small-heading"></strong></div>
                            </li>
                            <li>
                                <div class="sidebar-icon-item"><i class="fi-rr-time-fast"></i></div>
                                <div class="sidebar-text-info"><span class="text-description">Jobs Posted:</span><strong class="small-heading">@ViewBag.job_count</strong></div>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-list-job">
                        <ul class="ul-disc">
                            <li>@ViewBag.city, @ViewBag.state</li>
                            <li>Phone:@ViewBag.phone</li>
                            <li>Email: @ViewBag.email</li>
                        </ul>
                        <div class="mt-30"><a class="btn btn-send-message" href="page-contact.html">Send Message</a></div>
                    </div>
                </div>
                <div class="sidebar-border-bg bg-right">
                    <span class="text-grey">WE ARE</span><span class="text-hiring">HIRING</span>
                    <p class="font-xxs color-text-paragraph mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto</p>
                    <div class="mt-15"><a class="btn btn-paragraph-2" href="page-contact.html">Know More</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-box mt-50 mb-20">
    <div class="container">
        <div class="box-newsletter">
            <div class="row">
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-left.png" alt="joxBox"></div>
                <div class="col-lg-12 col-xl-6 col-12">
                    <h2 class="text-md-newsletter text-center">New Things Will Always<br> Update Regularly</h2>
                    <div class="box-form-newsletter mt-40">
                        <form class="form-newsletter">
                            <input class="input-newsletter" type="text" value="" placeholder="Enter your email here">
                            <button class="btn btn-default font-heading icon-send-letter">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-right.png" alt="joxBox"></div>
            </div>
        </div>
    </div>
</section>
<style>
    .breadcrumbs li::before {
        top: 1px;
    }

    .card-grid-2 .card-grid-2-image-left {
        align-items: center;
    }

        .card-grid-2 .card-grid-2-image-left .image-box {
            padding-right: 10px !important;
        }

            .card-grid-2 .card-grid-2-image-left .image-box img {
                border-radius: 50px;
                height: 60px !important;
                width: 60px !important;
            }

        .card-grid-2 .card-grid-2-image-left .right-info .name-job {
            line-height: 30px;
            margin-bottom: 5px;
        }
</style>
