﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <!-- <link rel="manifest" href="manifest.json" crossorigin> -->
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="~/imgs/template/fav.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="~/css/style.css?version=4.1" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/new-style.css" rel="stylesheet" />
    <title>Starting Point - Job Board</title>
</head>
<body>
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center" style="background: rgb(0 0 0); opacity:.8;">
            <div class="preloader-inner position-relative">
                <div class="text-center"><img src="~/imgs/template/loader.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalApplyJobForm" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content apply-job-form">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body pl-30 pr-30 pt-50">
                    <div class="text-center">
                        <p class="font-sm text-brand-2">Job Application </p>
                        <h2 class="mt-10 mb-5 text-brand-1 text-capitalize">Start your career today</h2>
                        <p class="font-sm text-muted mb-30">Please fill in your information and send it to the employer.</p>
                    </div>
                    <form class="login-register text-start mt-20 pb-30" action="#">
                        <div class="form-group">
                            <label class="form-label" for="input-1">Full Name *</label>
                            <input class="form-control" id="input-1" type="text" required="" name="fullname" placeholder="Steven Job">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="input-2">Email *</label>
                            <input class="form-control" id="input-2" type="email" required="" name="emailaddress" placeholder="stevenjob@gmail.com">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="number">Contact Number *</label>
                            <input class="form-control" id="number" type="text" required="" name="phone" placeholder="(+01) 234 567 89">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="des">Description</label>
                            <input class="form-control" id="des" type="text" required="" name="Description" placeholder="Your description...">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="file">Upload Resume</label>
                            <input class="form-control" id="file" name="resume" type="file">
                        </div>
                        <div class="login_footer form-group d-flex justify-content-between">
                            <label class="cb-container">
                                <input type="checkbox"><span class="text-small">Agree our terms and policy</span><span class="checkmark"></span>
                            </label><a class="text-muted" href="#">Lean more</a>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default hover-up w-100" type="submit" name="login">Apply Job</button>
                        </div>
                        <div class="text-muted text-center">Do you need support? <a href="#">Contact Us</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <header class="header sticky-bar">
        <div class="container">
            <div class="main-header">
                <div class="header-left">
                    <div class="header-logo"><a class="d-flex" href="index.php"><img alt="jobBox" src="~/imgs/template/sp-logo.png" width="225"></a></div>
                </div>
                @{ string controller = ViewContext.RouteData.Values["controller"].ToString();
                    string action = ViewContext.RouteData.Values["action"].ToString(); }

                @if (@Accessor.HttpContext.Session.GetString("role") != null)
                {
                    @if (@Accessor.HttpContext.Session.GetString("role").ToString() == "Seek")
                    {
                        <div class="header-nav">
                            <nav class="nav-main-menu">
                                <ul class="main-menu">
                                    @*<li><a id="home" class="active" href="@Url.Action("Index", "Login")" onClick="changeActiveClass('home')">Home</a></li>*@

                                    @*<li><a id="jobList" href="@Url.Action("JobList", "Home")" class="active" onClick="changeActiveClass('jobList')">Find a Job</a></li>
                                        <li><a id="org" href="@Url.Action("OrganizationList", "Org")" onClick="changeActiveClass(" org")">Organization</a></li>

                                        <li><a id="contact" href="@Url.Action("Contact", "Home")" onClick="changeActiveClass(" contact")">Contact</a></li>*@


                                    <li class="hover-up"><a asp-controller="Home" asp-action="JobList" class="@((controller == "Home" && action == "JobList") ? "nav-item active" : "nav-item")">Find a Job</a></li>
                                    <li class="hover-up"><a asp-controller="Org" asp-action="OrganizationList" class="@((controller == "Org" && action == "OrganizationList") ? "nav-item active" : "nav-item")">Organization</a></li>
                                    <li class="hover-up"><a asp-controller="Home" asp-action="Contact" class="@((controller == "Home" && action == "Contact") ? "nav-item active" : "nav-item")">Contact</a></li>

                                    @*<li class="hover-up"><a asp-controller="Jobseeker" asp-action="Profile" class="@((controller == "Jobseeker" && action == "Profile") ? "nav-item active" : "nav-item")">My Profile</a></li>*@
                                    @*<li class="dashboard"><a id="myProfile" href="@Url.Action("Profile", "Jobseeker")">My Profile</a></li>*@

                                </ul>
                            </nav>
                            <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
                        </div>

                        <div class="header-right">
                            <div class="dropdown d-inline-block">
                                <a class="btn btn-notify" id="dropdownNotify" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"></a>
                                <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownNotify">
                                    <li><a class="dropdown-item active" href="#">10 notifications</a></li>
                                    <li><a class="dropdown-item" href="#">12 messages</a></li>
                                    <li><a class="dropdown-item" href="#">20 replies</a></li>
                                </ul>
                            </div>
                            <div class="block-signin">

                                <div class="member-login">


                                    <div class="dropdown profile-dropdown01">
                                        @*<img alt="" src="https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/profile.png">*@
                                        @*<img src="~/imgs/template/loader.png" />*@
                                        @if (Accessor.HttpContext.Session.GetString("image_name").ToString() == "")
                                        {
                                            <img width="100" height="100" src="~/imgs/page/candidates/candidate_profile1.png" alt="loading..">
                                        }
                                        else
                                        {
                                            <img width="100" height="100" src="~/Jobseeker_uploads/@(Accessor.HttpContext.Session.GetString("image_name").ToString())" alt="loading..">
                                            @*<img src="~/imgs/page/candidates/candidate_profile1.png" alt="loading.." style="width:47%">*@
                                        }
                                        <a class="font-xs color-text-paragraph-2 icon-down" id="dropdownProfile" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownProfile">
                                            <li class="title-ul-res01"><a class="dropdown-item" href="#"><strong class="color-brand-1" title="Job Seeker">@Accessor.HttpContext.Session.GetString("login_name").ToString()</strong></a></li>
                                            <a class="dropdown-item" href="@Url.Action("Profile", "Jobseeker")">My Profile</a>
                                            <a class="dropdown-item" href="@Url.Action("Appliedjobdetail", "Jobseeker", new {ActiveTab = "tab-my-profile", isRedirect = "true" })">Change Password</a>
                                            <a class="dropdown-item" href="@Url.Action("Logout", "Login")">Logout</a>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
                            <div class="mobile-header-wrapper-inner">
                                <div class="mobile-header-content-area">
                                    <div class="perfect-scroll">
                                        <div class="mobile-search mobile-header-border mb-30">
                                            <form action="#">
                                                <input type="text" placeholder="Search…"><i class="fi-rr-search"></i>
                                            </form>
                                        </div>
                                        <div class="mobile-menu-wrap mobile-header-border">
                                            <!-- mobile menu start-->
                                            <nav>
                                                <ul class="mobile-menu font-heading">
                                                    <li><a class="has-children" href="@Url.Action("JobList", "Home")">Find A Job</a></li>
                                                    <li><a class="has-children" href="@Url.Action("OrganizationList", "Org")">Organization</a></li>
                                                    <li><a class="has-children" href="@Url.Action("Contact", "Home")">Contact</a></li>



                                                </ul>
                                            </nav>
                                        </div>
                                        <div class="mobile-account">
                                            <h6 class="mb-10">Your Account</h6>
                                            <ul class="mobile-menu font-heading">
                                                <li><a class="has-children" href="@Url.Action("Profile", "Jobseeker")">Profile</a></li>
                                                <li><a class="btn btn-default btn-shadow ml-40 hover-up" href="@Url.Action("Logout", "Login")">Logout</a></li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div> }
                    else if (@Accessor.HttpContext.Session.GetString("role").ToString() == "Employeer")
                    {
                        if (@Accessor.HttpContext.Session.GetString("role_id").ToString() == "2")
                        {
                            <div class="header-nav">
                                <nav class="nav-main-menu">
                                    <ul class="main-menu">



                                        <li class="hover-up"><a asp-controller="Jobseeker" asp-action="getSeekerListByOrg" class="@((controller == "Jobseeker" && action == "getSeekerListByOrg") ? "nav-item active" : "nav-item")">Job Seeker</a></li>
                                        <li class="hover-up"><a asp-controller="Employer" asp-action="Org_EmployerList" class="@((controller == "Employer" && action == "Org_EmployerList") ? "nav-item active" : "nav-item")">Employee</a></li>
                                        <li>
                                            <a asp-controller="Employer" asp-action="Org_JobList" class="@((controller == "Employer" && action == "Org_JobList") ? "nav-item active" : "nav-item")">Jobs</a>

                                            <ul class="submenu">
                                                <li>
                                                    <a asp-controller="Employer" asp-action="Org_JobList" class="@((controller == "Employer" && action == "Org_JobList") ? "nav-item active" : "nav-item")">Posted Jobs</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Jobregister" asp-action="AddJobregister" class="@((controller == "Jobregister" && action == "AddJobregister") ? "nav-item active" : "nav-item")">Post a Job</a>

                                                </li>
                                            </ul>

                                        </li>
                                        <li class="hover-up"><a asp-controller="Home" asp-action="Contact" class="@((controller == "Home" && action == "Contact") ? "nav-item active" : "nav-item")">Contact</a></li>

                                        <li>
                                            <a asp-controller="Jobregister" asp-action="jobregisterlist" class="@((controller == "Jobregister" && action == "jobregisterlist") ? "nav-item active" : "nav-item")">Profile</a>

                                            <ul class="submenu">
                                                <li>
                                                    <a asp-controller="Jobregister" asp-action="jobregisterlist" class="@((controller == "Jobregister" && action == "jobregisterlist") ? "nav-item active" : "nav-item")">Profile</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Employer" asp-action="Changepassword" class="@((controller == "Employer" && action == "Changepassword") ? "nav-item active" : "nav-item")">Change Password</a>

                                                </li>
                                            </ul>

                                        </li>
                                    </ul>
                                </nav>
                                <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
                            </div>

                            <div class="header-right">
                                <div class="dropdown d-inline-block">
                                    <a class="btn btn-notify" id="dropdownNotify" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"></a>
                                    <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownNotify">
                                        <li><a class="dropdown-item active" href="#">10 notifications</a></li>
                                        <li><a class="dropdown-item" href="#">12 messages</a></li>
                                        <li><a class="dropdown-item" href="#">20 replies</a></li>
                                    </ul>
                                </div>
                                <div class="block-signin">

                                    <div class="member-login">


                                        <div class="dropdown profile-dropdown01">
                                            @*<img alt="" src="https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/profile.png">*@
                                            @*<img src="~/imgs/template/loader.png" />*@
                                            @if (Accessor.HttpContext.Session.GetString("image_name") == "")
                                            {
                                                <img width="100" height="100" src="~/imgs/page/candidates/candidate_profile1.png" alt="loading..">
                                            }
                                            else
                                            {
                                                <img width="100" height="100" src="~/Emp_img_uploads/@(Accessor.HttpContext.Session.GetString("image_name").ToString())" alt="loading..">

                                            }
                                            <a class="font-xs color-text-paragraph-2 icon-down" id="dropdownProfile" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownProfile">
                                                <li class="title-ul-res01"><a class="dropdown-item" href="#"><strong class="color-brand-1" title="Org Admin">@Accessor.HttpContext.Session.GetString("login_name").ToString()</strong></a></li>
                                                <a class="dropdown-item" href="@Url.Action("jobregisterlist", "Jobregister")">Profile</a>
                                                <a class="dropdown-item" href="@Url.Action("Changepassword", "Employer")">Change Password</a>
                                                <a class="dropdown-item" href="@Url.Action("Logout", "Login")">Logout</a>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
                                <div class="mobile-header-wrapper-inner">
                                    <div class="mobile-header-content-area">
                                        <div class="perfect-scroll">
                                            <div class="mobile-search mobile-header-border mb-30">
                                                <form action="#">
                                                    <input type="text" placeholder="Search…"><i class="fi-rr-search"></i>
                                                </form>
                                            </div>
                                            <div class="mobile-menu-wrap mobile-header-border">
                                                <!-- mobile menu start-->
                                                <nav>
                                                    <ul class="mobile-menu font-heading">
                                                        <li><a href="@Url.Action("getSeekerListByOrg","Jobseeker")">Job Seeker</a></li>
                                                        <li><a href="@Url.Action("Org_EmployerList","Employer")">Employee</a></li>




                                                        <li class="has-children">
                                                            <a href="#">Jobs</a>
                                                            <ul class="sub-menu">
                                                                <li>
                                                                    <a href="@Url.Action("Org_JobList","Employer")">Posted Jobs</a>
                                                                </li>
                                                                <li>
                                                                    <a href="@Url.Action("AddJobregister", "Jobregister")">Post a Job</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li><a class="has-children" href="@Url.Action("Contact", "Home")">Contact</a></li>


                                                    </ul>
                                                </nav>
                                            </div>
                                            <div class="mobile-account">
                                                <h6 class="mb-10">Your Account</h6>
                                                <ul class="mobile-menu font-heading">
                                                    <li><a href="@Url.Action("jobregisterlist", "Jobregister")">Profile</a></li>
                                                    <li>
                                                        <a href="@Url.Action("Changepassword", "Employer")">Change Password</a>
                                                    </li>
                                                    <li> <a class="btn btn-default btn-shadow ml-40 hover-up" href="@Url.Action("Logout", "Login")">Logout</a></li>
                                                </ul>
                                            </div>
                                            @*<div class="site-copyright">Copyright 2023 &copy; JobBox. <br>Designed by Syntrio.</div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="header-nav">
                                <nav class="nav-main-menu">
                                    <ul class="main-menu">

                                        <!--<li><a href="@Url.Action("getSeekerListByEmployee","Jobseeker")">Job Seeker</a></li>
                                        <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>-->
                                        @*<li class="dashboard"><a href="@Url.Action("jobregisterlist", "Jobregister")">Profile</a></li>*@
                                        <!--<li class="dashboard">
                                            <a href="#">My Profile</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="@Url.Action("jobregisterlist", "Jobregister")">Profile</a>
                                                </li>

                                                <li>
                                                    <a href="@Url.Action("Changepassword", "Employer")">Change Password</a>
                                                </li>
                                            </ul>
                                        </li>-->
                                        <li class="hover-up"><a asp-controller="Jobseeker" asp-action="getSeekerListByEmployee" class="@((controller == "Jobseeker" && action == "getSeekerListByEmployee") ? "nav-item active" : "nav-item")">Job Seeker</a></li>
                                        <li class="hover-up"><a asp-controller="Home" asp-action="Contact" class="@((controller == "Home" && action == "Contact") ? "nav-item active" : "nav-item")">Contact</a></li>

                                        <li class="has-children">
                                            <a asp-controller="Jobregister" asp-action="jobregisterlist" class="@((controller == "Jobregister" && action == "jobregisterlist") ? "nav-item active" : "nav-item")">Profile</a>

                                            <ul class="submenu">
                                                <li>
                                                    <a asp-controller="Jobregister" asp-action="jobregisterlist" class="@((controller == "Jobregister" && action == "jobregisterlist") ? "nav-item active" : "nav-item")">Profile</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Employer" asp-action="Changepassword" class="@((controller == "Employer" && action == "Changepassword") ? "nav-item active" : "nav-item")">Change Password</a>

                                                </li>
                                            </ul>

                                        </li>


                                    </ul>
                                </nav>
                                <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
                            </div>

                            <div class="header-right">
                                <div class="dropdown d-inline-block">
                                    <a class="btn btn-notify" id="dropdownNotify" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"></a>
                                    <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownNotify">
                                        <li><a class="dropdown-item active" href="#">10 notifications</a></li>
                                        <li><a class="dropdown-item" href="#">12 messages</a></li>
                                        <li><a class="dropdown-item" href="#">20 replies</a></li>
                                    </ul>
                                </div>
                                <div class="block-signin">

                                    <div class="member-login">


                                        <div class="dropdown profile-dropdown01">
                                            @if (Accessor.HttpContext.Session.GetString("image_name") == "")
                                            {
                                                <img width="100" height="100" src="~/imgs/page/candidates/candidate_profile1.png" alt="loading..">
                                            }
                                            else
                                            {
                                                <img width="100" height="100" src="~/Emp_img_uploads/@(Accessor.HttpContext.Session.GetString("image_name").ToString())" alt="loading..">

                                            }                                            @*<img src="~/imgs/template/loader.png" />*@
                                            <a class="font-xs color-text-paragraph-2 icon-down" id="dropdownProfile" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownProfile">
                                                <li class="title-ul-res01"><a class="dropdown-item" href="#"><strong class="color-brand-1" title="Employee">@Accessor.HttpContext.Session.GetString("login_name").ToString()</strong></a></li>
                                                <a class="dropdown-item" href="@Url.Action("jobregisterlist", "Jobregister")">Profile</a>
                                                <a class="dropdown-item" href="@Url.Action("Changepassword", "Employer")">Change Password</a>
                                                <a class="dropdown-item" href="@Url.Action("Logout", "Login")">Logout</a>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
                                <div class="mobile-header-wrapper-inner">
                                    <div class="mobile-header-content-area">
                                        <div class="perfect-scroll">
                                            <div class="mobile-search mobile-header-border mb-30">
                                                <form action="#">
                                                    <input type="text" placeholder="Search…"><i class="fi-rr-search"></i>
                                                </form>
                                            </div>
                                            <div class="mobile-menu-wrap mobile-header-border">
                                                <!-- mobile menu start-->
                                                <nav>
                                                    <ul class="mobile-menu font-heading">
                                                        <li><a href="@Url.Action("getSeekerListByEmployee","Jobseeker")">Job Seeker</a></li>
                                                        <li><a href="@Url.Action("Org_EmployerList","Employer")">Employee</a></li>



                                                        <li><a class="has-children" href="@Url.Action("Contact", "Home")">Contact</a></li>


                                                    </ul>
                                                </nav>
                                            </div>
                                            <div class="mobile-account">
                                                <h6 class="mb-10">Your Account</h6>
                                                <ul class="mobile-menu font-heading">
                                                    <li>
                                                        <a href="@Url.Action("jobregisterlist", "Jobregister")">Profile</a>
                                                    </li>

                                                    <li>
                                                        <a href="@Url.Action("Changepassword", "Employer")">Change Password</a>
                                                    </li>
                                                    <li> <a class="btn btn-default btn-shadow ml-40 hover-up" href="@Url.Action("Logout", "Login")">Logout</a></li>
                                                </ul>
                                            </div>
                                            @*<div class="site-copyright">Copyright 2023 &copy; JobBox. <br>Designed by Syntrio.</div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                    else if (@Accessor.HttpContext.Session.GetString("role").ToString() == "Org")
                    {
                        <div class="header-nav">
                            <nav class="nav-main-menu">
                                <ul class="main-menu">



                                    <li class="hover-up"><a asp-controller="Jobseeker" asp-action="getSeekerListByOrg" class="@((controller == "Jobseeker" && action == "getSeekerListByOrg") ? "nav-item active" : "nav-item")">Job Seeker</a></li>
                                    <li class="hover-up"><a asp-controller="Employer" asp-action="Org_EmployerList" class="@((controller == "Employer" && action == "Org_EmployerList") ? "nav-item active" : "nav-item")">Employee</a></li>
                                    <li class="has-children">
                                        <a asp-controller="Employer" asp-action="Org_JobList" class="@((controller == "Employer" && action == "Org_JobList") ? "nav-item active" : "nav-item")">Jobs</a>

                                        <ul class="submenu">
                                            <li>
                                                <a asp-controller="Employer" asp-action="Org_JobList" class="@((controller == "Employer" && action == "Org_JobList") ? "nav-item active" : "nav-item")">Posted Jobs</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Jobregister" asp-action="AddJobregister" class="@((controller == "Jobregister" && action == "AddJobregister") ? "nav-item active" : "nav-item")">Post a Job</a>

                                            </li>
                                        </ul>

                                    </li>
                                    <li><a asp-controller="Home" asp-action="Contact" class="@((controller == "Home" && action == "Contact") ? "nav-item active" : "nav-item")">Contact</a></li>

                                    <li>
                                        <a asp-controller="Org" asp-action="OrgProfile" class="@((controller == "Org" && action == "OrgProfile") ? "nav-item active" : "nav-item")">Profile</a>

                                        <ul class="submenu">
                                            <li>
                                                <a asp-controller="Org" asp-action="OrgProfile" class="@((controller == "Org" && action == "OrgProfile") ? "nav-item active" : "nav-item")">Profile</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Org" asp-action="Changepassword" class="@((controller == "Org" && action == "Changepassword") ? "nav-item active" : "nav-item")">Change Password</a>

                                            </li>
                                        </ul>

                                    </li>
                                </ul>
                            </nav>
                            <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
                        </div>

                        <div class="header-right">
                            <div class="dropdown d-inline-block">
                                <a class="btn btn-notify" id="dropdownNotify" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"></a>
                                <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownNotify">
                                    <li><a class="dropdown-item active" href="#">10 notifications</a></li>
                                    <li><a class="dropdown-item" href="#">12 messages</a></li>
                                    <li><a class="dropdown-item" href="#">20 replies</a></li>
                                </ul>
                            </div>
                            <div class="block-signin">

                                <div class="member-login">


                                    <div class="dropdown profile-dropdown01">
                                        @if (Accessor.HttpContext.Session.GetString("image_name") == "")
                                        {
                                            <img width="100" height="100" src="~/Org_img_uploads/org_profile.png" alt="loading--">
                                        }
                                        else
                                        {
                                            <img width="100" height="100" src="~/Org_img_uploads/@Accessor.HttpContext.Session.GetString("image_name").ToString()" alt="loading--">
                                        }
                                        <a class="font-xs color-text-paragraph-2 icon-down" id="dropdownProfile" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownProfile">
                                            <li class="title-ul-res01"><a class="dropdown-item" href="#"><strong class="color-brand-1" title="Org Admin : @Accessor.HttpContext.Session.GetString("login_name").ToString()">@Accessor.HttpContext.Session.GetString("login_name").ToString()</strong></a></li>
                                            <a class="dropdown-item" href="@Url.Action("OrgProfile", "Org")">Profile</a>
                                            <a class="dropdown-item" href="@Url.Action("Changepassword", "Org")">Change Password</a>
                                            <a class="dropdown-item" href="@Url.Action("Logout", "Login")">Logout</a>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
                            <div class="mobile-header-wrapper-inner">
                                <div class="mobile-header-content-area">
                                    <div class="perfect-scroll">
                                        <div class="mobile-search mobile-header-border mb-30">
                                            <form action="#">
                                                <input type="text" placeholder="Search…"><i class="fi-rr-search"></i>
                                            </form>
                                        </div>
                                        <div class="mobile-menu-wrap mobile-header-border">
                                            <!-- mobile menu start-->
                                            <nav>
                                                <ul class="mobile-menu font-heading">
                                                    <li><a href="@Url.Action("getSeekerListByOrg","Jobseeker")">Job Seeker</a></li>
                                                    <li><a href="@Url.Action("Org_EmployerList","Employer")">Employee</a></li>


                                                    <li class="has-children">
                                                        <a href="#">Jobs</a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="@Url.Action("Org_JobList","Employer")">Posted Jobs</a>
                                                            </li>
                                                            <li>
                                                                <a href="@Url.Action("AddJobregister", "Jobregister")">Post a Job</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li><a class="has-children" href="@Url.Action("Contact", "Home")">Contact</a></li>


                                                </ul>
                                            </nav>
                                        </div>
                                        <div class="mobile-account">
                                            <h6 class="mb-10">Your Account</h6>
                                            <ul class="mobile-menu font-heading">
                                                <li>
                                                    <a href="@Url.Action("OrgProfile", "Org")">Profile</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Changepassword", "Org")">Change Password</a>
                                                </li>
                                                <li> <a class="btn btn-default btn-shadow ml-40 hover-up" href="@Url.Action("Logout", "Login")">Logout</a></li>
                                            </ul>
                                        </div>
                                        @*<div class="site-copyright">Copyright 2023 &copy; JobBox. <br>Designed by Syntrio.</div>*@
                                    </div>
                                </div>
                            </div>
                        </div> }

                    else
                    {
                        <div class="header-nav">
                            <nav class="nav-main-menu">
                                <ul class="main-menu">
                                    <li class="hover-up"><a asp-controller="Home" asp-action="Index" class="@((controller == "Home" && action == "Index") ? "nav-item active" : "nav-item")">Home</a></li>
                                    <li class="hover-up"><a asp-controller="Login" asp-action="About" class="@((controller == "Login" && action == "About") ? "nav-item active" : "nav-item")">About Us</a></li>
                                    <li class="hover-up"><a asp-controller="Home" asp-action="FindJob" class="@((controller == "Home" && action == "FindJob") ? "nav-item active" : "nav-item")">Find a Job</a></li>
                                    <li class="hover-up"><a asp-controller="Org" asp-action="Orglist" class="@((controller == "Org" && action == "Orglist") ? "nav-item active" : "nav-item")">Organizations</a></li>
                                    <li class="hover-up"><a asp-controller="Home" asp-action="Contact" class="@((controller == "Home" && action == "Contact") ? "nav-item active" : "nav-item")">Contact</a></li>


                                    @*<li><a href="#"></a></li>*@
                                    @*<li class="dashboard"><a href="dashboard.php">Dashboard</a></li>*@
                                </ul>
                            </nav>
                            <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
                        </div>

                        <div class="header-right">
                            <div class="block-signin">
                                <a class="text-link-bd-btom hover-up" href="@Url.Action("Signup", "Jobseeker")">Register</a>
                                <a class="btn btn-default btn-shadow ml-40 hover-up" href="@Url.Action("Logout", "Login")">Sign in</a>
                            </div>
                        </div>} }
                else
                {
                    <div class="header-nav">
                        <nav class="nav-main-menu">
                            <ul class="main-menu">
                                @*<li><a class="nav-item active" href="@Url.Action("Index", "Home")">Home</a></li>
                                    <li><a class="nav-item" href="@Url.Action("About", "Login")">About Us</a></li>
                                    <li><a class="nav-item" href="@Url.Action("FindJob", "Home")">Find a Job</a></li>
                                    <li><a class="nav-item" href="@Url.Action("Orglist", "Org")">Organization</a></li>
                                    <li><a class="nav-item" href="@Url.Action("Contact", "Home")">Contact</a></li>*@
                                <li class="hover-up"><a asp-controller="Home" asp-action="Index" class="@((controller == "Home" && action == "Index") ? "nav-item active" : "nav-item")">Home</a></li>
                                <li class="hover-up"><a asp-controller="Login" asp-action="About" class="@((controller == "Login" && action == "About") ? "nav-item active" : "nav-item")">About Us</a></li>
                                <li class="hover-up"><a asp-controller="Home" asp-action="FindJob" class="@((controller == "Home" && action == "FindJob") ? "nav-item active" : "nav-item")">Find a Job</a></li>
                                <li class="hover-up"><a asp-controller="Org" asp-action="Orglist" class="@((controller == "Org" && action == "Orglist") ? "nav-item active" : "nav-item")">Organizations</a></li>
                                <li class="hover-up"><a asp-controller="Home" asp-action="Contact" class="@((controller == "Home" && action == "Contact") ? "nav-item active" : "nav-item")">Contact</a></li>


                            </ul>
                        </nav>
                        <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
                    </div>
                    <nav class="nav-main-menu">
                        <ul class="main-menu">
                            <li class="hover-up">
                                <a asp-controller="Jobseeker" asp-action="Signup" class="@((controller == "Jobseeker" && action == "Signup") ? "nav-item active" : "nav-item")">Register</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header-right">
                        <div class="block-signin">
                            @*<a class="text-link-bd-btom hover-up" href="@Url.Action("Signup", "Jobseeker")">Register</a>*@

                            <a class="btn btn-default btn-shadow ml-40 hover-up" href="@Url.Action("Signin", "Login")">Sign in</a>

                        </div>
                    </div>
                    <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
                        <div class="mobile-header-wrapper-inner">
                            <div class="mobile-header-content-area">
                                <div class="perfect-scroll">
                                    <div class="mobile-search mobile-header-border mb-30">
                                        <form action="#">
                                            <input type="text" placeholder="Search…"><i class="fi-rr-search"></i>
                                        </form>
                                    </div>
                                    <div class="mobile-menu-wrap mobile-header-border">
                                        <!-- mobile menu start-->
                                        <nav>
                                            <ul class="mobile-menu font-heading">
                                                <li><a class="has-children" href="@Url.Action("Index", "Home")">Home</a></li>
                                                <li><a class="has-children" href="@Url.Action("About", "Login")">About Us</a></li>
                                                <li><a class="has-children" href="@Url.Action("FindJob", "Home")">Find a Job</a></li>
                                                <li><a class="has-children" href="@Url.Action("Orglist", "Org")">Organization</a></li>
                                                <li><a class="has-children" href="@Url.Action("Contact", "Home")">Contact</a></li>



                                                <li class="has-children">
                                                    <a href="#">Pages</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="#">About Us</a></li>
                                                        <li><a href="#">Pricing Plan</a></li>
                                                        <li><a href="#">Contact Us</a></li>
                                                        <li><a href="#">Register</a></li>
                                                        <li><a href="#">Signin</a></li>
                                                        <li><a href="#">Reset Password</a></li>
                                                        <li><a href="#">Content Protected</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-children">
                                                    <a href="#">Blog</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="#">Blog Grid</a></li>
                                                        <li><a href="#">Blog Grid 2</a></li>
                                                        <li><a href="#">Blog Single</a></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="mobile-account">
                                        <h6 class="mb-10">Your Account</h6>
                                        <ul class="mobile-menu font-heading">
                                            <li><a class="has-children" href="@Url.Action("Signup", "Jobseeker")">Register</a></li>
                                            <a class="btn btn-default btn-shadow ml-40 hover-up" href="@Url.Action("Signin", "Login")">Sign in</a>

                                        </ul>
                                    </div>
                                    @*<div class="site-copyright">Copyright 2023 &copy; JobBox. <br>Designed by Syntrio.</div>*@
                                </div>
                            </div>
                        </div>
                    </div>}

            </div>
        </div>
    </header>


    <!--<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-content-area">
                <div class="perfect-scroll">
                    <div class="mobile-search mobile-header-border mb-30">
                        <form action="#">
                            <input type="text" placeholder="Search…"><i class="fi-rr-search"></i>
                        </form>
                    </div>
                    <div class="mobile-menu-wrap mobile-header-border">-->
    <!-- mobile menu start-->
    <!--<nav>
                            <ul class="mobile-menu font-heading">
                                <li><a class="active" href="index.php">Home</a></li>
                                <li class="has-children">
                                    <a href="#">Find a Job</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Jobs Grid</a></li>
                                        <li><a href="#">Jobs List</a></li>
                                        <li><a href="#">Jobs Details</a></li>
                                        <li><a href="#">Jobs Details 2</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#">Recruiters</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Recruiters</a></li>
                                        <li><a href="#">Company Details</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#">Candidates</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Candidates Grid</a></li>
                                        <li><a href="#">Candidate Details</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Pricing Plan</a></li>
                                        <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                                        <li><a href="#">Register</a></li>
                                        <li><a href="#">Signin</a></li>
                                        <li><a href="#">Reset Password</a></li>
                                        <li><a href="#">Content Protected</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Blog Grid</a></li>
                                        <li><a href="#">Blog Grid 2</a></li>
                                        <li><a href="#">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" target="_blank">Dashboard</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="mobile-account">
                        <h6 class="mb-10">Your Account</h6>
                        <ul class="mobile-menu font-heading">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Work Preferences</a></li>
                            <li><a href="#">Account Settings</a></li>
                            <li><a href="#">Go Pro</a></li>
                            <li><a href="#">Sign Out</a></li>
                        </ul>
                    </div>
                    <div class="site-copyright">Copyright 2022 &copy; JobBox. <br>Designed by AliThemes.</div>
                </div>
            </div>
        </div>
    </div>-->
    @*<main class="main">*@
    <!--<header>
        <!-- Header Start -->
    <!--<div class="header-area header-transparrent">
        <div class="headder-top header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-2">-->
    <!-- Logo -->
    <!--<div class="logo">
            <a href="index.html"><img src="~/assets/img/logo/logo.png" alt=""></a>
        </div>
    </div>
    <div class="col-lg-9 col-md-9">
        <div class="menu-wrapper">-->
    <!-- Main-menu -->
    <!--<div class="main-menu">
        <nav class="d-none d-lg-block">
            <ul id="navigation">-->
    @*<li>
            <a href="@Url.Action("Signin", "Jobseeker")">Jobseeker</a>
        </li>*@
    @*<li>

            <a href="@Url.Action("Signin", "Employer")">Employeer</a>

        </li>*@
    <!--<li>
        <a href="#">Organization</a>
        <ul class="submenu">

            <li><a href="@Url.Action("Orglist", "Org")">Organization Details</a></li>

        </ul>
    </li>-->
    @*<li><a href="@Url.Action("Login", "Superadmin") ">Admin</a></li>*@
    <!--</ul>
        </nav>
    </div>-->
    <!-- Header-btn -->
    <!--<div class="header-btn d-none f-right d-lg-block">-->
    @*<a href="@Url.Action("AddEmployer", "Employer")" class="btn head-btn1">Register</a>*@
    @*<a href="@Url.Action("Signin", "Login")" class="btn head-btn2">Login</a>
        </div>
        </div>
        </div>-->*@
    <!-- Mobile Menu -->
    <!--<div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Header End -->
    <!--</header>-->
    <div class="container">
        <main role="main" class="main pb-3">
            @RenderBody()
        </main>
    </div>
    @if (@Accessor.HttpContext.Session.GetString("role") != null)
    {
        @if (@Accessor.HttpContext.Session.GetString("role").ToString() == "Admin")
        {
            <div class="footer-bottom mt-50">
                <div class="row">
                    <div class="col-md-6"><span class="font-xs color-text-paragraph">Copyright &copy; 2023. JobBoard all right reserved</span></div>
                    <div class="col-md-6 text-md-end text-start">
                        <div class="footer-social"><a class="font-xs color-text-paragraph" href="privacy.php">Privacy Policy</a><a class="font-xs color-text-paragraph mr-30 ml-30" href="terms.php">Terms &amp; Conditions</a><a class="font-xs color-text-paragraph" href="#">Security</a></div>
                    </div>
                </div>
            </div> }
        else
        {
            <footer class="footer mt-50">
                <div class="container">
                    <div class="row">
                        <div class="footer-col-1 col-md-3 col-sm-12">
                            <a href="index.php"><img alt="jobBoard" src="~/imgs/template/sp-logo.png" width="160"></a>
                            <div class="mt-20 mb-20 font-xs color-text-paragraph-2">JobBoard is the heart of the design community and the best resource to discover and connect with designers and jobs worldwide.</div>
                            <div class="footer-social"><a class="icon-socials icon-facebook" href="#"></a><a class="icon-socials icon-twitter" href="#"></a><a class="icon-socials icon-linkedin" href="#"></a></div>
                        </div>
                        <div class="footer-col-2 col-md-2 col-xs-6">
                            <h6 class="mb-20">Resources</h6>
                            <ul class="menu-footer">
                                <li><a href="@Url.Action("About", "Login")">About Us</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Products</a></li>
                                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                            </ul>
                        </div>
                        <div class="footer-col-3 col-md-2 col-xs-6">
                            <h6 class="mb-20">Community</h6>
                            <ul class="menu-footer">
                                <li><a href="#">Feature</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Credit</a></li>
                                <li><a href="@Url.Action("FaQ", "Home")">Faq</a></li>
                            </ul>
                        </div>
                        <div class="footer-col-4 col-md-2 col-xs-6">
                            <h6 class="mb-20">Quick links</h6>
                            <ul class="menu-footer">
                                <li><a href="#">iOS</a></li>
                                <li><a href="#">Android</a></li>
                                <li><a href="#">Microsoft</a></li>
                                <li><a href="#">Desktop</a></li>
                            </ul>
                        </div>
                        <div class="footer-col-5 col-md-2 col-xs-6">
                            <h6 class="mb-20">More</h6>
                            <ul class="menu-footer">
                                <li><a href="@Url.Action("TermsAndConditions", "Home")">Terms And Conditions</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="@Url.Action("Privacy", "Home")">Privacy</a></li>
                                <li><a href="@Url.Action("FaQ", "Home")">Faq</a></li>
                            </ul>
                        </div>
                        <div class="footer-col-6 col-md-3 col-sm-12">
                            <h6 class="mb-20">Download App</h6>
                            <p class="color-text-paragraph-2 font-xs">Download our Apps and get extra 15% Discount on your first Order&mldr;!</p>
                            <div class="mt-15">
                                <a class="mr-5" href="#">
                                    <img src="~/imgs/template/icons/app-store.png" alt="" style="filter: grayscale(1);">
                                </a>
                                <a href="#">
                                    <img src="~/imgs/template/icons/android.png" alt="" style="filter: grayscale(1);">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom mt-50">
                        <div class="row">
                            <div class="col-md-6"><span class="font-xs color-text-paragraph">Copyright &copy; 2023. JobBoard all right reserved</span></div>
                            <div class="col-md-6 text-md-end text-start">
                                <div class="footer-social"><a class="font-xs color-text-paragraph" href="privacy.php">Privacy Policy</a><a class="font-xs color-text-paragraph mr-30 ml-30" href="terms.php">Terms &amp; Conditions</a><a class="font-xs color-text-paragraph" href="#">Security</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>} }
    else
    {
        <footer class="footer mt-50">
            <div class="container">
                <div class="row">
                    <div class="footer-col-1 col-md-3 col-sm-12">
                        <a href="index.php"><img alt="jobBoard" src="~/imgs/template/sp-logo.png" width="160"></a>
                        <div class="mt-20 mb-20 font-xs color-text-paragraph-2">JobBoard is the heart of the design community and the best resource to discover and connect with designers and jobs worldwide.</div>
                        <div class="footer-social"><a class="icon-socials icon-facebook" href="#"></a><a class="icon-socials icon-twitter" href="#"></a><a class="icon-socials icon-linkedin" href="#"></a></div>
                    </div>
                    <div class="footer-col-2 col-md-2 col-xs-6">
                        <h6 class="mb-20">Resources</h6>
                        <ul class="menu-footer">
                            <li><a href="@Url.Action("About", "Login")">About Us</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                        </ul>
                    </div>
                    <div class="footer-col-3 col-md-2 col-xs-6">
                        <h6 class="mb-20">Community</h6>
                        <ul class="menu-footer">
                            <li><a href="#">Feature</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Credit</a></li>
                            <li><a href="@Url.Action("FaQ", "Home")">Faq</a></li>
                        </ul>
                    </div>
                    <div class="footer-col-4 col-md-2 col-xs-6">
                        <h6 class="mb-20">Quick links</h6>
                        <ul class="menu-footer">
                            <li><a href="#">iOS</a></li>
                            <li><a href="#">Android</a></li>
                            <li><a href="#">Microsoft</a></li>
                            <li><a href="#">Desktop</a></li>
                        </ul>
                    </div>
                    <div class="footer-col-5 col-md-2 col-xs-6">
                        <h6 class="mb-20">More</h6>
                        <ul class="menu-footer">
                            <li><a href="@Url.Action("TermsAndConditions", "Home")">Terms And Conditions</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="@Url.Action("Privacy", "Home")">Privacy</a></li>
                            <li><a href="@Url.Action("FaQ", "Home")">Faq</a></li>
                        </ul>
                    </div>
                    <div class="footer-col-6 col-md-3 col-sm-12">
                        <h6 class="mb-20">Download App</h6>
                        <p class="color-text-paragraph-2 font-xs">Download our Apps and get extra 15% Discount on your first Order&mldr;!</p>
                        <div class="mt-15">
                            <a class="mr-5" href="#">
                                <img src="~/imgs/template/icons/app-store.png" alt="" style="filter: grayscale(1);">
                            </a>
                            <a href="#">
                                <img src="~/imgs/template/icons/android.png" alt="" style="filter: grayscale(1);">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom mt-50">
                    <div class="row">
                        <div class="col-md-6"><span class="font-xs color-text-paragraph">Copyright &copy; 2023. JobBoard all right reserved</span></div>
                        <div class="col-md-6 text-md-end text-start">
                            <div class="footer-social"><a class="font-xs color-text-paragraph" href="privacy.php">Privacy Policy</a><a class="font-xs color-text-paragraph mr-30 ml-30" href="terms.php">Terms &amp; Conditions</a><a class="font-xs color-text-paragraph" href="#">Security</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>}

    <script src="~/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins/waypoints.js"></script>
    <script src="~/js/plugins/wow.js"></script>
    <script src="~/js/plugins/magnific-popup.js"></script>
    <script src="~/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/js/plugins/select2.min.js"></script>
    <script src="~/js/plugins/isotope.js"></script>
    <script src="~/js/plugins/scrollup.js"></script>
    <script src="~/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/js/plugins/counterup.js"></script>
    <script src="~/js/main.js?v=4.1"></script>
    <!-- Footer End-->


    <script src="~/js/site.js" asp-append-version="true"></script>



    @await Component.InvokeAsync("Notyf")


    @RenderSection("Scripts", required: false)
</body>
</html>
@section scripts{

    <script>
        $(function () {
            $("#home").addClass("active");
        })
        function changeActiveClass(menu) {
            alert(menu)
            if (menu == "jobList") {
                $("#jobList").addClass("active");
                $("#home").removeClass("active");
            }
    </script>
    <script>
    $(document).ready(function () {
        var controller = "@ViewContext.RouteData.Values["controller"]";
        var action = "@ViewContext.RouteData.Values["action"]";

        // Add the active class to the corresponding navigation item
        $('a.nav-item[asp-controller="' + controller + '"][asp-action="' + action + '"]').addClass('active');

        // Add an event listener to each navigation item
        $('a.nav-item').click(function () {
            // Remove the active class from all navigation items
            $('a.nav-item').removeClass('active');

            // Add the active class to the clicked item
            $(this).addClass('active');
        });
    });
    </script>


    <script>
        $(".btn-expanded").on('click', function () {
            if ($(this).hasClass('btn-collapsed')) {
                $(this).removeClass("btn-collapsed");
                $("div.nav").removeClass('close-nav');
            } else {
                $(this).addClass("btn-collapsed");
                $("div.nav").addClass("close-nav");
            }
        });
    </script>

}
<style>
    .header .main-header .header-right {
        min-width: max-content !important;
    }

    .title-ul-res01 {
        background-color: #e9ecef;
    }

    .profile-dropdown01 a#dropdownProfile {
        display: flex;
        justify-content: right;
        margin-right: -10px;
    }

        .profile-dropdown01 a#dropdownProfile i {
            margin-top: -16px;
            font-size: 18px;
        }

    .profile-dropdown01 .dropdown-menu {
        margin-top: 10px;
        margin-right: -20px;
    }

    .preloader {
        background-color: rgba(0,0,0.90) !important;
        z-index: 9999;
    }

    .header .main-menu li a {
        font-weight: bold;
        font-size: 16px;
        color: #66789C;
    }

        .header .main-menu li a:hover, .header .main-menu li a.active {
            /* color: #152947; */
            color: #66789C;
        }
</style>


