﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="keywords" content="index, page">

    <link rel="shortcut icon" type="image/x-icon" href="~/imgs/template/fav.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="~/css/style.css?version=4.1" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/new-style.css" rel="stylesheet" />
    <title>Starting Point-Job Board</title>

    <style>
        /*          side bar*/
        main.main {
            background-color: #F2F4FA;
        }

        .main {
            display: flex;
            width: 100%;
            margin-top: 82px;
            clear: both;
        }

        .box-content {
            width: 100%;
            padding: 40px 30px;
            display: inline-block;
            overflow: hidden;
        }

        .main .nav.left-sidebar01 {
            max-width: 250px;
            width: 100%;
            background-color: #ffffff;
            position: relative;
            bottom: 0px;
            display: inline-block;
        }

        .left-sidebar01 .btn-expanded {
            background: #ffffff url(https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/icon-arrow-left.svg) no-repeat center;
            height: 30px;
            width: 30px;
            border: 1px solid #E0E6F7;
            border-radius: 50%;
            position: absolute;
            top: -15px;
            right: -16px;
            padding: 0px;
            z-index: 1234;
        }

        .left-sidebar01 .btn-collapsed {
            background: #ffffff url(https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/icon-arrow-right.svg) no-repeat center;
        }



        main .left-sidebar01 .main-menu li {
            display: inline-block;
            width: 100%;
            position: relative;
            margin-bottom: 5px;
            list-style: none;
            border-top: 1px solid #eee;
            @*padding: 16px;*@
        }



        .left-sidebar01 .main-menu li a:hover, .left-sidebar01 .main-menu li a.active, .left-sidebar01 .main-menu li a span:hover {
            background-color: #85c440 !important;
            color: #ffffff !important;
        }

        main .left-sidebar01 .main-menu li a {
            font-family: "Plus Jakarta Sans", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #66789C;
            display: block;
            text-decoration: none;
            position: relative;
            padding: 15px 25px;
        }

            main .left-sidebar01 .main-menu li a img {
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }

            main .left-sidebar01 .main-menu li a span {
                display: inline-block;
                vertical-align: middle;
            }

        .close-nav .main-menu li a {
            padding: 8px 6px;
            text-align: center;
        }

        .left-sidebar01.close-nav .main-menu li a img {
            margin-right: 0px;
        }

        .left-sidebar01.close-nav .main-menu li a span {
            display: none;
        }

        .main .nav.left-sidebar01.close-nav {
            max-width: 70px;
        }
        /*          Breadcrums*/
        .box-heading {
            display: flex;
            width: 100%;
            position: relative;
            align-items: flex-start;
        }

            .box-heading .box-title {
                width: 50%;
            }

            .box-heading .box-breadcrumb {
                width: 50%;
                text-align: right;
                margin-top: -5px;
            }

                .box-heading .box-breadcrumb .breadcrumbs {
                    display: inline-block;
                    padding: 10px 15px;
                    border-radius: 6px;
                    background-color: #ffffff;
                    border: 1px solid #E0E6F7;
                }

            .box-heading .breadcrumbs li {
                color: #66789C;
                font-size: 14px;
                display: inline-block;
                padding-left: 20px;
                position: relative;
            }

            .box-heading .box-breadcrumb .breadcrumbs ul li a.icon-home {
                background: url(https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/home.svg) no-repeat 0px -2px;
                padding-left: 21px;
            }

        .breadcrumbs li:first-child {
            padding-left: 0px;
        }

        .box-heading .box-breadcrumb .breadcrumbs ul li::before {
            content: "";
            position: absolute;
            top: 7px;
            left: 5px;
            height: 14px;
            width: 14px;
            background: url(https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/arrow.svg) no-repeat 0px 0px;
        }

        .breadcrumbs li:last-child::before {
            color: #66789C;
        }

        .box-heading .breadcrumbs li a {
            font-size: 14px;
            color: #66789C;
            text-decoration: none;
            line-height: 14px;
            display: block;
        }
        .left-sidebar01 .main-menu li ul {
            opacity: 0;
            visibility: hidden;
            transition-duration: 0.2s;
            z-index: 999;
            width: 185px;
            border-radius: 10px;
            border: 1px solid #ececec;
            box-shadow: 0px 10px 20px -5px rgba(10, 42, 105, 0.06);
            background-color: #ffffff;
            display: none;
        }

        .left-sidebar01 .main-menu li.has-children > a::after {
            content: "\f151";
            font-family: uicons-regular-rounded !important;
            font-style: normal;
            font-weight: normal !important;
            font-variant: normal;
            text-transform: none;
            line-height: 1 !important;
            font-size: 18px;
            opacity: 1;
            margin-left: 4px;
            position: absolute;
            top: 20px;
            right: auto;
            color: #A0ABB8;
        }

        .left-sidebar01 .main-menu li.has-children:hover > a::after {
            color: #fff!important;
        }

            .left-sidebar01 .main-menu li:hover > ul {
                opacity: 1;
                visibility: visible;
                margin-left: 30px;
                display: block;
            }

        .main .left-sidebar01.nav.close-nav li.has-children > a::after {
            top: 14px;
        }

        .main .left-sidebar01.nav.close-nav li ul {
            position: absolute;
            left: 5px;
            top: 30px;
        }

        .title-ul-res01 {
            background-color: #e9ecef;
        }
        .profile-dropdown01 a#dropdownProfile {
            display: flex;
            justify-content: right;
            margin-right: -10px;
        }
        .profile-dropdown01 a#dropdownProfile i {
            margin-top: -16px;
            font-size: 18px;
        }
        .profile-dropdown01 .dropdown-menu {
            margin-top: 10px;
            margin-right: -20px;
        }
        .header .main-menu li a {
            font-weight: bold;
            font-size: 16px;
            color: #66789C;
        }
            .header .main-menu li a:hover, .header .main-menu li a.active {
                /* color: #152947; */
                color: #66789C;
            }
    </style>
</head>

<body>
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center" style="background: rgb(0 0 0); opacity:.8;">
            <div class="preloader-inner position-relative">
                <div class="text-center"><img src="~/imgs/template/loader.png" alt=""></div>
            </div>
        </div>
    </div>
    @{ string controller = ViewContext.RouteData.Values["controller"].ToString();
        string action = ViewContext.RouteData.Values["action"].ToString(); }
    <header class="header sticky-bar">
        <div class="container-fluid px-5">
            <div class="main-header">
                <div class="header-left">
                    <div class="header-logo"><a class="d-flex" href="index.php"><img alt="jobBox" src="~/imgs/template/sp-logo.png" width="225"></a></div>
                </div>

                <div class="header-nav">
                    <nav class="nav-main-menu">
                        <ul class="main-menu">
                            @if (Accessor.HttpContext.Session.GetString("AdminRole").ToString() == "Moderator")
                            {
                                <li class="hover-up"><a asp-controller="Superadmin" asp-action="Dashboard" class="@((controller == "Superadmin" && action == "Dashboard") ? "nav-item active" : "nav-item")">Dashboard</a></li>
                                @*<li class="hover-up"><a asp-controller="Login" asp-action="About" class="@((controller == "Login" && action == "About") ? "nav-item active" : "nav-item")">About Us</a></li>
            <li class="hover-up"><a asp-controller="Home" asp-action="Contact" class="@((controller == "Home" && action == "Contact") ? "nav-item active" : "nav-item")">Contact</a></li>*@
                                <li class="hover-up"><a asp-controller="Jobregister" asp-action="Joblist_Admin" class="@((controller == "Jobregister" && action == "Joblist_Admin") ? "nav-item active" : "nav-item")">Jobs</a></li>
                                <li class="hover-up"><a asp-controller="Jobseeker" asp-action="Admin_seek_list" class="@((controller == "Jobseeker" && action == "Admin_seek_list") ? "nav-item active" : "nav-item")">Job Seeker</a></li>
                                <li class="hover-up"><a asp-controller="Superadmin" asp-action="Adminlist" class="@((controller == "Superadmin" && action == "Adminlist") ? "nav-item active" : "nav-item")">Admin</a></li>

                            }
                            else
                            {
                                <li class="hover-up"><a asp-controller="Superadmin" asp-action="Dashboard" class="@((controller == "Superadmin" && action == "Dashboard") ? "nav-item active" : "nav-item")">Dashboard</a></li>
                                <li class="hover-up"><a asp-controller="Jobregister" asp-action="Joblist_Admin" class="@((controller == "Jobregister" && action == "Joblist_Admin") ? "nav-item active" : "nav-item")">Jobs</a></li>
                                <li class="hover-up"><a asp-controller="Jobseeker" asp-action="Admin_seek_list" class="@((controller == "Jobseeker" && action == "Admin_seek_list") ? "nav-item active" : "nav-item")">Job Seeker</a></li>

                            }
                            @*<li><a class="active" href="@Url.Action("Dashboard", "Superadmin")">Dashboard</a></li>*@


                        </ul>
                    </nav>
                    <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
                </div>
                <div class="header-right">
                    <div class="dropdown d-inline-block">
                        <a class="btn btn-notify" id="dropdownNotify" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"></a>
                        <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownNotify">
                            <li><a class="dropdown-item active" href="#">10 notifications</a></li>
                            <li><a class="dropdown-item" href="#">12 messages</a></li>
                            <li><a class="dropdown-item" href="#">20 replies</a></li>
                        </ul>
                    </div>
                    <div class="block-signin">
                        @*<a class="text-link-bd-btom hover-up" href="@Url.Action("Signup", "Jobseeker")">Register</a>*@
                        @*@<a class="btn btn-default btn-shadow ml-40 hover-up" href="@Url.Action("Logout", "Login")">Logout</a>*@
                        <div class="member-login">
                            @*<img alt="" src="https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/profile.png">
                                <div class="info-member info-member-res01">
                                    <strong class="color-brand-1" title="Starting point">Starting point</strong>
                                    <div class="dropdown">
                                        <a class="font-xs color-text-paragraph-2 icon-down" id="dropdownProfile" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"><span class="super-admin-res01">Super Admin</span> &nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" role="menu" aria-labelledby="dropdownProfile">
                                            <li class="title-ul-res01"><a class="dropdown-item" href="#"><strong class="color-brand-1" title="Starting point">Starting point</strong></a></li>
                                            <li><a class="dropdown-item" href="login.html">Profiles</a></li>
                                            <li><a class="dropdown-item" href="login.html">Password change</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("Logout", "Login")">Logout</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("Logout", "Login")">logout</a></li>
                                            <li><a class="dropdown-item" href="profile.html">Profiles</a></li>
                                        </ul>
                                    </div>
                                </div>*@

                            <div class="dropdown profile-dropdown01">
                                <img alt="" src="https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/profile.png">
                                @*<img src="~/imgs/template/loader.png" />*@
                                <a class="font-xs color-text-paragraph-2 icon-down" id="dropdownProfile" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownProfile">
                                    <li class="title-ul-res01"><a class="dropdown-item" href="#" title="Starting Point- Job Board">Starting Point</a></li>
                                    <a class="dropdown-item" href="@Url.Action("Dashboard", "Superadmin")">Dashboard</a>
                                    <a class="dropdown-item" href="@Url.Action("ChangePassword", "Superadmin")">Change Password</a>
                                    <a class="dropdown-item" href="@Url.Action("Logout", "Login")">Logout</a>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
                    <div class="mobile-header-wrapper-inner">
                        <div class="mobile-header-content-area">
                            <div class="perfect-scroll">
                                <div class="mobile-search mobile-header-border mb-30">
                                    <form action="#">
                                        <input type="text" placeholder="Search…"><i class="fi-rr-search"></i>
                                    </form>
                                </div>
                                <div class="mobile-menu-wrap mobile-header-border">
                                    mobile menu start
                                    <nav>
                                        <ul class="mobile-menu font-heading">
                                            <li><a class="active" href="@Url.Action("Dashboard", "Superadmin")">Home</a></li>

                                            <li><a href="@Url.Action("Joblist_Admin", "Jobregister")">Jobs</a></li>
                                            <li><a href="@Url.Action("Admin_seek_list", "Jobseeker")">Job Seeker</a></li>

                                            <li class="has-children">
                                                <a href="#">Organization</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="@Url.Action("Orglist_admin", "Org")">View Organization</a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Admin_EmployerList", "Employer")">View Employee</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-children">
                                                <a href="#">System Settings</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="@Url.Action("Org_cat_list", "Org_cat")">Org Category</a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Job_cat_list", "Job_cat")">Job category</a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Statelist", "State")">State</a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Countylist", "County")">County</a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Districtlist", "District")">City</a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Locationlist", "Location")">Location</a>
                                                    </li>
                                                    @*<li>
                                                            <a href="@Url.Action("Currencylist", "Currency")">Currency</a>
                                                        </li>*@
                                                </ul>
                                            </li>

                                        </ul>
                                    </nav>
                                </div>
                                <div class="mobile-account">
                                    <h6 class="mb-10">Your Account</h6>
                                    <ul class="mobile-menu font-heading">


                                        <li> <a class="btn btn-default btn-shadow ml-40 hover-up" href="@Url.Action("Logout", "Login")">Logout</a></li>
                                    </ul>
                                </div>
                                <div class="site-copyright">Copyright 2023 &copy; JobBox. <br>Designed by Syntrio.</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <main class="main">
        <div class="nav left-sidebar01">
            <a class="btn btn-expanded"></a>
            <nav class="nav-main-menu">
                <ul class="main-menu">



                    @*<li>
                            <a class="dashboard2 active" href="@Url.Action("Dashboard", "Superadmin")"><img src="https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/dashboard.svg" alt="jobBox"><span class="name">Dashboard</span></a>
                        </li>*@
                    <li><a asp-controller="Superadmin" asp-action="Dashboard" class="@((controller == "Superadmin" && action == "Dashboard") ? "nav-item active" : "nav-item")"><img src="~/imgs/page/candidates/dashboard.svg" alt="jobBox"><span class="name">Dashboard</span></a></li>
                    @*<li ><a asp-controller="Jobregister" asp-action="Joblist_Admin" class="@((controller == "Jobregister" && action == "Joblist_Admin") ? "nav-item active" : "nav-item")"><img src="https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/jobs.svg" alt="jobBox"><span class="name">Jobs</span></a></li>*@
                    <li><a asp-controller="Jobregister" asp-action="Joblist_Admin" class="@((controller == "Jobregister" && action == "Joblist_Admin") ? "dashboard2 active" : "dashboard2")"><img src="~/imgs/jobs.svg" alt="jobBox"><span class="name">Jobs</span></a></li>
                    <li><a asp-controller="Jobseeker" asp-action="Admin_seek_list" class="@((controller == "Jobseeker" && action == "Admin_seek_list") ? "dashboard2 active" : "dashboard2")"><img src="~/imgs/candidates.svg" alt="jobBox"><span class="name">Job Seeker</span></a></li>


                    <li class="has-children">
                        @*<a class="dashboard2" href="recruiters.html"><img src="https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/recruiters.svg" alt="jobBox"><span class="name">Organization</span></a>*@
                        <a asp-controller="Org" asp-action="Orglist_admin" class="@((controller == "Org" && action == "Orglist_admin") ? "dashboard2 active" : "dashboard2")"><img src="~/imgs/recruiters.svg" alt="jobBox"><span class="name">Organization</span></a>
                        <ul class="sub-menu">
                            <li>
                                <a asp-controller="Org" asp-action="Orglist_admin" class="@((controller == "Org" && action == "Orglist_admin") ? "dashboard2 active" : "dashboard2")"><span class="name" style="font-size: 14px;">View Organization</span></a>
                            </li>
                            <li>
                                <a asp-controller="Employer" asp-action="Admin_EmployerList" class="@((controller == "Employer" && action == "Admin_EmployerList") ? "dashboard2 active" : "dashboard2")"><span class="name" style="font-size: 14px;">View Employee</span></a>
                            </li>

                        </ul>
                    </li>
                    <li class="has-children">
                        <a class="dashboard2" href=""><img src="~/imgs/settings.svg" alt="jobBox"><span class="name">System Setting</span></a>
                        <ul class="sub-menu">
                            <li>
                                <a asp-controller="Org_cat" asp-action="Org_cat_list" class="@((controller == "Org_cat" && action == "Org_cat_list") ? "dashboard2 active" : "dashboard2")"><span class="name" style="font-size: 14px;">Org Category</span></a>
                            </li>
                            <li>
                                <a asp-controller="Job_cat" asp-action="Job_cat_list" class="@((controller == "Job_cat" && action == "Job_cat_list") ? "dashboard2 active" : "dashboard2")"><span class="name" style="font-size: 14px;">Job category</span></a>
                            </li>
                            <li>
                                <a asp-controller="State" asp-action="Statelist" class="@((controller == "State" && action == "Statelist") ? "dashboard2 active" : "dashboard2")"><span class="name" style="font-size: 14px;">State</span></a>
                            </li>
                            <li>
                                <a asp-controller="County" asp-action="Countylist" class="@((controller == "County" && action == "Countylist") ? "dashboard2 active" : "dashboard2")"><span class="name" style="font-size: 14px;">County</span></a>
                            </li>
                            <li>
                                <a asp-controller="District" asp-action="Districtlist" class="@((controller == "District" && action == "Districtlist") ? "dashboard2 active" : "dashboard2")"><span class="name" style="font-size: 14px;">City</span></a>
                            </li>
                            <li>
                                <a asp-controller="Location" asp-action="Locationlist" class="@((controller == "Location" && action == "Locationlist") ? "dashboard2 active" : "dashboard2")"><span class="name" style="font-size: 14px;">Location</span></a>
                            </li>
                            @*<li>
                                    <a asp-controller="Currency" asp-action="Currencylist" class="@((controller == "Currency" && action == "Currencylist") ? "dashboard2 active" : "dashboard2")"><span class="name" style="font-size: 14px;">Currency</span></a>
                                </li>*@

                        </ul>
                    </li>




                    <li>
                        <a class="dashboard2" href="@Url.Action("Logout", "Login")"><img src="https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/logout.svg" alt="jobBox"><span class="name">Logout</span></a>
                    </li>
                    @*<li>
                            <a class="dashboard2" href="my-tasks-list.html"><img src="https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/tasks.svg" alt="jobBox"><span class="name">Tasks List</span></a>
                        </li>
                        <li>
                            <a class="dashboard2" href="profile.html"><img src="https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/profiles.svg" alt="jobBox"><span class="name">My Profiles</span></a>
                        </li>
                        <li>
                            <a class="dashboard2" href="my-resume.html"><img src="https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/cv-manage.svg" alt="jobBox"><span class="name">CV Manage</span></a>
                        </li>*@
                    @*<li>
                            <a class="dashboard2" href="authentication.html"><img src="https://wp.alithemes.com/html/jobbox/demos/dashboard/assets/imgs/page/dashboard/authentication.svg" alt="jobBox"><span class="name">Authentication</span></a>
                        </li>*@
                </ul>
            </nav>
            <div class="border-bottom mb-20 mt-20"></div>
        </div>
        <section class="box-content">
            @RenderBody()
        </section>
    </main>

    @*<div class="container">
            <main role="main" class="main pb-3">
                @RenderBody()
            </main>
        </div>*@

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins/waypoints.js"></script>
    <script src="~/js/plugins/wow.js"></script>
    <script src="~/js/plugins/magnific-popup.js"></script>
    <script src="~/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/js/plugins/select2.min.js"></script>
    <script src="~/js/plugins/isotope.js"></script>
    <script src="~/js/plugins/scrollup.js"></script>
    <script src="~/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/js/plugins/counterup.js"></script>
    <script src="~/js/main.js?v=4.1"></script>



    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(".btn-expanded").on('click', function () {
            if ($(this).hasClass('btn-collapsed')) {
                $(this).removeClass("btn-collapsed");
                $("div.nav").removeClass('close-nav');
            } else {
                $(this).addClass("btn-collapsed");
                $("div.nav").addClass("close-nav");
            }
        });
    </script>


    @await Component.InvokeAsync("Notyf")

    @RenderSection("Scripts", required: false)



</body>

</html>

@section scripts{


    <script>
    $(document).ready(function () {
        var controller = "@ViewContext.RouteData.Values["controller"]";
        var action = "@ViewContext.RouteData.Values["action"]";

        // Add the active class to the corresponding navigation item
        $('a.nav-item[asp-controller="' + controller + '"][asp-action="' + action + '"]').addClass('active');

        // Add an event listener to each navigation item
        $('a.nav-item').click(function () {
            // Remove the active class from all navigation items
            $('a.nav-item').removeClass('active');

            // Add the active class to the clicked item
            $(this).addClass('active');
        });
    });

        //Dropdown selected item
        $(".dropdown-menu li a").on("click", function (e) {
            e.preventDefault();
            $(this)
                .parents(".dropdown")
                .find(".btn span")
                .html($(this).text() + ' <span class="caret"></span>');
            $(this).parents(".dropdown").find(".btn").val($(this).data("value"));
        });



    </script>






}


