﻿@model IEnumerable<Jobportal_design.Models.Org_mem_ab>
@{
    ViewData["Title"] = "Org_memlist";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<head>
    <link rel="Stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        $(document).ready(function () {
            $('#MyTable').DataTable({
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                //to select and search from grid
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });
        });
    </script>
</head>

<body>
    <div class="header-btn d-none f-right d-lg-block">



        <input type="button" class="genric-btn primary circle arrow" value="Add Organization members details" onclick="location.href='@Url.Action("AddOrg_mem", "Org_mem")'" />

    </div>


    <br />
    <br />
    <br />
    <table id="MyTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>organization Name</th>
                <th>Stakeholder name</th>

                <th>Cont No:</th>
                <th>Website:</th>
                <th>Status</th>
                <th></th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                bool str = item.status;
                string str1 = str.ToString();

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.org_name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.stake_holder)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.con_number1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.website_personal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => str1)
                    </td>


                    <td>
                        @Html.ActionLink("EDIT", "EditOrg_mem", "Org_mem", new { id = @item.org_m_id }, new { @class = "genric-btn info circle small" })
                        @Html.ActionLink("DELETE", "DeleteOrg_mem", "Org_mem", new { id = @item.org_m_id }, new { @class = "genric-btn danger circle small" })
                        @*<input type="button" id="btnEdit" class="btn btn-primary" value="Delete" />*@
                    </td>


                </tr>
            }
        </tbody>
    </table>
</body>
