﻿@model IEnumerable<Jobportal_design.Models.Org_physical>
@{
    ViewData["Title"] = "AddOrg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>
    @using (Html.BeginForm("Create", "Org", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <body>
            <section class="section-box-2">
                <div class="container">
                    <div class="banner-hero banner-company">
                        <div class="block-banner text-center">
                            <h3 class="wow animate__animated animate__fadeInUp" style="color: #80287d;">ADD ORGANIZATION</h3>
                            @*<div class="font-sm color-text-paragraph-2 mt-10 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, <br class="d-none d-xl-block">atque delectus molestias quis?</div>*@
                        </div>

                    </div>
                </div>
            </section>
 
            <section class="section-box mt-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-8 col-sm-12 col-12 mb-50">
                            <div class="content-single">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tab-my-profile" role="tabpanel" aria-labelledby="tab-my-profile">
                                        <div class="mt-35 mb-40 box-info-profie">
                                            <div class="image-profile">
                                                <div class="form-input">
                                                    <div class="preview">
                                                        @if (ViewBag.profilepic == null)
                                                        {
                                                            <img id="file-ip-1-preview" src="~/imgs/page/candidates/candidate_profile1.png" class="preview-img">
                                                        }
                                                        else
                                                        {
                                                            <img id="file-ip-1-preview" src="~/Org_img_uploads/@(ViewBag.profilepic)" class="preview-img">
                                                            @*<img id="file-ip-1-preview" src="~/Emp_img_uploads/@(ViewBag.profilepic)" class="preview-img">*@
                                                        }

                                                    </div>

                                                    <div class="upload-img-button">
                                                        <label for="file-ip-1">Upload Image</label>
                                                        <input type="file" id="file-ip-1" name="cmp_image" accept="image/*" onchange="showPreview(event);">
                                                    </div>

                                                </div>
                                                @*<img src="~/imgs/page/candidates/candidate-profile.png" alt="jobbox">*@
                                            </div>
                                            @*<a class="btn btn-apply">Upload Logo</a>*@

                                            @*<a class="btn btn-link">Delete</a>*@
                                        </div>
                                        <div class="row form-contact">
                                            <div class="col-lg-6 col-md-12">
                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Organization Name <span style="color:red">*</span></label>
                                                    <input class="form-control" type="text" id="org_name" name="org_name" placeholder="Enter Name" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Organization Started Year </label>
                                                    <input type="date" id="DBA" name="DBA" class="form-control" placeholder="Enter Year" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Address</label>
                                                    <input type="text" id="org_address" name="org_address" class="form-control" placeholder="Enter Address" />
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="font-sm color-text-mutted mb-10">County <span style="color:red">*</span></label>
                                                            <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                                @Html.DropDownList("county_id", new SelectList(ViewBag.county, "id", "county_name"), "Select a County", new { @id = "country", @class = "form-select mr-10 select-active input-industry", @onchange = "getDropValue(this.value)", @required = true })
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label id="county_label" class="font-sm color-text-mutted mb-10">Other</label>

                                                            <input type="text" id="othCounty" name="othCounty" value="" placeholder="Type here.."
                                                                   onfocus="this.placeholder = ''" onblur="this.placeholder = ''"
                                                                   class="single-input form-control">

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">


                                                        <div class="form-group">
                                                            <label class="font-sm color-text-mutted mb-10">City <span style="color:red">*</span></label>
                                                            <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                                @Html.DropDownList("dist_id", new SelectList(ViewBag.district, "id", "dist_name"), "Select a City", new { id = "dd_child", @class = "form-select mr-10 select-active input-industry", @required = true })

                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="font-sm color-text-mutted mb-10">State <span style="color:red">*</span></label>

                                                            <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                                @Html.DropDownList("state_id", new SelectList(ViewBag.state, "id", "state_name"), new { onchange = "getStateForCountry()", @id = "state", @class = "form-select mr-10 select-active input-industry", @required = true })

                                                            </div>


                                                        </div>

                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="font-sm color-text-mutted mb-10">Primary E-mail ID <span style="color:red">*</span></label>
                                                            <input type="text" id="Email1" name="Email1" class="form-control" placeholder="Enter Primary Email" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="font-sm color-text-mutted mb-10">Secondary E-mail ID</label>
                                                            <input type="text" id="Email2" name="Email2" class="form-control" placeholder="Enter Secondary Email" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-sm color-text-mutted mb-10">Record ID </label>
                                                        <input type="text" id="record_id" name="record_id" class="form-control" placeholder="Enter Provider ID" />
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="font-sm color-text-mutted mb-10">Upload Organization Logo</label>
                                                            <input type="file" name="cmplogo" id="cmplogo" placeholder="Choose file"
                                                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Upload logo'" class="btn btn-apply"
                                                                   onchange="return profileValidation()">
                                                        </div>
                                                    </div>
                                                    @*<div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label class="font-sm color-text-mutted mb-10">Upload Organization Image</label>
                                                                <input type="file" name="cmp_image" id="cmp_image" placeholder="Upload Image"
                                                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Upload Image'" class="btn btn-apply"
                                                                       onchange="return profileValidation()">
                                                            </div>
                                                        </div>*@

                                                    <div class="form-group">
                                                        <label class="font-sm color-text-mutted mb-10">Status <span style="color:red">*</span></label>
                                                        <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                            <select id="isactive" name="isactive" class="form-select mr-10 select-active input-industry" required>
                                                                <option value="Active">Active</option>
                                                                <option value="InActive">InActive</option>

                                                            </select>
                                                        </div>
                                                    </div>



                                                </div>
                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Organization Description </label>
                                                    <textarea id="orgdescription" name="orgdescription" class="form-control"></textarea>
                                                </div>



                                            </div>
                                            <div class="col-lg-6 col-md-12">
                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Short Name </label>
                                                    <input class="form-control" type="text" id="short_name" name="short_name" value="">
                                                </div>

                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Category <span style="color:red">*</span></label>
                                                    <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                        @Html.DropDownList("org_cat_id", new SelectList(ViewBag.org_cat, "id", "category_name"), "Select a category", new { @id = "country", @class = "form-select mr-10 select-active input-industry", @required = true })
                                                    </div>

                                                </div>

                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Provider ID </label>
                                                    <input type="text" id="ProviderID" name="ProviderID" class="form-control" placeholder="Enter Provider ID" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Provider Type </label>
                                                    <input type="text" id="Providertype" name="Providertype" class="form-control" placeholder="Enter Provider Type" />
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="font-sm color-text-mutted mb-10">Zipcode</label>
                                                            <input type="text" id="zip" name="zip" class="form-control" placeholder="Enter Zipcode" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="font-sm color-text-mutted mb-10">License ID</label>
                                                            <input type="text" id="LicenseID" name="LicenseID" class="form-control" placeholder="Enter License ID" />
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="font-sm color-text-mutted mb-10">Latitude</label>
                                                            <input type="text" id="lat_loc" name="lat_loc" class="form-control" placeholder="Latitude" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="font-sm color-text-mutted mb-10">Longitude Value</label>
                                                            <input type="text" id="lng_loc" name="lng_loc" class="form-control" placeholder="Logitude" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="font-sm color-text-mutted mb-10">Primary Phone Number <span style="color:red">*</span></label>
                                                            <input type="text" id="Phone1" name="Phone1" class="form-control" placeholder="Phone # (Primary)" onKeyup='addDashes(this)' required />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="font-sm color-text-mutted mb-10">Secondary Phone Number</label>
                                                            <input type="text" id="Phone1" name="Phone2" class="form-control" onKeyup='addDashes(this)' placeholder="Phone # (Secondary)" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Website</label>
                                                    <input class="form-control" type="url" placeholder="https://alithemes.com">
                                                </div>

                                            </div>
                                            <div class="box-agree mt-30">
                                                <label class="lbl-agree font-xs color-text-paragraph-2">
                                                    <input class="lbl-checkbox" type="checkbox" value="1" required>I Accepted All terms and condition.<span style="color:red">*</span>
                                                </label>
                                            </div>
                                            <div class="box-button mt-15">
                                                <button class="btn btn-apply-big font-md font-bold">Save All Changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </body>
    
    }




@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });
    </script>
}
<script>
    function profileValidation() {

        var fileInput =
            document.getElementById('s_pic');

        var filePath = fileInput.value;
        //alert(filePath);
        // Allowing file type
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif)$/i;

        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type');
            fileInput.value = '';
            return false;
        }
        var image = document.getElementById('s_pic');

        if (typeof (image.files) != "undefined") {

            var size = parseFloat(image.files[0].size / (512 * 512)).toFixed(2);

            if (size > 1) {

                alert('Please select image size less than 512 Kb');
                image.value = ''
                return false;

            } else {

                return true;

            }

        } else {

            return true;

        }
    }
    function addDashes(f) {
        var r = /(\D+)/g,
            npa = '',
            nxx = '',
            last4 = '';
        f.value = f.value.replace(r, '');
        npa = f.value.substr(0, 3);
        nxx = f.value.substr(3, 3);
        last4 = f.value.substr(6, 4);
        f.value = npa + '-' + nxx + '-' + last4;
    }

    function showPreview(event) {
        if (event.target.files.length > 0) {
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("file-ip-1-preview");
            preview.src = src;
            preview.style.display = "block";
        }
    }

</script>

<script>
    /****************************************
     *       Basic Table                   *
     ****************************************/
    $('#zero_config').DataTable();

    function getDropValue(value) {
        console.log(value)
        if (value == "11") {
            document.getElementById('othCounty').style.display = 'block';
            document.getElementById('county_label').style.display = 'block';
        }
        else {
            document.getElementById('othCounty').style.display = 'none';
            document.getElementById('county_label').style.display = 'none';
        }
    }
</script>
<style>
    #othCounty {
        display: none;
    }

    #county_label {
        display: none;
    }



    /*preview image*/
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 10px !important;
    }

    .select2-container {
        padding-top: 10px !important;
    }

    .form-input {
        width: 210px;
        padding: 0px;
        background: #fff;
        /*   box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
              3px 3px 7px rgba(94, 104, 121, 0.377); */
        /* border-radius: 0.5rem;
        border: 1px solid lightgray;*/
    }

        .form-input .preview {
            text-align: -webkit-center;
            margin-bottom: 1rem;
            height: fit-content;
            border-radius: 16px;
            border: 1px solid lightgray;
        }

            .form-input .preview img.preview-img {
                max-width: 13rem;
                max-height: 13rem;
            }

        .form-input input {
            display: none;
        }

        .form-input label {
            display: block;
            width: 45%;
            height: 30px;
            width: 130px;
            line-height: 32px;
            text-align: center;
            background: #1172c2;
            color: #fff;
            font-size: 13px;
            font-family: "Open Sans", sans-serif;
            text-transform: Uppercase;
            font-weight: 600;
            border-radius: 0.5rem;
            cursor: pointer;
        }

    div.upload-img-button {
        text-align: -webkit-center;
    }
</style>
