﻿@*@model IEnumerable<Jobportal_design.Models.Employer>*@
@model Jobportal_design.Models.Job_register_ab

@{
    ViewData["Title"] = "EditJobs_by_Org";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("UpdateJobs_by_Org", "Jobregister", FormMethod.Post, new { @id = "CNenrollment" }))
{
    <section class="section-box-2">
        <div class="container">
            <div class="banner-hero banner-company">
                <div class="block-banner text-center">
                    <h3 class="wow animate__animated animate__fadeInUp">Update Job Details</h3>
                    @*<div class="font-sm color-text-paragraph-2 mt-10 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, <br class="d-none d-xl-block">atque delectus molestias quis?</div>*@
                </div>
            </div>
        </div>
    </section>
    <br />
    <div class="col-lg-9 col-md-8 col-sm-12 col-12 mb-50">
        <div class="content-single">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-my-profile" role="tabpanel" aria-labelledby="tab-my-profile">
                    @*<h3 class="mt-0 mb-15 color-brand-1">Post A Job</h3>*@
                    @*<a class="font-md color-text-paragraph-2" href="#">Update your profile</a>*@

                    <div class="row form-contact">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                @Html.HiddenFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })
                                <label class="font-sm color-text-mutted mb-10">Job Title *</label>
                                <div class="box-industry" style="border: 2px solid #E0E6F6;height: 50px;">
                                    @Html.DropDownListFor(model => model.job_title, (IEnumerable<SelectListItem>)ViewBag.job_title, new { @class = "form-select mr-10 select-active input-industry" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="font-sm color-text-mutted mb-10">Job Category *</label>
                                <div class="box-industry" style="border: 2px solid #E0E6F6;height: 50px;">
                                    <select asp-for="job_category_name" asp-items="@(new SelectList(ViewBag.job_cat, "job_category_name", "job_category_name"))" class="form-select mr-10 select-active input-industry"></select>
                                    @*@Html.DropDownList("job_category_name", new SelectList(ViewBag.job_cat, "job_category_name", "job_category_name"), "Select a Job category", new { id = "dd_child", @class = "form-select mr-10 select-active input-industry" })*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="font-sm color-text-mutted mb-10">Job Type *</label>
                                <div class="box-industry" style="border: 2px solid #E0E6F6;height: 50px;">
                                    @Html.DropDownListFor(model => model.job_type, (IEnumerable<SelectListItem>)ViewBag.employmenttype, new { @class = "form-select mr-10 select-active input-industry" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="font-sm color-text-mutted mb-10">Address</label>
                                @*@Html.TextArea("address", (string)(ViewBag.address), new { @class = "form-control", name = "address" })*@
                                @Html.TextAreaFor(model => model.address, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label class="font-sm color-text-mutted mb-10">City</label>
                                @*<input class="form-control" type="text" value="Mcallen">*@
                                <div class="box-industry" style="border: 2px solid #E0E6F6;height: 50px;">
                                    @*@Html.DropDownList("dist_name", new SelectList(ViewBag.dist_name, "dist_name", "dist_name"), "Select City", new { id = "dd_state", @class = "form-select mr-10 select-active input-industry" })*@
                                    <select asp-for="district_id" asp-items="@(new SelectList(ViewBag.dist_name, "id", "dist_name"))" class="form-select mr-10 select-active input-industry"></select>

                                </div>
                            </div>


                            <div class="form-group">
                                <label class="font-sm color-text-mutted mb-10">State</label>
                                @*<input class="form-control" type="text" value="OH">*@
                                <div class="box-industry" style="border: 2px solid #E0E6F6;height: 50px;">
                                    @*@Html.DropDownList("state_name", new SelectList(ViewBag.state_name, "state_name", "state_name"), new { id = "dd_state", @class = "form-select mr-10 select-active input-industry" })*@
                                    <select asp-for="state_fk" asp-items="@(new SelectList(ViewBag.state_name, "id", "state_name"))" class="form-select mr-10 select-active input-industry"></select>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="font-sm color-text-mutted mb-10">County</label>
                                        @*<input class="form-control" type="text" value="Mcallen">*@
                                        <div class="box-industry" style="border: 2px solid #E0E6F6;height: 50px;">
                                            @*@Html.DropDownList("county_name", new SelectList(ViewBag.county_name, "county_name", "county_name"), "Select County", new { @id = "dd_country", @class = "form-select mr-10 select-active input-industry", @onchange = "getDropValue(this.value)" })*@
                                            <select asp-for="county_id" asp-items="@(new SelectList(ViewBag.county_name, "id", "county_name"))" class="form-select mr-10 select-active input-industry" onchange="getDropValue(this.id)" placeholder="Select County"></select>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label id="county_label" class="font-sm color-text-mutted mb-10">Other</label>
                                        @*<input class="form-control" type="text" value="82356">*@
                                        <select asp-for="oth_county_name" class="form-control" type="text" id="oth_county_name" name="oth_county_name"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="font-sm color-text-mutted mb-10">Salary Pay</label>
                                        <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                            @Html.DropDownListFor(model => model.salary_pay, (IEnumerable<SelectListItem>)ViewBag.salary_pay, new { @class = "form-select mr-10 select-active input-industry" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="font-sm color-text-mutted mb-10">Salary From:</label>
                                        @Html.EditorFor(model => model.salary_package, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <label class="font-sm color-text-mutted mb-10">Salary To:</label>
                                        @Html.EditorFor(model => model.salary_to, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="font-sm color-text-mutted mb-10">Start Date:</label>
                                        <input type="date" asp-for="start_date" class="form-control" />
                                        @*@Html.EditorFor(model => model.start_date, new { htmlAttributes = new { @class = "form-control" } })*@
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="font-sm color-text-mutted mb-10">End date</label>
                                        @*<input class="form-control" type="text" value="Mcallen">*@
                                        <input type="date" asp-for="end_date" class="form-control" />
                                        @*@Html.EditorFor(model => model.end_date, new { htmlAttributes = new { @class = "form-control" } })*@
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="font-sm color-text-mutted mb-10">Schedule :</label>
                                @Html.EditorFor(model => model.shedule, new { htmlAttributes = new { @class = "form-control" } })

                            </div>


                            @*<div class="box-agree mt-30">
                                    <label class="lbl-agree font-xs color-text-paragraph-2">
                                        <input class="lbl-checkbox" type="checkbox" value="1">I Accepted All terms and condition.
                                    </label>
                                </div>*@

                        </div>
                        <div class="col-lg-6 col-md-12">

                            <div class="form-group">
                                <label class="font-sm color-text-mutted mb-10">Licenses/Certifications :</label>
                                <div class="box-industry" style="border: 2px solid #E0E6F6;height: 50px;">
                                    @Html.DropDownListFor(model => model.licence_certification, (IEnumerable<SelectListItem>)ViewBag.certification, new { @class = "form-select mr-10 select-active input-industry" })

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="font-sm color-text-mutted mb-10">Qualifications :</label>
                                @Html.TextAreaFor(model => model.job_skills, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label class="font-sm color-text-mutted mb-10">Responsibilities :</label>
                                @Html.TextAreaFor(model => model.responsibilities, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label class="font-sm color-text-mutted mb-10">Benefits :</label>
                                @Html.TextAreaFor(model => model.benefits, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label class="font-sm color-text-mutted mb-10">Job description :</label>
                                @Html.TextAreaFor(model => model.job_desc, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label class="font-sm color-text-mutted mb-10">Experience :</label>
                                @Html.EditorFor(model => model.experience, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="box-button mt-15">
                            <button class="btn btn-apply-big font-md font-bold">Save All Changes</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

<script>
    const suggestions = [
        c, c++, java, Angular, PHP, infosys
    ]

    var textarea = document.getElementById('job_skills')

    textarea.addEventListener('keyup', (e) => {
        var result = suggestions.filter(el => el.startsWith(textarea.value))
        console.log(result)
    })

    function getDropValue(id) {
        console.log(id)
        if (id = 11) {
            document.getElementById('oth_county_name').style.display = 'block';
            document.getElementById('county_label').style.display = 'block';
        }
        else {
            document.getElementById('oth_county_name').style.display = 'none';
            document.getElementById('county_label').style.display = 'none';
        }
    }
</script>
<style>
    #oth_county_name {
        display: none;
    }

    #county_label {
        display: none;
    }
</style>