﻿@model Jobportal_design.Models.Org_physical
@{
    ViewData["Title"] = "EditOrg_admin";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<a class="mr-5" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>
<br />
@using (Html.BeginForm("UpdateOrg_admin", "Org", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<body>
    <section class="section-box-2 sidebar-border mt-5">
        <div class="container">
            <div class="banner-hero banner-company bg-white">
                <div class="block-banner text-center">
                    <h3 class="wow animate__animated animate__fadeInUp">Update Organization Details</h3>
                    @*<div class="font-sm color-text-paragraph-2 mt-10 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, <br class="d-none d-xl-block">atque delectus molestias quis?</div>*@
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-50">
        <div class="container">
            <div class="row">
                <div class="col-md-10 mb-50 mx-auto">
                    <div class="content-single sidebar-border">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-my-profile" role="tabpanel" aria-labelledby="tab-my-profile">
                                @*<h3 class="mt-0 mb-15 color-brand-1">Update Organization Details</h3>*@
                                <div class="row">
                                    <div class="col-md-9"></div>
                                    <div class="col-md-3">
                                        <div class="mb-40 box-info-profie">
                                            <div class="image-profile">
                                                <div class="form-input">
                                                    <div class="preview">
                                                        @if (ViewBag.profilepic == null)
                                                        {
                                                            <img id="file-ip-1-preview" src="~/imgs/page/candidates/candidate_profile1.png" class="preview-img">
                                                        }
                                                        else
                                                        {
                                                            <img id="file-ip-1-preview" src="~/Org_img_uploads/@(ViewBag.profilepic)" class="preview-img">
                                                            @*<img id="file-ip-1-preview" src="~/Emp_img_uploads/@(ViewBag.profilepic)" class="preview-img">*@
                                                        }

                                                    </div>

                                                    <div class="upload-img-button">
                                                        <label for="file-ip-1">Upload Image</label>
                                                        <input type="file" id="file-ip-1" name="cmp_image" accept="image/*" onchange="showPreview(event);">
                                                        <p id="error"></p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-contact">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">Organization Name </label>
                                            @Html.HiddenFor(model => model.org_id)
                                            @Html.EditorFor(model => model.org_name, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">Organization Started Year </label>
                                            <input asp-for="DBA" type="date" />
                                        </div>
                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">Address</label>
                                            @Html.EditorFor(model => model.org_address, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">

                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">City</label>
                                                    <div class="box-industry" style="border: 2px solid #E0E6F6; height:50px;">
                                                        <select asp-for="dist_id" asp-items="@(new SelectList(ViewBag.district, "id", "dist_name"))" class="form-input mr-10 select-active input-industry" placeholder="Select City"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">

                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">State</label>
                                                    <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                        <select asp-for="state_id" asp-items="@(new SelectList(ViewBag.state, "id", "state_name"))" class="form-input mr-10 select-active input-industry" placeholder="Select State"></select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">County</label>
                                                    <div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                                                        <select asp-for="county_id" asp-items="@(new SelectList(ViewBag.county, "id", "county_name"))" class="form-input mr-10 select-active input-industry" onchange='getDropValue(this.value)' placeholder="Select County"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label id="county_label" class="font-sm color-text-mutted mb-10">Other</label>

                                                    <input asp-for="othCounty" class="form-control" type="text" id="othCounty" name="othCounty">

                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">Zip code</label>
                                            @Html.EditorFor(model => model.zip, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                       
                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">Primary E-mail ID</label>
                                            @Html.EditorFor(model => model.Email1, new { htmlAttributes = new { @class = "form-control" } })
                                            @* @Html.TextBoxFor(model => model.Email1, new { disabled = "disabled", @readonly = "readonly" })*@
                                        </div>


                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">Secondary E-mail ID</label>
                                            @Html.EditorFor(model => model.Email2, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>



                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">Upload Logo</label>
                                            <input type="file" name="cmplogo" id="cmplogo" placeholder="Choose file"
                                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Upload logo'" class="btn btn-apply"
                                                   onchange="return profileValidation()">
                                        </div>
                                        @*@Html.EditorFor(model => model.cmp_image1, new { htmlAttributes = new { @class = "form-control" } })*@

                                        <!--<div class="col-lg-6">
    <div class="form-group">
        <label class="font-sm color-text-mutted mb-10">Upload Image</label>
        <input type="file" name="cmp_image" id="cmp_image" placeholder="Choose File"
                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Upload Image'" class="btn btn-apply"
                onchange="return profileValidation()">
    </div>-->
                                        @*@Html.EditorFor(model => model.cmplogo1, new { htmlAttributes = new { @class = "form-control" } })*@
                                        <!--</div>-->


                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">Status</label>
                                            @*<div class="box-industry" style="border: 2px solid #E0E6F6; height: 50px;">
                <select asp-for="status" id="isactive" name="isactive" class="form-input mr-10 select-active input-industry" disabled="true">
                    <option value="1">Active</option>
                    <option value="0">InActive</option>

                </select>
            </div>*@
                                            @Html.TextBoxFor(model => model.isactive, new { disabled = "disabled", @readonly = "readonly" })
                                        </div>




                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">Short Name </label>
                                            @Html.EditorFor(model => model.short_name, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">Organization Description</label>
                                            @Html.TextAreaFor(model => model.orgdescription, new { htmlAttributes = new { @class = "form-control", @cols = 50, @rows = 6 } })
                                        </div>
                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">Username</label>
                                            @Html.EditorFor(model => model.user_name, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10">License ID </label>
                                            @Html.EditorFor(model => model.LicenseID, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Provider ID </label>
                                                    @Html.EditorFor(model => model.ProviderID, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Provider Type </label>
                                                    @Html.EditorFor(model => model.Providertype, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Latitude Value</label>
                                                    @Html.EditorFor(model => model.lat_loc, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Longitude Value</label>
                                                    @Html.EditorFor(model => model.lng_loc, new { htmlAttributes = new { @class = "form-control" } })

                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Primary Phone Number</label>
                                                    <input type="text" asp-for="Phone1" class="form-control" onKeyup='addDashes(this)' />

                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="font-sm color-text-mutted mb-10">Secondary Phone Number</label>
                                                    <input type="text" asp-for="Phone2" class="form-control" onKeyup='addDashes(this)' />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-sm color-text-mutted mb-10"> Website</label>
                                            @Html.EditorFor(model => model.website, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                    </div>

                                    <div class="box-button mt-15">
                                        <button class="btn btn-apply-big font-md font-bold">Save All Changes</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
}



    @section Scripts {
        <script type="text/javascript">

            $("#btnBack").click(function () {
                window.history.back();
            });

            function getStateForCountry() {
                var country = $('#country').val();

                if (country > 0) {
                    $.ajax({
                        url: '../Org/getStateForCountry',
                        data: {
                            country: country

                        },
                        dataType: "json",
                        type: "GET",
                        success: function (data) {
                            var items = "";
                            items = "<option value=''>--Choose Programs--</option>";
                            $.each(data, function (i, item) {
                                items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                            });
                            $('#state').html(items);
                        }
                    }).done(function (data) { });
                }

            }
        </script>
    }
    <script>
        function profileValidation() {

            var fileInput =
                document.getElementById('s_pic');

            var filePath = fileInput.value;
            //alert(filePath);
            // Allowing file type
            var allowedExtensions =
                /(\.jpg|\.jpeg|\.png|\.gif)$/i;

            if (!allowedExtensions.exec(filePath)) {
                alert('Invalid file type');
                fileInput.value = '';
                return false;
            }
            var image = document.getElementById('s_pic');

            if (typeof (image.files) != "undefined") {

                var size = parseFloat(image.files[0].size / (512 * 512)).toFixed(2);

                if (size > 1) {

                    alert('Please select image size less than 512 Kb');
                    image.value = ''
                    return false;

                } else {

                    return true;

                }

            } else {

                return true;

            }
        }
        function addDashes(f) {
            var r = /(\D+)/g,
                npa = '',
                nxx = '',
                last4 = '';
            f.value = f.value.replace(r, '');
            npa = f.value.substr(0, 3);
            nxx = f.value.substr(3, 3);
            last4 = f.value.substr(6, 4);
            f.value = npa + '-' + nxx + '-' + last4;
        }

        function showPreview(event) {
            if (event.target.files.length > 0) {
                var src = URL.createObjectURL(event.target.files[0]);
                var preview = document.getElementById("file-ip-1-preview");
                preview.src = src;
                preview.style.display = "block";
            }

            var fileInput =
                document.getElementById('file-ip-1');

            var filePath = fileInput.value;
            //alert(filePath);
            // Allowing file type
            var allowedExtensions =
                /(\.jpg|\.jpeg|\.png|\.gif)$/i;

            if (!allowedExtensions.exec(filePath)) {

                /* alert('Invalid file type');*/
                /*$(".error-messages").text("Some error").fadeIn();*/
                document.getElementById("error").innerHTML = "Invalid file type!!"
                fileInput.value = '';
                return false;
            }
            var image = document.getElementById('file-ip-1');

            if (typeof (image.files) != "undefined") {

                var size = parseFloat(image.files[0].size / (512 * 512)).toFixed(2);

                if (size > 1) {

                    /*alert('Please select image size less than 512 Kb');*/
                    document.getElementById("error").innerHTML = "Please select image size less than 512 Kb"
                    image.value = ''
                    return false;

                } else {

                    return true;

                }

            } else {

                return true;

            }
        }

    </script>

    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();

        function getDropValue(value) {
            console.log(value)
            if (value == "11") {
                document.getElementById('othCounty').style.display = 'block';
                document.getElementById('county_label').style.display = 'block';
            }
            else {
                document.getElementById('othCounty').style.display = 'none';
                document.getElementById('county_label').style.display = 'none';
            }
        }
    </script>
    <style>
        #othCounty {
            display: none;
        }

        #county_label {
            display: none;
        }

        /*preview image*/
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 10px !important;
        }

        .select2-container {
            padding-top: 10px !important;
        }

        .form-input {
            width: 210px;
            padding: 0px;
            background: #fff;
            /*   box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
              3px 3px 7px rgba(94, 104, 121, 0.377); */
            /* border-radius: 0.5rem;
        border: 1px solid lightgray;*/
        }

            .form-input .preview {
                text-align: -webkit-center;
                margin-bottom: 1rem;
                height: fit-content;
                border-radius: 16px;
                border: 1px solid lightgray;
            }

                .form-input .preview img.preview-img {
                    max-width: 13rem;
                    max-height: 13rem;
                }

            .form-input input {
                display: none;
            }

            .form-input label {
                display: block;
                width: 45%;
                height: 30px;
                width: 130px;
                line-height: 32px;
                text-align: center;
                background: #1172c2;
                color: #fff;
                font-size: 13px;
                font-family: "Open Sans", sans-serif;
                text-transform: Uppercase;
                font-weight: 600;
                border-radius: 0.5rem;
                cursor: pointer;
            }

        div.upload-img-button {
            text-align: -webkit-center;
        }
        #error {
            color: red;
            font-weight: 600;
        }
        .image-profile {
            max-width: 100%!important;
        }
    </style>
