﻿@model IEnumerable<Jobportal_design.Models.Employer>
@{
    ViewData["Title"] = "View";
    
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" type="text/css" href="~/admin/assets/extra-libs/multicheck/multicheck.css">
<link href="~/admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row">
    <div class="col-12">
        <input type="button" class="btn btn-primary" style="float: right;" value="JOBS" onclick="location.href='@Url.Action("Org_JobList", "Employer")'" />

        <input type="button" class="btn btn-primary" style="float: right;" value="Add Employee" onclick="location.href='@Url.Action("AddEmployer", "Employer")'" />


        <div class="card">

            <div class="card-body">

                <h5 class="card-title">Employee Details</h5>
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Mobile No:</th>
                                <th>Email</th>

                                <th>Registration Date</th>

                                <th>Status</th>
                               
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                string registration_date = item.registration_date.ToString("MM/dd/yyyy");
                                bool str = item.status;
                                string str1 = str.ToString();
                               
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.e_name)
                                </td>




                                <td>
                                    @Html.DisplayFor(modelItem => item.last_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.contact1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email_id)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => registration_date)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.isactive)
                                </td>

                                <!--<td>-->
                                @*@Html.ActionLink("Change Password", "Admin_passwordchange", "Employer", new { id = @item.id }, new { @class = "btn btn-primary" })*@
                                <!--<p style="text-decoration:underline;"><a href="@Url.Action("Admin_passwordchange", "Employer",new { id = @item.id })">@Html.DisplayFor(modelItem => item.e_password)</a></p>
    </td>-->
                                <td>
                                    @Html.ActionLink("Jobs Posted", "PostedJobsList", "Employer", new { id = @item.id }, new { @class = "btn btn-secondary" })
                                </td>

                                <td>
                                    @*@Html.ActionLink("EDIT", "EditCountry", "Country", new { id = @item.id }, new { @class = "genric-btn info circle small" })
            @Html.ActionLink("DELETE", "DeleteCountry", "Country", new { id = @item.id }, new { @class = "genric-btn danger circle small" })*@
                                    @*<a href="@Url.Action("Admin_emp_EditProfile", "Employer",new { id = @item.id })" class="edit" title="Edit" data-toggle="tooltip"><i class="fa fa-pencil" style="font-size: 24px;color:lightblue"></i></a>*@
                                    <a href="@Url.Action("Delete_admin_emp", "Employer",new { id = @item.id })" class="delete" title="Delete" data-toggle="tooltip"><i class="fa fa-trash-o" style="font-size: 24px; color: red;"></i></a>
                                </td>

                                

                            </tr>
                            }


                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>




<script>
    /****************************************
     *       Basic Table                   *
     ****************************************/
    $('#zero_config').DataTable();
</script>




