﻿@model IEnumerable<Jobportal_design.Models.Org_physical>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;

}

<a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>
<section class="section-box-2">
    <div class="container">
        <div class="banner-hero banner-single banner-single-bg">
            <div class="block-banner text-center">
                <h3 class="wow animate__animated animate__fadeInUp">
                    <span class="color-brand-2"> Browse Organizations</span> 
                    @*&nbsp;(@ViewBag.orgCount)*@                    
                </h3>
                <div class="font-sm color-text-paragraph-2 mt-10 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, <br class="d-none d-xl-block">atque delectus molestias quis?</div>
                <div class="form-find text-start mt-40 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                    @using (Html.BeginForm("OrganizationListPartialView", "Org", FormMethod.Post, new { enctype = "multipart/form-data", @id = "filterForm" }))
                    {
                        <form>
                            <div class="box-industry">
                                @Html.DropDownList("org_cat_id", new SelectList(ViewBag.org_cat, "id", "category_name"), "-Category-", new { id = "dd_child", @class = "form-input mr-10 select-active input-industry" })
                            </div>
                            @Html.DropDownList("dist_id", new SelectList(ViewBag.district, "id", "dist_name"), "--City--", new { id = "dd_child1", @class = "form-input mr-10 select-active" })
                            <input class="form-input input-keysearch mr-10" type="text" id="search" name="search" value="@ViewBag.searchText" placeholder="Enter Organization Name...">
                            <input type="submit" value="Search" class="btn btn-default btn-find font-sm" />
                        </form>
                    }
                    @*onclick="callChangefunc()"*@
                </div>
            </div>
        </div>
    </div>
</section>
<div id="OrganizationListPartialView">
    @await Html.PartialAsync("OrganizationListPartialView")
    @*@Html.PartialAsync("FindJobPartialView", "Home")*@
</div>

<section class="section-box mt-50 mb-50">
    <div class="container">
        <div class="text-start">
            <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">News and Blog</h2>
            <p class="font-lg color-text-paragraph-2 wow animate__animated animate__fadeInUp">Get the latest news, updates and tips</p>
        </div>
    </div>
    <div class="container">
        <div class="mt-50">
            <div class="box-swiper style-nav-top">
                <div class="swiper-container swiper-group-3 swiper">
                    <div class="swiper-wrapper pb-70 pt-5">
                        <div class="swiper-slide">
                            <div class="card-grid-3 hover-up wow animate__animated animate__fadeIn">
                                <div class="text-center card-grid-3-image">
                                    <a href="#">
                                        <figure><img alt="jobBox" src="~/imgs/page/homepage1/img-news1.png"></figure>
                                    </a>
                                </div>
                                <div class="card-block-info">
                                    <div class="tags mb-15"><a class="btn btn-tag" href="blog-grid.html">News</a></div>
                                    <h5><a href="blog-details.html">21 Job Interview Tips: How To Make a Great Impression</a></h5>
                                    <p class="mt-10 color-text-paragraph font-sm">Our mission is to create the world&amp;rsquo;s most sustainable healthcare company by creating high-quality healthcare products in iconic, sustainable packaging.</p>
                                    <div class="card-2-bottom mt-20">
                                        <div class="row">
                                            <div class="col-lg-6 col-6">
                                                <div class="d-flex">
                                                    <img class="img-rounded" src="~/imgs/page/homepage1/user1.png" alt="jobBox">
                                                    <div class="info-right-img"><span class="font-sm font-bold color-brand-1 op-70">Sarah Harding</span><br><span class="font-xs color-text-paragraph-2">06 September</span></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 text-end col-6 pt-15"><span class="color-text-paragraph-2 font-xs">8 mins to read</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-grid-3 hover-up wow animate__animated animate__fadeIn">
                                <div class="text-center card-grid-3-image">
                                    <a href="#">
                                        <figure><img alt="jobBox" src="~/imgs/page/homepage1/img-news2.png"></figure>
                                    </a>
                                </div>
                                <div class="card-block-info">
                                    <div class="tags mb-15"><a class="btn btn-tag" href="blog-grid.html">Events</a></div>
                                    <h5><a href="blog-details.html">39 Strengths and Weaknesses To Discuss in a Job Interview</a></h5>
                                    <p class="mt-10 color-text-paragraph font-sm">Our mission is to create the world&amp;rsquo;s most sustainable healthcare company by creating high-quality healthcare products in iconic, sustainable packaging.</p>
                                    <div class="card-2-bottom mt-20">
                                        <div class="row">
                                            <div class="col-lg-6 col-6">
                                                <div class="d-flex">
                                                    <img class="img-rounded" src="~/imgs/page/homepage1/user2.png" alt="jobBox">
                                                    <div class="info-right-img"><span class="font-sm font-bold color-brand-1 op-70">Steven Jobs</span><br><span class="font-xs color-text-paragraph-2">06 September</span></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 text-end col-6 pt-15"><span class="color-text-paragraph-2 font-xs">6 mins to read</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-grid-3 hover-up wow animate__animated animate__fadeIn">
                                <div class="text-center card-grid-3-image">
                                    <a href="#">
                                        <figure><img alt="jobBox" src="~/imgs/page/homepage1/img-news3.png"></figure>
                                    </a>
                                </div>
                                <div class="card-block-info">
                                    <div class="tags mb-15"><a class="btn btn-tag" href="blog-grid.html">News</a></div>
                                    <h5><a href="blog-details.html">Interview Question: Why Dont You Have a Degree?</a></h5>
                                    <p class="mt-10 color-text-paragraph font-sm">Learn how to respond if an interviewer asks you why you dont have a degree, and read example answers that can help you craft</p>
                                    <div class="card-2-bottom mt-20">
                                        <div class="row">
                                            <div class="col-lg-6 col-6">
                                                <div class="d-flex">
                                                    <img class="img-rounded" src="~/imgs/page/homepage1/user3.png" alt="jobBox">
                                                    <div class="info-right-img"><span class="font-sm font-bold color-brand-1 op-70">Wiliam Kend</span><br><span class="font-xs color-text-paragraph-2">06 September</span></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 text-end col-6 pt-15"><span class="color-text-paragraph-2 font-xs">9 mins to read</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="text-center"><a class="btn btn-brand-1 btn-icon-load mt--30 hover-up" href="blog-grid.html">Load More Posts</a></div>
        </div>
    </div>
</section>
<section class="section-box mt-50 mb-20">
    <div class="container">
        <div class="box-newsletter">
            <div class="row">
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-left.png" alt="joxBox"></div>
                <div class="col-lg-12 col-xl-6 col-12">
                    <h2 class="text-md-newsletter text-center">New Things Will Always<br> Update Regularly</h2>
                    <div class="box-form-newsletter mt-40">
                        <form class="form-newsletter">
                            <input class="input-newsletter" type="text" value="" placeholder="Enter your email here">
                            <button class="btn btn-default font-heading icon-send-letter">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-right.png" alt="joxBox"></div>
            </div>
        </div>
    </div>
</section>


<script src="js/noUISlider.js"></script>
<script src="js/slider.js"></script>
@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });

        $(function () {
            $('#filterForm').submit(function (event) {
                event.preventDefault();
                var filterData = $(this).serialize();
                $('#preloader-active').show();
                $.get('/Org/OrganizationListPartialView', filterData, function (result) {
                    $('#OrganizationListPartialView').html(result);
                    $('#preloader-active').hide();
                });
            });
        });

        function showSubmenu() {
            document.getElementById('submenu').style.display = 'block';
            document.getElementById("ic1").classList.remove("fi-rr-angle-small-down");
            document.getElementById("ic1").classList.add("fi-rr-angle-small-up");
        }
        function hideSubmenu() {
            document.getElementById('submenu').style.display = 'none';
            document.getElementById("ic1").classList.add("fi-rr-angle-small-down");
            document.getElementById("ic1").classList.remove("fi-rr-angle-small-up");
        }
    </script>
    <script>
        $.fn.pageMe = function (opts) {
            var $this = this,
                defaults = {
                    perPage: 15,
                    showPrevNext: false,
                    hidePageNumbers: false
                },
                settings = $.extend(defaults, opts);
            console.log(settings)
            var listElement = $this;
            var perPage = settings.perPage;
            var children = listElement.children();
            var pager = $('.pager');

            if (typeof settings.childSelector != "undefined") {
                children = listElement.find(settings.childSelector);
            }

            if (typeof settings.pagerSelector != "undefined") {
                pager = $(settings.pagerSelector);
            }

            var numItems = children.size();
            var numPages = Math.ceil(numItems / perPage);

            pager.data("curr", 0);

            if (settings.showPrevNext) {
                $('<li><a href="#" class="pager-prev"></a></li>').appendTo(pager);
            }

            var curr = 0;
            // Added class and id in li start
            while (numPages > curr && (settings.hidePageNumbers == false)) {
                $('<li id="pg' + (curr + 1) + '" class="pg"><a href="#" class="page_link">' + (curr + 1) + '</a></li>').appendTo(pager);
                curr++;
            }
            // Added class and id in li end

            if (settings.showPrevNext) {
                $('<li><a href="#" class="pager-next"></a></li>').appendTo(pager);
            }

            pager.find('.page_link:first').addClass('active');
            pager.find('.pager-prev').hide();
            if (numPages <= 1) {
                pager.find('.pager-next').hide();
            }
           // pager.children().eq(1).addClass("active");

            children.hide();
            children.slice(0, perPage).show();
            if (numPages > 3) {
                $('.pg').hide();
                $('#pg1,#pg2,#pg3').show();
                $("#pg3").after($("<li class='ell'>").html("<span>...</span>"));
            }

            pager.find('li .page_link').click(function () {
                var clickedPage = $(this).html().valueOf() - 1;
                goTo(clickedPage, perPage);
                return false;
            });
            pager.find('li .pager-prev').click(function () {
                previous();
                return false;
            });
            pager.find('li .pager-next').click(function () {
                next();
                return false;
            });

            function previous() {
                var goToPage = parseInt(pager.data("curr")) - 1;
                $('.pg').children().eq(goToPage + 1).removeClass("active");
                goTo(goToPage);
            }

            function next() {
                goToPage = parseInt(pager.data("curr")) + 1;
                goTo(goToPage);
            }

            function goTo(page) {
                var startAt = page * perPage,
                    endOn = startAt + perPage;

                // Added few lines from here start

                $('.pg').hide();
                $(".ell").remove();
                var prevpg = $("#pg" + page).show();
                var currpg = $("#pg" + (page + 1)).show();
                var nextpg = $("#pg" + (page + 2)).show();
                if (prevpg.length == 0) nextpg = $("#pg" + (page + 3)).show();
                if (prevpg.length == 1 && nextpg.length == 0) {
                    prevpg = $("#pg" + (page - 1)).show();
                }
                $("#pg1").show()
                if (curr > 3) {
                    if (page > 1) prevpg.before($("<li class='ell'>").html("<span>...</span>"));
                    if (page < curr - 2) nextpg.after($("<li class='ell'>").html("<span>...</span>"));
                }

                if (page <= numPages - 3) {
                    $("#pg" + numPages.toString()).show();
                }
                currpg.addClass("active").siblings().removeClass("active");
                // Added few lines till here end


                children.css('display', 'none').slice(startAt, endOn).show();

                if (page >= 1) {
                    pager.find('.pager-prev').show();
                } else {
                    pager.find('.pager-prev').hide();
                }

                if (page < (numPages - 1)) {
                    pager.find('.pager-next').show();
                } else {
                    pager.find('.pager-next').hide();
                }

                pager.data("curr", page);
                if ($('.pg').children().eq(page - 1).hasClass("active")) {
                    $('.pg').children().eq(page - 1).removeClass("active");
                }
                if ($('.pg').children().eq(page + 1).hasClass("active")) {
                    $('.pg').children().eq(page + 1).removeClass("active");
                }
                $('.pg').children().eq(page).addClass("active");
                var fp = (page * 15)+1;
                var tp = (page+1) * 15;
                $("#startP").text(fp.toString());
                if(tp<@ViewBag.orgCount)
                $("#endP").text(tp.toString());
                else
                $("#endP").text(@ViewBag.orgCount);
                $("#currentP").text((page+1).toString());
                $("#totalP").text(numPages.toString());
                window.scrollTo(0, 250);

            }
        };

        $(document).ready(function () {
            $("#currentP").text("1");
                $("#totalP").text(Math.ceil(@ViewBag.orgCount/15).toString());
            $('#myTable').pageMe({
                pagerSelector: '#myPager',
                showPrevNext: true,
                hidePageNumbers: false,
                perPage: 15
            });

        });
    </script>
  
}

<script>
     function callChangefunc() {

         var searchval = document.getElementById("search").value;
         var city = document.getElementById("dd_child1").value;
         var categorytext = document.getElementById("dd_child").value;
         var county = "";
         //alert(exptext);

         var url = "@Url.Action("OrganizationList", "Org")" + "?searchval=" + searchval + "&county=" + county +"&city=" + city + "&categorytext=" + categorytext;

            window.location.href = url;


        }
</script>
<style>
    
    .sidebar-filters .filter-block .select-style-icon a:hover, .sidebar-filters .filter-block .select-style-icon a.active {
        background: #85c440 !important;
        color: #fff !important;
    }
</style>