﻿@model IEnumerable<Jobportal_design.Models.Org_physical>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/admin/assets/extra-libs/multicheck/multicheck.css">
<link href="~/admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/new-style.css" rel="stylesheet" />
<a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>

<section class="section-box box-content p-0 mt-5">
    <div class="breacrumb-cover01 bg-img-about01">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 card card-body p-4 text-center">
                    <h3 class="mb-10 color-brand-2 py-0" style="font-weight: 700;">Organization Details</h3>
                </div>
                @*<div class="col-lg-6 text-lg-end">
                        <ul class="breadcrumbs mt-40">
                            <li><a class="home-icon" href="#">Home</a></li>
                            <li>Admin</li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</section>

<section class="section-box-2" style="margin-top: 15px;">
    <div class="container px-0">
        <div class="banner-hero banner-company01 card card-body" style="background: #F2F6FD; display:none;">
            <div class="block-banner text-center">
                <h3 class="wow animate__animated animate__fadeInUp" style="color: #80287d;">Organization Details</h3>

                @*<div class="font-sm color-text-paragraph-2 mt-10 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, <br class="d-none d-xl-block">atque delectus molestias quis?</div>*@
            </div>
            @*<input type="button" class="btn btn-apply btn-apply-icon" style="float:right;" value="Add Organization" onclick="location.href='@Url.Action("Create", "Org")'" />*@

        </div>

        @using (Html.BeginForm("ImportOrg", "Org", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="file-input my-3 files-main01">
                <!-- <input type="file" name="imp_file" id="imp_file">
                <span class='button'>Choose File</span>-->
                @*<input type="file" name="imp_file" placeholder="Upload File"
                    onfocus="this.placeholder = 'Upload File'" onblur="this.placeholder = 'Upload File'"
                    class="btn btn-apply export-input01" />*@
                @*<input type="submit" class="btn btn-apply btn-apply-icon import-input01" style="float:inline-end;" value="Import Organization" />*@

                <div class="export-import">
                    <div class="export-form01">

                        <input type="file" name="imp_file" placeholder="Upload File"
                               onfocus="this.placeholder = 'Upload File'" onblur="this.placeholder = 'Upload File'"
                               class="export-input01" />
                        <label class="export-label01" for="f02"><i class="fa fa-upload" aria-hidden="true"></i> <span class="upload-file01">Upload File</span></label>
                        <input type="submit" class="btn btn-apply btn-apply-icon01 import-input01" value="Submit" />

                    </div>
                </div>

                <div class="add-org-btn01">
                    <a class="btn btn-apply float-right" href="@Url.Action("Create", "Org")"><i class="fa fa-plus" aria-hidden="true"></i> Add Organization</a>
                </div>
            </div>
        }

    </div>
</section>
<section class="section-box2">
    <div class="row">
        <div class="col-12">



            <div class="card">

                <div class="card-body">

                    <br />
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-striped table-bordered">
                            <thead>
                                <tr>

                                    <th>Organization</th>

                                    <th>RecordID</th>
                                    <th>Provider Type</th>
                                    <th>License</th>
                                    <th>ProviderID</th>

                                    <th>County</th>
                                    <th>Username</th>
                                    <th>Phone</th>
                                    <th>Status</th>
                                    <th>Password</th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    bool str = item.is_active;
                                    string str1 = str.ToString();

                                <tr>
                                    <td>
                                        @if (item.isactive == "Active")
                                        {
                                            <a href="@Url.Action( "OrgProfile_admin", "Org", new { id = @item.org_id })" style="color:blue;">@Html.DisplayFor(modelItem => item.org_name)</a>

                                        }
                                        else
                                        {
                                            <a href="@Url.Action( "OrgProfile_admin", "Org", new { id = @item.org_id })" style="color:red;">@Html.DisplayFor(modelItem => item.org_name)</a>

                                        }

                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.record_id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Providertype)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LicenseID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProviderID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.county_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.user_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phone1)
                                    </td>
                                    <td>
                                        @if (item.isactive == "Active")
                                        {
                                            <a class="modAct"
                                               data-status="@item.isactive" data-id="@item.org_id"
                                               data-toggle="modal" data-target="#ModalApplyJobForm1" data-url="@Url.Action("EditOrg", "Org",new { id = @item.org_id })" style="color: blue; cursor: pointer;"> @Html.DisplayFor(modelItem => item.isactive)</a>

                                        }
                                        else
                                        {
                                            <a class="modAct"
                                               data-status="@item.isactive" data-id="@item.org_id"
                                               data-toggle="modal" data-target="#ModalApplyJobForm1" data-url="@Url.Action("EditOrg", "Org",new { id = @item.org_id })" style="color: red; cursor: pointer;"> @Html.DisplayFor(modelItem => item.isactive)</a>

                                        }

                                    </td>
                                    <td>
                                        <p style="text-decoration:underline;"><a href="@Url.Action("Admin_Org_passwordchange", "Org",new { id = @item.org_id })">@Html.DisplayFor(modelItem => item.org_password)</a></p>
                                    </td>

                                </tr>
                                }


                            </tbody>
                            @*<tfoot>
                                    <tr>

                                        <th>Currency Name</th>
                                        <th>Country Code</th>
                                        <th>Symbol</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>*@
                        </table>
                    </div>

                </div>
            </div>
        </div>@using (Html.BeginForm("Org_status", "Org", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="modal fade" id="ModalApplyJobForm1" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content apply-job-form">
                        <button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button>
                        <div class="modal-body pl-30 pr-30 pt-50">
                            <input type="hidden" id="passedId" name="passedId" value="passedId">
                            <input type="hidden" id="activeStat" name="activeStat" value="activeStat" />
                            <div class="text-center">
                                <p class="font-sm text-brand-2">Change Status  </p>

                            </div>
                            <br />
                            <br /><br />
                            <form class="login-register text-start mt-20 pb-30" action="#">
                                <h5>Do you want to change status ?</h5>
                                <br /><br /><br /><br />
                                <div class="form-group" style="float:right">
                                    <button class="btn btn-default hover-up" type="submit" name="login" onclick="StatusChangeFunc()">Yes</button>
                                    <button class="btn btn-default hover-up" type="button" data-dismiss="modal" aria-label="Close">No</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>
</section>

@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });
    </script>
}

<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="~/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="~/admin/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/admin/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="~/admin/dist/js/custom.min.js"></script>
<!-- this page js -->
<script src="~/admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="~/admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="~/admin/assets/extra-libs/DataTables/datatables.min.js"></script>
<script>
    /****************************************
     *       Basic Table                   *
     ****************************************/
    $('#zero_config').DataTable();

      $(document).on("click", ".modAct", function () {
        var passedStatus = $(this).data('status');
        var passedId = $(this).data('id');
        $(".modal-body #passedId").val(passedId);
        $(".modal-body #activeStat").val(passedStatus);
                //if (passedStatus == "Active") {
                //    $(".modal-body #OrgAct").val(passedStatus);
                //    document.getElementById("OrgAct").checked = true;
                //    document.getElementById("OrgInAct").checked = false;
                //    document.getElementById("OrgAct").value = 1;
                //    document.getElementById("OrgInAct").value = 0;
                //}
                //else
                //{
                //    $(".modal-body #OrgInAct").val(passedStatus);
                //    document.getElementById("OrgInAct").checked = true;
                //    document.getElementById("OrgAct").checked = false;
                //    document.getElementById("OrgAct").value = 0;
                //    document.getElementById("OrgInAct").value = 1;
                //}
            });

        function valueChanged() {
            if (document.getElementById("OrgAct").checked == true) {
                document.getElementById("OrgAct").value = 1;
                document.getElementById("OrgInAct").value = 0;
            } else {
                document.getElementById("OrgAct").value = 0;
                document.getElementById("OrgInAct").value = 1;
            }
        }

    function StatusChangeFunc() {
        var activeStat = document.getElementById("activeStat").value;
        // $(".modal-body #activeStat").val(activeStat);
        var passedId = document.getElementById('passedId').value;
            @*var url = "@Url.Action("Index1", "Jobseeker")" + "?year=" + year + "&month=" + month;*@
        var url = "@Url.Action("Org_Emp_status", "Employer")" + "?activeStat=" + activeStat + "&passedId=" + passedId;
        window.location.href = url;

    }

    $("[type=file]").on("change", function () {
        // Name of file and placeholder
        var file = this.files[0].name;
        var dflt = $(this).attr("placeholder");
        if ($(this).val() != "") {
            $(this).next().text(file);
        } else {
            $(this).next().text(dflt);
        }
    });

</script>

<style>
    section.box-content {
        padding: 20px 30px;
    }
    .files-main01 {
        display: flex;
        place-content: space-between;
        align-items: center;
    }
    .export-import {
        width:30%;
    }
    .export-form01 {
        display: flex;
    }
    .export-import [type=file] {
        position: absolute;
        filter: alpha(opacity=0);
        opacity: 0;
    }
    .export-import .export-label01 {
        padding-top: 2px;
        padding-left: 15px;
        border: 1px solid #80287d;
        color: #87287d;
        width: 100%;
        height: 39px;
        border-radius: 5px;
        margin-bottom: 1px;
        margin-right: 15px;
        display: flex;
        align-items: center;
        line-height: 1.3;
    }

    .export-import .upload-file01 {
        padding: 8px 10px 7px;
        @*background-color: #87287d;*@
    }
    .breacrumb-cover.bg-img-about01 {
        padding: 15px 0;
        border-radius: 5px;
    }

</style>