﻿@model IEnumerable<Jobportal_design.Models.Org_physical>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="~/css/new-style.css" rel="stylesheet" />
@*<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@

@*<a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a><section class="section-box-2">*@
<div class="col-lg-12 text-left">

    <ul class="breadcrumbs pb-2">
        <li><a class="home-icon" href="@Url.Action("Index", "Home")">Home</a></li>
        <li><a class="home-icon01" href="@Url.Action("Orglist", "Org")">Organizations</a></li>
    </ul>
</div>
<section>
    <div class="container">
        <div class="banner-hero banner-single banner-single-bg">
            <div class="block-banner text-center">
                <h3 class="wow animate__animated animate__fadeInUp">
                    <span class="color-brand-2"> Browse Organizations</span>                    @*<div>@ViewBag.role</div>*@
                </h3>
                <div class="font-sm color-text-paragraph-2 mt-10 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, <br class="d-none d-xl-block">atque delectus molestias quis?</div>
                <div class="form-find text-start mt-40 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                    @using (Html.BeginForm("OrglistPartialView", "Org", FormMethod.Post, new { enctype = "multipart/form-data", @id = "filterForm" }))
                    {
                        <form>
                            <div class="box-industry">
                                @Html.DropDownList("org_cat_id", new SelectList(ViewBag.org_cat, "id", "category_name"), "-Category-", new { id = "dd_child", @class = "form-input mr-10 select-active input-industry" })
                            </div>
                            @Html.DropDownList("dist_id", new SelectList(ViewBag.district, "id", "dist_name"), "--City--", new { id = "dd_child1", @class = "form-input mr-10 select-active" })
                            <input class="form-input input-keysearch mr-10" type="text" id="search" name="search" value="@ViewBag.searchText" placeholder="Enter Organization Name...">
                            <input type="submit" class="btn btn-default btn-find font-sm" id="searchpartialview" value="Search" />
                        </form>
                    }

                </div>
            </div>
        </div>
    </div>
</section>



<div id="OrglistPartialView">
    @await Html.PartialAsync("OrglistPartialView")
    @*@Html.PartialAsync("FindJobPartialView", "Home")*@
</div>



<section class="section-box mt-50 mb-20">
    <div class="container">
        <div class="box-newsletter">
            <div class="row">
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-left.png" alt="joxBox"></div>
                <div class="col-lg-12 col-xl-6 col-12">
                    <h2 class="text-md-newsletter text-center">New Things Will Always<br> Update Regularly</h2>
                    <div class="box-form-newsletter mt-40">
                        <form class="form-newsletter">
                            <input class="input-newsletter" type="text" value="" placeholder="Enter your email here">
                            <button class="btn btn-default font-heading icon-send-letter">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/imgs/template/newsletter-right.png" alt="joxBox"></div>
            </div>
        </div>
    </div>
</section>


@*<script src="js/noUISlider.js"></script>*@
<script src="js/slider.js"></script>

@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });

        $(function () {
            $('#filterForm').submit(function (event) {                
                event.preventDefault();
                var filterData = $(this).serialize();
                $('#preloader-active').show();
                $.get('/Org/OrglistPartialView', filterData, function (result) {
                    $('#OrglistPartialView').html(result);
                    $('#preloader-active').hide();
                });
            });
        });        

    </script>



    <script>
        $.fn.pageMe = function (opts) {
            var $this = this,
                defaults = {
                    perPage: 15,
                    showPrevNext: false,
                    hidePageNumbers: false
                },
                settings = $.extend(defaults, opts);
            console.log(settings)
            var listElement = $this;
            var perPage = settings.perPage;
            var children = listElement.children();
            var pager = $('.pager');

            if (typeof settings.childSelector != "undefined") {
                children = listElement.find(settings.childSelector);
            }

            if (typeof settings.pagerSelector != "undefined") {
                pager = $(settings.pagerSelector);
            }

            var numItems = children.size();
            var numPages = Math.ceil(numItems / perPage);

            pager.data("curr", 0);

            if (settings.showPrevNext) {
                $('<li><a href="#" class="pager-prev"></a></li>').appendTo(pager);
            }

            var curr = 0;
            // Added class and id in li start
            while (numPages > curr && (settings.hidePageNumbers == false)) {
                $('<li id="pg' + (curr + 1) + '" class="pg"><a href="#" class="page_link">' + (curr + 1) + '</a></li>').appendTo(pager);
                curr++;
            }
            // Added class and id in li end

            if (settings.showPrevNext) {
                $('<li><a href="#" class="pager-next"></a></li>').appendTo(pager);
            }

            pager.find('.page_link:first').addClass('active');
            pager.find('.pager-prev').hide();
            if (numPages <= 1) {
                pager.find('.pager-next').hide();
            }
           // pager.children().eq(1).addClass("active");

            children.hide();
            children.slice(0, perPage).show();
            if (numPages > 3) {
                $('.pg').hide();
                $('#pg1,#pg2,#pg3').show();
                $("#pg3").after($("<li class='ell'>").html("<span>...</span>"));
            }

            pager.find('li .page_link').click(function () {
                var clickedPage = $(this).html().valueOf() - 1;
                goTo(clickedPage, perPage);
                return false;
            });
            pager.find('li .pager-prev').click(function () {
                previous();
                return false;
            });
            pager.find('li .pager-next').click(function () {
                next();
                return false;
            });

            function previous() {
                var goToPage = parseInt(pager.data("curr")) - 1;
                $('.pg').children().eq(goToPage + 1).removeClass("active");
                goTo(goToPage);
            }

            function next() {
                goToPage = parseInt(pager.data("curr")) + 1;
                goTo(goToPage);
            }

            function goTo(page) {
                var startAt = page * perPage,
                    endOn = startAt + perPage;

                // Added few lines from here start

                $('.pg').hide();
                $(".ell").remove();
                var prevpg = $("#pg" + page).show();
                var currpg = $("#pg" + (page + 1)).show();
                var nextpg = $("#pg" + (page + 2)).show();
                if (prevpg.length == 0) nextpg = $("#pg" + (page + 3)).show();
                if (prevpg.length == 1 && nextpg.length == 0) {
                    prevpg = $("#pg" + (page - 1)).show();
                }
                $("#pg1").show()
                if (curr > 3) {
                    if (page > 1) prevpg.before($("<li class='ell'>").html("<span>...</span>"));
                    if (page < curr - 2) nextpg.after($("<li class='ell'>").html("<span>...</span>"));
                }

                if (page <= numPages - 3) {
                    $("#pg" + numPages.toString()).show();
                }
                currpg.addClass("active").siblings().removeClass("active");
                // Added few lines till here end


                children.css('display', 'none').slice(startAt, endOn).show();

                if (page >= 1) {
                    pager.find('.pager-prev').show();
                } else {
                    pager.find('.pager-prev').hide();
                }

                if (page < (numPages - 1)) {
                    pager.find('.pager-next').show();
                } else {
                    pager.find('.pager-next').hide();
                }

                pager.data("curr", page);
                if ($('.pg').children().eq(page - 1).hasClass("active")) {
                    $('.pg').children().eq(page - 1).removeClass("active");
                }
                if ($('.pg').children().eq(page + 1).hasClass("active")) {
                    $('.pg').children().eq(page + 1).removeClass("active");
                }
                $('.pg').children().eq(page).addClass("active");
                var fp = (page * 15)+1;
                var tp = (page+1) * 15;
                $("#startP").text(fp.toString());
                if(tp<@ViewBag.orgCount)
                $("#endP").text(tp.toString());
                else
                $("#endP").text(@ViewBag.orgCount);
                $("#currentP").text((page+1).toString());
                $("#totalP").text(numPages.toString());
                window.scrollTo(0, 250);

            }
        };

        @*$(document).ready(function () {
            $("#currentP").text("1");
                $("#totalP").text(Math.ceil(@ViewBag.orgCount/15).toString());
            $('#myTable').pageMe({
                pagerSelector: '#myPager',
                showPrevNext: true,
                hidePageNumbers: false,
                perPage: 15
            });

        });*@
    </script>

}
<script>
     function callChangefunc() {

         var searchval = document.getElementById("search").value;
         var city = document.getElementById("dd_child1").value;
         var categorytext = document.getElementById("dd_child").value;

         //alert(exptext);

         var url = "@Url.Action("Orglist", "Org")" + "?searchval=" + searchval + "&city=" + city + "&categorytext=" + categorytext;

            window.location.href = url;


        }
</script>

<style>
    .slides-sec01 #myTable .info-text {
        height: 195px;
        overflow: hidden;
        overflow-y: auto;
    }

        .slides-sec01 #myTable .info-text h5 {
            line-height: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
</style>