﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*<div id="preloader-active" style="display:none;">
    <div class="preloader d-flex align-items-center justify-content-center" style="background: rgb(0 0 0); opacity:.8;">
        <div class="preloader-inner position-relative">
            <div class="text-center"><img src="~/imgs/template/loader.png" alt=""></div>
        </div>
    </div>
</div>*@

<section class="section-box mt-30">
    <div class="container">
        <div class="row flex-row-reverse slides-sec01">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 float-right">

                <div class="content-page">
                    <div class="box-filters-job">
                        <div class="row">
                            @*<div class="col-xl-6 col-lg-5"><span class="text-small text-showing">Showing <strong> </strong> <strong>@ViewBag.orgCount </strong>Organizations</span></div>*@
                            <div class="col-xl-6 col-lg-5" id="showCount">Showing <strong>@ViewBag.orgCount</strong> Organizations </div>
                            <div class="col-xl-6 col-lg-7 text-lg-end mt-sm-15">
                                <div class="display-flex2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="myTable" class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                    <div class="card-grid-1 hover-up wow animate__animated animate__fadeIn">
                                        <div class="image-box">
                                            @if (item.cmp_image == null)
                                            {
                                                <a href="company-details.php"><img width="100" height="100" src="~/Org_img_uploads/org_profile.png" alt="loading--"></a>
                                            }
                                            else
                                            {
                                                <a href="company-details.php"><img width="100" height="100" src="~/Org_img_uploads/@(item.cmp_image)" alt="loading--"></a>
                                            }

                                        </div>
                                        <div class="info-text mt-10">
                                            <h5 class="font-bold"><a href="@Url.Action("OrganizationProfilenew","Org", new { id = @item.org_id })">@item.org_name</a></h5>
                                            <div class="mt-5"><img alt="jobBox" src="~/imgs/template/icons/star.svg"><img alt="jobBox" src="~/imgs/template/icons/star.svg"><img alt="jobBox" src="~/imgs/template/icons/star.svg"><img alt="jobBox" src="~/imgs/template/icons/star.svg"><img alt="jobBox" src="~/imgs/template/icons/star.svg"><span class="font-xs color-text-mutted ml-10"><span>(</span><span>66</span><span>)</span></span></div><span class="card-location">@item.county_name</span>
                                            <div class="mt-30"><a class="btn btn-grey-big" href="@Url.Action("Org_JobList_Home","Employer", new { org_id = @item.org_id, org_name=@item.org_name })"><span></span><span>@item.job_count Jobs Open</span></a></div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-md-3 text-center paginations" style="line-height: 45px;">Showing <strong><span id="currentP">1</span></strong> of <strong><span id="totalP"></span></strong>  pages </div>
                        @*<div class="col-md-3 text-center paginations" id="showCount" style="line-height: 45px;">Showing <span id="startP"><strong>1</strong></span> to <span id="endP"><strong>15</strong></span> of <strong>@ViewBag.countjobs</strong> Jobs </div>*@
                        <div class="col-md-6 text-center paginations">

                            <ul class="pager" id="myPager">
                            </ul>


                        </div>
                        <div class="col-md-3 text-center paginations">


                        </div>



                    </div>
                </div>

            </div>

        </div>
    </div>

</section>

<script>
        $.fn.pageMe = function (opts) {
            var $this = this,
                defaults = {
                    perPage: 15,
                    showPrevNext: false,
                    hidePageNumbers: false
                },
                settings = $.extend(defaults, opts);
            console.log(settings)
            var listElement = $this;
            var perPage = settings.perPage;
            var children = listElement.children();
            var pager = $('.pager');

            if (typeof settings.childSelector != "undefined") {
                children = listElement.find(settings.childSelector);
            }

            if (typeof settings.pagerSelector != "undefined") {
                pager = $(settings.pagerSelector);
            }

            var numItems = children.size();
            var numPages = Math.ceil(numItems / perPage);

            pager.data("curr", 0);

            if (settings.showPrevNext) {
                $('<li><a href="#" class="pager-prev"></a></li>').appendTo(pager);
            }

            var curr = 0;
            // Added class and id in li start
            while (numPages > curr && (settings.hidePageNumbers == false)) {
                $('<li id="pg' + (curr + 1) + '" class="pg"><a href="#" class="page_link">' + (curr + 1) + '</a></li>').appendTo(pager);
                curr++;
            }
            // Added class and id in li end

            if (settings.showPrevNext) {
                $('<li><a href="#" class="pager-next"></a></li>').appendTo(pager);
            }

            pager.find('.page_link:first').addClass('active');
            pager.find('.pager-prev').hide();
            if (numPages <= 1) {
                pager.find('.pager-next').hide();
            }
           // pager.children().eq(1).addClass("active");

            children.hide();
            children.slice(0, perPage).show();
            if (numPages > 3) {
                $('.pg').hide();
                $('#pg1,#pg2,#pg3').show();
                $("#pg3").after($("<li class='ell'>").html("<span>...</span>"));
            }

            pager.find('li .page_link').click(function () {
                var clickedPage = $(this).html().valueOf() - 1;
                goTo(clickedPage, perPage);
                return false;
            });
            pager.find('li .pager-prev').click(function () {
                previous();
                return false;
            });
            pager.find('li .pager-next').click(function () {
                next();
                return false;
            });

            function previous() {
                var goToPage = parseInt(pager.data("curr")) - 1;
                $('.pg').children().eq(goToPage + 1).removeClass("active");
                goTo(goToPage);
            }

            function next() {
                goToPage = parseInt(pager.data("curr")) + 1;
                goTo(goToPage);
            }

            function goTo(page) {
                var startAt = page * perPage,
                    endOn = startAt + perPage;

                // Added few lines from here start

                $('.pg').hide();
                $(".ell").remove();
                var prevpg = $("#pg" + page).show();
                var currpg = $("#pg" + (page + 1)).show();
                var nextpg = $("#pg" + (page + 2)).show();
                if (prevpg.length == 0) nextpg = $("#pg" + (page + 3)).show();
                if (prevpg.length == 1 && nextpg.length == 0) {
                    prevpg = $("#pg" + (page - 1)).show();
                }
                $("#pg1").show()
                if (curr > 3) {
                    if (page > 1) prevpg.before($("<li class='ell'>").html("<span>...</span>"));
                    if (page < curr - 2) nextpg.after($("<li class='ell'>").html("<span>...</span>"));
                }

                if (page <= numPages - 3) {
                    $("#pg" + numPages.toString()).show();
                }
                currpg.addClass("active").siblings().removeClass("active");
                // Added few lines till here end


                children.css('display', 'none').slice(startAt, endOn).show();

                if (page >= 1) {
                    pager.find('.pager-prev').show();
                } else {
                    pager.find('.pager-prev').hide();
                }

                if (page < (numPages - 1)) {
                    pager.find('.pager-next').show();
                } else {
                    pager.find('.pager-next').hide();
                }

                pager.data("curr", page);
                if ($('.pg').children().eq(page - 1).hasClass("active")) {
                    $('.pg').children().eq(page - 1).removeClass("active");
                }
                if ($('.pg').children().eq(page + 1).hasClass("active")) {
                    $('.pg').children().eq(page + 1).removeClass("active");
                }
                $('.pg').children().eq(page).addClass("active");
                var fp = (page * 15)+1;
                var tp = (page+1) * 15;
                $("#startP").text(fp.toString());
                if(tp<@ViewBag.orgCount)
                $("#endP").text(tp.toString());
                else
                $("#endP").text(@ViewBag.orgCount);
                $("#currentP").text((page+1).toString());
                $("#totalP").text(numPages.toString());
                window.scrollTo(0, 250);

            }
        };

        $(document).ready(function () {
            $("#currentP").text("1");
                $("#totalP").text(Math.ceil(@ViewBag.orgCount/15).toString());
            $('#myTable').pageMe({
                pagerSelector: '#myPager',
                showPrevNext: true,
                hidePageNumbers: false,
                perPage: 15
            });

        });
</script>