﻿@using Jobportal_design.Models;
@model dynamic

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<link href="~/css/new-style.css" rel="stylesheet" />
<a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>

<section class="section-box-2 sidebar-border mt-5">
    <div class="container">
        <div class="banner-hero banner-image-single"><img src="~/imgs/page/company/img.png" alt="jobBox"></div>
        <div class="box-company-profile">
            <div class="image-compay">
                @*<img src="~/Org_img_uploads/@(ViewBag.cmp_logo)" style="width:50%;" alt="jobBox">*@
                @if (ViewBag.cmp_image == null)
                {
                    <img width="100" height="100" src="~/imgs/page/candidates/candidate_profile1.png" alt="loading..">
                }
                else
                {
                    <img width="100" height="100" src="~/Org_img_uploads/@(ViewBag.cmp_image)" alt="loading..">
                    @*<img src="~/imgs/page/candidates/candidate_profile1.png" alt="loading.." style="width:47%">*@
                }
            </div>
            <div class="row mt-10">
                <div class="col-lg-8 col-md-12">
                    <h5 class="f-18">@ViewBag.org_name <span class="card-location font-regular ml-20">@ViewBag.county_name</span></h5>
                    <p class="mt-5 font-md color-text-paragraph-2 mb-15">@ViewBag.org_address</p>
                </div>
                @*<div class="col-lg-4 col-md-12 text-lg-end"><a class="btn btn-call-icon btn-apply btn-apply-big" href="page-contact.html">Contact us</a></div>*@
                <div class="col-lg-4 col-md-12 text-lg-end">
                    <a class="btn btn-edit-icon btn-apply btn-apply-big" href="@Url.Action("EditOrg_admin", "Org")">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; Edit Organization
                    </a>
                </div>
            </div>
        </div>        
    </div>
</section>
<section  class="section-box-2 sidebar-border mt-5 mb-5">
    <div class="box-nav-tabs mb-0">
        <ul class="nav" role="tablist">
            <li><a class="btn btn-border aboutus-icon mr-15 mb-0 active" href="#tab-about" data-bs-toggle="tab" role="tab" aria-controls="tab-about" aria-selected="true">Overview</a></li>
            <li><a class="btn btn-border recruitment-icon mr-15 mb-0" href="#tab-recruitments" data-bs-toggle="tab" role="tab" aria-controls="tab-recruitments" aria-selected="false">Jobs(@ViewBag.jobs_count)</a></li>
            <li><a class="btn btn-border people-icon mb-0" href="#tab-employees" data-bs-toggle="tab" role="tab" aria-controls="tab-employees" aria-selected="false">Employees(@ViewBag.employees_count)</a></li>
        </ul>
    </div>
</section>
<section class="section-box mt-5">
    <div class="container px-0">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="content-single sidebar-border mb-0">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-about" role="tabpanel" aria-labelledby="tab-about">
                            <h4>Welcome to @ViewBag.org_name Team</h4>
                            <p>@ViewBag.orgdescription</p>
                        </div>
                        <div class="tab-pane fade" id="tab-recruitments" role="tabpanel" aria-labelledby="tab-recruitments">
                            <div class=" content-page">
                                @*<h5 class="mb-30"> Jobs <span class="number-item" style="color: #80287d">(@ViewBag.jobs_count)</span></h5>*@
                                @if (@ViewBag.jobs_count != 0)
                                {
                                    <h5 class="mb-30"> Jobs <span class="number-item" style="color: #80287d">(@ViewBag.jobs_count)</span></h5>
                                }
                                else
                                {
                                    <h5 class="mb-30">  <span class="number-item" style="color: #80287d">No Posted Jobs</span></h5>
                                }
                                @if (ViewBag.jobs_org != null)
                                {
                                    @foreach (var item in ViewBag.jobs_org)
                                    {
                                        <div class="box-list-jobs display-list">
                                            <div class="col-xl-12 col-12">
                                                <div class="card-grid-2 hover-up">
                                                    <span class="flash"></span>
                                                    <!--<div class="row">-->
                                                    @*<div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="card-grid-2-image-left">
                                                                <div class="image-box"><img src="~/imgs/brands/brand-6.png" alt="jobBox"></div>
                                                                <div class="right-info"><a class="name-job" href="">Quora JSC</a><span class="location-small">New York, US</span></div>
                                                            </div>
                                                        </div>*@
                                                    <!--<div class="col-lg-6 text-start text-md-end pr-60 col-md-6 col-sm-12">
                                                            <div class="pl-15 mb-15 mt-30"><a class="btn btn-grey-small mr-5" href="#">Adobe XD</a><a class="btn btn-grey-small mr-5" href="#">Figma</a></div>
                                                        </div>
                                                    </div>-->
                                                    <div class="card-block-info">
                                                        <h4><a href="@Url.Action("Jobdetails_admin", "Jobregister", new { id = @item.id })">@item.job_title</a></h4>
                                                        <div class="mt-5"><span class="card-briefcase">@item.job_type</span><span class="card-time"><span>5</span><span> mins ago</span></span></div>
                                                        <p class="font-sm color-text-paragraph mt-10">@item.job_desc .</p>
                                                        <div class="card-2-bottom mt-20">
                                                            <div class="row">
                                                                <div class="col-lg-7 col-7"><span class="card-text-price">$800</span><span class="text-muted">/Hour</span></div>
                                                                <div class="col-lg-5 col-5 text-end">
                                                                    @Html.ActionLink("View More", "Jobdetails_admin", "Jobregister", new { id = item.id }, new { @class = "btn btn-apply-now" })
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    }
                                }

                            </div>

                        </div>
                        <div class="tab-pane fade" id="tab-employees" role="tabpanel" aria-labelledby="tab-employees">
                            <div class=" content-page">
                                @if (@ViewBag.employees_count != 0)
                                {
                                    <h5 class="mb-30"> Employee <span class="number-item" style="color: #80287d">(@ViewBag.employees_count)</span></h5>
                                }
                                else
                                {
                                    <h5 class="mb-30">  <span class="number-item" style="color: #80287d">Not Added Yet..</span></h5>
                                }
                                <div class="row">
                                    @if (ViewBag.employees_org != null)
                                    {
                                        @foreach (var item in ViewBag.employees_org)
                                        {

                                            int role_id = item.role_id;
                                            string role;
                                            if (role_id == 2)
                                            {
                                                role = "Admin";
                                            }
                                            else
                                            {
                                                role = "Employee";
                                            }
                                            <div class="col-md-6">
                                                <div class="card-grid-2 hover-up">
                                                    <div class="card-grid-2-image-left">
                                                        <div class="card-grid-2-image-rd online">
                                                            <a href="candidate-details.php">
                                                                @if (item.empimage_path == null)
                                                                {
                                                                    <figure> <img width="100" height="100" src="~/imgs/page/candidates/candidate_profile1.png" alt="loading.."></figure>
                                                                }
                                                                else
                                                                {
                                                                    <figure> <img width="100" height="100" src="~/Emp_img_uploads/@(item.empimage_path)" alt="loading.."></figure>

                                                                }
                                                            </a>
                                                        </div>
                                                        <div class="card-profile pt-0">
                                                            <a href="@Url.Action("Admin_EmployerDetails","Employer", new { id = @item.id })">
                                                                <h5>@item.e_name &nbsp; @item.last_name</h5>
                                                            </a><span class="font-xs color-text-mutted">@item.org_name</span>
                                                            <div class="rate-reviews-small pt-0"><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs">(65)</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-block-info">
                                                        <p class="font-xs color-text-paragraph-2">@item.email_id <span class="d-flex align-items-center"></span>@item.contact1</p>
                                                        <div class="card-2-bottom card-2-bottom-candidate mt-30">
                                                            @*<div class="text-start">
                                                                    <a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Figma</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Adobe XD</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">PSD</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">App</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Digital</a>
                                                                </div>*@
                                                        </div>
                                                        <div class="employers-info align-items-center justify-content-center mt-15">
                                                            <div class="row">
                                                                <div class="col-4">
                                                                    <span class="d-flex align-items-center">
                                                                        <i class=" mr-4 ml-0">
                                                                            @item.isactive

                                                                        </i><span class="font-sm color-text-mutted"></span>
                                                                    </span>

                                                                </div>

                                                                <div class="col-4">

                                                                    <span class="d-flex justify-content-end align-items-center">

                                                                        @*<span class="font-sm color-brand-1"></span>*@
                                                                    </span>
                                                                </div>
                                                                <div class="col-4">

                                                                    <span class="d-flex justify-content-end align-items-center">
                                                                        Role:
                                                                        @if (item.role_id == 2)
                                                                        {

                                                                            <a class="modAct"
                                                                               data-status="@item.role_id" data-id="@item.id"
                                                                               style="color: red; cursor: pointer;"> @Html.DisplayFor(modelItem => role)</a>
                                                                        }
                                                                        else
                                                                        {

                                                                            <a class="modAct"
                                                                               data-status="@item.role_id" data-id="@item.id"
                                                                               style="color: red; cursor: pointer;"> @Html.DisplayFor(modelItem => role)</a>
                                                                        }
                                                                        <span class="font-sm color-brand-1"></span>
                                                                    </span>
                                                                </div>

                                                            </div>



                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 pl-40 pl-lg-15 mt-lg-30">
                <div class="sidebar-border">
                    <div class="sidebar-heading">
                        <div class="avatar-sidebar">
                            <div class="sidebar-info pl-0"><span class="sidebar-company">@ViewBag.org_name</span><span class="card-location">@ViewBag.county_name</span></div>
                        </div>
                    </div>
                    <div class="sidebar-list-job">
                        <div class="box-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.3150609575905!2d-87.6235655!3d41.886080899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2ca8b34afe61%3A0x6caeb5f721ca846!2s205%20N%20Michigan%20Ave%20Suit%20810%2C%20Chicago%2C%20IL%2060601%2C%20Hoa%20K%E1%BB%B3!5e0!3m2!1svi!2s!4v1658551322537!5m2!1svi!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="sidebar-list-job">
                        <ul>
                            <li>
                                <div class="sidebar-icon-item"><i class="fi-rr-briefcase"></i></div>
                                <div class="sidebar-text-info"><span class="text-description">Category</span><strong class="small-heading">@ViewBag.category_name</strong></div>
                            </li>

                            <li>
                                <div class="sidebar-icon-item"><i class="fi-rr-marker"></i></div>
                                <div class="sidebar-text-info"><span class="text-description">State</span><strong class="small-heading">@ViewBag.state_name</strong></div>
                            </li>
                            <li>
                                <div class="sidebar-icon-item"><i class="fi-rr-marker"></i></div>
                                <div class="sidebar-text-info"><span class="text-description">Provider ID</span><strong class="small-heading">@ViewBag.ProviderID</strong></div>
                            </li>
                            <li>
                                <div class="sidebar-icon-item"><i class="fi-rr-dollar"></i></div>
                                <div class="sidebar-text-info"><span class="text-description">License ID</span><strong class="small-heading">@ViewBag.LicenseID</strong></div>
                            </li>

                            <li>
                                <div class="sidebar-icon-item"><i class="fi-rr-time-fast"></i></div>
                                <div class="sidebar-text-info"><span class="text-description">Last Jobs Posted</span><strong class="small-heading"></strong></div>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-list-job">
                        <ul class="ul-disc">
                            <li>@ViewBag.org_address</li>
                            <li>@ViewBag.county_name</li>
                            <li>@ViewBag.dist_name</li>
                            <li>Phone: @ViewBag.Phone1</li>
                            <li>Email: @ViewBag.Email1</li>
                        </ul>
                        @*<div class="mt-30"><a class="btn btn-send-message" href="page-contact.html">Send Message</a></div>*@
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });
    </script>
}
<style>
    .content-page .display-list .card-grid-2 .card-block-info {
        @*padding-top: 20px!important;*@
    }
    .display-list .flash {
        top: 20px!important;
    }
    .card-grid-2 .card-grid-2-image-rd.online figure::before {
        bottom: 8px!important;
        right: 0px!important;
    }
    .card-grid-2 .card-grid-2-image-rd {
        min-width: 60px !important;
        max-width: 75px !important;
        height: 60px;
    }

    .card-grid-2 .card-grid-2-image-rd figure img {
        height: 60px !important;
        width: 60px !important;
    }
    .card-grid-2 .card-grid-2-image-left .card-profile h5 {
        margin-top: 0 !important;
        margin-bottom: 0px !important;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-grid-2 .card-grid-2-image-left {
        height: 145px;
    }
</style>