﻿@model Jobportal_design.Models.Org_cat
@{
    ViewData["Title"] = "Edit Org Category";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

}

<html>
<body>
    <a href="#" class="ml-5" style="color: #85c440;" id="btnBack"><i class="fi fi-rr-arrow-left" style="color: #85c440; font-size: 13px;"></i><span style="color: black;">&nbsp;Back</span></a>

    @using (Html.BeginForm("Update", "Org_cat", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        bool str = Model.is_active;
        string str1 = "";
        if (str == true)
        {
            str1 = "Active";

        }
        else
        {
            str1 = "InActive";

        }
        <div class="modal-dialog modal-lg">
            <div class="modal-content apply-job-form">
                @*<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>*@
                <div class="modal-body pl-30 pr-30 pt-50">
                    <div class="text-center">
                        <p class="font-sm text-brand-2">Update Organization category </p>
                        @*<h2 class="mt-10 mb-5 text-brand-1 text-capitalize">Add Organization category</h2>*@
                    </div>
                    <br />
                    <form class="login-register text-start mt-20 pb-30" action="#">
                        <div class="form-group">
                            <label class="form-label" for="input-1">Organization category: *</label>
                            @Html.EditorFor(model => model.category_name, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        @Html.HiddenFor(model => model.id)
                        <div class="form-group row">
                            <label class="form-label" for="input-1">Status: *</label>
                            <div class="col-sm-9 radio-type-div01">
                                <div class="custom-control custom-radio">
                                    @Html.RadioButtonFor(m => m.isactive, "Active", Model.isactive == "Active" ? "checked" : string.Empty)
                                    <label class="form-label" for="input-1">Active</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    @Html.RadioButtonFor(m => m.isactive, "InActive", Model.isactive == "InActive" ? "checked" : string.Empty)
                                    <label class="form-label" for="input-1">InActive</label>
                                    @Html.HiddenFor(m => m.isactive)
                                </div>
                            </div>

                        </div>
                      
                        <div class="form-group pt-30">
                            <button class="btn btn-default hover-up w-100" type="submit" value="Create">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    }

</body>
</html>
@section scripts {
    <script type="text/javascript">
        $("#btnBack").click(function () {
            window.history.back();
        });
    </script>
}
<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="~/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="~/admin/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/admin/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="~/admin/dist/js/custom.min.js"></script>
<!-- this page js -->
<script src="~/admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="~/admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="~/admin/assets/extra-libs/DataTables/datatables.min.js"></script>
<script>
    /****************************************
     *       Basic Table                   *
     ****************************************/
    $('#zero_config').DataTable();
</script>
<style>
    .radio-type-div01 {
        display: flex;
    }

    .custom-control.custom-radio {
        display: flex;
        align-items: center;
    }

        .custom-control.custom-radio:first-child {
            margin-right: 25px;
        }

        .custom-control.custom-radio label {
            margin-bottom: 0px;
        }

        .custom-control.custom-radio [type=radio] {
            height: 18px;
            width: 18px;
            margin-right: 5px;
        }
</style>